@{
    ViewBag.Title = "Home";
}

@*<div id="upMainProgress" style="visibility:hidden;display:none;">
    <div id="upMainProgressP1" class="overlay">
        <div id="upMainProgressP2" class="loader">
            <div>
                <center>
                    <br />
                    <br />
                    <b>Processing...</b><br />
                    <br />
                    <img src="~/Content/img/loading.gif" alt="Content loading placeholder image" /><br />
                    <br />
                    <br />
                    <br />
                </center>
            </div>
        </div>
    </div>
</div>*@

@Html.Action("Notification")

<div id="upMain">
    <div id="platformapps" data-intro="Home - One place to access all the Applications in the Platform" data-position="bottom">
        <table cellspacing="0" cellpadding="0" border="0" align="center" width="960px">
            <tr>
                <td>
                    <table cellspacing="4" cellpadding="4" width="100%">
                        <tr style="height: 120px;">
                            <td width="10%">
                                <a href="/ecn.communicator/main/default.aspx">
                                    <img id="ecn-icon-home-email" class="ecn-icon-home" src="~/Content/img/ecn-icon-home-email.png" />
                                </a>
                            </td>
                            <td width="40%">
                                <table align="left">
                                    <tr>
                                        <td align="left">
                                            <a href="/ecn.communicator/main/default.aspx">
                                                <span class="EcnSectionHeader">Email Marketing</span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr align="left">
                                        <td align="left">
                                            <span class="EcnSectionDetails">Email Marketing allows you to send email campaigns and newsletters</span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="10%">
                                <a href="#">
                                    <img id="ecn-icon-home-audience" class="ecn-icon-home" src="~/Content/img/ecn-icon-home-audience.png" />
                                </a>
                            </td>
                            <td width="40%">
                                <table align="left">
                                    <tr>
                                        <td align="left">
                                            <a href="#">
                                                <span class="EcnSectionHeader">Unified Audience Database</span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr align="left">
                                        <td align="left">
                                            <span class="EcnSectionDetails">Unified Audience Database (UAD) allows you to combine demographic, behavioral and contextual data into a single, unified profile</span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr style="height: 120px;">
                            <td>
                                <a href="/ecn.collector/main/survey/">
                                    <img id="ecn-icon-home-surveys" class="ecn-icon-home" src="~/Content/img/ecn-icon-home-surveys.png" />
                                </a>
                            </td>
                            <td>
                                <table align="left">
                                    <tr>
                                        <td align="left">
                                            <a href="/ecn.collector/main/survey/">
                                                <span class="EcnSectionHeader">Surveys</span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr align="left">
                                        <td align="left">
                                            <span class="EcnSectionDetails">Survey tool enables you to create web-based surveys</span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <a href="#">
                                    <img id="ecn-icon-home-wqt" class="ecn-icon-home" src="~/Content/img/ecn-icon-home-wqt.png" />
                                </a>
                            </td>
                            <td>
                                <table align="left">
                                    <tr>
                                        <td align="left">
                                            <a href="#">
                                                <span class="EcnSectionHeader">Product Reporting</span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr align="left">
                                        <td align="left">
                                            <span class="EcnSectionDetails">Product Reporting allows you to view your audience member reports via a dynamic web interface</span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr style="height: 120px;">
                            <td>
                                <a href="/ecn.publisher/main/edition/default.aspx">
                                    <img id="ecn-icon-home-digitaleditions" class="ecn-icon-home" src="~/Content/img/ecn-icon-home-digitaleditions.png" />
                                </a>
                            </td>
                            <td>
                                <table align="left">
                                    <tr>
                                        <td align="left">
                                            <a href="/ecn.publisher/main/edition/default.aspx">
                                                <span class="EcnSectionHeader">Digital Editions</span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr align="left">
                                        <td align="left">
                                            <span class="EcnSectionDetails">Converts static print-ready files into digital publications and magazines</span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <a href="/ecn.domaintracking/Main/Index/">
                                    <img id="ecn-icon-home-digitaleditions" class="ecn-icon-home" src="~/Content/img/ecn-icon-home-domaintracking.jpg" />
                                </a>
                            </td>
                            <td>
                                <table align="left">
                                    <tr>
                                        <td align="left">
                                            <a href="/ecn.domaintracking/Main/Index/">
                                                <span class="EcnSectionHeader">Domain Tracking</span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr align="left">
                                        <td align="left">
                                            <span class="EcnSectionDetails">Domain Tracking is an optional feature that allows you to track your customer's behavior or activities throughout your website. Data can originate from an email delivered to a customer or the customer accessing your website directly.</span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br />
    </div>
</div>
