<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
		<appender name="LogFileAppender" type="log4net.Appender.FileAppender">
			<param name="File" value="C:\\tempfolder\\Log.txt" />
			<param name="AppendToFile" value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%%appdomain: %appdomain%newline%%date: %date%newline%%exception: %exception%newline%%file: %file%newline%%level: %level%newline%%line: %line%newline%%location: %location%newline%%logger: %logger%newline%%method: %method%newline%%message: %message%newline%%timestamp: %timestamp%newline%%type: %type%newline%%username: %username%newline%newline" />
			</layout>
		</appender>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<filter type="log4net.Filter.LevelMatchFilter">
				<levelToMatch value="ERROR" />
				<acceptOnMatch value="false" />
			</filter>
		</appender>
		<appender name="ColorConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
			<target value="Console.Out" />
			<mapping>
				<level value="FATAL" />
				<foreColor value="Red" />
				<backColor value="White" />
			</mapping>
			<mapping>
				<level value="ERROR" />
				<foreColor value="Red, HighIntensity" />
			</mapping>
			<mapping>
				<level value="WARN" />
				<foreColor value="Yellow" />
			</mapping>
			<mapping>
				<level value="INFO" />
				<foreColor value="Cyan" />
			</mapping>
			<mapping>
				<level value="DEBUG" />
				<foreColor value="Green" />
			</mapping>
			<layout type="log4net.Layout.SimpleLayout" />
		</appender>
		<root>
			<level value="All" />
			<appender-ref ref="LogFileAppender" />
			<appender-ref ref="ColorConsoleAppender" />
		</root>
	</log4net>
		<startup> 
				<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
		</startup>
	<connectionStrings>
		<add name="KMCommon" connectionString="server=216.17.41.191;uid=sa;pwd=dcran9755;database=KMCommon" providerName="System.Data.SqlClient" />
    <add name="Communicator" connectionString="server=216.17.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" />
    <add name="KMPlatform" connectionString="server=216.17.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=KMPlatform" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="DownloadFiles" value="true" />
		<add key="IsDemo" value="false" />
		<add key="IsNetworkDeployed" value="false" />
    <add key="ECNEngineAccessKey" value="651A1297-59D1-4857-93CB-0B049635762E" />
		<add key="KMCommon_Application" value="50" />
		<add key="KMCommon_SmtpServer" value="108.160.208.101" />
		<add key="MainLog" value="C:\\tempfolder\\Log\\" />
		<add key="CustomLog" value="C:\\tempfolder\\Log\\" />
		<add key="BatchSize" value="500" />
		<add key="WriteXML" value="false" />
		<!-- Configuration for local !-->
		<add key="HubspotConfiguration" value="C:\Projects\VS2015\KMAllProjects\Dev\2016_Hulk\UAD\KMPS.HubImport.Integration\hubspot_configuration_local.json" />
		
		<!-- Configuration for Production-->
<!--		<add key="HubspotConfiguration" value="hubspot_integration_production.json"/>-->
		<!--!TODO replace with Sunil email...-->
		<add key="EmailManager" value="praneeth.palli@TeamKM.com" />
		<add key="EmailBCC" value="praneeth.palli@TeamKM.com" />
		<add key="EmailFrom" value="info@TeamKM.com" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>