/* CSS Document */
* 
{
	margin:0; padding:0;
}

img
{
	border:none;
}

body
{
				color: #333333;
				font-size:10pt;
				text-decoration: none;
				font-family: Arial, Verdana, Helvetica, sans-serif;
}

.ninetyPerc
{
	width:95%;
}

.gradient
{
	background:url(bgGradient.jpg) top left repeat-x; 
	height:28px;
	border:1px #A4A2A3 solid;
}

.greySides
{
	border-left:1px #A4A2A3 solid;
	border-right:1px #A4A2A3 solid;
}

.steps
{
	height:75px;
}

#campHome
{
	margin:0 0 0 50px;
}

.padTop
{
	padding-top:10px;
}

.iconPad img
{
	padding:10px 10px 0 10px;
	display:block;
}

.buttonPad img
{
	padding:0 5px;
}

.buttonPad2
{
	padding:0 5% 0 0;
}



.offWhite
{
	background-color:#f4f4f4;
}

.selectBox
{
	width:200px;
}

#turbo
{
	text-transform:uppercase;
	font-style:italic;
}

#comTurbo, #comTurboSub
{
	font-size:14px;
}

#comTurboSub
{
	color:#999;
}

.section
{
	width:95%;
	padding:15px 0;
	border-bottom:2px #fff solid;
}

.bottomDiv
{
	border:none;
}

.calenderImg
{
	padding:0 10px;
	margin:0 0 -5px 0;
}

.previewTextBox
{
	text-align:center;
}

.previewTextBox textarea
{
	text-align:left;
	margin:15px auto;
	display:block;
	width:90%;
	height:200px;
}

#padTen
{
	padding:0 10px;
}

.upCase
{
	text-transform:uppercase;
}

.section table tr td
{
	padding:5px 0;
}

.formTextBox
{
	width:300px;
}

.day
{
	width:30px;
}

.month
{
	width:80px;
}
.year
{
	width:50px;
}

/* PUT THIS CLASS OUTSIDE OF A DIV YOU WANT CENTERED */
.center
{
	text-align:center;
}

.center div
{
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}

/* +++++++++++++++++ END CENTER CLASS ++++++++++++ */


/* +++++++++ GREY NUMBERS +++++++++++ */
#step1Grey
{
	background:url(oneGrey.gif) top center no-repeat;
}

#step2Grey
{
	background:url(twoGrey.gif) top center no-repeat;
}

#step3Grey
{
	background:url(threeGrey.gif) top center no-repeat;
}


#step4Grey
{
	background:url(fourGrey.gif) top center no-repeat;
}

#step5Grey
{
	background:url(fiveGrey.gif) top center no-repeat;
}

/* ++++++++++++ END GREY NUMBERS ++++++++++++ */


/* +++++++++ GREEEN NUMBERS +++++++++++ */
#step1Green
{
	background:url(oneGreen.gif) top center no-repeat;
}

#step2Green
{
	background:url(twoGreen.gif) top center no-repeat;
}

#step3Green
{
	background:url(threeGreen.gif) top center no-repeat;
}


#step4Green
{
	background:url(fourGreen.gif) top center no-repeat;
}

#step5Green
{
	background:url(fiveGreen.gif) top center no-repeat;
}

/* ++++++++++++ END GREEN NUMBERS ++++++++++++ */


/*+++++++++++++ TAB NAVIGATION +++++++++++++*/
.tabNav a:link, .tabNav a:visited, .tabNav a:active, .tabNav a:hover
{
	display:block;
	margin:0; padding:0;
	width:143px;
	height:29px;
	overflow:hidden;
	text-align:center;
	color:#000;
	font-weight:bold;
	text-decoration:none;
	vertical-align:middle;
	line-height:2.2em;
}

.tabNav a:link, .tabNav a:visited, .tabNav a:active
{
	background:url(tab.jpg) top right;
}

.tabNav a:hover
{
	background:url(tab.jpg) top left;
	color:#fff;
}
/* ++++++++++++++++ END TABS +++++++++++++*/
