.tut a:link, .tut a:active, .tut a:visited
	{
		color:#cfbb77;
		text-decoration:none;	
	}
	
.tut a:hover
	{
	 color:#ffffff;
	 text-decoration:none;
	}
	
html
	{
		min-height:101%;
	}

a:link, a:visited, a:active {
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

a:hover	
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #D4B063;
	text-decoration: none;
}

a:hover
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FF9900;
	text-decoration: underline;
}
a.light
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
a.light:hover
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #E1CA82;
	text-decoration: none;
}
.tableHeader
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
}
.tableHeaderSmall
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #000000;
	background-color: Silver;
}
.tableContent
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	border-color: Silver;
}
a.tableContent
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: red;
	border-color: Silver;
}
.tableContentSmall
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #000000;
	border-color: Silver;
}
.footerContent
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
}
.formbutton
{
	border: 1px solid;
	border-color: #FF9900 #AD8000 #AD8000 #FF9900;
	background-color: #D4D0C8;
}
.formbuttonsmall
{
	border: 1px solid;
	height: 16;
	font-size: 9px;
	border-color: #FF9900 #AD8000 #AD8000 #FF9900;
	background-color: #D4D0C8;
}
.formfield
{
	border: solid;
	border-width: 2px 1px 1px 2px;
	border-color: #AD8000 #FF9900 #FF9900 #AD8000;
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
}
.formtextfield
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
}
.formtextfieldsmall
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 9px;
}
.countTableContent
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	background-color: #F1DA92;
}
.tableHeader1
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color:Gray;
	padding:2px,0px,2px,0px;
	height:20px;
}
.alert
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 13px;
	font-style: italic;
	font-weight: bold;
	color: #CC0000;
}
.tableContentAlt1
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #FCF8E9;
}
.tableContentAlt2
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}

.errormsg
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FF0000;
	background-color: #FCF8E9;
}
.smallBold
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: Navy;
	background-color: #D6DFE7;
}
a.sidehighlight
{
	font-weight: bold;
}
a.footerlinks
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #EE8800;
	text-decoration: none;
}
a.footerlinks:hover
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #EE8800;
	text-decoration: none;
}
.sectionHeader
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	background-color: #99CCFF;
}
.subSectionHeader
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	background-color: #CCFFFF;
}
.PanelTitle
{
	font-weight: bold;
	font-size: 13px;
	color: #000000;
	border-bottom: #ee8800 1px solid;
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	background-color: lightgrey;
}
TABLE.Panel
{
	border-right: #ee8800 1px solid;
	border-top: #ee8800 1px solid;
	font-size: 13px;
	border-left: #ee8800 1px solid;
	color: #000000;
	border-bottom: #ee8800 1px solid;
	font-family: Arial, Verdana,  Helvetica, sans-serif;
}
.SubPanelTitle
{
	font-weight: bold;
	font-size: 13px;
	color: #000000;
	border-bottom: black 1px solid;
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	background-color: #fcf8e9;
}
TABLE.SubPanel
{
	border-right: black 1px solid;
	border-top: black 1px solid;
	font-size: 13px;
	border-left: black 1px solid;
	color: #000000;
	border-bottom: black 1px solid;
	font-family: Arial, Verdana,  Helvetica, sans-serif;
}
TD.Title
{
	border-top: black 1px solid;
	border-bottom: black 1px solid;
}
.CustomerCreditItem
{
	color: red;
	text-decoration: line-through;
}

/* copied from Header */
			/* CSS Document */
			a.footer_link:link, a.footer_link:visited, a.footer_link:active {
				color: #FFFFFF;
				font-size:7pt;
				font-weight:bold;
				text-decoration: none;
			}
			
			a.footer_link:hover	{ 
				color: #D4B063;
				font-size:7pt;
				font-weight:bold;
				text-decoration: none;
			}
			
		
			a.logoff_link:link, a.logoff_link:visited, a.logoff_link:active {
				color: #7893A1;
				font-size:9pt;
				font-weight:bold;
				text-decoration: none;
				padding:5px,0px,5px,0px;
				vertical-align:middle;
				font-family: Arial, Verdana, Helvetica, sans-serif;
			}
			
			a.logoff_link:hover	{ 
				color: #D4B063;
				font-size:9pt;
				text-decoration: none;
				vertical-align:middle;
				padding:5px,0px,5px,0px;
				font-family: Arial, Verdana, Helvetica, sans-serif;
				font-weight: bold;
			}
			
			span.logged_in {
				color: #7893A1;
				font-size: 9pt;
				text-decoration: none;
				padding:5px,0px,5px,0px;
				font-family: Arial, Verdana, Helvetica, sans-serif;
				font-weight: bold;
				vertical-align:middle;
			}
			
			span.current_user {
				color: #333333;
				font-size: 9pt;
				text-decoration: none;
				padding:5px,0px,5px,0px;
				font-family: Arial, Verdana, Helvetica, sans-serif;
				font-weight: bold;
				vertical-align:middle;
			}
			
			span.helpbox_title {
				color: #FFFFFF;
				font-size: 10pt;
				font-family: Arial, Verdana, Helvetica, sans-serif;
				font-weight: bold;
			}
			
			span.helpbox_content {
				color: #FFFFFF;
				font-size: 10pt;
				font-family: Arial, Verdana, Helvetica, sans-serif;
			}
			
			span.login {
				font-family: Arial, Verdana, Helvetica, sans-serif;
				font-size:8pt;
				color: #FFFFFF;
				font-weight: bold;
			}
			
			span.main_menu {
				font-size: 10pt;
				font-family: Arial, Verdana, Helvetica, sans-serif;
				color: #FFFFFF;
			}
			
			span.main_menu.a:link, span.main_menu.a:visited, span.main_menu.a:active {
				color: #FFFFFF;
				font-size:10pt;
				font-weight:bold;
				text-decoration: none;
			}
			
			span.main_menu.a:hover { 
				color: #D4B063;
				font-size:10pt;
				font-weight:bold;
				text-decoration: none;
			}	
			
			body {
				color: #333333;
				font-size:10pt;
				text-decoration: none;
				font-family: Arial, Verdana, Helvetica, sans-serif;
			}

                        span.bulk {
				color: #333333;
				font-size:10pt;
				text-decoration: none;
				font-family: Arial, Verdana, Helvetica, sans-serif;
			}
			
			span.tinytext {
				font-size:7pt;
				color: #FFFFFF;
				text-decoration: none;
				font-family: Arial, Verdana, Helvetica, sans-serif;
			}
			
			span.smalltext {
				font-size: 8pt;
				color: #FFFFFF;
				text-decoration: none;
				font-family: Arial, Verdana, Helvetica, sans-serif;
			}
			
			span.whitetext{
				color: #FFFFFF;
				font-size:10pt;
				text-decoration: none;
				font-family: Arial, Verdana, Helvetica, sans-serif;
			}
/* Menu */

a.menu
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 8px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-transform:uppercase;
	vertical-align:middle;
}

a.menu:link, a.menu:visited, a.menu:active {
	color: #FFFFFF;
	font-size:8pt;
	font-weight:bold;
	text-decoration: none;
	vertical-align:middle;
}

a.menu:hover	{ 
	color: #EFD999;
	font-size:8pt;
	font-weight:bold;
	text-decoration: none;
	vertical-align:middle;
}

a.menufooter
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 8px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	vertical-align:middle;
}

a.menufooter:link, a.menufooter:visited, a.menufooter:active {
	color: #FFFFFF;
	font-size:8pt;
	font-weight:bold;
	text-decoration: none;
}

a.menufooter:hover	{ 
	color: #EFD999;
	font-size:8pt;
	font-weight:bold;
	text-decoration: none;
}


a.menu1
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 8px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	text-transform:uppercase;
	vertical-align:middle;
}

a.menu1:link, a.menu1:visited, a.menu1:active {
	color: #000000;
	font-size:8pt;
	font-weight:bold;
	text-decoration: none;
}

a.menu1:hover	{ 
	color: #EFD999;
	font-size:8pt;
	font-weight:bold;
	text-decoration: none;
}


a.menu2
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 8px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	text-transform:uppercase;
	vertical-align:middle;
	padding:0px,2px,0px,2px;
}
a.menu2:hover
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 8px;
	padding:0px,2px,0px,2px;
	font-weight: bold;
	color: #EFD999;
	text-decoration: none;
}
			
			
a.menu2:link, a.menu2:visited, a.menu2:active, a.menu2:hover { 
	color: #EFD999;
	padding:0px,2px,0px,2px;
	font-size:8pt;
	font-weight:bold;
	text-decoration: none;
}

a.box_text:link, a.box_text:visited, a.box_text:Active
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color: #ffffff;
	text-decoration: none;
}

a.box_text
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color: gray;
	text-decoration: none;
}


a.box_text:hover
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration: none;
	color: #CFBB77;
}
