/* +++++++++++++++++++++++++++++++++++++++++
		HEADING TEXT
++++++++++++++++++++++++++++++++++++++++++++*/

/* .gridheaderWizard - moved to grid class area */

.headingOne

{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-weight:bold;
	text-transform:uppercase;
}


#comTurbo
{
	font-size:14px;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:bold;
	color:#000;
}

#turbo
{
	text-transform:uppercase;
}

#comTurboSub
{
	font-size:14px;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:bold;
	color:#999;
}


.headingTwo
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#000;
}

.headingThree
{
	font-weight:normal;
	color:#333;
	text-transform:none;
}

/* END HEADING TEXT*/



/* +++++++++++++++++++++++++++++++++++++++++
		HIGH-LIGHTED TEXT
++++++++++++++++++++++++++++++++++++++++++++*/

.highLightOne
{
	color:#333;
	font-size:11px;
	text-transform:none;
	font-weight:normal;
}

.highLightTwo
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
}

.expandAccent
{
	font-weight:bold;
}

/* END HIGH-LIGHTED TEXT*/

/* +++++++++++++++++++++++++++++++++++++++++
		MISC. TEXT
++++++++++++++++++++++++++++++++++++++++++++*/



.formLabel
{
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
}

.dataOne, a.dataOne
{
	font-size:11px;
	color:#000;
	font-family:Arial, Verdana, Helvetica, sans-serif;
}

a.dataOne:link, a.dataOne:visited, a.dataOne:active
{
	color:#000;
	text-decoration:underline;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:bold;
}

a.dataOne:hover
{
	color:#999;
	text-decoration:underline;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:bold;
}

.dataTwo
{
	font-size:11px;
	color:#000;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:bold;
}

 a.blastLinks
{
	font-size:11px;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:bold;
}

a.blastLinks:link, a.blastLinks:visited, a.blastLinks:active
{
	color:red;
	text-decoration:underline;
}

a.blastLinks:hover
{
	color:red;
	text-decoration:none;
}


.blastLinksTwo a
{
	font-size:11px;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:bold;
}

.blastLinksTwo a:link, .blastLinksTwo a:visited, .blastLinksTwo a:active
{
	color:#000;
	text-decoration:none;
}

.blastLinksTwo a:hover
{
	color:red;
	text-decoration:none;
}

/* +++++++++++++++++++++++++++++++++++++++++
 END MISC. TEXT
++++++++++++++++++++++++++++++++++++++++++++*/


img 
{
	border:none;
}

.tut a:link, .tut a:active, .tut a:visited
	{
		color:#cfbb77;
		text-decoration:none;	
	}
	
.tut a:hover
	{
	 color:#ffffff;
	 text-decoration:none;
	}
	
html
	{
		min-height:101%;
	}
	
#ECNWizard_ContentText
{
	width:787px;
}

.treeDiv
{
	WIDTH: 480px; 
	HEIGHT: 170px;
	overflow:auto;
	margn:0;padding:0;
	border:1px #efefef solid;
}

.pageLinks a, .pageLinks
{
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	text-decoration:none;
}



.pageLinks a:link, .pageLinks a:visited, .pageLinks a:active
{	
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	font-weight:normal;
	text-decoration:none;
}

.reportCategory
{
	/*border-right:1px #A4A2A3 solid;*/
	font-weight:bold;
}

#bigHitCell a
{
	display:block;
	width:100%;
	height:100%;
	color:#000;
}

#bigHitCell a:link, #bigHitCell a:visited, #bigHitCell a:active
{
	text-decoration:none;
} 

#bigHitCell a:hover
{
	color:#000;
	text-decoration:underline;
} 

.moveUp
{
	padding:0;margin:0; 
	position:relative; 
	top:-25px;
}

.pageLinks a:hover
{	
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	font-weight:normal;
	text-decoration:underline;
}
.pageLinks a.selected:link, .pageLinks a.selected:visited, .pageLinks a.selected:active, .pageLinks a.selected:hover
{
	font-weight:bold;
}

a:link, a:visited, a:active {
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
}

a:hover
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000;
	text-decoration: underline;
}
a.light
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
a.light:hover
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #E1CA82;
	text-decoration: none;
}
.tableHeader
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
}

.tableHeaderSmall
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #000000;
	background-color: Silver;
}
.tableContent
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	border-color: silver; 
}


a.tableContent
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: red;
	border-color: Silver;
}
.tableContentSmall
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #000000;
	border-color: Silver;
}
.footerContent
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
}
.formbutton
{
/*	border: #666666 1px solid;
	/*border-color:#FF9900 #AD8000 #AD8000 #FF9900;
	background-color: #D4D0C8; */
}
.formbuttonsmall
{
/*	border: #9999991px solid; */ 
	height: 20;
	font-size: 9px;
/*	border-color: #FF9900 #AD8000 #AD8000 #FF9900;*/
/*	background-color:none;*/  
}

.formfield select
{
	border:1px solid #999999;
}

select { 
/* font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;*/
 background-color: #ffffff; 
 color: #000000; 
 border: 1px solid #999999; 
}

#topper
{
	background:#000 url(/ecn.accounts/images/topperLeft.gif) top left no-repeat;
	height:14px;
}

#ecnHtop a:link, #ecnHtop a:visited, #ecnHtop a:active
{
	color:#fff;
	text-decoration:none;
	font-weight:normal;
} 

#ecnHtop a:hover
{
	color:#dece93;
	text-decoration:none;
	font-weight:normal;
}

#headerLinkTab, #headerLinkTab a
{
	margin:0;padding:0;
}

#headerLinkTab a
{	 
	display:block;
	width:182px; 
	height:26px;
	overflow:hidden;
	color:#fff;
	text-align:center;
	line-height:2.4em;
	font-weight:normal;
	text-decoration:none;
	font-size:11px;
}

#headerLinkTab a:link, #headerLinkTab a:visited, #headerLinkTab a:active
{
	background:url(/ecn.accounts/images/headerButton.gif) top center no-repeat;
}

#headerLinkTab a:hover
{
	background:url(/ecn.accounts/images/headerButton.gif) top right no-repeat;
}

#topLinks
{	
	color:#666;
}

#topLinks a
{
	text-decoration:none;
	font-weight:normal;
}

#topLinks a:link, #topLinks a:visited, #topLinks a:active
{
	color:#666;
}

#topLinks a:hover
{
	color:#000;
}

.formfield
{
	border: #999999 solid 1px; 
	border-width: 1px 1px 1px 1px; 
	border-color: #999999 #999999 #999999 #999999            /*#AD8000 #FF9900 #FF9900 #AD8000;*/
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
}
.formfield select
{
	border: #999999 1px solid;
}
	
.headerImage
{
	position:relative;
	top:3px;
}

.whiteBG
{
	background-color:#ffffff;
}

.formfield iframe
{
	border: solid;
	border-width: 2px 1px 1px 2px;
	border-color: #716F64 #F1EFE2 #F1EFE2 #716F64                 /*#AD8000 #FF9900 #FF9900 #AD8000;*/
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
}

.formtextfield
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
}
.formtextfieldsmall
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 9px;
}
.countTableContent
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	background-color: #F1DA92;
}
.tableHeader1
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color:Gray;
	padding:2px,0px,2px,0px;
	height:20px;
}

.capitalize
{
	text-transform:uppercase;
}

.alert
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 13px;
	font-style: italic;
	font-weight: bold;
	color: #CC0000;
}
.tableContentAlt1
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #FCF8E9;
}
.tableContentAlt2
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}

.noUnderline a:hover
{
	text-decoration:none;
}

/*#FilterPanel
{
	display:inline;
}*/

#capacityContainer
{	
	width:224px;
	height:12px;
	text-align:left;
	background: url(/ecn.accounts/images/capacityContainer.gif) top left no-repeat;
	margin:5px 0 0 0;
}

#capacityBar
{
	height:12px;
	background: url(/ecn.accounts/images/capacityBar.gif) top left repeat-x;
}

#errorTop
{
	background:url(/ecn.accounts/IMAGES/errorRed_01.gif) top center no-repeat; 
	width:674px; 
	height:9px;
}

#errorMiddle
{
	background:url(/ecn.accounts/IMAGES/errorRed_02.gif) top center repeat-y;
}

#errorMiddle table
{
	margin: 0 15px 0 0; 
	font: bold 12px Arial, Helvetica, sans-serif; 
	color: #a40000
}

#errorBottom
{
	background:url(/ecn.accounts/IMAGES/errorRed_03.gif) top center no-repeat; 
	width:674px; 
	height:10px;
}

#successTop
{
	BACKGROUND: url(/ecn.accounts/IMAGES/successGreen_01.gif) no-repeat center top; 
	WIDTH: 674px; 
	HEIGHT: 9px;
}

#successMiddle
{
	BACKGROUND: url(/ecn.accounts/IMAGES/successGreen_02.gif) repeat-y center top;
}

#successMiddle table
{
	MARGIN: 0px 15px 0px 0px; 
	FONT: bold 12px Arial, Helvetica, sans-serif; 
	COLOR: #05b835; 
}

#successBottom
{
	BACKGROUND: url(http://ecn5.com/ecn.accounts/IMAGES/successGreen_03.gif) no-repeat center top; 
	WIDTH: 674px; 
	HEIGHT: 10px;
}

.sevenSeventyFive
{
	width:700px;
}

.errormsg
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FF0000;
	background-color: #FFFFFF;
}

.smallBold
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: Navy;
	background-color: #D6DFE7;
}
a.sidehighlight
{
	font-weight: bold;
}
a.footerlinks
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #EE8800;
	text-decoration: none;
}
a.footerlinks:hover
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #EE8800;
	text-decoration: none;
}
.sectionHeader
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	background-color: #99CCFF;
}
.subSectionHeader
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	background-color: #CCFFFF;
}

.subMenu
{
	background-color:#7893A1;
}
.PageTitle
{
	font-weight: bold;
	font-size: 13px;
	color:#666;
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	padding:5px 0px 5px 25px;
	background-color: #FFFFFF;
}

.PanelTitle
{
	font-weight: bold;
	font-size: 13px;
	color: #000000;
	border-bottom: #ee8800 1px solid;
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	background-color: lightgrey;
}
TABLE.Panel
{
	border-right: #ee8800 1px solid;
	border-top: #ee8800 1px solid;
	font-size: 13px;
	border-left: #ee8800 1px solid;
	color: #000000;
	border-bottom: #ee8800 1px solid;
	font-family: Arial, Verdana,  Helvetica, sans-serif;
}

.shadeLeft
{
	background:#d3d3d3 url(/ecn.accounts/images/shade_left.jpg) top right repeat-y;
}

.shadeRight
{
	background:#d3d3d3 url(/ecn.accounts/images/shade_right.jpg) top left repeat-y;
}

.bar
{
	background:#5C5D5F url(/ecn.accounts/images/bar.jpg) top left repeat-x;
}

.footerShade
{
	background:#d3d3d3 url(/ecn.accounts/images/shade_bottom_07.jpg) top center no-repeat;
}

.SubPanelTitle
{
	font-weight: bold;
	font-size: 13px;
	color: #000000;
	border-bottom: black 1px solid;
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	background-color: #fcf8e9;
}
TABLE.SubPanel
{
	border-right: black 1px solid;
	border-top: black 1px solid;
	font-size: 13px;
	border-left: black 1px solid;
	color: #000000;
	border-bottom: black 1px solid;
	font-family: Arial, Verdana,  Helvetica, sans-serif;
}
TD.Title
{
	border-top: black 1px solid;
	border-bottom: black 1px solid;
}
.CustomerCreditItem
{
	color: red;
	text-decoration: line-through;
}

/* copied from Header */
			/* CSS Document */
			a.footer_link:link, a.footer_link:visited, a.footer_link:active {
				color: #FFFFFF;
				font-size:7pt;
				font-weight:bold;
				text-decoration: none;
			}
			
			a.footer_link:hover	{ 
				color: #D4B063;
				font-size:7pt;
				font-weight:bold;
				text-decoration: none;
			}
			
			.pipes
			{
				color:#000000;
			}
		
			a.logoff_link:link, a.logoff_link:visited, a.logoff_link:active,
			a.help_link:link, a.help_link:visited, a.help_link:active {
				color:#ffffff;
				font-size:8pt;
				font-weight:bold;
				text-decoration: none;
				padding:5px,0px,5px,0px;
				vertical-align:middle;
				font-family: Arial, Verdana, Helvetica, sans-serif;
			}
			
			a.logoff_link:hover, a.help_link:hover	{ 
				color: #EFD999;
				font-size:8pt;
				text-decoration: none;
				vertical-align:middle;
				padding:5px,0px,5px,0px;
				font-family: Arial, Verdana, Helvetica, sans-serif;
				font-weight: bold;
			}
			
			span.logged_in {
				color: #7893A1;
				font-size: 9pt;
				text-decoration: none;
				padding:5px,0px,5px,0px;
				font-family: Arial, Verdana, Helvetica, sans-serif;
				font-weight: bold;
				vertical-align:middle;
			}
			
			span.current_user {
				color: #EFD999;
				font-size: 8pt;
				text-decoration: none;
				padding:5px,0px,5px,0px;
				font-family: Arial, Verdana, Helvetica, sans-serif;
				vertical-align:middle;
			}
			
			span.helpbox_title {
				color: #FFFFFF;
				font-size: 10pt;
				font-family: Arial, Verdana, Helvetica, sans-serif;
				font-weight: bold;
			}
			
			span.helpbox_content {
				color: #FFFFFF;
				font-size: 10pt;
				font-family: Arial, Verdana, Helvetica, sans-serif;
			}
			
			span.login {
				font-family: Arial, Verdana, Helvetica, sans-serif;
				font-size:8pt;
				color: #FFFFFF;
				font-weight: bold;
			}
			
			span.main_menu {
				font-size: 10pt;
				font-family: Arial, Verdana, Helvetica, sans-serif;
				color: #FFFFFF;
			}
			
			span.main_menu.a:link, span.main_menu.a:visited, span.main_menu.a:active {
				color: #FFFFFF;
				font-size:10pt;
				font-weight:bold;
				text-decoration: none;
			}
			
			span.main_menu.a:hover { 
				color: #D4B063;
				font-size:10pt;
				font-weight:bold;
				text-decoration: none;
			}	
			
			body {
				color: #333333;
				font-size:10px;
				text-decoration: none;
				font-family: Arial, Verdana, Helvetica, sans-serif;
			}

                        span.bulk {
				color: #333333;
				font-size:10pt;
				text-decoration: none;
				font-family: Arial, Verdana, Helvetica, sans-serif;
			}
			
			span.tinytext {
				font-size:7pt;
				color: #FFFFFF;
				text-decoration: none;
				font-family: Arial, Verdana, Helvetica, sans-serif;
			}
			
			span.smalltext {
				font-size: 8pt;
				color: #FFFFFF;
				text-decoration: none;
				font-family: Arial, Verdana, Helvetica, sans-serif;
			}
			
			span.whitetext{
				color: #FFFFFF;
				font-size:10pt;
				text-decoration: none;
				font-family: Arial, Verdana, Helvetica, sans-serif;
			}
/* Menu */

a.menu
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 8px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-transform:uppercase;
	vertical-align:middle;
}

a.menu:link, a.menu:visited, a.menu:active {
	color: #FFFFFF;
	font-size:8pt;
	font-weight:bold;
	text-decoration: none;
	vertical-align:middle;
}

a.menu:hover	{ 
	color: #EFD999;
	font-size:8pt;
	font-weight:bold;
	text-decoration: none;
	vertical-align:middle;
}

a.menufooter
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 8px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	vertical-align:middle;
}

a.menufooter:link, a.menufooter:visited, a.menufooter:active {
	color: #FFFFFF;
	font-size:8pt;
	font-weight:bold;
	text-decoration: none;
}

a.menufooter:hover	{ 
	color: #EFD999;
	font-size:8pt;
	font-weight:bold;
	text-decoration: none;
}


a.menu1
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 8px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	text-transform:uppercase;
	vertical-align:middle;
}

a.menu1:link, a.menu1:visited, a.menu1:active {
	color: #000000;
	font-size:8pt;
	font-weight:bold;
	text-decoration: none;
}

a.menu1:hover	{ 
	color: #EFD999;
	font-size:8pt;
	font-weight:bold;
	text-decoration: none;
}


a.menu2
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 8px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	text-transform:uppercase;
	vertical-align:middle;
	padding:0px,2px,0px,2px;
}
a.menu2:hover
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 8px;
	padding:0px,2px,0px,2px;
	font-weight: bold;
	color: #EFD999;
	text-decoration: none;
}
			
			
a.menu2:link, a.menu2:visited, a.menu2:active, a.menu2:hover { 
	color: #EFD999;
	padding:0px,2px,0px,2px;
	font-size:8pt;
	font-weight:bold;
	text-decoration: none;
}

a.box_text:link, a.box_text:visited, a.box_text:Active
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color: #ffffff;
	text-decoration: none;
}

a.box_text
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color: gray;
	text-decoration: none;
}


a.box_text:hover
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration: none;
	color: #CFBB77;
}

a.linkGold:link, a.linkGold:visited, a.linkGold:Active
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;
	color: #EFD999;
	text-decoration: none;
}

a.linkGold
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;
	color: EFD999;
	text-decoration: none;
}


a.linkGold:hover
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;
	text-decoration: none;
	color: #ffffff;
}


.folderLevelOne
{
	text-indent:12px;
}

.folderLevelTwo
{
	text-indent:24px;
}

.folderLevelThree
{
	text-indent:36px;
}

/* ++++++++++++++++++++++++++++++++++++++++++++
				BLACK BUTTON CLASS
+++++++++++++++++++++++++++++++++++++++++++++++
*/

.blackBtn
{
	margin:0;padding:0;
}

.blackBtn a
{
	margin:0;padding:0 0 0 5px;
	display:block;
	height:23px;
	overflow:hidden;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:2em;
	text-align:center;
	text-indent:0px;
}

.blackBtn a:link, .blackBtn a:visited, .blackBtn a:active
{
	background:url(buttonLeft.gif) bottom left no-repeat;	
	color:#fff;
	text-decoration:none;
	font-weight:normal;	
}

.blackBtn a:hover
{
	background:url(buttonLeft.gif) top left no-repeat;
	color:#fff;
	text-decoration:none;
	font-weight:normal;
}

.blackBtn a span
{
	margin:0;padding:0 5px 0 0;
	display:block;
	height:23px;
	overflow:hidden;
}

.blackBtn a:link span, .blackBtn a:visited span, .blackBtn a:active span
{
	background:url(buttonRight.gif) bottom right no-repeat;	
}
 
.blackBtn a:hover span
{
	background:url(buttonRight.gif) top right no-repeat;	
}

/* ++++++++++++++++++++++++++++++++++++++++++++
				BLACK TAB CLASS
+++++++++++++++++++++++++++++++++++++++++++++++
*/
.blackTab
{
	margin:0;padding:0;
}

.blackTab a
{
	margin:0;padding:0 0 0 5px;
	display:block;
	height:22px;
	overflow:hidden;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	line-height:2em;
	text-align:center;
}

.blackTab a:link, .blackTab a:visited, .blackTab a:active
{
	background:url(tabLeftT.gif) bottom left no-repeat;
	color:#fff;
	text-decoration:none;
	font-weight:normal;
}

.blackTab a:hover
{
	background:url(tabLeftT.gif) top left no-repeat;
	color:#fff;
	text-decoration:none;
	font-weight:normal;
}

.blackTab a span
{
	margin:0;padding:0 5px 0 0;
	display:block;
	height:22px;
	overflow:hidden;
}

.blackTab a:link span, .blackTab a:visited span, .blackTab a:active span
{
	background:url(tabRightT.gif) bottom right no-repeat;
}
 
.blackTab a:hover span
{
	background:url(tabRightT.gif) top right no-repeat;	
}
/* ++++++++++++++++++++++++++++++++++++++++++++*/

.moveImg
{
	position:relative;
	left:20px;
}

.moveImgTwo
{
	position:relative;
	left:23px;
	top:-2px;
}

.moveImgThree
{
	position:relative;
	left:23px;
	top:2px;
}

#helpBox
{
	width:400px;
	height:125px;
	overflow:auto;
}

.label
{
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-weight:normal;
}

.labelsmall
{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-weight:normal;
}

.label10
{
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-weight:normal;
}

.heading
{
	font-size:12px;
	text-transform:uppercase;
	color:#999999;
}

.greenBack
{	
	padding:0 5px 0 5px;
	background-color:#00CC00;
	color:#ffffff;
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;	
}


/*help window floating*/



.toplefthelp
{
	background-image:url(helptop_01.gif);
	background-repeat:no-repeat;
	width:324px;
	height:29px;
}



.toprighthelp
{
	width:28px; 
	height:29;
}

.helpbottom
{
	background-image:url(helpbottom_03.gif);
	background-repeat:no-repeat;
	height:351px;
	width:352px;
	padding-top:5px;
}

#helpScroll
{
	width:340px;
	height:300px;
	overflow:auto;
	text-align:left;
	margin:3px 2px 0px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
}

#helpScroll li
{
	text-indent:-10px;
}

.note
{
	color:#C9545A;
}

#previewLbltext_previewLbl
{
	background:#fff;
	border:1px #999 solid;
	width:700px;
	text-align:left;
	display:block;
	margin:0 auto;
	overflow-x:auto;
}

.helpHeading
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#999999;
	text-align:left;
	padding-left:30px;
	text-transform:uppercase;
	font-weight:bold;
}

.scrollMargin
{
	margin:5px 5px 5px 5px; 
}

.helpSubHead
{
	font-size:12px; 
	font-weight:bold;
}

/* Grid Style - sunil - channel report*/

.grd_row_header
{
	border-right: #000366 1px solid;
	padding-right: 2px;
	border-top: #afc4d5 1px solid;
	padding-left: 4px;
	font-size: 11px;
	padding-bottom: 2px;
	margin-left: 2px;
	vertical-align: middle;
	text-transform: capitalize;
	border-left: #afc4d5 1px solid;
	line-height: 110%;
	padding-top: 2px;
	border-bottom: #000366 1px solid;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
}

.grd_content
{
	padding-right: 2px;
	padding-left: 8px;
	font-size: 11px;
	padding-bottom: 2px;
	vertical-align: top;
	padding-top: 2px;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	text-align: left;
}

TD.grd_row_header
{
	font-weight: bolder;
	background-image:url(cell_background_1.gif);
	color: white;
}

TD.grd_alternate
{
	background-color: #dde4e8;
}

/* Data Grid CSS */

.grid
{
	font-size: 11px;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	border: solid 2px #dde4e8;
}

.gridWizard
{
	font-size: 11px;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	border: solid 1px #A4A2A3;
	/*background-color:#fff;*/
}

.gridWizard td
{
	border:1px #A4A2A3 solid;
}

.gridWizard td td
{
	border:none;
}

.grid td {padding: 3px 3px 3px 5px;}
.grid A:link, .grid  A:visited, .grid  A:active {font-family:arial; font-size: 11px; COLOR: black; text-decoration:underline;padding:2px 0px 0px 0px;}
.grid A:hover  {font-family:arial; font-size: 11px; COLOR: gold; text-decoration: underline;padding:2px 0px 0px 0px;}

.gridWizard td {padding: 3px 3px 3px 5px;}
.gridWizard A:link, .gridWizard  A:visited, .gridWizard  A:active {font-family:arial; font-size: 11px; COLOR: #333; text-decoration:underline;padding:2px 0px 0px 0px;font-weight:normal;}
.gridWizard A:hover  {font-family:arial; font-size: 11px; COLOR:#000; text-decoration: none;padding:2px 0px 0px 0px;font-weight:normal;}



tr.gridheader
{
	font-weight: bolder;
	text-transform: capitalize;
	font-size: 11px;
	height: 20px;
	vertical-align: middle;
	text-transform:uppercase;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	background-image: url(cell_background_1.gif);
	color: white;
	text-decoration: none;
}

tr.gridheaderWizard
{
	font-weight: bolder;
	/*text-transform: capitalize;*/
	font-size: 11px;
	height: 20px;
	vertical-align: middle;
	/*text-transform:uppercase;*/
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	background-image: url(bgGradient.jpg);
	color: #333;
	text-decoration: none;
}

.grid .selected
{
	background:#ffbf00;
}

tr.gridheader A:link, tr.gridheader  A:visited, tr.gridheader A:active {font-weight: bolder;font-family:arial; font-size: 11px; COLOR: white; text-decoration: underline;padding:2px 0px 0px 0px;}
tr.gridheader A:hover  {font-weight: bolder;font-family:arial; font-size: 11px; COLOR: gold; text-decoration: underline;padding:2px 0px 0px 0px;}

tr.gridheaderWizard A:link, tr.gridheaderWizard  A:visited, tr.gridheaderWizard A:active {font-weight: bolder;font-family:arial; font-size: 11px; COLOR: #333; text-decoration: underline;padding:2px 0px 0px 0px;}
tr.gridheaderWizard A:hover  {font-weight: bolder;font-family:arial; font-size: 11px; COLOR: #000; text-decoration: none;padding:2px 0px 0px 0px;}

tr.gridaltrow
{
	background-color: #dde4e8;
}

tr.gridaltrowWizard
{
	background-color: #ebebec;
}

.gridWizard .selected
{
	background:#ffbf00;
}


tr.gridaltrowwhite
{
	background-color: #ffffff;
}

tr.gridaltrowwhiteWizard
{
	background-color: #ffffff;
}


.gridpager
{
	font-size: 11px;
	height: 20px;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
}
.gridpager A:link, .gridpager  A:visited, .gridpager  A:active {font-weight: normal;font-family:arial; font-size: 10px; COLOR: black; text-decoration: none;padding:2px 0px 0px 0px;}
.gridpager A:hover  {font-weight: normal;font-family:arial; font-size: 10px; COLOR: red; text-decoration: underline;padding:2px 0px 0px 0px;}

.gridpagerWizard
{
	font-size: 11px;
	height: 20px;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-weight:normal;
}
.gridpagerWizard A:link, .gridpager  A:visited, .gridpager  A:active {font-weight: normal;font-family:arial; font-size: 11px; COLOR:#333; text-decoration: none;padding:2px 0px 0px 0px;}
.gridpagerWizard A:hover  {font-weight: normal;font-family:arial; font-size: 11px; COLOR:#000; text-decoration: underline;padding:2px 0px 0px 0px;}

/*#maingallery_PanelTabs a:link, #maingallery_PanelTabs a:visited, #maingallery_PanelTabs a:active, #maingallery_PanelTabsBottom a:link, #maingallery_PanelTabsBottom a:visited, #maingallery_PanelTabsBottom a:active
{
	color:#666;
	text-decoration:none;
}

#maingallery_PanelTabs a:hover, #maingallery_PanelTabsBottom a:hover
{
	color:#000;
	text-decoration:none;	
}*/

.PageView {BORDER-RIGHT: #a38e6b 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #a38e6b 6px solid; BORDER-LEFT: #a38e6b 1px solid; BORDER-BOTTOM: #a38e6b 1px solid; BACKGROUND-COLOR: #f5f5f5;}

/* ECN Turbo CSS */

.ninetyPerc
{
	width:95%;
}

.gradient
{
	background:url(bgGradient.jpg) top left repeat-x; 
	height:28px;
	border:1px #A4A2A3 solid;
}

.gradientTwo
{
	background:url(gradient2.gif) top left repeat-x; 
	height:22px;
	border:1px #A4A2A3 solid;
}

.greySides
{
	border-left:1px #A4A2A3 solid;
	border-right:1px #A4A2A3 solid;
}

.greySidesB
{
	border-left:1px #A4A2A3 solid;
	border-right:1px #A4A2A3 solid;
	border-bottom:1px #A4A2A3 solid;
}

.steps
{
	height:45px;
}

#campHome
{
	margin:0 0 0 50px;
}

.padTop
{
	padding-top:10px;
}

.iconPad img
{
	padding:10px 10px 0 10px;
	display:block;
}

.buttonPad img
{
	padding:0 5px;
}

.buttonPad input
{
	margin:2px 3px 0 5px;
}


.buttonPad2
{
	padding:0 5% 0 0;
}



.offWhite
{
	background-color:#f9f9f9;
}

.selectBox
{
	width:200px;
}

#turbo
{
	text-transform:uppercase;
	font-style:italic;
}

#comTurbo, #comTurboSub
{
	font-size:14px;
	padding:0; margin:3px 0;
}

#comTurboSub
{
	margin-bottom:15px;
}

#comTurboSub
{
	color:#999;
}

.section
{
	width:95%;
	padding:15px 0;
	border-bottom:2px #fff solid;
}

.bottomDiv
{
	border:none;
}

.calenderImg
{
	padding:0 10px;
	margin:0 0 -5px 0;
}

.previewTextBox
{
	text-align:center;
}

.previewTextBox textarea
{
	text-align:left;
	margin:15px auto;
	display:block;
	width:90%;
	height:200px;
}

#padTen
{
	padding:0 10px;
}

.upCase
{
	text-transform:uppercase;
}

.section table tr td
{
	padding:5px 0;
}

.formTextBox
{
	width:300px;
}

.wizFormBox
{
	width:250px;
}

.day
{
	width:30px;
}

.month
{
	width:80px;
}
.year
{
	width:50px;
}

/* PUT THIS CLASS OUTSIDE OF A DIV YOU WANT CENTERED */
.center
{
	text-align:center;
}

.center div
{
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}

/* +++++++++++++++++ END CENTER CLASS ++++++++++++ */


/* +++++++++ GREY NUMBERS +++++++++++ */
#step1Grey
{
	background:url(oneGrey.gif) top center no-repeat;
}

#step2Grey
{
	background:url(twoGrey.gif) top center no-repeat;
}

#step3Grey
{
	background:url(threeGrey.gif) top center no-repeat;
}


#step4Grey
{
	background:url(fourGrey.gif) top center no-repeat;
}

#step5Grey
{
	background:url(fiveGrey.gif) top center no-repeat;
}

/* ++++++++++++ END GREY NUMBERS ++++++++++++ */


/* +++++++++ GREEEN NUMBERS +++++++++++ */
#step1Green
{
	background:url(oneGreen.gif) top center no-repeat;
}

#step2Green
{
	background:url(twoGreen.gif) top center no-repeat;
}

#step3Green
{
	background:url(threeGreen.gif) top center no-repeat;
}


#step4Green
{
	background:url(fourGreen.gif) top center no-repeat;
}

#step5Green
{
	background:url(fiveGreen.gif) top center no-repeat;
}

/* ++++++++++++ END GREEN NUMBERS ++++++++++++ */


/*+++++++++++++ TAB NAVIGATION +++++++++++++*/
.tabNav a:link, .tabNav a:visited, .tabNav a:active, .tabNav a:hover, .tabNav a:disabled
{
	display:block;
	margin:0; padding:0;
	width:143px;
	height:29px;
	overflow:hidden;
	text-align:center;
	color:#000;
	font-weight:bold;
	text-decoration:none;
	vertical-align:middle;
	line-height:2.2em;
}

.tabNav a:link, .tabNav a:visited, .tabNav a:active, .tabNav a:disabled
{
	background:url(tab.jpg) top right;
}


.tabNav a:hover, .tabNav a.selected:link, .tabNav a.selected:visited, .tabNav a.selected:active, .tabNav a.selected:disabled 
{
                background:url(tab.jpg) top left;
                color:#fff;
}

/* ++++++++++++++++ END TABS +++++++++++++*/
