@model EmailMarketing.Site.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot";
    Layout = "~/Views/Shared/_UnauthenticatedLayout.cshtml";
}
<div id="login">
    <h2>
        <img src="@ViewBag.BrandingImageSrc" />
    </h2>
    @using (Html.BeginForm())
    {
        <fieldset>
            <p><label for="user">Enter Your User Name</label></p>
            <p>@Html.TextBoxFor(m => m.UserName)</p>
            <p>A temporary password will be sent to the email address on file for this user name.  Please click on the link in your email to reset your password.</p>
            @if(!Model.Exists)
            {
                <p style="color:red;">No users exist with this user name.</p>
            }
            else if(Model.EmailSent)
            {
                <p>Email Sent</p>
            }
            <p><input type="submit" style="width:250px;" value="Send Temporary Password"></p>
        </fieldset>
    }
</div>