@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_UnauthenticatedLayout.cshtml";
}
<div id="login">
    <h2>
        <img src="@ViewBag.BrandingImageSrc" />
    </h2>

    <fieldset>
        <p>Warning!</p>
        <p>Your default Customer Account is Inactive.  Once logged in, please edit your Profile and change your Default Customer Account.</p>

        <p><input type="button" value="Continue" onclick="window.location.href = '/ecn.accounts/main/default.aspx';"></p>
    </fieldset>

</div>