<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ADMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ADMS.Properties.Settings>
            <setting name="EmailFrom" serializeAs="String">
                <value>KMFTP@TeamKM.com</value>
            </setting>
            <setting name="AdminEmail" serializeAs="String">
                <value>platform-services@TeamKM.com</value>
            </setting>
            <setting name="SMTP" serializeAs="String">
                <value>108.160.208.101</value>
            </setting>
            <setting name="WatcherConfig" serializeAs="String">
                <value>WatcherConfig.xml</value>
            </setting>
            <setting name="BaseDir" serializeAs="String">
                <value>C:\ADMS</value>
            </setting>
            <setting name="BaseFTPDir" serializeAs="String">
                <value>ftp_repository</value>
            </setting>
            <setting name="BaseLogDir" serializeAs="String">
                <value>Logs</value>
            </setting>
            <setting name="BaseClientExpectedSchemasDir" serializeAs="String">
                <value>Expected Client Schemas</value>
            </setting>
            <setting name="BaseClientRepoDir" serializeAs="String">
                <value>Client Repositories</value>
            </setting>
            <setting name="BaseClientStagingDir" serializeAs="String">
                <value>Client Staging</value>
            </setting>
            <setting name="BaseClientArchiveDir" serializeAs="String">
                <value>Client Archive</value>
            </setting>
            <setting name="BaseArchiveProcessedDir" serializeAs="String">
                <value>Processed</value>
            </setting>
            <setting name="BaseArchiveInvalidDir" serializeAs="String">
                <value>Invalid</value>
            </setting>
            <setting name="MessageFilePath" serializeAs="String">
                <value>C:\ADMS\Configuration</value>
            </setting>
            <setting name="FileSchemaAssociation" serializeAs="String">
                <value>C:\ADMS\Configuration\FileSchemaAssociation.xml</value>
            </setting>
            <setting name="BaseConfigurationDir" serializeAs="String">
                <value>Configuration</value>
            </setting>
        </ADMS.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
