@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function closeWindow()
    {
        window.location.href = window.location.href;
        window.close();
    }
</script>
<div style="margin:0 auto;width:60%;">
    <table style="text-align:center;">
        <tr>
            <td>
                <h2>Thank you!</h2>
            </td>
        </tr>
        <tr>
            <td>
                <p>An email with a link to the KM Platform Login page has been sent to your email address.  You can close this window now or continue on to the Login page by clicking on the Login Now button.</p>
            </td>
        </tr>
        <tr>
            <td>
                <table style="width:100%;">
                    <tr>
                        
                        <td style="text-align:center;">
                            <div id='redirectbutton' style='margin-right:auto;margin-left:auto;width:200px;text-align:center;  background-color: #FFFFFF;  moz-border-radius: 8px;  -webkit-border-radius: 8px;  border: 2px solid #000000;  '>
                                <p style='width:100%;height:100%;'><a href='@ViewBag.LoginURL' style='color:black;text-decoration:none;width:100%;height:100%;'>Login Now</a></p>
                            </div>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>
    </div>
