<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="SMTPServer" value="216.17.41.200" />
    <add key="EmailFrom" value="admin@knowledgemarketing.com" />
    <add key="EmailTo" value="dev@knowledgemarketing.com" />
    <add key="ESPs" value="AOL;HOTMAIL;YAHOO;COMCAST;RACKSPACE;TUCOWS;COX;CHARTER;USA;BLUETIE;EXCITE;FASTMAIL;SYNACOR;TERRA;ZOHO;TELENOR;XS4ALL;YANDEX;LOCAWEB;EARTHLINK" />
    <!--<add key="ESPs" value="ZOHO" />-->
    <!--ZOHO-->
    <add key="ZOHO_MailServer" value="216.17.41.197" />
    <add key="ZOHO_MailUser" value="km.fbl.zoho" />
    <add key="ZOHO_MailPassword" value="tman99" />
    <add key="ZOHO_EmailSubject" value="ZOHO Feedback Processing Notification" />
    <add key="ZOHO_HeaderCheckField" value="subject" />
    <add key="ZOHO_HeaderCheckValue" value="ZOHO abuse report" />
    <!--TERRA-->
    <add key="TERRA_MailServer" value="216.17.41.197" />
    <add key="TERRA_MailUser" value="km.fbl.terra" />
    <add key="TERRA_MailPassword" value="tman99" />
    <add key="TERRA_EmailSubject" value="terra Feedback Processing Notification" />
    <add key="TERRA_HeaderCheckField" value="subject" />
    <add key="TERRA_HeaderCheckValue" value="terra abuse report" />
    <!--FASTMAIL-->
    <add key="FASTMAIL_MailServer" value="216.17.41.197" />
    <add key="FASTMAIL_MailUser" value="km.fbl.FASTMAIL.fm" />
    <add key="FASTMAIL_MailPassword" value="tman99" />
    <add key="FASTMAIL_EmailSubject" value="FASTMAIL Feedback Processing Notification" />
    <add key="FASTMAIL_HeaderCheckField" value="subject" />
    <add key="FASTMAIL_HeaderCheckValue" value="fastmail abuse report" />
    <!--SYNACOR-->
    <add key="SYNACOR_MailServer" value="216.17.41.197" />
    <add key="SYNACOR_MailUser" value="km.fbl.SYNACOR.com" />
    <add key="SYNACOR_MailPassword" value="tman99" />
    <add key="SYNACOR_EmailSubject" value="SYNACOR Feedback Processing Notification" />
    <add key="SYNACOR_HeaderCheckField" value="subject" />
    <add key="SYNACOR_HeaderCheckValue" value="synacor abuse report" />
    <!--AOL-->
    <add key="AOL_MailServer" value="216.17.41.197" />
    <add key="AOL_MailUser" value="km.fbl.aol.com" />
    <add key="AOL_MailPassword" value="aol.fbl" />
    <add key="AOL_EmailSubject" value="AOL Feedback Processing Notification" />
    <add key="AOL_HeaderCheckField" value="subject" />
    <add key="AOL_HeaderCheckValue" value="email feedback report for" />
    <!--HOTMAIL-->
    <add key="HOTMAIL_MailServer" value="216.17.41.197" />
    <add key="HOTMAIL_MailUser" value="km.fbl.hotmail.com" />
    <add key="HOTMAIL_MailPassword" value="hotmail.fbl" />
    <add key="HOTMAIL_EmailSubject" value="HOTMAIL Feedback Processing Notification" />
    <add key="HOTMAIL_HeaderCheckField" value="From" />
    <add key="HOTMAIL_HeaderCheckValue" value="staff@hotmail.com" />
    <!--YAHOO-->
    <add key="YAHOO_MailServer" value="216.17.41.197" />
    <add key="YAHOO_MailUser" value="km.fbl.yahoo.com" />
    <add key="YAHOO_MailPassword" value="yahoo.fbl" />
    <add key="YAHOO_EmailSubject" value="YAHOO Feedback Processing Notification" />
    <add key="YAHOO_HeaderCheckField" value="From" />
    <add key="YAHOO_HeaderCheckValue" value="yahoo! mail antispam feedback" />
    <!--COMCAST-->
    <add key="COMCAST_MailServer" value="216.17.41.197" />
    <add key="COMCAST_MailUser" value="km.fbl.comcast.net" />
    <add key="COMCAST_MailPassword" value="comcast.fbl" />
    <add key="COMCAST_EmailSubject" value="COMCAST Feedback Processing Notification" />
    <add key="COMCAST_HeaderCheckField" value="subject" />
    <add key="COMCAST_HeaderCheckValue" value="comcast abuse report" />
    <!--RACKSPACE-->
    <add key="RACKSPACE_MailServer" value="216.17.41.197" />
    <add key="RACKSPACE_MailUser" value="km.fbl.rackspace.com" />
    <add key="RACKSPACE_MailPassword" value="rackspace.fbl" />
    <add key="RACKSPACE_EmailSubject" value="RACKSPACE Feedback Processing Notification" />
    <add key="RACKSPACE_HeaderCheckField" value="subject" />
    <add key="RACKSPACE_HeaderCheckValue" value="rackspace.com abuse report" />
    <!--USANET-->
    <add key="USA_MailServer" value="216.17.41.197" />
    <add key="USA_MailUser" value="km.fbl.usa.net" />
    <add key="USA_MailPassword" value="usa.fbl" />
    <add key="USA_EmailSubject" value="USANET Feedback Processing Notification" />
    <add key="USA_HeaderCheckField" value="subject" />
    <add key="USA_HeaderCheckValue" value="usanet abuse report" />
    <!--BLUETIE-->
    <add key="BLUETIE_MailServer" value="216.17.41.197" />
    <add key="BLUETIE_MailUser" value="km.fbl.bluetie.com" />
    <add key="BLUETIE_MailPassword" value="bluetie.fbl" />
    <add key="BLUETIE_EmailSubject" value="BLUETIE Feedback Processing Notification" />
    <add key="BLUETIE_HeaderCheckField" value="subject" />
    <add key="BLUETIE_HeaderCheckValue" value="bluetie abuse report" />
    <!--COX-->
    <add key="COX_MailServer" value="216.17.41.197" />
    <add key="COX_MailUser" value="km.fbl.cox.net" />
    <add key="COX_MailPassword" value="cox.fbl" />
    <add key="COX_EmailSubject" value="COX Feedback Processing Notification" />
    <add key="COX_HeaderCheckField" value="subject" />
    <add key="COX_HeaderCheckValue" value="cox abuse report" />
    <!--TUCOWS-->
    <add key="TUCOWS_MailServer" value="216.17.41.197" />
    <add key="TUCOWS_MailUser" value="km.fbl.tucows.com" />
    <add key="TUCOWS_MailPassword" value="tucows.fbl" />
    <add key="TUCOWS_EmailSubject" value="TUCOWS Feedback Processing Notification" />
    <add key="TUCOWS_HeaderCheckField" value="subject" />
    <add key="TUCOWS_HeaderCheckValue" value="opensrs abuse report" />
    <!--CHARTER-->
    <add key="CHARTER_MailServer" value="216.17.41.197" />
    <add key="CHARTER_MailUser" value="fbl.charter.net" />
    <add key="CHARTER_MailPassword" value="charter.fbl" />
    <add key="CHARTER_EmailSubject" value="CHARTER Feedback Processing Notification" />
    <add key="CHARTER_HeaderCheckField" value="subject" />
    <add key="CHARTER_HeaderCheckValue" value="charter abuse report" />
    <!--EXCITE-->
    <add key="EXCITE_MailServer" value="216.17.41.197" />
    <add key="EXCITE_MailUser" value="km.fbl.excite.com" />
    <add key="EXCITE_MailPassword" value="excite.fbl" />
    <add key="EXCITE_EmailSubject" value="EXCITE Feedback Processing Notification" />
    <add key="EXCITE_HeaderCheckField" value="subject" />
    <add key="EXCITE_HeaderCheckValue" value="excite abuse report" />

    <!--TELENOR-->
    <add key="TELENOR_MailServer" value="216.17.41.197" />
    <add key="TELENOR_MailUser" value="km.fbl.telenor" />
    <add key="TELENOR_MailPassword" value="tman99" />
    <add key="TELENOR_EmailSubject" value="TELENOR Feedback Processing Notification" />
    <add key="TELENOR_HeaderCheckField" value="subject" />
    <add key="TELENOR_HeaderCheckValue" value="TELENOR abuse report" />

    <!--XS4ALL-->
    <add key="XS4ALL_MailServer" value="216.17.41.197" />
    <add key="XS4ALL_MailUser" value="km.fbl.xs4all" />
    <add key="XS4ALL_MailPassword" value="tman99" />
    <add key="XS4ALL_EmailSubject" value="XS4ALL Feedback Processing Notification" />
    <add key="XS4ALL_HeaderCheckField" value="subject" />
    <add key="XS4ALL_HeaderCheckValue" value="XS4ALL abuse report" />

    <!--YANDEX-->
    <add key="YANDEX_MailServer" value="216.17.41.197" />
    <add key="YANDEX_MailUser" value="km.fbl.yandex" />
    <add key="YANDEX_MailPassword" value="tman99" />
    <add key="YANDEX_EmailSubject" value="YANDEX Feedback Processing Notification" />
    <add key="YANDEX_HeaderCheckField" value="subject" />
    <add key="YANDEX_HeaderCheckValue" value="YANDEX abuse report" />

    <!--LOCAWEB-->
    <add key="LOCAWEB_MailServer" value="216.17.41.197" />
    <add key="LOCAWEB_MailUser" value="km.fbl.locaweb" />
    <add key="LOCAWEB_MailPassword" value="tman99" />
    <add key="LOCAWEB_EmailSubject" value="LOCAWEB Feedback Processing Notification" />
    <add key="LOCAWEB_HeaderCheckField" value="subject" />
    <add key="LOCAWEB_HeaderCheckValue" value="LOCAWEB abuse report" />

    <!--EARTHLINK-->
    <add key="EARTHLINK_MailServer" value="216.17.41.197" />
    <add key="EARTHLINK_MailUser" value="km.fbl.earthlink" />
    <add key="EARTHLINK_MailPassword" value="tman99" />
    <add key="EARTHLINK_EmailSubject" value="EARTHLINK Feedback Processing Notification" />
    <add key="EARTHLINK_HeaderCheckField" value="subject" />
    <add key="EARTHLINK_HeaderCheckValue" value="EARTHLINK abuse report" />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ECNEngineAccessKey" value="8CAB09B9-BEC9-453F-A689-E85D5C9E4898" />
    <add key="KMCommon_Application" value="26" />
    <add key="KMCommon_SmtpServer" value="216.17.41.200" />
    <add key="KMCommon_LoggingDaysToKeep" value="30" />
    <add key="IsDemo" value="False" />
  </appSettings>
  <connectionStrings>
    <add name="Communicator" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" />
    <add name="Activity" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn_activity" providerName="System.Data.SqlClient" />
    <add name="KMCommon" connectionString="server=10.161.1.47;uid=webuser;pwd=webuser#23#;database=KMCommon" providerName="System.Data.SqlClient" />
    <add name="Accounts" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ECN5_Accounts" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
