fa {cursor:pointer;}

/* +++++++++++++++++++++++++++++++++++++++++
		HEADING TEXT
++++++++++++++++++++++++++++++++++++++++++++*/

/* .gridheaderWizard - moved to grid class area */

.headingOne

{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-weight:bold;
	text-transform:uppercase;
}


#comTurbo
{
	font-size:14px;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:bold;
	color:#000;
}

#turbo
{
	text-transform:uppercase;
}

.backToTop
{
	text-align:right;
	margin:0;
	padding:7px 5px 0 0;
}

.backToTop a:link, .backToTop a:visited, .backToTop a:active, .backToTop a:hover
{
	color:#333;
}	

.required
{
	text-transform:uppercase;
	font-size:9px;
	color:#7d1a1a;
	font-weight:normal;
}

#comTurboSub
{
	font-size:14px;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:bold;
	color:#999;
}


.headingTwo
{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#000;
}

.headingThree
{
	font-weight:normal;
	color:#333;
	text-transform:none;
}

.headingLinkOne span
{
	font-weight:normal;
}

/* END HEADING TEXT*/



/* +++++++++++++++++++++++++++++++++++++++++
		HIGH-LIGHTED TEXT
++++++++++++++++++++++++++++++++++++++++++++*/

.highLightOne
{
	color:#333;
	font-size:11px;
	text-transform:none;
	font-weight:normal;
}

.highLightTwo
{
	color:#666;
}

.expandAccent
{
	font-weight:bold;
}

/* END HIGH-LIGHTED TEXT*/

/* +++++++++++++++++++++++++++++++++++++++++
		MISC. TEXT
++++++++++++++++++++++++++++++++++++++++++++*/



.formLabel
{
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
}

.dataOne, a.dataOne, .dimmerLabel
{
	font-size:11px;
	color:#000;
	font-family:Arial, Verdana, Helvetica, sans-serif;
}

a.dataOne:link, a.dataOne:visited, a.dataOne:active
{
	color:#000;
	text-decoration:underline;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:bold;
}

a.dataOne:hover
{
	color:#999;
	text-decoration:underline;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:bold;
}

.dataTwo
{
	font-size:11px;
	color:#000;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:bold;
}

 a.blastLinks
{
	font-size:11px;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:bold;
}

a.blastLinks:link, a.blastLinks:visited, a.blastLinks:active
{
	color:red;
	text-decoration:underline;
}

a.blastLinks:hover
{
	color:red;
	text-decoration:none;
}


.blastLinksTwo a
{
	font-size:11px;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:bold;
}

.blastLinksTwo a:link, .blastLinksTwo a:visited, .blastLinksTwo a:active
{
	color:#000;
	text-decoration:none;
}

.blastLinksTwo a:hover
{
	color:red;
	text-decoration:none;
}



/* +++++++++++++++++++++++++++++++++++++++++
 END MISC. TEXT
++++++++++++++++++++++++++++++++++++++++++++*/


img 
{
	border:none;
}

.tut a:link, .tut a:active, .tut a:visited
	{
		color:#cfbb77;
		text-decoration:none;	
	}
	
.tut a:hover
	{
	 color:#ffffff;
	 text-decoration:none;
	}
	
html
	{
		min-height:101%;
	}
	
#ECNWizard_ContentText
{
	width:787px;
}

.treeDiv
{
	WIDTH: 480px; 
	HEIGHT: 170px;
	overflow:auto;
	margn:0;padding:0;
	border:1px #efefef solid;
}

.pageLinks a, .pageLinks
{
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	text-decoration:none;
}



.pageLinks a:link, .pageLinks a:visited, .pageLinks a:active
{	
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	font-weight:normal;
	text-decoration:none;
}

a.survPageCol:link, a.survPageCol:visited, a.survPageCol:active, a.survPageCol:hover
{
	font-weight:normal;
	display:block;
	padding:0 0 6px 0;
}

.surveyQuestionNumber
{
	background:url(http://images.ecn5.com/images/numberGradient.gif) top left repeat-x;
	height:22px;
	border-right:1px #A4A2A3 solid;	
}

.ellBorder
{
	border-right:1px #A4A2A3 solid;
	border-bottom:1px #A4A2A3 solid;
}

.addPage a
{
	display:block;
	height:22px;
	line-height:22px;
	text-align:center;
	border-left:1px #A4A2A3 solid;
}

.pagesNav
{
	line-height:5px;
}

.pagesNav .container
{
	padding-top:8px;
}

.pagesNav a:link, .pagesNav a:visited, .pagesNav a:active
{
	color:#999;
}

.pagesNav a:hover
{
	color:#7D1A1A;
}

.surveyNav
{
	margin:0;padding:0;
}

.surveyNav li
{
	margin:0;padding:0;
	display:inline;
}

.surveyNav li a:link, .surveyNav li a:visited, .surveyNav li a:active, .surveyNav li a:hover
{
	margin:0 4px 0 0;padding:0 10px;
	display:block;
	float:right;
	line-height:20px;
	color:#dfdfe0;
	text-decoration:none;
	text-transform:uppercase;
	/*border-left:1px #c3c3c5 solid;*/
	height:20px;
	font-size:11px;
}

.surveyNav li a:hover
{
	color:#fff;
}

#btnCancel1, #btnCancel2
{
	background:url(http://images.ecn5.com/images/red_01.jpg) top left repeat-x;
}


#btnSave1, #btnPrevious1, #btnSave2, #btnPrevious2
{
	background:url(http://images.ecn5.com/images/gray_01.jpg) top left repeat-x;
}

#btnNext1, #btnNext2
{
	background:url(http://images.ecn5.com/images/green_01.jpg) top left repeat-x;
}

.btnbgGray
{
	background:url(http://images.ecn5.com/images/gray_01.jpg) top left repeat-x;
}

.btnbgGreen
{
	background:url(http://images.ecn5.com/images/green_01.jpg) top left repeat-x;
}

.btnbgRed
{
	background:url(http://images.ecn5.com/images/red_01.jpg) top left repeat-x;
}


.addPage a:hover
{
	background:#717275;
	text-decoration:none;
	color:#fff;
	
}



.bottomBorder
{
	border-bottom:1px #A4A2A3 solid;
}

.qAndA
{
	border-right:1px #A4A2A3 solid;
	height:30px;
}

.survDefButtons a
{
	width:160px;
	height:73px;
	display:block;
	line-height:73px;
	text-indent:-50000px;
}

#createNewSurveyBtn
{
	background:url(http://images.ecn5.com/images/createNewSurvey.jpg) top left no-repeat;
}

#manageSurveysBtn
{
	background:url(http://images.ecn5.com/images/manageSurveys.jpg) top left no-repeat;
}

#manageImagesBtn
{
	background:url(http://images.ecn5.com/images/images.jpg) top left no-repeat;
}

.surveyPageBottomDef
{
	border:1px #e5e5e5 solid;
}

.surveyPageBottomSel
{
	border:3px #525051 solid;
}

.surveyPageHeadingDef td
{
	height:29px;
	background:url(http://images.ecn5.com/images/surTopDef_04.jpg) top left repeat-x;
}

.surveyPageHeadingSel td
{
	height:29px;
	background:url(http://images.ecn5.com/images/surTopBlk_04.jpg) top left repeat-x;
}

.surveyPageHeadingDef .left div
{
	background:url(http://images.ecn5.com/images/surTopDef_03.jpg) top left no-repeat;
	height:29px;
	text-indent:13px;
	line-height:29px;	
}

.surveyPageHeadingSel .left div
{
	background:url(http://images.ecn5.com/images/surTopBlk_03.jpg) top left no-repeat;
	height:29px;
	text-indent:13px;
	line-height:29px;
	color:#dfdfe0;	
}

.surveyPageHeadingDef .right div, .surveyPageHeadingSel .right div
{
	float:right;
}

.surveyPageHeadingDef .right .right
{
	background:url(http://images.ecn5.com/images/surTopDefRt_03.jpg) top right no-repeat;
	height:29px;
	width:100px;
}

.surveyPageHeadingSel .right .right
{
	background:url(http://images.ecn5.com/images/blk.jpg) top right no-repeat;
	height:29px;
}

.surveyPageHeadingDef .right .right, .surveyPageHeadingSel .right .right, .surveyPageHeadingDef .right .left, .surveyPageHeadingSel .right .left
{
	height:29px;
	line-height:29px;	
}


.surveyPageHeadingDef .right a:link, .surveyPageHeadingDef .right a:visited, .surveyPageHeadingDef .right a:active, .surveyPageHeadingDef .right a:hover 
{
	color:#333;
	text-decoration:none;
	width:100px;
	height:29px;
	display:block;
	text-align:center;
	font-weight:normal;
	border-left:1px #818181 solid;
}

.surveyPageHeadingDef .right .right a:link, .surveyPageHeadingDef .right .right a:visited, .surveyPageHeadingDef .right .right a:active
{
	background:url(http://images.ecn5.com/images/surveyPageButton.jpg) top right no-repeat;
}

.surveyPageHeadingDef .right .right a:hover
{
	background:url(http://images.ecn5.com/images/surveyPageButton.jpg) bottom right no-repeat;
	color:#fff;
}

.surveyPageHeadingDef .right .left a:link, .surveyPageHeadingDef .right .left a:visited, .surveyPageHeadingDef .right .left a:active 
{
	background:url(http://images.ecn5.com/images/surveyPageButton.jpg) top left no-repeat;
}

.surveyPageHeadingDef .right .left a:hover
{
	background:url(http://images.ecn5.com/images/surveyPageButton.jpg) bottom left no-repeat;
	color:#fff;
}


.homeButton a:link, .homeButton a:visited, .homeButton a:active, .homeButton a:link:hover
{
	display:block;
	width:135px;
	height:23px;
	line-height:23px;
	background:url(http://images.ecn5.com/images/wizButtonLeft.gif) top left no-repeat;
	color:#fff;
	text-align:center;
	text-decoration:none;
}

.homeButton a:link:hover
{
	background:url(http://images.ecn5.com/images/wizButtonLeft.gif) bottom left no-repeat;
}

.homeButton a:link span, .homeButton a:visited span, .homeButton a:active span, .homeButton a:link:hover span
{
	display:block;
	width:135px;
	height:23px;
	background:url(http://images.ecn5.com/images/wizButtonRight.gif) top right no-repeat;
}

.homeButton a:link:hover span
{
	background:url(http://images.ecn5.com/images/wizButtonRight.gif) bottom right no-repeat;
}

/* ++++++ LIGHT BUTTON ++++++ */
a.ltButton:link, a.ltButton:visited, a.ltButton:active, a.ltButton:hover
{
	height:21px;
	width:115px;
	display:block;
	background:url(http://images.ecn5.com/images/ltLeftRoll.gif) top left no-repeat;
	text-align:center;
	line-height:21px;
	text-decoration:none;
	cursor:pointer;
}

a.ltButton:hover
{
	background:url(http://images.ecn5.com/images/ltLeftRoll.gif) bottom left no-repeat;
}

a.ltButton:link span, a.ltButton:visited span, a.ltButton:active span, a.ltButton:hover span
{
	height:21px;
	display:block;
	background:url(http://images.ecn5.com/images/ltRightRoll.gif) top right no-repeat;
}

a.ltButton:hover span
{
	background:url(http://images.ecn5.com/images/ltRightRoll.gif) bottom right no-repeat;
}

/*+++++++++*/

.ltButtonSmall a:link, .ltButtonSmall a:visited, .ltButtonSmall a:active, .ltButtonSmall a:hover
{
	height:21px;
	width:75px;
	display:block;
	background:url(http://images.ecn5.com/images/ltLeftRollSmall.gif) top left no-repeat;
	text-align:center;
	line-height:21px;
	text-decoration:none;
	cursor:pointer;
}

.ltButtonSmall a:hover
{
	background:url(http://images.ecn5.com/images/ltLeftRollSmall.gif) bottom left no-repeat;
}

.ltButtonSmall a:link span, .ltButtonSmall a:visited span, .ltButtonSmall a:active span, .ltButtonSmall a:hover span
{
	height:21px;
	display:block;
	background:url(http://images.ecn5.com/images/ltRightRollSmall.gif) top right no-repeat;
}

.ltButtonSmall a:hover span
{
	background:url(http://images.ecn5.com/images/ltRightRollSmall.gif) bottom right no-repeat;
}

/* ++++++ LIGHT BUTTON ++++++ */

.survRepTabs a:link, .survRepTabs a:visited, .survRepTabs a:active, .survRepTabs a:hover/*,
a#lnkSurveyResults:link, a#lnkSurveyResults:visited, a#lnkSurveyResults:active, a#lnkSurveyResults:hover,
a#lnkToRespondents:link, a#lnkToRespondents:visited, a#lnkToRespondents:active, a#lnkToRespondents:hover*/ 
{
	height:24px;
	line-height:24px;
	display:block;
	background:url(http://images.ecn5.com/images/surRepTab.gif) top right no-repeat;
	text-align:center;
	text-decoration:none;
	cursor:pointer;
	overflow:hidden;
	margin:0 2px;
	font-weight:normal;
}

/* +++++++++ SELECTED STATE +++++++++++++ */
.survRepTabs a.selected:link, .survRepTabs a.selected:visited, .survRepTabs a.selected:active, .survRepTabs a.selected:hover
{	
	background:url(http://images.ecn5.com/images/surRepTabSel.gif) top right no-repeat;
}

.survRepTabs a.selected:hover
{	
	background:url(http://images.ecn5.com/images/surRepTabSel.gif) bottom right no-repeat;
}
/*++++++++++++++++++++++++++++++++++++++ */

.survRepTabs a:hover/*, a#lnkSurveyResults:hover, #lnkToRespondents:hover */
{
	
	background:url(http://images.ecn5.com/images/surRepTab.gif) bottom right no-repeat;
}

.survRepTabs a:link span, .survRepTabs a:visited span, .survRepTabs a:active span, .survRepTabs a:hover span/*, 
a#lnkSurveyResults:link span, a#lnkSurveyResults:visited span, a#lnkSurveyResults:active span, a#lnkSurveyResults:hover span,
#lnkToRespondents:link span, #lnkToRespondents:visited span, #lnkToRespondents:active span, #lnkToRespondents:hover span*/ 
{
	height:24px;
	display:block;
	overflow:hidden;
	background:url(http://images.ecn5.com/images/surRepTabLeft.gif) top left no-repeat;	
}

.survRepTabs a:hover span/*, a#lnkSurveyResults:hover span, #lnkToRespondents:hover span */
{
	background:url(http://images.ecn5.com/images/surRepTabLeft.gif) bottom left no-repeat;	
}

/* +++++++++ SELECTED STATE +++++++++++++ */
.survRepTabs a.selected:link span, .survRepTabs a.selected:visited span, .survRepTabs a.selected:active span, .survRepTabs a.selected:hover span
{	
	background:url(http://images.ecn5.com/images/surRepTabLeftSel.gif) top left no-repeat;
}

.survRepTabs a.selected:hover span
{	
	background:url(http://images.ecn5.com/images/surRepTabLeftSel.gif) bottom left no-repeat;
}/* +++++++++++++++++++++++++++++++++++++ */

survStepThree .top td a, .survStepThree td a.def, .survStepThree td a.def:hover, .survStepThree td a.sel
{
	display:block;
	width:154px;
	height:23px;
	/*border:1px #d7d9ca solid;*/
	border:1px #fff solid;
	line-height:23px;
	text-align:left;
	text-indent:22px;
	text-decoration:none;
}

.survStepThree td a.def
{
	background:url(http://images.ecn5.com/images/defStylesRoll.gif) 0 0 no-repeat;
	color:#000;
}

.survStepThree td a.def:hover
{
	background:url(http://images.ecn5.com/images/defStylesRoll.gif) 0 -23px no-repeat;
	color:#000;
}

.survStepThree td a.sel
{
	background:url(http://images.ecn5.com/images/defStylesRoll.gif) 0 -46px no-repeat;
	color:#fff;
}

.surveyStylesLabel
{
	padding-left:20px;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
}

#divSurveyStyles input, #divheaderfooter input, #divPageheaderdesc input, #divQuestionAnswer input, 
#divSurveyStyles select, #divheaderfooter select, #divPageheaderdesc select, #divQuestionAnswer select
{
	font-size:11px;
}

a.backtoRespond:link, a.backtoRespond:visited, a.backtoRespond:active, a.backtoRespond:hover
{
	font-size:13px;
	color:#ccc;
	font-weight:normal;
	text-decoration:underline;
}

a.backtoRespond:hover
{
	color:#fff;
}

.colorPallette
{
	position:relative;
	top:-4px;
	left:3px;
}

.dimTopLeft div
{
	background:url(http://images.ecn5.com/images/divs_03.gif) top Right no-repeat;
	width:30px;
	height:31px;
}

.dimTopCenter
{
	background:url(http://images.ecn5.com/images/divs_04.gif) top left repeat-x;
}

.dimTopCenter span, .dimTopCenter div
{
	color:#fff;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	height:31px;
	overflow:hidden;
	line-height:40px;
	display:block;
}

.dimTopRight
{
	background:url(http://images.ecn5.com/images/divs_05.gif) top left no-repeat;
}

.dimTopRight a
{
	width:53px;
	height:31px;
	display:block;
	text-indent:-50000px;
}

.dimMiddleLeft
{
	background:url(http://images.ecn5.com/images/divs_07.gif) top Right repeat-y;
}

.dimMiddleCenter
{
	background:#fff;
}

.overFlowDimmer
{
	max-height:350px;
	overflow:auto;
	background:#fff;
}

* html .overFlowDimmer
{
	height:350px;
}


.dimMiddleRight
{
	background:url(http://images.ecn5.com/images/divs_09.gif) top left repeat-y;
}

.dimMiddleRightGrey
{
	background:url(http://images.ecn5.com/images/divs_09_grey.gif) top left repeat-y;
}

.dimBottomLeft div
{
	background:url(http://images.ecn5.com/images/divs_10.gif) top Right no-repeat;
	height:31px;
}

.dimBottomCenter
{
	background:url(http://images.ecn5.com/images/divs_11.gif) top left repeat-x;
}

.dimBottomCenterGrey
{
	background:url(http://images.ecn5.com/images/divs_11_grey.gif) top left repeat-x;
	width:237px;
	height:31px;
}

.dimBottomRight div
{
	background:url(divs_12.gif) top left no-repeat;
	height:31px;
}

.dimBottomRightGrey div
{
	background:url(http://images.ecn5.com/images/divs_12_grey.gif) top left no-repeat;
	height:31px;
}

.dimmerTextbox
{
	width:230px;
	height:95px;
}

#divSurveyStyles tr, #divheaderfooter tr, #divPageheaderdesc tr, #divQuestionAnswer tr
{
	height:50px;
}

.survFormSize
{
	width:100px;
}

.reportCategory
{
	/*border-right:1px #A4A2A3 solid;*/
	font-weight:bold;
}

#bigHitCell a
{
	display:block;
	width:100%;
	height:100%;
	color:#000;
}

#bigHitCell a:link, #bigHitCell a:visited, #bigHitCell a:active
{
	text-decoration:none;
} 

.surveyQuestionsEdit:link, .surveyQuestionsEdit:visited, .surveyQuestionsEdit:active, .surveyQuestionsEdit:hover, 
.surveyQuestionsReorder:link, .surveyQuestionsReorder:visited, .surveyQuestionsReorder:active, .surveyQuestionsReorder:hover,
.surveyQuestionsDelete:link, .surveyQuestionsDelete:visited, .surveyQuestionsDelete:active, .surveyQuestionsDelete:hover
{
	display:block;
	height:20px;
	line-height:20px;
	border-left:1px #A4A2A3 solid;
	font-size:10px;
	color:#666;
	text-decoration:none;
}

.surveyQuestionsEdit:hover, 
.surveyQuestionsReorder:hover,
.surveyQuestionsDelete:hover
{
	color:#000;
}

.surveyQuestionsEdit, .surveyQuestionsDelete
{
	width:70px;
}

.surveyQuestionsReorder
{
	width:75px;
}


#bigHitCell a:hover
{
	color:#000;
	text-decoration:underline;
} 

.moveUp
{
	padding:0;margin:0; 
	position:relative; 
	top:-25px;
}

.pageLinks a:hover
{	
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	font-weight:normal;
	text-decoration:underline;
}
.pageLinks a.selected:link, .pageLinks a.selected:visited, .pageLinks a.selected:active, .pageLinks a.selected:hover
{
	font-weight:bold;
}

a:link, a:visited, a:active {
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
}



nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}


a:hover
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000;
	text-decoration: underline;
}
a.light
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
a.light:hover
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #E1CA82;
	text-decoration: none;
}
.tableHeader
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
}

.tableHeaderSmall
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #000000;
	background-color: Silver;
}
.tableContent
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	border-color: silver; 
}


a.tableContent
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: red;
	border-color: Silver;
}
.tableContentSmall
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #000000;
	border-color: Silver;
}
.footerContent
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
}
.formbutton
{
/*	border: #666666 1px solid;
	/*border-color:#FF9900 #AD8000 #AD8000 #FF9900;
	background-color: #D4D0C8; */
}
.formbuttonsmall
{
/*	border: #9999991px solid; */ 
	height: 20;
	font-size: 9px;
/*	border-color: #FF9900 #AD8000 #AD8000 #FF9900;*/
/*	background-color:none;*/  
}

.formfield select
{
	border:1px solid #999999;
}

select { 
/* font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;*/
 background-color: #ffffff; 
 color: #000000; 
 border: 1px solid #999999; 
}

#FolderType label
{
	margin-right:30px;
}

#FoldersList .first td
{
	background:url(http://images.ecn5.com/images/bgGradient.jpg) top left repeat-x;
	height:20px;
	font-weight: bolder;
}

#FoldersList .even td
{
	background-color: #ebebec;
}

#FoldersList .odd td
{
	/*background:#fff;*/
}

#topper
{
	background:#000 url(/ecn.accounts/images/topperLeft.gif) top left no-repeat;
	height:14px;
}

#ecnHtop a:link, #ecnHtop a:visited, #ecnHtop a:active
{
	color:#fff;
	text-decoration:none;
	font-weight:normal;
} 

#ecnHtop a:hover
{
	color:#dece93;
	text-decoration:none;
	font-weight:normal;
}

#headerLinkTab, #headerLinkTab a
{
	margin:0;padding:0;
}

#headerLinkTab a
{	 
	display:block;
	width:182px; 
	height:26px;
	overflow:hidden;
	color:#fff;
	text-align:center;
	line-height:2.4em;
	font-weight:normal;
	text-decoration:none;
	font-size:11px;
}

#headerLinkTab a:link, #headerLinkTab a:visited, #headerLinkTab a:active
{
	background:url(http://images.ecn5.com/images/headerButton.gif) top center no-repeat;
}

#headerLinkTab a:hover
{
	background:url(http://images.ecn5.com/images/headerButton.gif) top right no-repeat;
}

#topLinks
{	
	color:#666;
}

#topLinks a
{
	text-decoration:none;
	font-weight:normal;
}

#topLinks a:link, #topLinks a:visited, #topLinks a:active
{
	color:#666;
}

#topLinks a:hover
{
	color:#000;
}

.formfield
{
	border: #999999 solid 1px; 
	border-width: 1px 1px 1px 1px; 
	border-color: #999999 #999999 #999999 #999999            /*#AD8000 #FF9900 #FF9900 #AD8000;*/
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
}
.formfield select
{
	border: #999999 1px solid;
}
	
.headerImage
{
	position:relative;
	top:3px;
}

.whiteBG
{
	background-color:#ffffff;
}

.formfield iframe
{
	border: solid;
	border-width: 2px 1px 1px 2px;
	border-color: #716F64 #F1EFE2 #F1EFE2 #716F64                 /*#AD8000 #FF9900 #FF9900 #AD8000;*/
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
}

.formtextfield
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
}
.formtextfieldsmall
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 9px;
}
.countTableContent
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	background-color: #F1DA92;
}
.tableHeader1
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color:Gray;
	padding:2px,0px,2px,0px;
	height:20px;
}

.capitalize
{
	text-transform:uppercase;
}

.alert
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 13px;
	font-style: italic;
	font-weight: bold;
	color: #CC0000;
}
.tableContentAlt1
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #FCF8E9;
}
.tableContentAlt2
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}

.noUnderline a:hover
{
	text-decoration:none;
}

/*#FilterPanel
{
	display:inline;
}*/

#capacityContainer
{	
	width:224px;
	height:12px;
	text-align:left;
	background: url(http://images.ecn5.com/images/capacityContainer.gif) top left no-repeat;
	margin:5px 0 0 0;
}

#capacityBar
{
	height:12px;
	background: url(http://images.ecn5.com/images/capacityBar.gif) top left repeat-x;
}

#errorTop
{
	background:url(http://images.ecn5.com/images/errorRed_01.gif) top center no-repeat; 
	width:674px; 
	height:9px;
}

#errorMiddle
{
	background:url(http://images.ecn5.com/images/errorRed_02.gif) top center repeat-y;
}

#errorMiddle table
{
	margin: 0 15px 0 0; 
	font: bold 12px Arial, Helvetica, sans-serif; 
	color: #a40000
}

#errorBottom
{
	background:url(http://images.ecn5.com/images/errorRed_03.gif) top center no-repeat; 
	width:674px; 
	height:10px;
}

#successTop
{
	BACKGROUND: url(http://images.ecn5.com/images/successGreen_01.gif) no-repeat center top; 
	WIDTH: 674px; 
	HEIGHT: 9px;
}

#successMiddle
{
	BACKGROUND: url(http://images.ecn5.com/images/successGreen_02.gif) repeat-y center top;
}

#successMiddle table
{
	MARGIN: 0px 15px 0px 0px; 
	FONT: bold 12px Arial, Helvetica, sans-serif; 
	COLOR: #05b835; 
}

#successBottom
{
	BACKGROUND: url(http://images.ecn5.com/images/successGreen_03.gif) no-repeat center top; 
	WIDTH: 674px; 
	HEIGHT: 10px;
}

.sevenSeventyFive
{
	width:700px;
}

.errormsg
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FF0000;
	background-color: #FFFFFF;
}

.smallBold
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: Navy;
	background-color: #D6DFE7;
}
a.sidehighlight
{
	font-weight: bold;
}
a.footerlinks
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #EE8800;
	text-decoration: none;
}
a.footerlinks:hover
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #EE8800;
	text-decoration: none;
}
.sectionHeader
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	background-color: #99CCFF;
}
.subSectionHeader
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	background-color: #CCFFFF;
}

.survMarginLabel
{
	width:48px;
	/*display:block;
	float:left;*/
	text-align:right;
	position:relative;
	/*top:5px; left:-4px;*/
}


.survMarginFeild
{
	width:25px;
	/*display:block;
	float:left;*/
}

.marginContainer
{
	height:75px;
	width:153px;
	position:relative;
}

.marginContainer div
{
	text-align:right;
	position:absolute;
	width:85px;	
}


.marginTop
{
	top:0px;
	right:51px;
}

.marginLeft
{
	top:25px;
	right:90px;
}

.marginRight
{
	top:25px;
	right:10px;
}

.marginBottom
{
	top:50px;
	right:51px;
}

.survStyleAltRow
{
	background:#f4f4f4;
}

.surveyDropDowns
{
	width:62px;
}

.subMenu
{
	background-color:#7893A1;
}
.PageTitle
{
	font-weight: bold;
	font-size: 13px;
	color:#666;
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	padding:5px 0px 5px 25px;
	background-color: #FFFFFF;
}

.Page_Title
{
	font-weight: bold;
	font-size: 13px;
	color:#666;
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	padding: 5px 0px 5px 0px;
	background-color: #FFFFFF;
}

.PanelTitle
{
	font-weight: bold;
	font-size: 13px;
	color: #000000;
	border-bottom: #ee8800 1px solid;
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	background-color: lightgrey;
}
TABLE.Panel
{
	border-right: #ee8800 1px solid;
	border-top: #ee8800 1px solid;
	font-size: 13px;
	border-left: #ee8800 1px solid;
	color: #000000;
	border-bottom: #ee8800 1px solid;
	font-family: Arial, Verdana,  Helvetica, sans-serif;
}

.shadeLeft
{
	background:#d3d3d3 url(http://images.ecn5.com/images/shade_left.jpg) top right repeat-y;
}

.shadeRight
{
	background:#d3d3d3 url(http://images.ecn5.com/images/shade_right.jpg) top left repeat-y;
}

.bar
{
	background:#5C5D5F url(http://images.ecn5.com/images/bar.jpg) top left repeat-x;
}

.footerShade
{
	background:#d3d3d3 url(http://images.ecn5.com/images/shade_bottom_07.jpg) top center no-repeat;
}

.SubPanelTitle
{
	font-weight: bold;
	font-size: 13px;
	color: #000000;
	border-bottom: black 1px solid;
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	background-color: #fcf8e9;
}
TABLE.SubPanel
{
	border-right: black 1px solid;
	border-top: black 1px solid;
	font-size: 13px;
	border-left: black 1px solid;
	color: #000000;
	border-bottom: black 1px solid;
	font-family: Arial, Verdana,  Helvetica, sans-serif;
}
TD.Title
{
	border-top: black 1px solid;
	border-bottom: black 1px solid;
}
.CustomerCreditItem
{
	color: red;
	text-decoration: line-through;
}

/* copied from Header */
			/* CSS Document */
			a.footer_link:link, a.footer_link:visited, a.footer_link:active {
				color: #FFFFFF;
				font-size:7pt;
				font-weight:bold;
				text-decoration: none;
			}
			
			a.footer_link:hover	{ 
				color: #D4B063;
				font-size:7pt;
				font-weight:bold;
				text-decoration: none;
			}
			
			.pipes
			{
				color:#000000;
			}
		
			a.logoff_link:link, a.logoff_link:visited, a.logoff_link:active,
			a.help_link:link, a.help_link:visited, a.help_link:active {
				color:#ffffff;
				font-size:8pt;
				font-weight:bold;
				text-decoration: none;
				padding:5px,0px,5px,0px;
				vertical-align:middle;
				font-family: Arial, Verdana, Helvetica, sans-serif;
			}
			
			a.logoff_link:hover, a.help_link:hover	{ 
				color: #EFD999;
				font-size:8pt;
				text-decoration: none;
				vertical-align:middle;
				padding:5px,0px,5px,0px;
				font-family: Arial, Verdana, Helvetica, sans-serif;
				font-weight: bold;
			}
			
			span.logged_in {
				color: #7893A1;
				font-size: 9pt;
				text-decoration: none;
				padding:5px,0px,5px,0px;
				font-family: Arial, Verdana, Helvetica, sans-serif;
				font-weight: bold;
				vertical-align:middle;
			}
			
			span.current_user {
				color: #EFD999;
				font-size: 8pt;
				text-decoration: none;
				padding:5px,0px,5px,0px;
				font-family: Arial, Verdana, Helvetica, sans-serif;
				vertical-align:middle;
			}
			
			span.helpbox_title {
				color: #FFFFFF;
				font-size: 10pt;
				font-family: Arial, Verdana, Helvetica, sans-serif;
				font-weight: bold;
			}
			
			span.helpbox_content {
				color: #FFFFFF;
				font-size: 10pt;
				font-family: Arial, Verdana, Helvetica, sans-serif;
			}
			
			span.login {
				font-family: Arial, Verdana, Helvetica, sans-serif;
				font-size:8pt;
				color: #FFFFFF;
				font-weight: bold;
			}
			
			span.main_menu {
				font-size: 10pt;
				font-family: Arial, Verdana, Helvetica, sans-serif;
				color: #FFFFFF;
			}
			
			span.main_menu.a:link, span.main_menu.a:visited, span.main_menu.a:active {
				color: #FFFFFF;
				font-size:10pt;
				font-weight:bold;
				text-decoration: none;
			}
			
			span.main_menu.a:hover { 
				color: #D4B063;
				font-size:10pt;
				font-weight:bold;
				text-decoration: none;
			}	
			
			body {
				color: #333333;
				font-size:10px;
				text-decoration: none;
				font-family: Arial, Verdana, Helvetica, sans-serif;
			}

                        span.bulk {
				color: #333333;
				font-size:10pt;
				text-decoration: none;
				font-family: Arial, Verdana, Helvetica, sans-serif;
			}
			
			span.tinytext {
				font-size:7pt;
				color: #FFFFFF;
				text-decoration: none;
				font-family: Arial, Verdana, Helvetica, sans-serif;
			}
			
			span.smalltext {
				font-size: 8pt;
				color: #FFFFFF;
				text-decoration: none;
				font-family: Arial, Verdana, Helvetica, sans-serif;
			}
			
			span.whitetext{
				color: #FFFFFF;
				font-size:10pt;
				text-decoration: none;
				font-family: Arial, Verdana, Helvetica, sans-serif;
			}
/* Menu */

/* a.menu
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 8px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-transform:uppercase;
	vertical-align:middle;
}

a.menu:link, a.menu:visited, a.menu:active {
	color: #FFFFFF;
	font-size:8pt;
	font-weight:bold;
	text-decoration: none;
	vertical-align:middle;
}

a.menu:hover	{ 
	color: #EFD999;
	font-size:8pt;
	font-weight:bold;
	text-decoration: none;
	vertical-align:middle;
}

a.menufooter
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 8px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	vertical-align:middle;
}

a.menufooter:link, a.menufooter:visited, a.menufooter:active {
	color: #FFFFFF;
	font-size:8pt;
	font-weight:bold;
	text-decoration: none;
}

a.menufooter:hover	{ 
	color: #EFD999;
	font-size:8pt;
	font-weight:bold;
	text-decoration: none;
}


a.menu1
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 8px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	text-transform:uppercase;
	vertical-align:middle;
}

a.menu1:link, a.menu1:visited, a.menu1:active {
	color: #000000;
	font-size:8pt;
	font-weight:bold;
	text-decoration: none;
}

a.menu1:hover	{ 
	color: #EFD999;
	font-size:8pt;
	font-weight:bold;
	text-decoration: none;
}


a.menu2
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 8px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	text-transform:uppercase;
	vertical-align:middle;
	padding:0px,2px,0px,2px;
}

a.menu2:hover
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 8px;
	padding:0px,2px,0px,2px;
	font-weight: bold;
	color: #EFD999;
	text-decoration: none;
}
			
a.menu2:link, a.menu2:visited, a.menu2:active, a.menu2:hover { 
	color: #EFD999;
	padding:0px,2px,0px,2px;
	font-size:8pt;
	font-weight:bold;
	text-decoration: none;
}*/

      
.MenuClass ul li ul
{
    display: none;
}
        
.MenuClass ul li
{
    position: relative;
    float: left;
    list-style: none;
}
        
.MenuClass a.static
{
    font-family: Arial, Verdana, Helvetica, sans-serif;
    padding: 5px 5px 5px 5px !important;
    font-size: 8pt;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}
        
.MenuClass a.static.selected
{
    color: #EFD999 !important;
}
        
.MenuClass a.static.highlighted
{
    color: #EFD999 !important;
}
        
.MenuClass a.dynamic.selected
{
    color: #EFD999 !important;
}
        
.MenuClass a.dynamic.highlighted
{
    color: #EFD999 !important;
}
        
.MenuSubClass ul li ul
{
    display: none;
}
        
.MenuSubClass ul li
{
    position: relative;
    float: left;
    list-style: none;
}
        
.MenuSubClass a.static
{
    font-family: Arial, Verdana, Helvetica, sans-serif;
    padding: 5px 5px 5px 5px !important;
    font-size: 8pt;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}
        
.MenuSubClass a.static.selected
{
    color: #EFD999 !important;
}
        
.MenuSubClass a.static.highlighted
{
    color: #EFD999 !important;
}
        
.MenuSubClass a.dynamic.selected
{
    color: #EFD999 !important;
}
        
.MenuSubClass a.dynamic.highlighted
{
    color: #EFD999 !important;
}			
     
a.box_text:link, a.box_text:visited, a.box_text:Active
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color: #ffffff;
	text-decoration: none;
}

a.box_text
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color: gray;
	text-decoration: none;
}

a.box_text:hover
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration: none;
	color: #CFBB77;
}

a.linkGold:link, a.linkGold:visited, a.linkGold:Active
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;
	color: #EFD999;
	text-decoration: none;
}

a.linkGold
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;
	color: EFD999;
	text-decoration: none;
}

a.linkGold:hover
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;
	text-decoration: none;
	color: #ffffff;
}

.folderLevelOne
{
	text-indent:12px;
}

.folderLevelTwo
{
	text-indent:24px;
}

.folderLevelThree
{
	text-indent:36px;
}

/* ++++++++++++++++++++++++++++++++++++++++++++
				BLACK BUTTON CLASS
+++++++++++++++++++++++++++++++++++++++++++++++
*/

.blackBtn
{
	margin:0;padding:0;
}

.blackBtn a
{
	margin:0;padding:0 0 0 5px;
	display:block;
	height:23px;
	overflow:hidden;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:2em;
	text-align:center;
	text-indent:0px;
}

.blackBtn a:link, .blackBtn a:visited, .blackBtn a:active
{
	background:url(http://images.ecn5.com/images/buttonLeft.gif) bottom left no-repeat;	
	color:#fff;
	text-decoration:none;
	font-weight:normal;	
}

.blackBtn a:hover
{
	background:url(http://images.ecn5.com/images/buttonLeft.gif) top left no-repeat;
	color:#fff;
	text-decoration:none;
	font-weight:normal;
}

.blackBtn a span
{
	margin:0;padding:0 5px 0 0;
	display:block;
	height:23px;
	overflow:hidden;
}

.blackBtn a:link span, .blackBtn a:visited span, .blackBtn a:active span
{
	background:url(http://images.ecn5.com/images/buttonRight.gif) bottom right no-repeat;	
}
 
.blackBtn a:hover span
{
	background:url(http://images.ecn5.com/images/buttonRight.gif) top right no-repeat;	
}

/* ++++++++++++++++++++++++++++++++++++++++++++
				BLACK TAB CLASS
+++++++++++++++++++++++++++++++++++++++++++++++
*/
.blackTab
{
	margin:0;padding:0;
}

.blackTab a
{
	margin:0;padding:0 0 0 5px;
	display:block;
	height:22px;
	overflow:hidden;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	line-height:2em;
	text-align:center;
}

.blackTab a:link, .blackTab a:visited, .blackTab a:active
{
	background:url(http://images.ecn5.com/images/tabLeftT.gif) bottom left no-repeat;
	color:#fff;
	text-decoration:none;
	font-weight:normal;
}

.blackTab a:hover
{
	background:url(http://images.ecn5.com/images/tabLeftT.gif) top left no-repeat;
	color:#fff;
	text-decoration:none;
	font-weight:normal;
}

.blackTab a span
{
	margin:0;padding:0 5px 0 0;
	display:block;
	height:22px;
	overflow:hidden;
}

.blackTab a:link span, .blackTab a:visited span, .blackTab a:active span
{
	background:url(http://images.ecn5.com/images/tabRightT.gif) bottom right no-repeat;
}
 
.blackTab a:hover span
{
	background:url(http://images.ecn5.com/images/tabRightT.gif) top right no-repeat;	
}
/* ++++++++++++++++++++++++++++++++++++++++++++*/

.moveImg
{
	position:relative;
	left:20px;
}

.moveImgTwo
{
	position:relative;
	left:23px;
	top:-2px;
}

.moveImgThree
{
	position:relative;
	left:23px;
	top:2px;
}

#helpBox
{
	width:400px;
	height:125px;
	overflow:auto;
}

.label
{
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-weight:normal;
}

.labelsmall
{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-weight:normal;
}

.label10
{
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-weight:normal;
}

.heading
{
	font-size:12px;
	text-transform:uppercase;
	color:#999999;
}

.greenBack
{	
	padding:0 5px 0 5px;
	background-color:#00CC00;
	color:#ffffff;
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;	
}


/*help window floating*/



.toplefthelp
{
	background-image:url(http://images.ecn5.com/images/helptop_01.gif);
	background-repeat:no-repeat;
	width:324px;
	height:29px;
}



.toprighthelp
{
	width:28px; 
	height:29;
}

.helpbottom
{
	background-image:url(http://images.ecn5.com/images/helpbottom_03.gif);
	background-repeat:no-repeat;
	height:351px;
	width:352px;
	padding-top:5px;
}

#helpScroll
{
	width:340px;
	height:300px;
	overflow:auto;
	text-align:left;
	margin:3px 2px 0px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
}

.note
{
	color:#C9545A;
}

#previewLbltext_previewLbl
{
	background:#fff;
	border:1px #999 solid;
	width:700px;
	text-align:left;
	display:block;
	margin:0 auto;
	overflow-x:auto;
}

.helpHeading
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#999999;
	text-align:left;
	padding-left:30px;
	text-transform:uppercase;
	font-weight:bold;
}

.scrollMargin
{
	margin:5px 5px 5px 5px; 
}

.helpSubHead
{
	font-size:12px; 
	font-weight:bold;
}

/* Grid Style - sunil - channel report*/

.grd_row_header
{
	/*border-right: #000366 1px solid;
	border-top: #afc4d5 1px solid;
	border-left: #afc4d5 1px solid;
	border-bottom: #000366 1px solid;*/
	padding:2px 2px 2px 4px;
	font-size: 11px;
	margin-left: 2px;
	vertical-align: middle;
	text-transform: capitalize;
	line-height: 110%;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
}

.grd_content
{
	padding-right: 2px;
	padding-left: 8px;
	font-size: 11px;
	padding-bottom: 2px;
	vertical-align: top;
	padding-top: 2px;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	text-align: left;
}

TD.grd_row_header
{
	font-weight: bolder;
	/*background-image:url(cell_background_1.gif);*/
	background:#BFC0C2 url(http://images.ecn5.com/images/bgGradient.jpg) 0 -1px repeat-x;
	/*color: white;*/
	color:#333;
}

TD.grd_alternate
{
	/*background-color: #dde4e8;*/
	background-color: #ebebec;
}

/* Data Grid CSS */

/*.grid*/
{
	font-size: 11px;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	border: solid 2px #dde4e8;
}

.grid, .gridWizard, .girdWizardNoBorder
{
	font-size: 11px;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	/*background-color:#fff;*/
}

.grid, .gridWizard 
{
	border: solid 1px #A4A2A3;
}


.grid td, .gridWizard td
{
	border:1px #A4A2A3 solid;
}

.grid td td, .gridWizard td td
{
	border:none;
}

/*.grid td {padding: 3px 3px 3px 5px;}
.grid A:link, .grid  A:visited, .grid  A:active {font-family:arial; font-size: 11px; COLOR: black; text-decoration:underline;padding:2px 0px 0px 0px;}
.grid A:hover  {font-family:arial; font-size: 11px; COLOR: gold; text-decoration: underline;padding:2px 0px 0px 0px;}*/

.grid td, .gridWizard td, .girdWizardNoBorder td {padding: 3px 3px 3px 5px;}

.grid a:link, .grid  a:visited, .grid  a:active, .grid a:hover,
.gridWizard a:link, .gridWizard  a:visited, .gridWizard  a:active, .gridWizard a:hover,  
.girdWizardNoBorder a:link, .girdWizardNoBorder  a:visited, .girdWizardNoBorder  a:active, .girdWizardNoBorder a:hover   
{
	font-family:arial; 
	font-size: 11px; 
	COLOR: #333; 
	text-decoration:underline;
	padding:2px 0px 0px 0px;
	font-weight:normal;
}

.grid a:hover, .gridWizard a:hover, girdWizardNoBorder a:hover  
{
	COLOR:#000; 
	text-decoration: none;
}



/*tr.gridheader
{
	font-weight: bolder;
	text-transform: capitalize;
	font-size: 11px;
	height: 20px;
	vertical-align: middle;
	text-transform:uppercase;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	background-image: url(cell_background_1.gif);
	color: white;
	text-decoration: none;
}*/

tr.gridheader, tr.gridheaderWizard
{
	font-weight: bolder;
	font-size: 11px;
	height: 20px;
	vertical-align: middle;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	background:#BFC0C2 url(http://images.ecn5.com/images/bgGradient.jpg) 0 -1px repeat-x;
	color: #333;
	text-decoration: none;
}

/*
.grid .selected
{
	background:#ffbf00;
}

tr.gridheader A:link, tr.gridheader  A:visited, tr.gridheader A:active, tr.gridheader A:hover {
	font-weight: bolder;
	font-family:arial; 
	font-size: 11px; 
	COLOR: white; 
	text-decoration: underline;
	padding:2px 0px 0px 0px;
}

tr.gridheader A:hover  {
	COLOR: gold;
}*/

tr.gridheader A:link, tr.gridheader  A:visited, tr.gridheader A:active, tr.gridheader A:hover,
tr.gridheaderWizard A:link, tr.gridheaderWizard  A:visited, tr.gridheaderWizard A:active, tr.gridheaderWizard A:hover {
	font-weight: bolder;
	font-family:arial; 
	font-size: 11px; 
	COLOR: #333; 
	text-decoration: underline;
	padding:2px 0px 0px 0px;
}

tr.gridheader A:hover, tr.gridheaderWizard A:hover  {
	COLOR: #000; 
}

/*tr.gridaltrow
{
	background-color: #dde4e8;
}*/

tr.gridaltrow, tr.gridaltrowWizard
{
	background-color: #ebebec;
}

.grid .selected, .gridWizard .selected
{
	background:#ffbf00;
}


tr.gridaltrowwhite, tr.gridaltrowwhiteWizard
{
	background-color: #ffffff;
}


/*.gridpager
{
	font-size: 11px;
	height: 20px;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
}

.gridpager A:link, .gridpager  A:visited, .gridpager  A:active, .gridpager A:hover {
	font-weight: normal;
	font-family:arial; 
	font-size: 10px; 
	COLOR: black; 
	text-decoration: none;
	padding:2px 0px 0px 0px;
}

.gridpager A:hover  {
	COLOR: red; 
	text-decoration: underline;
}*/

.gridpager, .gridpagerWizard
{
	font-size: 11px;
	height: 20px;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-weight:normal;
}

.gridpagerWizard A:link, .gridpager  A:visited, .gridpager  A:active, .gridpagerWizard A:hover,
.gridpager A:link, .gridpager  A:visited, .gridpager  A:active, .gridpager A:hover {
	font-weight: normal;
	font-family:arial; 
	font-size: 11px; 
	COLOR:#333; 
	text-decoration: none;
	padding:2px 0px 0px 0px;
}

.gridpager A:hover, .gridpagerWizard A:hover  {
	COLOR:#000; 
	text-decoration: underline;
}

/*#maingallery_PanelTabs a:link, #maingallery_PanelTabs a:visited, #maingallery_PanelTabs a:active, #maingallery_PanelTabsBottom a:link, #maingallery_PanelTabsBottom a:visited, #maingallery_PanelTabsBottom a:active
{
	color:#666;
	text-decoration:none;
}

#maingallery_PanelTabs a:hover, #maingallery_PanelTabsBottom a:hover
{
	color:#000;
	text-decoration:none;	
}*/

.PageView {BORDER-RIGHT: #a38e6b 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #a38e6b 6px solid; BORDER-LEFT: #a38e6b 1px solid; BORDER-BOTTOM: #a38e6b 1px solid; BACKGROUND-COLOR: #f5f5f5;}

/* ECN Turbo CSS */

.ninetyPerc
{
	width:95%;
}

.bubble div
{
	background:#fff url(http://images.ecn5.com/images/questionCap_01.gif) bottom left no-repeat;
	width:48px;
	height:8px;
}

td.bubble
{
	background:url(http://images.ecn5.com/images/questionCap_02.gif) top left repeat-y;
}


.wizTabs a:link, .wizTabs a:visited, .wizTabs a:active, .wizTabs a:hover{	
	font:normal 11px/35px Arial, Helvetica, sans-serif;
	text-decoration:none;
	display:block;
	float:left;
	width:120px;
	height:29px;
	overflow:hidden;
	text-align:center;
	color:#fff;
	background:url(http://images.ecn5.com/images/wizTabRoll.jpg) top left no-repeat;
}	

.wizTabs a:hover{
	background:url(http://images.ecn5.com/images/wizTabRoll.jpg) 0 -29px no-repeat;
}

.wizTabs a.selected:link, .wizTabs a.selected:visited, .wizTabs a.selected:active, .wizTabs a.selected:hover 
{
	color:Orange;
	font:bold 11px/35px Arial, Helvetica, sans-serif;
	background:url(http://images.ecn5.com/images/wizTabRoll.jpg) 0 -58px no-repeat;
}

.wizTabsSub a:link, .wizTabsSub a:visited, .wizTabsSub a:active, .wizTabsSub a:hover {	
	font:normal 10px/24px Arial, Helvetica, sans-serif;
	text-decoration:none;
	display:block;
	float:left;
	width:120px;
	height:21px;
	overflow:hidden;
	text-align:center;
	color:#fff;
	background:url(http://images.ecn5.com/images/wizTabRollSub.jpg) top left no-repeat;
}	

.wizTabsSub a:hover{
	background:url(http://images.ecn5.com/images/wizTabRollSub.jpg) 0 -22px no-repeat;
}

.wizTabsSub a.selected:link, .wizTabsSub a.selected:visited, .wizTabsSub a.selected:active, .wizTabsSub a.selected:hover 
{
	font:bold 10px/24px Arial, Helvetica, sans-serif;	
	color:Orange;
	background:url(http://images.ecn5.com/images/wizTabRollSub.jpg) 0 -43px no-repeat;
}


.newTabsSub .ajax__tab_header {	
	font:normal 10px/22px Arial, Helvetica, sans-serif;width:120px;height:22px;	text-align:center;color:#FFF;
}
.newTabsSub .ajax__tab_outer {	font:normal 10px/22px Arial, Helvetica, sans-serif;padding-right:1px;WIDTH:120px; height:22px;background:url(http://images.ecn5.com/images/wizTabRollSub.jpg) top left no-repeat;}
.newTabsSub .ajax__tab_inner {	font:normal 10px/22px Arial, Helvetica, sans-serif;padding-left:1px;WIDTH:120px; 	height:22px;background:url(http://images.ecn5.com/images/wizTabRollSub.jpg) top left no-repeat;}
.newTabsSub ajax__tab_tab {	
	font:normal 10px/22px Arial, Helvetica, sans-serif;
	text-decoration:none;
	width:120px;
	height:22px;
	text-align:center;
	color:#fff;
	background:url(http://images.ecn5.com/images/wizTabRollSub.jpg) top left no-repeat;
}

.newTabsSub .ajax__tab_hover .ajax__tab_outer{}
.newTabsSub .ajax__tab_hover .ajax__tab_inner{
	font:normal 10px/22px Arial, Helvetica, sans-serif;
	color:white;
	width:120px;
	height:22px;
	background:url(wizTabRollSub.jpg) 0 -22px no-repeat;
}
.newTabsSub .ajax__tab_hover .ajax__tab_tab{}

.newTabsSub .ajax__tab_active .ajax__tab_outer{}
.newTabsSub .ajax__tab_active .ajax__tab_inner{
	font:bold 10px/22px Arial, Helvetica, sans-serif;	
	color:Orange;
	width:120px;
	height:22px;
	background:url(http://images.ecn5.com/images/wizTabRollSub.jpg) 0 -43px no-repeat;
}
.newTabsSub .ajax__tab_active .ajax__tab_tab{}

.newTabsSub .ajax__tab_body {
	font-family:Arial, Helvetica, sans-serif;font-size:10pt;border:1px solid #999999;padding:8px;background-color:#ffffff;
}
	
	
.gradient
{
	background:url(http://images.ecn5.com/images/bgGradient.jpg) top left repeat-x; 
	height:28px;
	border:1px #A4A2A3 solid;
}

.gradientTwo
{
	background:url(http://images.ecn5.com/images/gradient2.gif) top left repeat-x; 
	height:22px;
	border:1px #A4A2A3 solid;
}

/* +++++ GREY SIDES ++++++ */
.greyOutSide
{
	border-left:#F9F9F9;
	border-right:#F9F9F9;
}

.greyOutSideB
{
	border-left:#F9F9F9;
	border-right:#F9F9F9;
	
	border-bottom:#F9F9F9;
}

.greySides
{
	border-left:1px #A4A2A3 solid;
	border-right:1px #A4A2A3 solid;
}

.greySidesB
{
	border-left:1px #A4A2A3 solid;
	border-right:1px #A4A2A3 solid;
	border-bottom:1px #A4A2A3 solid;
}

.greySidesLt
{
	border-left:1px #e5e5e5 solid;
	border-right:1px #e5e5e5 solid;
}

.greySidesLtB
{
	border-left:1px #e5e5e5 solid;
	border-right:1px #e5e5e5 solid;
	border-bottom:1px #e5e5e5 solid;
}
/* +++ END GREY SIDES ++++ */

.steps
{
	height:45px;
}

#campHome
{
	margin:0 0 0 50px;
}

.padTop
{
	padding-top:10px;
}

.iconPad img
{
	padding:10px 10px 0 10px;
	display:block;
}

.buttonPad img
{
	padding:0 5px;
}

.buttonPad input
{
	margin:2px 3px 0 5px;
}


.buttonPad2
{
	padding:0 5% 0 0;
}

.offWhite
{
	background-color:#f9f9f9;
}

.selectBox
{
	width:200px;
}

#turbo
{
	text-transform:uppercase;
	font-style:italic;
}

#comTurbo, #comTurboSub
{
	font-size:14px;
	padding:0; margin:3px 0;
}

#comTurboSub
{
	margin-bottom:15px;
}

#comTurboSub
{
	color:#999;
}

.section
{
	width:95%;
	padding:15px 0;
	border-bottom:2px #fff solid;
}

.bottomDiv
{
	border:none;
}

.calenderImg
{
	padding:0 10px;
	margin:0 0 -5px 0;
}

.previewTextBox
{
	text-align:center;
}

.previewTextBox textarea
{
	text-align:left;
	margin:15px auto;
	display:block;
	width:90%;
	height:200px;
}

#padTen
{
	padding:0 10px;
}

.upCase
{
	text-transform:uppercase;
}

.section table tr td
{
	padding:5px 0;
}

.formTextBox
{
	width:300px;
}

.wizFormBox
{
	width:250px;
}

.day
{
	width:30px;
}

.month
{
	width:80px;
}
.year
{
	width:50px;
}

/* PUT THIS CLASS OUTSIDE OF A DIV YOU WANT CENTERED */
.center
{
	text-align:center;
}

.center div
{
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}

/* +++++++++++++++++ END CENTER CLASS ++++++++++++ */


/* +++++++++ GREY NUMBERS +++++++++++ */
#step1Grey
{
	background:url(http://images.ecn5.com/images/oneGrey.gif) top center no-repeat;
}

#step2Grey
{
	background:url(http://images.ecn5.com/images/twoGrey.gif) top center no-repeat;
}

#step3Grey
{
	background:url(http://images.ecn5.com/images/threeGrey.gif) top center no-repeat;
}


#step4Grey
{
	background:url(http://images.ecn5.com/images/fourGrey.gif) top center no-repeat;
}

#step5Grey
{
	background:url(http://images.ecn5.com/images/fiveGrey.gif) top center no-repeat;
}

/* ++++++++++++ END GREY NUMBERS ++++++++++++ */


/* +++++++++ GREEEN NUMBERS +++++++++++ */
#step1Green
{
	background:url(http://images.ecn5.com/images/oneGreen.gif) top center no-repeat;
}

#step2Green
{
	background:url(http://images.ecn5.com/images/twoGreen.gif) top center no-repeat;
}

#step3Green
{
	background:url(http://images.ecn5.com/images/threeGreen.gif) top center no-repeat;
}


#step4Green
{
	background:url(http://images.ecn5.com/images/fourGreen.gif) top center no-repeat;
}

#step5Green
{
	background:url(http://images.ecn5.com/images/fiveGreen.gif) top center no-repeat;
}

/* ++++++++++++ END GREEN NUMBERS ++++++++++++ */


/*+++++++++++++ TAB NAVIGATION +++++++++++++*/
.tabNav a:link, .tabNav a:visited, .tabNav a:active, .tabNav a:hover, .tabNav a:disabled
{
	display:block;
	margin:0; padding:0;
	width:143px;
	height:29px;
	overflow:hidden;
	text-align:center;
	color:#000;
	font-weight:bold;
	text-decoration:none;
	vertical-align:middle;
	line-height:2.2em;
}

.tabNav a:link, .tabNav a:visited, .tabNav a:active, .tabNav a:disabled
{
	background:url(http://images.ecn5.com/images/tab.jpg) top right;
}


.tabNav a:hover, .tabNav a.selected:link, .tabNav a.selected:visited, .tabNav a.selected:active, .tabNav a.selected:disabled 
{
                background:url(http://images.ecn5.com/images/tab.jpg) top left;
                color:#fff;
}

/* ++++++++++++++++ END TABS +++++++++++++*/



/* +++++++ clearFix Hack +++++++++++ */

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


.baryellow
{
	background:url(http://images.ecn5.com/images/yellow_02.jpg) top left repeat-x;
}

.barblue
{
	background:url(http://images.ecn5.com/images/blue_02.jpg) top left repeat-x;
}

.bargreen
{
	background:url(http://images.ecn5.com/images/green_02.jpg) top left repeat-x;
}

.barred
{
	background:url(http://images.ecn5.com/images/red_02.jpg) top left repeat-x;
}

.barteal
{
	background:url(http://images.ecn5.com/images/teal_02.jpg) top left repeat-x;
}


.plainTextMessage{font-family: "Bitstream Vera Sans Mono", monaco, "Courier New", courier, monospace; FONT-SIZE:12px; font-weight: normal; color: #000; background: url(http://images.ecn5.com/images/plainTextMsgTxtAreaBG.gif) repeat-y; border: 1px solid #7F9DB9;}


        .ajax__tab_xp.ajax__tab_header
        {
            font-family: verdana,tahoma,helvetica;
            font-size: 11px;
            background: url("../images/tabs/tab-line.gif") repeat-x bottom;
        }
        .ajax__tab_xp.ajax__tab_header .ajax__tab_outer
        {
            padding-right: 4px;
            background: url("../images/tabs/tab-right.gif") no-repeat right bottom;
            height: 21px;
        }
        .ajax__tab_xp.ajax__tab_header .ajax__tab_inner
        {
            padding-left: 3px;
            background: url("../images/tabs/tab-left.gif") no-repeat;
        }
        .ajax__tab_xp.ajax__tab_header .ajax__tab_tab
        {
            height: 21px;
            padding: 4px;
            margin: 0px;
            background: url("../images/tabs/tab.gif") repeat-x;
        }
        .ajax__tab_xp.ajax__tab_header .ajax__tab_hover .ajax__tab_outer
        {
            cursor: pointer;
            background: url("../images/tabs/tab-hover-right.gif") no-repeat right;
        }
        .ajax__tab_xp.ajax__tab_header .ajax__tab_hover .ajax__tab_inner
        {
            cursor: pointer;
            background: url("../images/tabs/tab-hover-left.gif") no-repeat;
        }
        .ajax__tab_xp.ajax__tab_header .ajax__tab_hover .ajax__tab_tab
        {
            cursor: pointer;
            background: url("../images/tabs/tab-hover.gif") repeat-x;
        }
        .ajax__tab_xp.ajax__tab_active .ajax__tab_outer
        {
            background: url("../images/tabs/tab-active-right.gif") no-repeat right;
        }
        .ajax__tab_xp.ajax__tab_active .ajax__tab_inner
        {
            background: url("../images/tabs/tab-active-left.gif") no-repeat;
        }
        .ajax__tab_xp.ajax__tab_header .ajax__tab_active .ajax__tab_tab
        {
            background: url("../images/tabs/tab-active.gif") repeat-x;
        }