@model UAS.Web.Models.FileMapperWizard.RulesAdmsProcessingViewModel

<div style="width:700px;">
    <div id="columnMapping" style="margin:10px;">
        <div style="width: 250px; margin-left:20px; text-align:left;">
            <h3>ADMS Processing Rules</h3>
        </div>
        <div style="width: 250px; margin-left:20px; text-align:left;">
            <h3>@Html.Raw(Json.Encode(Model.NewRuleAction)) Rule</h3>
        </div>
    </div>

    @*  right here is where the new ui for setting data*@

    <div class="bottomnavbox">
        <div class="bottomnav">
            <div class="lbtns">
            </div>
            <div class="cbtns">

            </div>
            <div class="rbtns">
                @Html.Kendo().Button().Name("AddAdmsRule").Content("Add Rule<i class='km-icon icon-kmright-dir ralign'></i>").HtmlAttributes(new { @class = "btn btn-blue5", type = "button", onclick = "return SaveADMSRules()" })
            </div>
        </div>
    </div>
</div>
