<table id="dataCompPanel">
        
        <tr>
            <td valign="middle" align="center">
                @(Html.Kendo().DropDownList()
                    .Name("ddlDCFile")
                    .DataTextField("FileName")
                    .DataValueField("ProcessCode")
                    .BindTo(Model.DcFilterList)

                )
            </td>
        </tr>
        
</table>