@{
    if (ViewBag.Message != null && string.IsNullOrEmpty(ViewBag.Message) == false)
    {
        if (ViewBag.IsError)
        {
            <span style="color:red;">@ViewBag.Message</span>
        }
        else
        {
            <span style="color:green;">@ViewBag.Message</span>
        }
    }
}