

<style>
    #buttonsPanel{
        display:inline-block;        
    }
    .panel-btn{
        float: left;
        margin: 5px;
        text-align: center;
        color: white;
        font-size: 12px;
        width:100px;
        transition: width 0.5s linear;
        -moz-transition: width 0.04s linear; /* Firefox 4 */
        -webkit-transition: width 0.04s linear; /* Safari and Chrome */
        -o-transition: width 0.04s linear; /* Opera */
        -ms-transition: width 0.04s linear; /* Explorer 10 */
    }
    .panel-btn:hover{
        width: 95px;
    }
    .darkBlue{
        background:#045ca4;
    }
    .lightBlue{
        background: #5598db;
    }
    .orange{
        background: rgb(244,126,31);
    }
    .grey{
        background: rgb(199,202,204);
    }
    .panel-btn-img{
        margin: 10%;
        margin-bottom: 5%;
        width: 60%;
    }
</style>
<div style="text-align: center;">
    <div id="buttonsPanel">        
        <div class="panel-btn darkBlue" id="btnFileUpload">
            <a href="~/FileTools/FileUpload">
                <img class="panel-btn-img" src="~/Images/import-256.png" />
            </a>
            <br />
            File Upload
        </div>
        <div class="panel-btn lightBlue" id="btnValidator">
            <a href="~/FileTools/FileValidator">
                <img class="panel-btn-img" src="~/Images/TileList/Validating.png" />
            </a>
            <br />
            File Validator
        </div>
        <div class="panel-btn orange" id="btnFileViewer">
            <a href="~/FileTools/FileViewer">
                <img class="panel-btn-img" src="~/Images/TileList/ViewFile.png" />
            </a>
            <br />
            File Viewer
        </div>
    </div>
</div>
