<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TelerikMvcApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="Images_VirtualPath" value="/ecn.images" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="true" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <!-- ASPNETMX -->
    <add key="aspNetMX.LicenseKey" value="QENSR-6F3UP-Q2QKF-SNTGA-VVWE1-AEY7X-DJBCM-HYF1A-RCRU7-XDXK6-JY6JT-5NCYC-WLD5Z-6KC3L-SX" />
    <!--<add key="aspNetMX.LicenseKey" value="QTA9U-6R2EZ-F46CY-LBFXF-REU41-AEYHN-4WHHR-BSD1C-VDXRC-RU7XS-XK6JY-6JT5Y-2VV3" />-->
    <!--<add key="aspNetMX.LicenseKey" value="5ABMV-R2HCJ-DACMT-4PRZ8-FBQ11-AEY6H-YZCW5-B5C1C-VAARC-RU7XS-XK6JY-6JT56-D9KX" />-->
    <!-- defines depth of validations according to the following table: -->
    <!-- 0  - The lowest level of validation. Determines an email address is not valid.-->
    <!-- 3  - The most basic of email validation, a syntax check. This can be performed by either a rules based check, or a regular expression check.aspNetMX.SyntaxValidation-->
    <!-- 5  - A level of validation for checking to see if a MX record for the domain actually exists.-->
    <!-- 6  - The server is greylisting SMTP commands-->
    <!-- 7  - A level of validation for checking to see if mail servers exist for a specific domain.-->
    <!-- 10  - The highest level of validation, determines if a mail server will accept email for an email address.-->
    <add key="aspNetMXLevel" value="7" />
    <!-- Known valid domains to be added to the MXValidate session -->
    <add key="aspNetMX.KnownDomains" value="hotmail.com;aol.com;yahoo.com;usa.net;bigfoot.com;earthlink.net;mindspring.com;ibm.net;msn.com;compuserve.com;juno.com;geocities.com;excite.com;altavista.com;ibm.com;microsoft.com;netzero.net" />
    <!-- Known invalid domains. If domain is in SlowAndInvalid, return invalid -->
    <add key="aspNetMX.SlowAndInvalid" value="gmail.co;hotmail.co;msn.co;yahoo.co;juno.co;hushmail.co;zoho.co" />
    <!--Defines if we allow/deny submit in case aspnetmx exceeded timeout threshold value which is the same as for -->
    <add key="BlockSubmitIfTimeout" value="false" />
    <!-- KM Root directory -->
    <add key="KMRoot_Path" value="C:\Projects_Server\KM ALL Projects\Branches\2017_Joker_Dev\ECN\ecn.FormDesigner\Projects\KMWeb\" />
    <!-- where css is placed -->
    <add key="CssDir" value="CssDir" />
    <!-- css web access -->
    <add key="CssUri" value="http://localhost/KMWeb/CSSDir/" />
    <!-- web access to css and javascript code -->
    <add key="UrlToContent" value="http://localhost/KMWeb/Content/Generator/" />
    <!-- for google translate api credentials -->
    <add key="GoogleAppName" value="FormDesigner" />
    <add key="GoogleApiKey" value=" AIzaSyCYU49GW4WhicX6SJ-MaKZ3EI9uWzGyGmA" />
    <!-- for google recaptcha api credentials -->
    <add key="GoogleCapthcaSiteKey" value="6LeJZwoTAAAAAKB1ofE2wdeBeZO0CyJCzhtTZ1kG" />
    <add key="GoogleCaptchaSecret" value="6LeJZwoTAAAAAMO7m5z09tobbfBLkTGJaPGT1BIa" />
    <!-- handler for forms -->
    <add key="GetFormHandlerUrl" value="http://localhost/KMWeb/GetForm" />
    <add key="SubmitFormHandlerUrl" value="http://localhost/KMWeb/SubmitForm" />
    <add key="SubmitSubscribeHandlerUrl" value="http://localhost/KMWeb/SubmitSubscribe" />
    <add key="StatisticUrl" value="http://localhost/KMWeb/UploadStatistic" />
    <add key="ConfirmationHandlerUrl" value="http://localhost/KMWeb/Confirm" />
    <add key="PrepopulateFromDbHandlerUrl" value="http://localhost/KMWeb/PrepopulateFromDb" />
    <add key="AutoSubmitFormHandlerUrl" value="http://localhost/KMWeb/AutoSubmitForm" />
    <!-- paths to default css and html templates -->
    <add key="HTMLTemplatePath" value="Content\Generator\KM_template.html" />
    <add key="InactiveHTMLTemplatePath" value="Content\Generator\inactive_template.html" />
    <add key="DoubleOptInEmailTemplate" value="Content\Generator\doubleOptIn_emailtemplate.html" />
    <add key="ConfirmationTemplatePath" value="Content\Generator\confirmation_landing_template.html" />
    <add key="DefaultCSSPath" value="Content\Generator\KM_styles.css" />
    <!-- google translate api timeout (pollind madness limitation): one time per 5 seconds -->
    <add key="IntervalSec" value="5" />
    <!-- KM API domain -->
    <add key="ApiDomain" value="test.api.ecn5.com" />
    <!-- KM API timeout -->
    <add key="APITimeout" value="30" />
    <!-- KM API log error parameters -->
    <add key="ApiKey_E" value="23eb2cff-e71f-40a8-b288-1ee1bc382789" />
    <add key="CustID_E" value="1" />
    <add key="ApplicationID_E" value="81" />
    <add key="LogFilePrefix" value="errorlogs\km\err" />
    <add key="DoNotLogStatuses" value="200 201" />
    <add key="ErrorListFilePath" value="Content\Generator\ErrorList.txt" />
    <!-- Json API parameters for notifications -->
    <add key="Source" value="Form Designer" />
    <!-- delay after key press before update data from KM DB -->
    <add key="PrepopulateDelayMs" value="1000" />
    <add key="IsDemo" value="false" />
    <add key="IsNetworkDeployed" value="false" />
    <add key="KMCommon_Application" value="81" />
    <add key="KMCommon_SmtpServer" value="216.17.41.200" />
    <add key="AppFabricCacheEnabled" value="false" />
    <!-- Local: false, QA: true, Prod: true-->
    <add key="AppFabricServer" value="DevAppFabric.hq.teckman.com" />
    <!-- Local: DevAppFabric.hq.teckman.com, QA: appfabric, Prod: appfabric-->
    <add key="AppFabricServer-NamedCache" value="ECNDEV" />
    <!-- Local: ECNDEV, QA: ECNQA, Prod: ECN-->
    <add key="Forms_VirtualPath" value="/KMWeb" />
    <add key="MasterAccessKey" value="651A1297-59D1-4857-93CB-0B049635762E" />
    <add key="Image_DomainPath" value="http://test.ecn5.com/ecn.images" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <globalization uiCulture="en-US" culture="en-US" />
    <authentication mode="Forms">
      <forms name="ecn" loginUrl="/EmailMarketing.Site/Login" slidingExpiration="true" enableCrossAppRedirects="true" cookieless="UseCookies" protection="All" timeout="30" />
    </authentication>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" encoderType="System.Web.Security.AntiXss.AntiXssEncoder, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <machineKey validationKey="3D4D63BC66E13EBEA502B83A42379DF01D0D96718C50BB16962D6768070EA3E7F4854F431DE685D671D4E79E0440D4D9D015F5C3C49CD4CC517591E35DDF0EFF" decryptionKey="3EDEFDBFFFAAC0D62D5B59F8990ECAFAB4709F7D6E2E1F97" validation="SHA1" compatibilityMode="Framework20SP2" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Kendo.Mvc.UI" />
      </namespaces>
    </pages>
    <!--<httpHandlers>
      <add verb="*" path="GetForm.aspx" validate="false" type="KMWeb.Handlers.GetFormHandler, KMWeb"/>
    </httpHandlers>-->
  </system.web>
  <system.webServer>
    <httpErrors existingResponse="PassThrough" />
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="GetForm" path="GetForm" verb="GET" type="KMWeb.Handlers.GetFormHandler, KMWeb" />
      <add name="SubmitForm" path="SubmitForm" verb="POST" type="KMWeb.Handlers.SubmitFormHandler, KMWeb" />
      <add name="Confirm" path="Confirm" verb="GET" type="KMWeb.Handlers.SubmitSubscribeHandler, KMWeb" />
      <add name="PrepopulateFromDb" path="PrepopulateFromDb" verb="POST" type="KMWeb.Handlers.PrepopulateFromDbHandler, KMWeb" />
      <add name="AutoSubmitForm" path="AutoSubmitForm" verb="GET" type="KMWeb.Handlers.AutoSubmitFormHandler, KMWeb" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- connection string -->
  <connectionStrings>
    <add name="FormDesigner" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=FormDesigner" providerName="System.Data.SqlClient" />
    <add name="kmEntities" connectionString="metadata=res://*/KMModel.csdl|res://*/KMModel.ssdl|res://*/KMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.161.1.47;initial catalog=FormDesigner;persist security info=True;user id=Web_FormDesigner_Admin;password=b+hBBKSr4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="accounts" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_accounts" providerName="System.Data.SqlClient" />
    <add name="communicator" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" />
    <add name="Collector" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_collector" providerName="System.Data.SqlClient" />
    <add name="Activity" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn_activity" providerName="System.Data.SqlClient" />
    <add name="Comm" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" />
    <add name="KMCommon" connectionString="server=10.161.1.47;uid=webuser;pwd=webuser#23#;database=KMCommon" providerName="System.Data.SqlClient" />
    <add name="creator" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_creator" providerName="System.Data.SqlClient" />
    <add name="KMPlatform" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=KMPlatform" providerName="System.Data.SqlClient" />
    <add name="UAD_Lookup" connectionString="server=10.161.1.47;uid=webuser;pwd=webuser#23#;database=UAD_LOOKUP;" providerName="System.Data.SqlClient" />
    <!-- Production <add name="kmEntities" connectionString="metadata=res://*/KMModel.csdl|res://*/KMModel.ssdl|res://*/KMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.161.1.47;initial catalog=FormDesigner;persist security info=True;user id=Web_FormDesigner_Admin;password=b+hBBKSr4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="accounts" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_accounts" providerName="System.Data.SqlClient" />
    <add name="communicator" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" />
    <add name="Collector" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_collector" providerName="System.Data.SqlClient" />
    <add name="Activity" connectionString="server=10.161.1.47;uid=sa;pwd=dcran9755;database=ecn_activity" providerName="System.Data.SqlClient" />
    <add name="Comm" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" />
    <add name="KMCommon" connectionString="server=216.17.41.251;uid=sa;pwd=dcran9755;database=KMCommon" providerName="System.Data.SqlClient" />
    <add name="creator" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_creator" providerName="System.Data.SqlClient" />
    <add name="KMPlatform" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=KMPlatform" providerName="System.Data.SqlClient" /> -->
  </connectionStrings>
  <applicationSettings>
    <TelerikMvcApp1.Properties.Settings>
      <setting name="TelerikMvcApp1_KMList_ListManager" serializeAs="String">
        <value>http://webservices.ecn5.com/ListManager.asmx</value>
      </setting>
      <setting name="TelerikMvcApp1_KMContent_ContentManager" serializeAs="String">
        <value>http://webservices.ecn5.com/ContentManager.asmx</value>
      </setting>
    </TelerikMvcApp1.Properties.Settings>
  </applicationSettings>
</configuration>
