<?xml version="1.0"?>
<configuration>
  <!-- App Settings -->
  <configSections>
    <section name="encore.PayPal.Nvp" type="Encore.PayPal.Nvp.Configuration, Encore.PayPal.Nvp" requirePermission="false"/>
  </configSections>
  <encore.PayPal.Nvp environment="Sandbox" version="53.0" api3tURL="https://api-3t.paypal.com/nvp/" apiaaURL="https://api.paypal.com/nvp/" paypalURL="https://www.paypal.com/" delegateClass="" delegateMethod="" useCertificate="false" username="" password="" signature="" subject="" keyPassword="" certificate=""/>
  <appSettings>
    <add key="PUBSubscribeURL" value="http://www.ecn5.com/ecn.communicator/engines/pubSubscriptions_SO_subscribe.aspx{0}"/>
    <add key="ECNSubscribeURL" value="http://localhost/ecn.activityengines/engines/SO_subscribe.aspx{0}"/>
    <add key="DefaultUDFGroupID" value="2850"/>
    <add key="LogoPath" value="../PubLogo/"/>
    <add key="MailingLabelImageURL" value="http://localhost/jointforms/PubLogo/"/>
    <add key="MailingLabelPath" value="C:\projects\kmps_jf\KMPS_JF\PubLogo\"/>
    <add key="Pub_CSS" value="&lt;style type='text/css'&gt;body { background-color:%%PBGColor%%; text-align:center;padding:20px 0;font-size:%%PageFontSize%%; font-family:%%PageFont%% } #container{font-family:%%PageFont%%;text-align:left;width:760px;background-color:%%FBGColor%%;margin:0 auto;border:%%PageBorder%%px #000 solid; min-height: 100%;height: auto !important;height: 100%;} .Category{font-family:%%PageFont%%;background-color:%%CBGColor%%;font-size:%%CatFontSize%%;color:%%CFColor%%}.label{font-family:%%PageFont%%;font-size:%%QFSize%%;color:%%QFColor%%; font-weight:%%QFBold%%;}.labelAnswer{font-family:%%PageFont%%;font-size:%%AFSize%%;color:%%AFColor%%; font-weight:%%AFBold%%;}&lt;/style&gt;"/>
    <add key="SmtpServer" value="216.17.41.200"/>
    <add key="Telerik.Web.UI.DialogParametersEncryptionKey" value="2u4kjbfoiuhtk2lh4bgl4i21234jbajhbk3jhtrgkjhrtgkjf324"/>
  </appSettings>
  <!--<connectionStrings/>-->
  <connectionStrings>
    <!--<add name="SqlConnection" connectionString="server=MOORTHY\SQLEXPRESS;Initial catalog=KMBS_NEW;uid=sa;pwd=gvein" />-->
    <add name="connString" connectionString="server=216.17.41.241;uid=webuser;pwd=webuser#23#;database=KMPSJointForms" providerName="System.Data.SqlClient"/>
    <add name="ecn5_communicator" connectionString="server=216.17.41.241;uid=webuser;pwd=webuser#23#;database=ecn5_communicator" providerName="System.Data.SqlClient"/>
    <add name="ecn5_accounts" connectionString="server=216.17.41.241;uid=webuser;pwd=webuser#23#;database=ecn5_accounts" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.web>
    <authentication mode="Forms">
      <forms name="JF" loginUrl="Login.aspx" protection="All" timeout="30"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <httpRuntime targetFramework="4.6.1" />
    <compilation debug="true" targetFramework="4.6.1" />
    <pages theme="Default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="JF" namespace="KMPS_JF_Objects.Controls" assembly="KMPS_JF_Objects"/>
        <add tagPrefix="asp" namespace="System.Data.SqlClient" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="ChartImage.axd_*" path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode"/>
      <add name="Telerik.Web.UI.SpellCheckHandler.axd_*" path="Telerik.Web.UI.SpellCheckHandler.axd" verb="*" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode"/>
      <add name="Telerik.Web.UI.DialogHandler.aspx_*" path="Telerik.Web.UI.DialogHandler.aspx" verb="*" type="Telerik.Web.UI.DialogHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode"/>
      <add name="Telerik.RadUploadProgressHandler.ashx_*" path="Telerik.RadUploadProgressHandler.ashx" verb="*" type="Telerik.Web.UI.Upload.RadUploadProgressHandler, Telerik.Web.UI" preCondition="integratedMode"/>
      <add name="Telerik.Web.UI.WebResource.axd_*" path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" preCondition="integratedMode"/>
      <add name="JSON" path="*.json" verb="*" type="JSONHandler"/>
    </handlers>
  </system.webServer>
  <location path="Forms">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>