<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Binbin.Linq.PredicateBuilder" version="1.0.3.26645" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="PayPal" version="1.7.3" targetFramework="net45" requireReinstallation="true" />
  <package id="SlowCheetah" version="2.5.15" targetFramework="net45" />
</packages>