<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<configSections>
		<section name="encore.PayPal.Nvp" type="Encore.PayPal.Nvp.Configuration, Encore.PayPal.Nvp" requirePermission="false" />
	</configSections>
	<encore.PayPal.Nvp environment="Sandbox" version="53.0" api3tURL="https://api-3t.paypal.com/nvp/" apiaaURL="https://api.paypal.com/nvp/" paypalURL="https://www.paypal.com/" delegateClass="" delegateMethod="" useCertificate="false" username="" password="" signature="" subject="" keyPassword="" certificate="" />
	<appSettings>
		<add key="IsDemo" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="AppFabricCacheEnabled" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
		<add key="IsNetworkDeployed" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"  />

		<add key="ECNSubscribeURL" value="http://test.emailactivity.ecn5.com/engines/SO_subscribe.aspx{0}" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
		<add key="SmtpServer" value="108.160.208.101" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
    <add key="Admin_ToEmail" value="sunil@teamkm.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Admin_FromEmail" value="SMpaidForms@teamkm.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<!--TEST Payment Gateway-->
		<!-- username : sunil@teamkm.com ; Pwd=T23 Password -->
		<add key="AuthorizeDotnetLogin" value="9Q4MStwW2j" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
		<add key="AuthorizeDotnetKey" value="6m3vwr4Tb4N4K59a" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
		<add key="AuthorizeDotNetDemoMode" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
		<add key="Pub_CSS" value="&lt;style type='text/css'&gt;body { background-color:%%PBGColor%%; text-align:center;padding:20px 0;font-size:%%PageFontSize%%; font-family:%%PageFont%% } #container{font-family:%%PageFont%%;text-align:left;width:760px;background-color:%%FBGColor%%;margin:0 auto;border:%%PageBorder%%px #000 solid; min-height: 100%;height: auto !important;height: 100%;} .Category{font-family:%%PageFont%%;background-color:%%CBGColor%%;font-size:%%CatFontSize%%;color:%%CFColor%%}.label{font-family:%%PageFont%%;font-size:%%QFSize%%;color:%%QFColor%%; font-weight:%%QFBold%%;}.labelAnswer{font-family:%%PageFont%%;font-size:%%AFSize%%;color:%%AFColor%%; font-weight:%%AFBold%%;}&lt;/style&gt;" xdt:Transform="Replace" xdt:Locator="Match(key)"  />

		<add key="MagazineJson" value="C:/sourceMediaPaidPub/SourceMediaPaidPub/magazine.json" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
		<add key="CountryCodeJson" value="C:/sourceMediaPaidPub/SourceMediaPaidPub/countries.json" xdt:Transform="Replace" xdt:Locator="Match(key)"  />

		<!-- This key is temporary we have to buy tax jar key and I have only few transactions left.-->
		<add key="TaxjarAPI" value="e132d308036cd74916e1533f4782af3a" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
	</appSettings>
	<!--<connectionStrings/>-->
	<connectionStrings>
		<!--<add name="SqlConnection" connectionString="server=MOORTHY\SQLEXPRESS;Initial catalog=KMBS_NEW;uid=sa;pwd=gvein" />-->
		<add name="connString" connectionString="server=216.17.41.191;uid=webuser;pwd=webuser#23#;database=KMPSJointForms" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="ecn5_communicator" connectionString="server=216.17.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"  />
		<add name="ecn5_accounts" connectionString="server=216.17.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_accounts" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"  />

		<add name="communicator" connectionString="server=216.17.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"  />
		<add name="KMCommon" connectionString="server=216.17.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=KMCommon" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"  />
		<add name="KMPlatform" connectionString="server=216.17.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=KMPlatform" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"  />

	</connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  
    <authentication mode="None">

    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
	<!--	<system.net>-->
	<!--		<defaultProxy enabled="true" useDefaultCredentials="true">-->
	<!--			<proxy autoDetect="false" bypassonlocal="false" proxyaddress="http://localhost:8080" usesystemdefault="false" />-->
	<!--		</defaultProxy>-->
	<!--	</system.net>-->
	<startup>
		<supportedRuntime version="v2.0.50727" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>