<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<configSections>
		<section name="encore.PayPal.Nvp" type="Encore.PayPal.Nvp.Configuration, Encore.PayPal.Nvp" requirePermission="false" />
	</configSections>
	<encore.PayPal.Nvp environment="Sandbox" version="53.0" api3tURL="https://api-3t.paypal.com/nvp/" apiaaURL="https://api.paypal.com/nvp/" paypalURL="https://www.paypal.com/" delegateClass="" delegateMethod="" useCertificate="false" username="" password="" signature="" subject="" keyPassword="" certificate="" />
	<!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
	
	<appSettings>
		<add key="IsDemo" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="AppFabricCacheEnabled" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
		<add key="IsNetworkDeployed" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"  />

		<add key="ECNSubscribeURL" value="http://emailactivity1.ecn5.com/engines/SO_subscribe.aspx{0}" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
    <add key="SmtpServer" value="108.160.208.101" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
    <add key="Admin_ToEmail" value="sunil@teamkm.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Admin_FromEmail" value="SMpaidForms@teamkm.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<!--TEST Payment Gateway-->
		<!-- username : sunil@teamkm.com ; Pwd=T23 Password -->
		<add key="AuthorizeDotnetLogin" value="9Q4MStwW2j" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
		<add key="AuthorizeDotnetKey" value="6m3vwr4Tb4N4K59a" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
		<add key="AuthorizeDotNetDemoMode" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
		<add key="Pub_CSS" value="&lt;style type='text/css'&gt;body { background-color:%%PBGColor%%; text-align:center;padding:20px 0;font-size:%%PageFontSize%%; font-family:%%PageFont%% } #container{font-family:%%PageFont%%;text-align:left;width:760px;background-color:%%FBGColor%%;margin:0 auto;border:%%PageBorder%%px #000 solid; min-height: 100%;height: auto !important;height: 100%;} .Category{font-family:%%PageFont%%;background-color:%%CBGColor%%;font-size:%%CatFontSize%%;color:%%CFColor%%}.label{font-family:%%PageFont%%;font-size:%%QFSize%%;color:%%QFColor%%; font-weight:%%QFBold%%;}.labelAnswer{font-family:%%PageFont%%;font-size:%%AFSize%%;color:%%AFColor%%; font-weight:%%AFBold%%;}&lt;/style&gt;" xdt:Transform="Replace" xdt:Locator="Match(key)"  />

		<add key="MagazineJson" value="C:/http/sourcemedia.kmpsgroup.com/magazine.json" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
		<add key="CountryCodeJson" value="C:/http/sourcemedia.kmpsgroup.com/countries.json" xdt:Transform="Replace" xdt:Locator="Match(key)"  />

		<!-- This key is temporary we have to buy tax jar key and I have only few transactions left.-->
		<add key="TaxjarAPI" value="e132d308036cd74916e1533f4782af3a" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
	</appSettings>

	<connectionStrings>
		<add name="connString" connectionString="server=10.10.41.198;uid=webuser;pwd=webuser#23#;database=KMPSJointForms" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="ecn5_communicator" connectionString="server=10.10.41.198;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add name="ecn5_accounts" connectionString="server=10.10.41.198;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_accounts" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

		<add name="communicator" connectionString="server=10.10.41.198;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add name="KMCommon" connectionString="server=10.10.41.251;uid=ecn5;pwd=EcN5AcCeSs;database=KMCommon" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add name="KMPlatform" connectionString="server=10.10.41.198;uid=ecn5;pwd=EcN5AcCeSs;database=KMPlatform" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

	</connectionStrings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
	</system.web>
</configuration>