<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

	<connectionStrings>
		<add name="connString" connectionString="server=10.10.41.191;uid=webuser;pwd=webuser#23#;database=KMPSJointForms" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="ecn5_communicator" connectionString="server=10.10.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add name="ecn5_accounts" connectionString="server=10.10.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_accounts" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

		<add name="communicator" connectionString="server=10.10.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add name="KMCommon" connectionString="server=10.10.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=KMCommon" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add name="KMPlatform" connectionString="server=10.10.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=KMPlatform" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

	</connectionStrings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <authentication mode="None">

    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
	</system.web>

	<appSettings>
    <add key="SmtpServer" value="108.160.208.101" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
    <add key="Admin_ToEmail" value="sunil@teamkm.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Admin_FromEmail" value="SMpaidForms@teamkm.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    
		<add key="MagazineJson" value="E:\http\sourcemediaformstest.kmpsgroup.com\magazine.json" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="CountryCodeJson" value="E:\http\sourcemediaformstest.kmpsgroup.com\countries.json" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="TaxjarAPI" value="e132d308036cd74916e1533f4782af3a" xdt:Transform="Replace" xdt:Locator="Match(key)"  />

	</appSettings>

</configuration>