<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="connString" value="server=10.10.41.191;uid=sa;pwd=dcran9755;database=ecn5_communicator" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="activity" value="server=10.10.41.191;uid=sa;pwd=dcran9755;database=ecn_activity" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="com" value="server=10.10.41.191;uid=sa;pwd=dcran9755;database=ecn5_communicator" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="act" value="server=10.10.41.191;uid=sa;pwd=dcran9755;database=ecn5_accounts" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="col" value="server=10.10.41.191;uid=sa;pwd=dcran9755;database=ecn5_collector" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="cre" value="server=10.10.41.191;uid=sa;pwd=dcran9755;database=ecn5_creator" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ecn_misc_connString" value="server=10.10.41.191;uid=sa;pwd=dcran9755;database=ecn_misc" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="SmtpServer" value="10.10.41.200" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="IronPortServer" value="10.10.41.200" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MTAForTesting" value="10.10.41.200" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SPAMDClientServerIP" value="10.10.41.183" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Activity_DomainPath" value="http://test.emailactivity.ecn5.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Server" value="10.10.41.191" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="KMCommon_Application" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="KMCommon_SmtpServer" value="10.10.41.200" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!--Salesforce stuff -->
    <add key="SF_Instance" value="https://test.salesforce.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SF_AuthEndPoint" value="https://test.salesforce.com/services/oauth2/authorize" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SF_TokenEndPoint" value="https://test.salesforce.com/services/oauth2/token" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SF_ConsumerKey" value="3MVG9pHRjzOBdkd_YLeXI0Ydl7wX00whCwx8SXLhT60FRYgY.KVTHWUzeKsNgUvqx5PXh5ZiIYhZ2.viNzMzu" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SF_ConsumerSecret" value="400777503258285803" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SF_RedirectURL" value="http://test.ecn5.com/ecn.communicator/main/SalesForce/ECN_SF_Integration.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="XMLPath" value="e:\http\ECN5\ecn.communicator\main\SalesForce\TempFolder\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LogPath" value="e:\http\ECN5\ecn.communicator\main\SalesForce\Log\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="Comm" connectionString="server=10.10.41.191;uid=sa;pwd=dcran9755;database=ecn5_communicator" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="activity" connectionString="server=10.10.41.191;uid=sa;pwd=dcran9755;database=ecn_activity" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Communicator" connectionString="server=10.10.41.191;uid=sa;pwd=dcran9755;database=ecn5_communicator" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="KMCommon" connectionString="server=10.10.41.191;uid=sa;pwd=dcran9755;database=KMCommon" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Accounts" connectionString="server=10.10.41.191;uid=sa;pwd=dcran9755;database=ECN5_Accounts" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <identity impersonate="true" userName="administrator" password="L!4aE2" xdt:Transform="InsertBefore(/configuration/system.web/httpRuntime)" />
  </system.web>
</configuration>