<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="connString" value="server=216.17.41.241;uid=sa;pwd=dcran9755;database=ecn5_communicator" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="activity" value="server=216.17.41.241;uid=sa;pwd=dcran9755;database=ecn_activity" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="com" value="server=216.17.41.241;uid=sa;pwd=dcran9755;database=ecn5_communicator" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="act" value="server=216.17.41.241;uid=sa;pwd=dcran9755;database=ecn5_accounts" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="col" value="server=216.17.41.241;uid=sa;pwd=dcran9755;database=ecn5_collector" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="cre" value="server=216.17.41.241;uid=sa;pwd=dcran9755;database=ecn5_creator" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ecn_misc_connString" value="server=216.17.41.241;uid=sa;pwd=dcran9755;database=ecn_misc" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="Server" value="216.17.41.191" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SmtpServer" value="216.17.41.200" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Activity_DomainPath" value="http://localhost/ecn.activityengines" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Image_DomainPath" value="http://localhost/ecn.images"/>
    
    <!-- Salesforce stuff-->
    <add key="SF_Instance" value="https://test.salesforce.com"/>
    <add key="SF_AuthEndPoint" value="https://test.salesforce.com/services/oauth2/authorize"/>
    <add key="SF_TokenEndPoint" value="https://test.salesforce.com/services/oauth2/token"/>
    <add key="SF_ConsumerKey" value="3MVG9pHRjzOBdkd_YLeXI0Ydl7_vWQKc6XkXSwXeDau4gTqZI3l.ZiBUE926JYMnN8Z54MpY24aNuVM1aNRLO"/>
    <add key="SF_ConsumerSecret" value="8776413048144531717"/>
    <add key="SF_RedirectURL" value="https://localhost:80/ecn.communicator/main/SalesForce/ECN_SF_Integration.aspx"/>
    <add key="XMLPath" value="c:\TempFolder\" />
    <add key="LogPath" value="C:\KM\SalesForce\Log\"/>
  </appSettings>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>