<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="connString" value="server=10.10.41.198;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator;Application Name=ecn.Communicator;" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="activity" value="server=10.10.41.198;uid=ecn5;pwd=EcN5AcCeSs;database=ecn_activity;Application Name=ecn.Communicator;" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="com" value="server=10.10.41.198;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator;Application Name=ecn.Communicator;" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="act" value="server=10.10.41.198;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_accounts;Application Name=ecn.Communicator;" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="col" value="server=10.10.41.198;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_collector;Application Name=ecn.Communicator;" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="cre" value="server=10.10.41.198;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_creatorApplication Name=ecn.Communicator;" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ecn_misc_connString" value="server=10.10.41.198;uid=sa;pwd=dcran9755;database=ecn_misc;Application Name=ecn.Communicator;" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="SmtpServer" value="108.160.208.101" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="IronPortServer" value="10.10.41.200" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MTAForTesting" value="10.10.41.200" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SPAMDClientServerIP" value="10.10.41.183" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="OverrideMTAForTesting" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ABUSERPT_ToEmail" value="sunil@knowledgemarketing.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
    <add key="TASKRPT_ToEmail" value="sunil@knowledgemarketing.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
    <add key="SendTo" value="sunil@teckman.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FCKeditorKeepCommentsCustomers" value="1,3344,3359,3343,3360,2806,2807,2890,2891,2892,2893,2894,2895,2896,2897,2898,2900,2901,2902,2959,2960,2967,2998,3023,3041,3102,3103,3556" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FCKeditorFullPageCustomers" value="2019,2069,1216,2168,1,3344"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- TESTBLAST EMAILS COUNT -->
    <!-- CH_X value represent the test blast emails count for all customers under that channel -->
    <!-- CU_X value represent the test blast emails count for that particular customers ONLY -->
    <!-- CU_X value, if set exlicit, will override the CH_X value -->
    <add key="BASE_TestBlastEmails" value="10" xdt:Transform="Insert" />
    <add key="CH_45_TestBlastEmails" value="50"  xdt:Transform="Insert"/>
    <add key="CU_1209_TestBlastEmails" value="30"  xdt:Transform="Insert"/>
    <add key="CU_1797_TestBlastEmails" value="30" xdt:Transform="Insert" />
    <add key="CU_1216_TestBlastEmails" value="20" xdt:Transform="Insert" />
    <add key="CH_6_TestBlastEmails" value="30" xdt:Transform="Insert" />
    <add key="CU_2617_TestBlastEmails" value="20" xdt:Transform="Insert" />
    <add key="CU_3053_TestBlastEmails" value="20" xdt:Transform="Insert" />
    <add key="CU_3059_TestBlastEmails" value="20" xdt:Transform="Insert" />
    <add key="CU_3083_TestBlastEmails" value="20" xdt:Transform="Insert" />
    <add key="CU_3243_TestBlastEmails" value="20" xdt:Transform="Insert" />
    <add key="CU_3420_TestBlastEmails" value="20" xdt:Transform="Insert" />
    <add key="CU_3421_TestBlastEmails" value="20" xdt:Transform="Insert" />
    <add key="CU_3422_TestBlastEmails" value="20" xdt:Transform="Insert" />
    <add key="CU_3423_TestBlastEmails" value="20" xdt:Transform="Insert" />
    <add key="CU_3424_TestBlastEmails" value="20" xdt:Transform="Insert" />
    <!-- TESTBLAST EMAILS COUNT -->
    <!-- CReports Config params -->
    <add key="Server" value="10.10.41.198" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <add key="UserID" value="ecn5" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Password" value="EcN5AcCeSs" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- CReports Config params -->
    <!-- DomainPath -->
    <add key="Activity_DomainPath" value="http://emailactivity1.ecn5.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Image_DomainPath" value="http://images.ecn5.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Social_DomainPath" value="http://emailactivity1.ecn5.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ECNEngineAccessKey" value="651A1297-59D1-4857-93CB-0B049635762E" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="KMCommon_Application" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="KMCommon_SmtpServer" value="108.160.208.101" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="DynamicContentProc" value="v_Blast_GetBlastEmailsListForDynamicContent" xdt:Transform="Insert"/>
    <!--Salesforce stuff -->
    <add key="SF_Instance" value="https://www.salesforce.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SF_AuthEndPoint" value="https://www.salesforce.com/services/oauth2/authorize" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SF_TokenEndPoint" value="https://www.salesforce.com/services/oauth2/token" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SF_ConsumerKey" value="3MVG9CVKiXR7Ri5qpDedqaS4Pl851QMaimF8plW9HWed2nx6hzxDLsiJmStALbtdu_6V_j8ELrepIxZBKYSLE" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SF_ConsumerSecret" value="4904637754710106815" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SF_RedirectURL" value="https://www.ecn5.com/ecn.communicator/main/SalesForce/ECN_SF_Integration.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="XMLPath" value="c:\http\ECN5\ecn.communicator\main\SalesForce\TempFolder\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LogPath" value="c:\http\ECN5\ecn.communicator\main\SalesForce\Log\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="Comm" connectionString="server=10.10.41.198;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator;Application Name=ecn.Communicator;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="activity" connectionString="server=10.10.41.198;uid=sa;pwd=dcran9755;database=ecn_activity;Application Name=ecn.Communicator;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Communicator" connectionString="server=10.10.41.198;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator;Application Name=ecn.Communicator;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Creator" connectionString="server=10.10.41.198;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_creator;Application Name=ecn.Communicator;Application Name=ecn.Communicator;" providerName="System.Data.SqlClient" xdt:Transform="Insert"/>
    <add name="KMCommon" connectionString="server=10.10.41.251;uid=sa;pwd=dcran9755;database=KMCommon;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Accounts" connectionString="server=10.10.41.198;uid=ecn5;pwd=EcN5AcCeSs;database=ECN5_Accounts;Application Name=ecn.Communicator;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <identity impersonate="true" userName="administrator" password="L!4aE2" xdt:Transform="InsertBefore(/configuration/system.web/httpRuntime)"/>
  </system.web>

</configuration>