<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
  <add key="com" value="server=10.10.41.198;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  <add key="act" value="server=10.10.41.198;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_accounts" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  <add key="col" value="server=10.10.41.198;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_collector" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  <add key="cre" value="server=10.10.41.198;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_creator" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  <add key="ecn_misc_connString" value="server=10.10.41.198;uid=sa;pwd=dcran9755;database=ecn_misc" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />

  <add key="Communicator_VirtualPath" value="http://www.ecn5.com/ecn.communicator" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

  <add key="Activity_DomainPath" value="http://emailactivity1.ecn5.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
  <add name="Comm" connectionString="server=10.10.41.198;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="activity" connectionString="server=10.10.41.198;uid=sa;pwd=dcran9755;database=ecn_activity" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="Communicator" connectionString="server=10.10.41.198;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="Creator" connectionString="server=10.10.41.198;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_creator" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="KMCommon" connectionString="server=10.10.41.251;uid=sa;pwd=dcran9755;database=KMCommon" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="Accounts" connectionString="server=10.10.41.198;uid=ecn5;pwd=EcN5AcCeSs;database=ECN5_Accounts" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="Publisher" connectionString="server=10.10.41.198;uid=ecn5;pwd=EcN5AcCeSs;database=ECN5_Publisher" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <identity impersonate="true" userName="administrator" password="L!4aE2" xdt:Transform="InsertBefore(/configuration/system.web/httpRuntime)" />

  </system.web>
</configuration>