<div class="wrapper modal modaladdnewform">
    <fieldset title="Delete">
        <legend>Delete</legend>
        @Html.Hidden("Id", null, new Dictionary<string, object> { { "data-bind", "value:Id" } })
        <span>Are you sure you want to delete this item?</span>
        <div class="buttonsgroup">
            @Html.Kendo().Button().Name("Delete").Content("Delete").HtmlAttributes(new { @class = "btn" })
            @Html.Kendo().Button().Name("Cancel").Content("Cancel").HtmlAttributes(new { @class = "btn", type = "button", onclick = "closeWindow('DeleteWindow')" })
        </div>
    </fieldset>
</div>