<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="KMPSWQT" connectionString="server=10.10.41.251;uid=webuser;pwd=webuser#23#;database=KMPSWQT;application name=KMPS_Tools;" providerName="System.Data.SqlClient"/>
</connectionStrings>
  <appSettings>
    <add key="ECNEngineAccessKey" value="8CAB09B9-BEC9-453F-A689-E85D5C9E4898"/>
    <add key="HME" value="86065"/>
    <add key="SSN" value="88573"/>
    <add key="CATR" value="54789"/>
    <add key="HITN" value="47747"/>
    <add key="HFNS" value="49034"/>
    <add key="MDDI" value="2850"/>
    <add key="IMM" value="2851"/>
    <add key="MPMN" value="2852"/>
    <add key="CPCP" value="2853"/>
    <add key="IVD" value="2854"/>
    <add key="NUTR" value="2855"/>
    <add key="MX" value="2857"/>
    <add key="PAAM" value="2858"/>
    <add key="PHAR" value="2862"/>
    <add key="EMDM" value="2864"/>
    <add key="MEM" value="2865"/>
    <add key="MIC" value="2866"/>
    <add key="CEDM" value="2863"/>
    <add key="MOPL" value="2870"/>
    <add key="DODH" value="2895"/>
    <add key="PG" value="2894"/>
    <add key="STBS" value="2896"/>
    <add key="PUC" value="2897"/>
    <add key="INET" value="2955"/>
    <add key="TCCS" value="2954"/>
    <add key="PBS" value="5038"/>
    <add key="MDT" value="4785"/>
    <add key="PARK" value="7222"/>
    <add key="CAMP" value="7223"/>
    <add key="ASLD" value="8778"/>
    <add key="APPL" value="9699"/>
    <add key="EVNT" value="54590"/>
    <add key="CRWI" value="12898"/>
    <add key="MTPT" value="14223"/>
    <add key="RPM" value="15204"/>
    <add key="MLB" value="133895"/>
    <add key="POA" value="15203"/>
    <add key="LICB" value="17979"/>
    <add key="TOYB" value="17978"/>
    <add key="CPCPDIGITAL" value="8310"/>
    <add key="AQUA" value="26389"/>
    <add key="MTRP" value="26391"/>
    <add key="FNDR" value="26625"/>
    <add key="ATHB" value="26390"/>
    <add key="HRDF" value="26388"/>
    <add key="EMDT" value="30358"/>
    <add key="MMA" value="31652"/>
    <add key="POUI" value="34312"/>
    <add key="EGGI" value="34820"/>
    <add key="INDA" value="34307"/>
    <add key="FEMG" value="34399"/>
    <add key="PIGI" value="34821"/>
    <add key="FEIN" value="34441"/>
    <add key="TMW" value="35543"/>
    <add key="EDN" value="35454"/>
    <add key="PKGD" value="35716"/>
    <add key="PETI" value="34822"/>
    <add key="WPOU" value="32511"/>
    <add key="CFDM" value="34436"/>
    <add key="ORTH" value="35987"/>
    <add key="DESN" value="36121"/>
    <add key="MNTR" value="39249"/>
    <add key="RCHT" value="118639"/>
    <add key="SSNG" value="129002"/>
    <add key="AOG" value="148762"/>
    <add key="OE" value="148760"/>
    <add key="SFM" value="158331"/>
    <add key="RFB" value="183158"/>
    <add key="RFA" value="183802"/>
    <add key="SHB" value="185561"/>
    <add key="NREB" value="185202"/>
    <add key="TREB" value="185568"/>
    <add key="SREB" value="185567"/>
    <add key="HREB" value="185569"/>
    <add key="SCB" value="183883"/>
    <add key="WREB" value="185570"/>
    <add key="SRHB" value="182259"/>
    <add key="AWFG" value="185652"/>
    <add key="AVG" value="184543"/>
    <add key="CGR" value="184199"/>
    <add key="CRL" value="185478"/>
    <add key="FCI" value="185630"/>
    <add key="FLG" value="185433"/>
    <add key="GHG" value="185382"/>
    <add key="PDH" value="185619"/>
    <add key="TGC" value="184562"/>
    <add key="MMT" value="188805"/>
    <add key="PLT" value="190626"/>
    <add key="HOT" value="190625"/>
    <add key="HEAR" value="192434"/>
    <add key="PSP" value="192440"/>
    <add key="RTDM" value="192445"/>
    <add key="X247" value="191545"/>
    <add key="CLP" value="192451"/>
    <add key="ORPR" value="192453"/>
    <add key="RHBM" value="192454"/>
    <add key="KCB" value="192456"/>
    <add key="SLPR" value="192457"/>
    <add key="PTP" value="192458"/>
    <add key="IMAG" value="192460"/>
    <add key="KCM" value="192463"/>
    <add key="GHKC" value="192465"/>

    <add key="ORPR_AddCommastoDemo" value="DEMO10"/>
    <add key="RHBM_AddCommastoDemo" value="DEMO9,DEMO10"/>
    <add key="PTP_AddCommastoDemo" value="DEMO10"/>
    <add key="IMAG_AddCommastoDemo" value="DEMO10"/>
    
    <add key="HEAR_AddCommastoDemo" value="DEMO10"/>
    <add key="PSP_AddCommastoDemo" value="DEMO9"/>
    <add key="AQUA_AddCommastoDemo" value="DEMO11,DEMO12"/>
    <add key="IVD_AddCommastoDemo" value="DEMO9,DEMO10"/>
    <add key="ORTH_AddCommastoDemo" value="DEMO9"/>
    <add key="PHAR_AddCommastoDemo" value="DEMO9,DEMO10"/>
    <add key="EVNT_AddCommastoDemo" value="DEMO8,DEMO9,DEMO10,DEMO11"/>
    <add key="CRWI_AddCommastoDemo" value="DEMO9"/>
    <add key="MLB_AddCommastoDemo" value="DEMO9"/>
    
    <add key="OutLog" value="smtplogout_"/>
    <add key="LinenumberToStart" value="0"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="Admin_ToEmail" value="dev@knowledgemarketing.com;pkreun@kmpsgroup.com"/>
    <add key="Admin_FromEmail" value="info@knowledgemarketing.com"/>
    <add key="SmtpServer" value="10.10.41.200"/>
    <add key="UpdatePubName" value="39249"/>
    <add key="Timeout" value="0"/>
    <add key="isDemo" value="false"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
