<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ecn.activityengines.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.transactions>
    <defaultSettings timeout="00:06:00" />
  </system.transactions>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="connString" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" />
    <add key="activity" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn_activity" />
    <add key="com" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" />
    <add key="act" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_accounts" />
    <add key="col" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_collector" />
    <add key="cre" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_creator" />
    <add key="pub" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_publisher" />
    <add key="ecn_misc_connString" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn_misc" />
    <add key="encryption_correctionAppendages" value="+" /> <!-- comma seperated list of strings that may have been taken from the end of an encrypted query string and we will try to reappend (small collision risk) -->
    <add key="accountsdb" value="ecn5_accounts" />
    <add key="collectordb" value="ecn5_collector" />
    <add key="communicatordb" value="ecn5_communicator" />
    <add key="publisherdb" value="ecn5_publisher" />
    <add key="Server" value="10.161.1.47" />
    <add key="Database" value="ecn5_communicator" />
    <add key="UserID" value="sa" />
    <add key="Password" value="dcran9755" />
    <add key="GotUsedBaseChannelID" value="2" />
    <add key="globalBounceCodes" value="addresschange,autoresponder,blocked,challengeverification,dnserror,hard,HardBounce,notify,resend,soft,softbounce,spamnotification,transient,U,unknown,unsubscribe" />
    <add key="2ndWind" value="server=2ndwindexercise.com;uid=teckman;pwd=2ndwind;database=2ndwind" />
    <add key="product_name" value="communicator" />
    <add key="mailPickupDirectory" value="C:\Inetpub\mailroot\Pickup\" />
    <add key="ChartsTempDirectory" value="/ecn.communicator/main/blasts/charts" />
    <add key="downloadConfDirectory" value="D:\projects\ecn\ecn.communicator\main\lists" />
    <add key="SmtpServer" value="216.17.41.200" />
    <add key="SendTo" value="bill.hipps@knowledgemarketing.com" />
    <add key="IronPortServer" value="216.17.41.200" />
    <add key="IronPortReset" value="201" />
    <add key="EmailWriterType" value="IronPort" />
    <add key="SPAMDClientServerIP" value="216.17.41.146" />
    <add key="SPAMDClientServerPORT" value="783" />
    <add key="ABUSERPT_FromEmail" value="info@knowledgemarketing.com" />
    <add key="ABUSERPT_ToEmail" value="bill.hipps@knowledgemarketing.com" />
    <add key="ABUSERPT_Subject" value="ABUSE Report from ECN Blast" />
    <add key="TASKRPT_FromEmail" value="info@knowledgemarketing.com" />
    <add key="TASKRPT_ToEmail" value="bill.hipps@teckman.com" />
    <add key="TASKRPT_Subject" value="TASK Notification from ECN" />
    <add key="ehloDomainString" value="blastengine.enterprisecommunicationnetwork.com" />
    <add key="watt_3rdParty_CustomerID" value="2806" />
    <add key="3rdPartyCustomer_2806" value="Watt" />
    <add key="3rdPartyCustomer_3571" value="Scranton Gillette" />
    <!-- VirtualPath -->
    <add key="Accounts_VirtualPath" value="/ecn.accounts" />
    <add key="Communicator_VirtualPath" value="/ecn.communicator" />
    <add key="Creator_VirtualPath" value="/ecn.creator" />
    <add key="Publisher_VirtualPath" value="/ecn.publisher" />
    <add key="Collector_VirtualPath" value="/ecn.collector" />
    <add key="Images_VirtualPath" value="/ecn.images" />
    <!-- Domain Path-->
    <add key="Activity_DomainPath" value="http://localhost/ecn.activityengines" />
    <add key="MVCActivity_DomainPath" value="http://localhost/ecn.activity" />
    <add key="Image_DomainPath" value="http://testimages.ecn5.com" />
    <!-- Social Path and Files-->
    <add key="Social_DomainPath" value="http://specialprojects.emailactivity.ecn5.com" />
    <add key="SocialPreview" value="/SPreview.aspx?" />
    <add key="SocialClick" value="/SClick.aspx?" />
    <add key="KMCommon_Application" value="3" />
    <add key="KMCommon_SmtpServer" value="216.17.41.200" />
    <add key="CacheLimit" value="1440" />
    <add key="SQLCommand_Timeout" value="60" />
    <!-- KMPS Sub Form Redirect PageID's-->
    <add key="kmps_g_2870" value="8024" />
    <add key="kmps_g_2865" value="8023" />
    <add key="kmps_g_2851" value="8022" />
    <add key="kmps_g_9699" value="8021" />
    <add key="kmps_g_5038" value="8020" />
    <add key="kmps_g_2855" value="8019" />
    <add key="kmps_g_2853" value="8018" />
    <add key="kmps_g_2862" value="8017" />
    <add key="kmps_g_2864" value="8001" />
    <add key="kmps_g_2854" value="8000" />
    <add key="kmps_g_2852" value="7999" />
    <add key="kmps_g_2850" value="7998" />
    <add key="kmps_g_4785" value="7997" />
    <add key="Admin_Notify" value="true" />
    <add key="Admin_Notify_Info" value="true" />
    <add key="Admin_ToEmail" value="AccountManagers@knowledgemarketing.com" />
    <add key="Admin_FromEmail" value="info@knowledgemarketing.com" />
    <!-- MTA info for sending single blasts -->
    <add key="OverrideMTAForTesting" value="true" />
    <add key="MTAForTesting" value="108.160.208.101" />
    <add key="MTAResetForTesting" value="25" />
    <add key="isDemo" value="false" />
    <add key="ECNEngineAccessKey" value="651A1297-59D1-4857-93CB-0B049635762E" />
    <add key="Maintenance_Mode" value="False" />
    <add key="UsePatchForDouble" value="true" />
	<add key="AppFabricCacheEnabled" value="false" />    <!-- Local: false, QA: true, Prod: true-->
	<add key="AppFabricServer" value="appfabric" />
	<add key="AppFabricServer-NamedCache" value="ECNQA" />    <!-- Local: ECNQA(won't be used), QA: ECNQA, Prod: ECN-->
    <add key="UnsubRedirect_55" value="http://marketplace.himss.org/Solicitation/Manage?email=" />    <!-- UnsubscribeRedirect for BC 55-->
    <add key="FBAPPID" value="1656726887887007" />
    <add key="ThreadsPerConnection" value="2" />
    <add key="ConnectionsPerServer" value="5" />
    <add key="ParallelThreads" value="2" />
    <add key="ValidateB4Tracking" value="false" />
    <add key="OpenClick_UseOldSite" value="false" />
    <add key="IsNetworkDeployed" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="DataBase_Dev" providerName="System.Data.SqlClient" connectionString="server=10.161.1.47;database=GoodDonor_Dev;uid=webuser;pwd=webuser#23#;timeout=0;" />
    <add name="Comm" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" />
    <add name="activity" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn_activity" providerName="System.Data.SqlClient" />
    <add name="Communicator" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" />
    <add name="KMCommon" connectionString="server=10.161.1.47;uid=webuser;pwd=webuser#23#;database=KMCommon" providerName="System.Data.SqlClient" />
    <add name="Accounts" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ECN5_Accounts" providerName="System.Data.SqlClient" />
    <add name="DomainTracker" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ECN5_DomainTracker" providerName="System.Data.SqlClient" />
    <add name="KMPlatform" connectionString="server=10.161.1.47;uid=webuser;pwd=webuser#23#;database=KMPlatform" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime executionTimeout="3600" />
    <customErrors mode="Off" defaultRedirect="error.aspx">
      <error statusCode="400" redirect="error.aspx?scd=400" />
      <error statusCode="401" redirect="error.aspx?scd=401" />
      <error statusCode="403" redirect="error.aspx?scd=403" />
      <error statusCode="404" redirect="error.aspx?scd=404" />
      <error statusCode="405" redirect="error.aspx?scd=405" />
    </customErrors>
    <authentication mode="None" />
    <pages validateRequest="true" enableEventValidation="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
  </system.web>
  <!--<applicationSettings>
    <ecn.activityengines.Properties.Settings>
      <setting name="ENC_Pass" serializeAs="String">
        <value>p$yaQat3?U@r5truX6Vepra++8?&amp;68t8-uB9CuW?UtHaZapUJ-2e8&amp;!3-du2AMA*</value>
      </setting>
      <setting name="ENC_Salt" serializeAs="String">
        <value>7emAha2hEdrUCephekas3uzuje6uGasab5Axu5t64u8a*HEyUtr9pr+bra4uJeXE</value>
      </setting>
      <setting name="ENC_Hash" serializeAs="String">
        <value>SHA1</value>
      </setting>
      <setting name="ENC_Iter" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ENC_Vector" serializeAs="String">
        <value>d3EdrEp=ucR-cAwr</value>
      </setting>
      <setting name="ENC_KeySize" serializeAs="String">
        <value>256</value>
      </setting>
    </ecn.activityengines.Properties.Settings>
  </applicationSettings>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.7.123" newVersion="4.1.7.123" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
