@using KMWeb.Models.Forms

@model FormPath

<div class="forminfo" style='width: auto'>
    <span id="customer">@Model.CustomerName</span>/
    <span id="group">@Model.GroupName</span>/
    <span id="form">@Model.FormName</span>
</div>