<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>UAD Services API</title>
    <style>
        body {
            background-color: #EBEBEB;
        }

        .body-content {
            margin: 0 auto;
            width: 1000px;
            background-color: white;
        }

        .main-content {
            margin-left: 20px;
            margin-bottom: 20px;
            color: #9da2a7;
            font-family: Arial;
            font-size: 14px;
            font-weight: normal;
        }

        h1 { font-size: 1.5em; font-weight: bold; }
        
        h2 { font-size: 1.25em; font-weight: bold; }
        section.content-wrapper.main-content > h2 { color: #045DA4; }
        
        h5 { font-weight: bold; text-decoration: none; }
        
        h10 {
                font-size: 17px;
                color:#045DA4;
                font-weight:bold;
                font-family: Arial;
            }

        h11 {
            font-size: 14px;
            color:#696969;
            font-weight:bold;            
            font-family: Arial;
        }

        h12 {
            font-size: 13px;
            color:#9da2a7;
            font-weight:bold;
            font-family: Arial;
        }

        h13 {
            font-size: 14px;
            color:#9da2a7;
            font-weight:normal;
            font-family: Arial;
        }


        mark > a, 
        h5 > a { text-decoration: none; color: black; }
        mark > a:hover, 
        h5 > a:hover { text-decoration: underline; color: black; }

        header {
            height: 69px;
        }

        .header-left {
            display: block;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-top: 10px;
        }

        .header-right {
            display: block;
            float: right;
            padding-bottom: 10px;
            padding-right: 20px;
            padding-top: 12px;
        }

        menu {
            padding: 10px 0px 0px 10px;
            margin: 55px 0px 0px 0px;
            height: 38px;
            background: #045da4;
            vertical-align:middle
        }

            menu > a {
                color: white;
                padding: 5px 5px 5px 5px;
                font-size: 13px;
                font-weight: bold;
                text-transform: capitalize;
                font-family: Arial;
                text-decoration: none;
            }

                menu > a:hover, 
                .selected {
                    color: #8FC4F0 !important;
                }

        footer {
            vertical-align: middle;
            height: 55px;
        }

        .ECNText10 {
            border-collapse: separate;
            color: rgb(105, 105, 105);
            font-family: Arial;
            font-size: 10px;
            font-weight: normal;
            text-align: center;
        }

        .FooterLink {
            color: rgb(4, 93, 164);
            font-family: Arial;
            font-size: 11px;
            font-weight: bold;
            text-align: -webkit-center;
            text-decoration: none;
            width: auto;
        }
    </style>
</head>
<body>
    <section class="body-content">
        <header>
            <a href="http://www.ecn5.com/">
                <img src="http://ecn5.com/ecn.images/Channels/12/kmlogo.jpg"
                     alt="Knowledge Marketing" width="165" height="71" class="header-left" style="border-width:0px;">
            </a>
            @*<a href="http://www.kmlearningcenter.com/">
                <img src="http://images.ecn5.com/kmnew/NewKMLearnLogo130.png"
                     alt="The KM Leaning Center" width="130" height="56" class="header-right">
            </a>*@
        </header>
        <menu>
            <a href="~/Home">Home</a>
            <a href="~/Help">Reference</a>
        </menu>
        <section class="main-content">
            @RenderBody()
        </section>
        <footer style="text-align:center" align="center">
            <hr width="980" align="center" />
            <a href="http://www.knowledgemarketing.com/privacy-policy" target="_blank" class="FooterLink">Privacy Policy</a> |
            <a href="http://www.knowledgemarketing.com/anti-spam-policy" target="_blank" class="FooterLink">Anti-Spam Policy</a> |
            <a href="http://www.knowledgemarketing.com/index.php/about-km/contact-us/" target="_blank" class="FooterLink">Contact Us</a>
            <span class="ECNText10">
                <font align="center">
                    <br>
                    Copyright ©
                    <script type="text/javascript">
                        copyright = new Date();
                        update = copyright.getFullYear();
                        document.write(update);
                    </script>
                    Knowledge Marketing, Inc., All Rights Reserved.
                </font>
            </span>
        </footer>
    </section>
</body>
</html>
