<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <!--<add name="UAS" providerName="System.Data.SqlClient" connectionString="server=216.17.41.191;database=UAS;uid=Jason.Meier;pwd=#SQL47;timeout=0;"/>
        <add name="UAS" providerName="System.Data.SqlClient" connectionString="server=JUSTINWAGNER-PC\SQL2008R2;database=UAS;uid=webuser;pwd=webuser#23#;timeout=0;"/>" 
        <add name="UAS_Dev" providerName="System.Data.SqlClient" connectionString="server=216.17.41.191;database=UAS;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    
    -->
    <add name="UAS" providerName="System.Data.SqlClient" connectionString="server=(local);database=UAS;Trusted_Connection=Yes;timeout=0;" />
    <add name="Circulation" providerName="System.Data.SqlClient" connectionString="server=(local);database=Circulation;Trusted_Connection=Yes;timeout=0;" />
  </connectionStrings>
  <system.transactions>
    <defaultSettings timeout="00:30:00"/>
  </system.transactions>
  <appSettings>
    <add key="IsDemo" value="true"/>
    <add key="IsUpdateMode" value="false"/>
    <add key="UpdateRefreshMinutes" value="30"/>
    <add key="IsNetworkDeployed" value="false"/>
    <add key="SingleFileProcessing" value="false"/>
    <add key="ExecuteCircToUADMinutes" value="1"/>
    <add key="ServiceHost" value="adms.kmpsgroup.com"/>
    <add key="UseLocalFtpDirectory" value="true"/>
    <!-- platform-services@TeamKM.com,April.Riddle@TeamKM.com,Joe.Benson@TeamKM.com,Sunil.Theenathayalu@TeamKM.com,Alley.Green@TeamKM.com,Danielle.Hoffman@TeamKM.com,Derek.Wohlers@TeamKM.com,Toni.Corredato@TeamKM.com -->
    <add key="AdminEmail" value="qoua.khang@TeamKM.com"/>
    <!--    Advanstar,Anthem,Atcom,ATHB,BriefMedia,Canon,France,GLM,Haymarket,HVCB,Lebhar,Medtech,Meister,MTG,NAPCO,Northstar,SAETB,Scranton,SpecialityFoods,Stamats,TenMissions,TradePress,UPI,Vance,Vcast,Watt -->
    <add key="EngineClients" value="France,MTG"/>
    <add key="EngineServer" value="qkhang-local"/>
    <add key="BatchSize" value="2500"/>
    <add key="LogFileName" value="CircToUAD"/>
  </appSettings>

</configuration>