@model EmailMarketing.Site.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "ResetSuccess";
    Layout = "~/Views/Shared/_UnauthenticatedLayout.cshtml";
}
<div id="login">
    <h2>
        <img src="@ViewBag.BrandingImageSrc" />
    </h2>
    @using (Html.BeginForm())
    {
        <fieldset>
            <p>Your password has been successfully reset.  Please click on the button below to be taken to the KM Platform Home page.</p>
            <p>
                <input type="button" style="width:250px;" value="KMPlatform Home Page" onclick="window.location.href = '/ecn.accounts/main/default.aspx';" />
            </p>
        </fieldset>
    }
</div>