
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divContent">
    <div id="divHeader">
        <div style="float: left;text-align:left;font-weight:bold;font-size:medium;">Domain Tracking list</div>
        <div style="float: right;text-align:right;"></div>
    </div>
    <br/>
    <div id="divMainSection">

    </div>
</div>



<h2>Index</h2>

