
.MainMenuNav ul {
	margin: 0;
	padding: 7px 6px 0;
	line-height: 100%;

}
.MainMenuNav ul li {
	margin: 0 5px;
	padding: 0 0 8px;
	float: left;
	position: relative;
	list-style: none;
}


/* main level link */
.MainMenuNav ul a {
	color: Black;
    font-size: 11pt;
    font-family:'Segoe UI';
	text-decoration: none;
	display: block;
	padding:  8px 20px;
	margin: 0;	
    font-weight: 600;
}

/* main level link hover */
.MainMenuNav ul  a{
	border-bottom: solid 1px darkorange;
	color: darkorange;
}

/* sub levels link hover */
.MainMenuNav ul ul li:hover a, .MainMenuNav ul li:hover li a {
	background: white;
	border: none;
	color: #666;
    text-align:left;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
.MainMenuNav ul ul a:hover {
	/*background: Lightgray url(img/gradient.png) repeat-x 0 -100px !important; */
	color: dodgerblue !important;  
    border-bottom: solid 1px dodgerblue;
    text-decoration:underline;
}

/* dropdown */
.MainMenuNav ul li:hover > ul {
	display: block;
}
/* level 2 list */
.MainMenuNav ul ul {
	display: none;    
    z-index:10;
	margin: 0;
	padding: 0;
	width: 200px;
	position: absolute;
	top: 35px;
	left: 0;
	background: white url(img/gradient.png) repeat-x 0 0;
	border: solid 1px #b4b4b4;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	box-shadow: 0 1px 3px rgba(0,0,0, .3);
}
.MainMenuNav ul ul li {
	float: none;
	margin: 0;
	padding: 0;
}

.MainMenuNav ul ul a {
	font-weight: normal;
	text-shadow: 0 1px 0 #fff;
}
.MainMenuNav ul ul li a{
    font-size: 11pt;
    font-family: Calibri;
}
 

/* level 3+ list */
.MainMenuNav ul ul ul {
	left: 181px;
	top: -3px;
}

/* clearfix */
.MainMenuNav ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.MainMenuNav ul {
	display: inline-block;
} 