body {
}
.EcnPageTitle {
    font-family: Arial Black;
    font-size: 20px;
    color: #9da2a7;
}

.EcnSectionHeader, a.EcnSectionHeader:visited, a.EcnSectionHeader:link, a.EcnSectionHeader:active {
    font-family: Arial Black;
    font-size: 16px;
    color: #3f3f40;
    text-decoration: none;
}
.EcnSectionHeader:hover	{ 
    text-decoration: underline;
}

.EcnSectionDetails {
    font-family: Arial;
    font-size: 14px;
    color: #9da2a7;
}

.EcnWhiteLink {
    color: white;
    text-decoration: none;
}
.EcnWhiteLink:hover	{ 
    text-decoration: underline;
}
.EcnBlackLink {
    color: black;
    text-decoration: none;
}
.EcnBlackLink:hover	{ 
    text-decoration: underline;
}

.ECNLabel8 {
    font-family: Arial Black;
    font-size: 8px;
    color: #9da2a7
}
.ECNText8 {
    font-family: Arial;
    font-size: 8px;
    color: #9da2a7
}

.ECNLabel10 {
    font-family: Arial Black;
    font-size: 10px;
    color: #9da2a7
}
.ECNText10 {
    font-family: Arial;
    font-size: 10px;
    color: #9da2a7
}

/*OLD STUFF*//*OLD STUFF*//*OLD STUFF*//*OLD STUFF*//*OLD STUFF*//*OLD STUFF*//*OLD STUFF*//*OLD STUFF*/

a.logoff_link:link, a.logoff_link:visited, a.logoff_link:active,
a.help_link:link, a.help_link:visited, a.help_link:active {
	font-family: Arial Black;
    padding: 5px 20px; 
    background: #559EDB;
    border-radius: 20px;
}
			
a.logoff_link:hover, a.help_link:hover	{ 
    font-family: Arial Black;
	font-weight: bold;
    padding: 5px 20px; 
    background: #559EDB;
    border-radius: 20px;
}

/* Menu *//* Menu *//* Menu *//* Menu *//* Menu *//* Menu *//* Menu *//* Menu *//* Menu *//* Menu */

.mainmenu
{
    font-size: 11px;
    background: #045da4;
    height: 46px
}

.subMenu
{
    font-size: 11px;
    height: 32px;
	background-color: #559EDB;
	color: white;
	text-transform: uppercase;
}

.subMenu a:hover
{
	text-decoration: none;
	color: #EFD999;
}

.inactivelinks a
{
	color: #EFD999;
    font-family: Arial Black;
	font-size: 11px;
	vertical-align: middle;
}

.activelinks a
{
	color: #EFD999; 
	text-decoration:none;		
	text-transform:uppercase;
}

.level1
{
    font-family: Arial Black;
    padding: 5px 5px 5px 5px;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}
        
.level2
{
    padding: 5px 30px 5px 30px;
    font-family: Arial Black;
    font-size: 11px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    background-color: #EBEBEB;
    border-radius: 20px;

    /*width: 100%  testing*/
}
.level2 :hover {
    /*background-color: red;  testing
    width: 100%*/
    background-color: #559EDB;
    border-radius: 20px;
}

        
.level3
{
    padding: 5px 30px 5px 30px;
    font-family: Arial Black;
    font-size: 11px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    background-color: #EBEBEB;
    border-radius: 20px;
}
.level3 :hover {
    background-color: #559EDB;
}

.MenuClass ul li ul
{
    display: none;
}
        
.MenuClass ul li
{
    position: relative;
    float: left;
    list-style: none;
}
        
.MenuClass a.static
{
    font-family: Arial Black;
    /*font-family: Arial;*/
    padding: 7px 7px 7px 7px !important;
    font-size: 11px;
    color: #559EDB;
    font-weight: normal;
    text-transform: uppercase;
}
        
.MenuClass a.static.selected
{
    font-family: Arial Black;
    font-size: 12px;
    color: #FFFFFF !important;
}
 
.MenuClass a.static.highlighted
{
    font-family: Arial Black;
    font-size: 12px;
    color: #FFFFFF !important;
}

/* highlight fix: prevent text jumping around on level1 highlight when font size changes */       
a#home-menu.level1.static.highlighted {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
a#users-menu.level1.static.highlighted {
    padding-left: 5px !important;
    padding-right: 5px !important;
}    
a#customers-menu.level1.static.highlighted {
    padding-left: 3px !important;
    padding-right: 4px !important;
}
a#billing-menu.level1.static.highlighted {
    padding-left: 4px !important;
    padding-right: 4px !important;
}
a#channel-partners-menu.level1.static.highlighted {
    padding-left: 2px !important;
    padding-right: 2px !important;
}
a#reports-menu.level1.static.highlighted {
    padding-left: 5px !important;
    padding-right: 4px !important;
}
a.level1.static.highlighted
{
    padding-bottom: 3px !important;
}
/* end highlight fix */

.MenuClass a.dynamic
{
    font-size: 11px;
    color: #045DA4 !important;
}
        
.MenuClass a.dynamic.selected
{
    font-size: 11px;
    color: white !important;
}
        
.MenuClass a.dynamic.highlighted
{
    font-size: 11px;
    color: white !important;
}
        
.MenuSubClass ul li ul
{
    display: none;
}
        
.MenuSubClass ul li
{
    position: relative;
    float: left;
    list-style: none;
}
        
.MenuSubClass a.static
{
    font-family: Arial, Verdana, Helvetica, sans-serif;
    padding: 5px 5px 5px 5px !important;
    font-size: 11px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
        
.MenuSubClass a.static.selected
{
    font-size: 11px;
    color: #F47E1F !important;
}
        
.MenuSubClass a.static.highlighted
{
    font-size: 11px;
    color: #F47E1F !important;
}
        
.MenuSubClass a.dynamic.selected
{
    color: white !important;
}
        
.MenuSubClass a.dynamic.highlighted
{
    color: white !important;
}			
     
a.box_text:link, a.box_text:visited, a.box_text:Active
{
    font-family: Arial Black;
	font-size:11px;
	font-weight:bold;
	color: #ffffff;
	text-decoration: none;
}

a.box_text
{
    font-family: Arial Black;
	font-size:11px;
	font-weight:bold;
	color: gray;
	text-decoration: none;
}

a.box_text:hover
{
    font-family: Arial Black;
	font-size:11px;
	font-weight:bold;
	text-decoration: none;
	color: #CFBB77;
}

a.linkGold:link, a.linkGold:visited, a.linkGold:Active
{
    font-family: Arial Black;
	font-size: 11px;
	color: #EFD999;
	text-decoration: none;
}

a.linkGold
{
    font-family: Arial Black;
	font-size:10px;
	color: EFD999;
	text-decoration: none;
}

a.linkGold:hover
{
    font-family: Arial Black;
	font-size: 11px;
	text-decoration: none;
	color: #ffffff;
}

.folderLevelOne
{
	text-indent:12px;
}

.folderLevelTwo
{
	text-indent:24px;
}

.folderLevelThree
{
	text-indent:36px;
}