
/*@import url("css/ECN_Controls.css");
@import url("css/ECN_Controls.css");
@import url("css/ddmenu.css");
@import url("css/images-stylesheet.css");
@import url("../App_Themes/stylesheet.css");
@import url("../App_Themes/1/ECN.css");
@import url("css/jquery-ui/jquery.ui.potato.menu.css");
@import url("css/jquery-ui/ui-lightness/jquery-ui-1.8.22.custom.css");
@import url("js/highslide/highslide.css");
@import url("css/toastr.css");
@import url("css/chardinjs.css");
@import url("css/KMPlatform.css");*/

/*css replacement for <body topmargin="0" ...>*/
html, body{
  margin-top: 0;
  padding-top: 0;
}

#security-access-error-message-title
{
    color:Black;
    font-family:Verdana;
    font-size:13px;
    font-weight:bold;
}

.ecn-icon-home 
{
    border-width: 0px;
}

#ecn-icon-home-email
{
    height: 40px;
    width: 60px;
}

#ecn-icon-home-audience
{
    height:62px;
    width:62px;
}

#ecn-icon-home-surveys
{
    height:60px;
    width:60px;
}

.hidden 
{ 
    visibility:hidden; 
}
.do-not-display 
{ 
    display: none;
}

.center-text 
{
    text-align: center;
}

a.footer-links
{
    color: #9da2a7; 
    font-family: Arial Black; 
    font-size: 10px
}

  a.quickTips:link
, a.quickTips:visited
, a.quickTips:active
, a.quickTips:hover 
{
    color: #ccc;
    text-decoration: none;
    font-size: 10px;
}

.help-div 
{
    background-color: transparent;
    display: none;
    height: 400px;
    left: 125px;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 101;
}

#Menu img.icon { border-style:none;vertical-align:middle; }
#Menu img.separator { border-style:none;display:block; }
#Menu img.horizontal-separator { border-style:none;vertical-align:middle; }
#Menu ul { list-style:none;margin:0;padding:0;width:auto; }
#Menu ul.dynamic { z-index:1; }
#Menu a { text-decoration:none;white-space:nowrap;display:block; }
#Menu a.static { padding-left:0.15em;padding-right:0.15em; }
#Menu a.level1 { text-decoration:none;border-style:none; }
#Menu a.level2 { text-decoration:none;border-style:none; }
#Menu a.level3 { text-decoration:none;border-style:none; }