<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ECN_Framework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ECN_Framework.Properties.Settings>
      <setting name="HashAlgorithm" serializeAs="String">
        <value>SHA1</value>
      </setting>
      <setting name="InitVector" serializeAs="String">
        <value>d3EdrEp=ucR-cAwr</value>
      </setting>
      <setting name="KeySize" serializeAs="String">
        <value>256</value>
      </setting>
      <setting name="PassPhrase" serializeAs="String">
        <value>p$yaQat3?U@r5truX6Vepra++8?&amp;68t8-uB9CuW?UtHaZapUJ-2e8&amp;!3-du2AMA*</value>
      </setting>
      <setting name="PasswordIterations" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="SaltValue" serializeAs="String">
        <value>7emAha2hEdrUCephekas3uzuje6uGasab5Axu5t64u8a*HEyUtr9pr+bra4uJeXE</value>
      </setting>
    </ECN_Framework.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
