@using ecn.communicator.mvc.Infrastructure
@{
    ViewBag.Title = "Email Marketing";
}
<style>
    .icon-link{
        width: 48px;
        height: 48px;
        float: left;
    }
    a strong{
        text-decoration: none;
        color: #337ab7;
    }
</style>

<h2>@ViewBag.Title</h2>
<hr />
<div id="notificationDiv"></div>
<table>
    <tr>
        <td>
            <a href="/ecn.communicator/main/ecnwizard/default.aspx"><img src="~/Images/ecn-icon-campaignitems.png" alt="" /></a>
            @*@Html.ActionImage("Index", "Home", null, "~/Images/ecn-icon-campaignitems.png", "Manage Campaign Items link button", imageClass: "icon-link")*@
            <div>
                <a href="/ecn.communicator/main/ecnwizard/default.aspx"><strong>Manage Campaign Items</strong></a>
                <div>Manage email campaigns, envelopes, and campaign item templates.</div>
            </div>
        </td>
        <td>
            <a href="/ecn.communicator/main/Content"><img src="~/Images/ecn-icon-content.png" alt="" /></a>
            @*@Html.ActionImage("Index", "Contents", null, "~/Images/ecn-icon-content.png", "Manage Content and Messages link button", imageClass: "icon-link")*@
            <div>
                <a href="/ecn.communicator/main/Content"><strong>Manage Content &amp; Messages</strong></a>
                <div>Create and edit content, messages, dynamic tags, and images.</div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionImage("Index", "Group", null, "~/Images/ecn-icon-groups.png", "Manage Groups link button", imageClass: "icon-link")
            <div>
                <a href="@Url.Action("Index", "Group")"><strong>Manage Groups</strong></a>
                <div>Manage subscribers, subscriber groups, and suppression groups.</div>
            </div>
        </td>
        <td>
            <a href="/ecn.communicator/main/Reports/SentCampaignsReport.aspx#"><img src="~/Images/ecn-icon-reports.png" alt="" /></a>
            @*@Html.ActionImage("Index", "Home", null, "~/Images/ecn-icon-reports.png", "View Reports link button", imageClass: "icon-link")*@
            <div>
                <a href="/ecn.communicator/main/Reports/SentCampaignsReport.aspx#"><strong>View Reports</strong></a>
                <div>Get access to reporting on your email campaigns, and subscriber groups.</div>
            </div>
        </td>
    </tr>
</table>
<br /><br />