<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="KMPlatform" providerName="System.Data.SqlClient" connectionString="server=216.17.41.191;database=KMPlatform;uid=webuser;pwd=webuser#23#;timeout=0;"/>
  </connectionStrings>
  <appSettings>
    <add key="CAT" value="CategoryID"/>
    <add key="XACT" value="TransactionID"/>
    <add key="DEMO31" value="MailPermission"/>
    <add key="DEMO32" value="FaxPermission"/>
    <add key="DEMO33" value="PhonePermission"/>
    <add key="DEMO34" value="OtherProductsPermission"/>
    <add key="DEMO35" value="ThirdPartyPermission"/>
    <add key="DEMO36" value="EmailRenewPermission"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
