@using KMEnums
@using KMModels.Controls

<script>
    array[@((int)ControlType.Captcha)] = {
        name: '@ControlType.Captcha',
        object: @Html.Raw(Json.Encode(new Captcha())),
        control: "<div>\
                    <img src='@Url.Content("~/Images/captcha.png")' />\
                 </div>"
    }
</script>