@using KMEnums
@using KMModels.Controls

<script>
    array[@((int)ControlType.Literal)] = {
        name: '@ControlType.Literal',
        object: @Html.Raw(Json.Encode(new Literal(true))),
        control: "<div ng-bind-html='control.Text | unsafe'></div>"
    }
</script>