<div class="wrapper modal modaladdnewform">

        @Html.Hidden("Id", null, new Dictionary<string, object> { { "data-bind", "value:Id" } })
    <div>
        <div class="picon" style="margin: 0 auto; width: 100px;float:left;">

            <img src="/ecn.communicator.mvc/Images/modal-icon-warning.png" border="0" />

        </div>
        <span  style="position:absolute;padding-top:20px;">Are you sure you want to delete this item?</span>
        </div>
        <div class="buttonsgroup">
            <table style="width:100%;">
                <tr>
                    <td style="width:25%;"></td>
                    <td style="width:25%;text-align:center;">
                        @Html.Kendo().Button().Name("Delete").Content("Ok").HtmlAttributes(new { @class = "btn" })
                    </td>
                    <td style="width:25%;text-align:center;">
                        @Html.Kendo().Button().Name("Cancel").Content("Cancel").HtmlAttributes(new { @class = "btn", type = "button", onclick = "closeWindow('DeleteFilterGroup')" })
                    </td>
                    <td style="width:25%;"></td>
                </tr>
            </table>
            
            
        </div>

    </div>