<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- db conn string -->
    <add key="ecn_ConnString" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator;Application Name=ECN2FPImtrimDataExport;" />
    <add key="connString" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator;Application Name=ECN2FPImtrimDataExport;" />
    <add key="Activity" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ECN_ACTIVITY" />
    <add key="com" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator;Application Name=ECN2FPImtrimDataExport;" />
    <add key="IntrimPubDB" value="server=216.17.41.242;uid=webuser;pwd=webuser#23#;database=KMPS;Application Name=ECN2FPImtrimDataExport;" />
    <add key="groups" value="285353,286751" />
    <add key="date" value="'05/02/2007'" />
    <add key="SmtpServer" value="216.17.41.200" />
    <add key="NOTIFY_ADMIN_EMAIL" value="sunil@knowledgemarketing.com;phil.kreun@kmpsgroup.com" />
    <add key="NOTIFY_ADMIN_FROM" value="admin@kmpsgroup.com" />
    <add key="NOTIFY_SUBJECT" value="ECN 2 FP Interim Export ERROR MESSAGE" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ECNUserAccessKey" value="8CAB09B9-BEC9-453F-A689-E85D5C9E4898" />
    <add key="KMCommon_Application" value="1" />
    <add key="KMCommon_SmtpServer" value="216.17.41.200" />
    <add key="FromDateMinus" value="-42" />
    <add key="UseDateRange" value="true" />
    <add key="FromDate" value="10/22/2015" />
    <add key="ToDate" value="10/22/2015" />
    <add key="TryTimes" value="2" />
    <add key="GroupsForManual" value=",285353,286751" />
    <add key="IsDemo" value="false" />
    <add key="UseDateRange" value="true" />
    <add key="FromDate" value="10/18/2015" />
    <add key="ToDate" value="10/22/2015" />
  </appSettings>
  <connectionStrings>
    <add name="Comm" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" />
    <add name="activity" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn_activity" providerName="System.Data.SqlClient" />
    <add name="Communicator" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" />
    <add name="KMCommon" connectionString="server=10.161.1.47;uid=webuser;pwd=webuser#23#;database=KMCommon" providerName="System.Data.SqlClient" />
    <add name="Accounts" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ECN5_Accounts" providerName="System.Data.SqlClient" />
    <add name="UAS" connectionString="server=10.161.1.47;uid=webuser;pwd=webuser#23#;database=KMPlatform" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
