<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="KMCommon" connectionString="server=216.17.41.241;uid=webuser;pwd=webuser#23#;database=KMCommon" providerName="System.Data.SqlClient"/>
    <add name="KMPlatform" connectionString="server=216.17.41.241;uid=ecn5;pwd=EcN5AcCeSs;database=KMPlatform" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ClientID" value="13"/>
    <add key="EngineID" value="48"/>

    <add key="ImportServerLocation" value="\\10.1.1.117\c$\KM\NorthStarSendDimensionsImport\Files"/>

    <add key="ByPassDownload" value="false"/>
    <add key="ImportLocation" value="C:\KM\NorthStarSendDimensionsImport\Import"/>
    <add key="ArchiveLocation" value="C:\KM\NorthStarSendDimensionsImport\Archive"/>
    <add key="ImportLogFilePath" value="C:\KM\NorthStarSendDimensionsImport\Log"/>
    <add key="ImportFileName" value="Send_"/>
    <add key="ImportBatchSize" value="5000"/>

    <add key="ImportAll" value="false"></add>
    <add key="IsDemo" value="false"/>
    <add key="KMCommon_Application" value="49"/>
    <add key="KMCommon_SmtpServer" value="108.160.208.101"/>
    <add key="AdminEmail" value="admin@teamkm.com"/>
    <add key="IsNetworkDeployed" value="false"/>
    <add key="AppFabricCacheEnabled" value="false" />
    <add key="AppFabricServer" value="DevAppFabric.hq.teckman.com" />
    <add key="AppFabricServer-NamedCache" value="UADDEV" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.85.5.452" newVersion="0.86.0.518" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
