body
{
	margin: 15px;
	background: #B4B4B4 url(../../images/body_bg.gif) repeat left top;
	font-family: Tahoma, Arial, sans-serif;
	font-size:98%;
}

td 
{
	font-family: Tahoma, Arial, sans-serif;
	font-size:12px;
	color:#000000;
}

fieldset
{
border: 1px solid #325C78;
}

.labelbold
{
	font-weight:bold;
}

.labelselected
{
	background-color:#eeeeee;
	color:#8AB3CE;
	font-weight:bold;
}

.pageborder
{
	width: 100%;
	border: 1px solid #8AB3CE;
	background-color:#eeeeee;
	text-align: left;
	margin: auto;
}

.hdr
{
	width: 100%;
	height:	65px;
	vertical-align: middle;
	/*background-image:url(../../images/bg_gradient-left.png);*/
	background-color:#ffffff;
	padding: 5px 0px 5px 20px
}


.ftr
{
	height: 25px;
	background: #EFEFEF;
	color: #333333;
	margin: 0;
}

.bar
{
	background-color:#b6b5b2;
	height: 20px;
	width: 100%;
	margin-bottom: -1px;
	padding: 0;
	vertical-align: top;
}

textarea, select, input
{
	font-size:12px;
	color: #000000;
	font-family:Tahoma, Arial, sans-serif;
	padding: 0px 0px 0px 1px;
}


.button {
	font-family:trebuchet ms, myriad, tahoma, verdana;
	font-size:12px;
	width:80px;
	background: url(../../images/button.gif) no-repeat left top;
	border:0;
	font-weight:bold;
	color:#ffffff;
	height:20px;
	cursor:pointer;
}
.buttonMedium {
	font-family:trebuchet ms, myriad, tahoma, verdana;
	font-size:12px;
	width:135px;
	background: url(../../images/buttonMedium.gif) no-repeat left top;
	border:0;
	font-weight:bold;
	color:#ffffff;
	height:20px;
	cursor:pointer;
}

.button a{color:#FFF; padding-top:4px; text-decoration:none; font-size:12px}
.buttonMedium a{color:#FFF; margin-top:5px; text-decoration:none; font-size:12px}
.button a:hover { 
	text-decoration:underline;
}

.buttonSmall {
	font-family:trebuchet ms, myriad, tahoma, verdana;
	font-size:12px;
	width:50px;
	background: url(../../images/buttonSmall.gif) no-repeat left top;
	border:0;
	font-weight:bold;
	color:#ffffff;
	height:20px;
	cursor:pointer;
}
.buttonSmall a{color:#FFF; margin-top:5px; text-decoration:none; font-size:12px}


.tabText {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 12px;
}

.tabText2 {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 12px; 
	color: #1F497D; 
}

.tabContent_tbl {
	border: 1px solid #86979E;
}

legend {
	margin: 0px 0px 7px 0px;
	color: #325C78;
	font-family: Tahoma, Arial, sans-serif;	
	font-size: 130%;
	font-weight: bold;
	vertical-align: middle;
	padding: 4px 4px
}


.progressbar
{
	border-left:1px solid #000000;
	border-bottom: 1px solid #000000;
	border-right:1px solid #000000;
	border-top:1px solid #000000;
}

td.menu
{
	
}

.leftNav a
{
	padding: 2px 5px;
	color:#32537E;
	text-decoration: none;
	display: block;
	margin: 0px;
}

.leftNav a:hover 
{
	background-color: #0F2543;
	color: #FFF;
	font-weight:bold;
}

a.menu
{
	padding: 5px 10px 3px 10px;
	color:#32537E;
	text-decoration: none;
	font-weight: bold;
	display: block;
	margin: 0px;
	border-right: 1px solid #cccccc
}

a.menu-selected
{
	background-color:Orange;
	padding: 5px 4px 3px 4px;
	color:#ffffff;
	text-decoration: none;
	font-weight: bold;
	display: block;
	margin: 0px;
	border-right: 1px solid #cccccc
}

a.menu:hover 
{
	color:Orange;
}

a.menu-selected:hover
{
	color: #5783BD;
}

a.logoff
{
	padding: 0px 10px 0px 0px;
	color: #32537E;
	text-decoration: none;
	font-weight: bold;
	text-align:center;
	vertical-align:middle;
	margin: 0px;

}

a.logoff:hover
{
	text-decoration:underline;
	color:Orange;
}

.name
{
	padding: 0px 10px 0px 0px;
	color: #32537E;
	text-decoration: none;
	font-weight: bold;
	margin: 0px;
	text-align:right;
	vertical-align:middle;
}

td.submenu
{
	background: #ffeea6;
}

a.submenu
{
	background: #ffeea6;
	padding: 3px 7px 3px 7px;
	color: #4D6686;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	display: block;
	margin: 0px;
	border-bottom: 1px solid #ffcc00;
	border-right: 1px solid #ffcc00;

	
}

a.submenu-selected
{
	background: #ffe275;
	padding: 3px 7px 3px 7px;
	color: #4D6686;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	display: block;
	margin: 0px;
	border-right: 1px solid #ffcc00;
	
}

a.submenu-disabled
{
	background: #ece9d8;
	padding: 3px 7px 3px 7px;
	color:#666666;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	display: block;
	margin: 0px;
	border-right: 1px solid #ffcc00;
	border-bottom: 1px solid #ffcc00;
}

a.submenu-disabledHL
{
	background: #ece9d8;
	padding: 3px 7px 3px 7px;
	color:#4D6686;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	display: block;
	margin: 0px;
	border-right: 1px solid #ffcc00;

}


a.submenu-selected, a.submenu-selected-over
{
	background: #ffffcc;
}

a.submenu:hover 
{
	color:orange;
	
}

a.submenu-selected:hover
{
	color: #4D6686;
}

.colheader
{
	background-color:#cfcfcf;
	border-bottom: #cfcfcf 1px solid;
	color: #325C78;
	font-size:11px;
	font-weight:bold;
}

.colheader a {
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: #325C78;
}

.colheader a:hover {
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
}


.AltRowColor
{
	background-color:#f1f1f1;
}

/* NEW SITE PANEL */

.panelTable {
	width: 100%;
	border: 1px;
	border-color: #325C78;
	border-style: solid;
	border-collapse: collapse;
	background-color: #ffffff;
	padding: 5px 5px 5px 5px;
}

.panelTable th {
	background-color:#325C78;
	vertical-align:middle;
	padding: 2px 5px 2px 5px;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	height:1.5em;
	color: #ffffff;
}

.panelTable td {
	padding: 5px 5px 5px 5px;
}

.panelTable th a {
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
}

.panelTable th a:hover {
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
	color: #ffffff;
}

.labelsmall
{
	font-size: 12px;
	color: #000000;
	font-family:Tahoma, Arial, sans-serif;
	}

/* Grid */
.grid
{
	border: 1px;
	border-color: #5783BD;
	background-color: #ffffff;
	border-style: solid;
	padding: 5px 5px 5px 5px;
	font-family:Tahoma, Arial, sans-serif;
}

.gridAltColor
{
	background-color:#EBEBEB;
}

.grid th {
	background-color:#5783BD;
	color: #ffffff;
	font-size:12px;
	font-weight:bold;
	height:1.5em;
	font-family:Tahoma, Arial, sans-serif;
}

.grid th a {
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
	color: #ffffff;
	font-family:Tahoma, Arial, sans-serif;
}

.grid th a:hover {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	}

.gridpager
{
	font-size: 12px;
	height: 10px;
	font-family: Tahoma, Arial, sans-serif;
	font-weight:normal;
	background-color:#5783BD;
}

.gridfooter
{
	font-weight: bold;
	font-family:Tahoma, Arial, sans-serif;
	padding:4px 4px 4px 4px;
	background-color:#eeeeee;
	color: #325C78;
	font-size:12px;
	height:2em;
}


.gridpager span
{
	font-weight: bold;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 12px; 
	border: solid 1px Orange;
	COLOR:white; 
	text-decoration: none;
	padding:0px 0px 0px 0px;
}


.gridpager  A:visited, .gridpager  A:active, .gridpager A:link, .gridpager  A:visited, .gridpager  A:active {
	font-family:Tahoma, Arial, sans-serif;
	font-size: 12px; 
	font-weight: bold;
	COLOR:white; 
	text-decoration: none;
	padding:2px 0px 0px 0px;
}

.gridpager A:hover
{
	COLOR:Orange; 
	text-decoration: underline;
}

/* Box Panel */

.boxtopleft
{
	width: 11px;
	height: 33px;
}

.boxtopright
{
	width: 11px;
	height: 33px;
}

.boxtitle
{
	margin: 0px;
	padding: 0px 0px 0px 0px;
	font-family: Tahoma, Arial, sans-serif;	
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	vertical-align:middle;
	text-align:left;
	background-color:#5783BD;
}

.boxleftside
{
	border-left: 1px solid #5783BD;
	background-color: #ffffff;
 
}

.boxrightside
{
	border-right: 1px solid #5783BD;
	background-color: #ffffff;
 }


.boxbottom
{
	border-bottom : 1px solid #5783BD;
	background-color: #ffffff;
}

.title
{
	margin: 0;
	padding: 2px 0 8px 4px;
	font-family: Tahoma, Arial, sans-serif;	
	font-size: 95%;
	font-weight: bold;
	color: #141A21;
}

.style1 {font-size: 11px; }
.style2 {color: #003366;font-size: 11px;}
.style3 {margin: 0}
.style4 {color: #003366;font-size: 12px;font-weight: bold;}
.style6 {color: #003366}

/* Validation Summary Error Message Display */

.errorsummary {
 border: 1px solid #58A2F6;
 color: red;
 margin: 5px 0px;
 padding: 15px;
 background: #fff url(../../images/ic-error.gif) no-repeat 5px 50%;
 background-color:#F0F7FF;
}


.errorsummary ul 
{
 margin: 5px;
 padding: 10px;
 margin-left: 80px;
 list-style: square;
}

.validationSummary
{
width: 720px;
border-width: 1px;
border-style: solid;
border-color: red;
background-color: #EEF5FF;
padding-top: 8px;
padding-left:35px;
padding-bottom: 10px;
font: 11px Tahoma;
color: #8598B9;
background-image: url(../../images/ic-info.jpg);
background-position: 10px 6px;
background-repeat: no-repeat;
margin: 3px;
overflow:hidden;
}

.validationSummary ul 
{
 margin-left: 50px;
 list-style: square;
}

/*TAB*/

/*begin creating the tabs */
.tab {
	font-size: 10px;
	font-weight: bold;
}

.tabItem td {
	BACKGROUND-COLOR: #f1f1f1;  
	border: #999999 1px solid; 
	BORDER-BOTTOM: none;
	FONT-SIZE: 11px; 
	FONT-WEIGHT: bold; 
	WIDTH: 100px; 
	FONT-FAMILY: Tahoma, Arial, sans-serif;
	height: 25px; 
	TEXT-ALIGN: center;
}

.tabItem a:link, .tabItem a:visited{
	BACKGROUND-COLOR: #f1f1f1; 
	COLOR:gray; 
	FONT-SIZE: 11px; 
	FONT-WEIGHT: bold; 
	FONT-FAMILY: Tahoma, Arial, sans-serif;
	TEXT-ALIGN: center; 
	text-decoration:none;
}

.tabItem a:hover
{
	color:Orange;
}

.tabSelectedItem td {
	border: #CC6600  1px solid;
	BORDER-BOTTOM: none;
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px; 
	WIDTH: 100px; 
	COLOR: #ffffff; 
	FONT-FAMILY: Verdana; 
	HEIGHT: 25px; 
	BACKGROUND-COLOR:#ff9900; 
	TEXT-ALIGN: center;
}

.tabSelectedItem a:link, .tabuSelectedItem a:visited{
	BACKGROUND-COLOR: #ff9900; 
	COLOR:#ffffff; 
	FONT-SIZE: 12px; 
	FONT-WEIGHT: bold; 
	FONT-FAMILY: Tahoma, Arial, sans-serif;
	TEXT-ALIGN: center; 
	text-decoration:none;
}

.tabSelectedItem a:hover
{
	COLOR:#ffffff; 
	text-decoration:underline;
}
.tabbody
{
	border: #CC6600 1px solid; 
	PADDING: 10px 10px 10px 10px;
	BACKGROUND-COLOR: #ffffff;
	width:100%;
}

.trackpopup
{
	margin: 0px;
	background-color: #FFFFFF;
	font-family:Tahoma, Arial, sans-serif;
}

/*Reorder List*/
.dragHandle {
	width:10px;
	height:15px;
	background-color:Blue;
	background-image:url(../../images/bg-menu-main.png);
	cursor:move;
	border:outset thin white;
}

.callbackStyle {
	border:thin blue inset;		
}

.callbackStyle table {
	background-color:#5377A9;	
	color:Black;
}


.reorderListDemo li {
	list-style:none;
	margin:2px;
	background-repeat:repeat-x;
	color:#FFF;
}

.dragVisualContainer li  {
    list-style:none;
	background-image:url(../../images/bg_nav.gif);
	background-repeat:repeat-x;
	color:#FFF;
}

.reorderListDemo li a {color:#FFF !important; font-weight:bold;}

.reorderCue {
	border:dashed thin black;
	width:100%;
	height:25px;
}

.itemArea {
	margin-left:15px;
	font-family:Tahoma, Arial, sans-serif;
	font-size:1em;
	text-align:left;
}
/*CollapsiblePanel*/
.collapsePanel {
	
	background-color:white;
	overflow:hidden;
}

.collapsePanelHeader{
	width:100%;
	height:30px;
	background-color:#5783BD;
	color:#FFF;
	font-weight:bold;
}

.TransparentGrayBackground 
{
	position: fixed;
	top: 0;
	left: 0;
	
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
	
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%
	
}

.UpdateProgress
{
	color: black; 
	font-size: x-small; 
	background-color: #F4F3E1;
    border: solid 2px Black; 
	text-align: center; 
	width: 100px; 
	height: 100px;
	vertical-align: middle;
	position: absolute;
	bottom: 50%;
	left: 45%;
	z-index: 10;
}

/* Ajax Calendar */
.MyCalendar .ajax__calendar_container 
{ 
	background-color: #e2e2e2; border:solid 1px #cccccc; 
} 
.MyCalendar .ajax__calendar_header 
{ 
	background-color: #ffffff; margin-bottom: 4px; 
} 
.MyCalendar .ajax__calendar_title, .MyCalendar .ajax__calendar_next, .MyCalendar .ajax__calendar_prev 
{ 
	color: #004080; padding-top: 3px; 
} 

.MyCalendar .ajax__calendar_body 
{ 
	background-color: #e9e9e9; border: solid 1px #cccccc; 
} 

.MyCalendar .ajax__calendar_dayname 
{ 
	text-align:center; font-weight:bold; margin-bottom: 4px; margin-top: 2px; 
} 

.MyCalendar .ajax__calendar_day 
{ 
	text-align:center; 
} 

.MyCalendar .ajax__calendar_hover .ajax__calendar_day, .MyCalendar .ajax__calendar_hover .ajax__calendar_month, .MyCalendar .ajax__calendar_hover .ajax__calendar_year, .MyCalendar .ajax__calendar_active 
{ 
	color: #004080; font-weight:bold; background-color: #ffffff; 
} 

.MyCalendar .ajax__calendar_today 
{ a
	font-weight:bold; 
} 

.MyCalendar .ajax__calendar_other, .MyCalendar .ajax__calendar_hover .ajax__calendar_today, .MyCalendar .ajax__calendar_hover .ajax__calendar_title 
{ 
	color: #bbbbbb; 
} 

td.popupheader
{
    padding: 5px; 
    color: #5783BD;
    font-weight: bold;
    font-size: 15px;
    background-color: #5783BD; 
}

/* D3 Venn diagram*/

.venntooltip {
            position: absolute;
            text-align: center;
            width: 128px;
            height: 16px;
            background: #333;
            color: #ddd;
            padding: 2px;
            border: 0px;
            border-radius: 8px;
            opacity: 0;
            z-index: 10011 !important;
        }