<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PersonifyMAFImport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MasterDB" connectionString="server=216.17.41.191;uid=sa;pwd=dcran9755;database=MedtechMasterDB" providerName="System.Data.SqlClient"/>
    <add name="KMCommon" connectionString="server=216.17.41.191;uid=sa;pwd=dcran9755;database=KMCommon" providerName="System.Data.SqlClient"/>
    <add name="Communicator" connectionString="server=216.17.41.191;uid=sa;pwd=dcran9755;database=ecn5_communicator" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="EngineID" value="0"/>
    <add key="ByPassDownload" value="false"/>
    <add key="ImportLocation" value="C:\TempFolder\PersonifyFileFolder\Import"/>
    <add key="ArchiveLocation" value="C:\TempFolder\PersonifyFileFolder\Archive"/>
    <add key="ImportLogFilePath" value="C:\TempFolder\PersonifyFileFolder\Log"/>
    <!--<add key="ImportFileName" value="PersonifyFullSyncExport_" />-->
    <add key="ImportFileName" value="PersonifyDailyExport_"/>
    <!--<add key="ImportServerLocation" value="\\10.10.41.146\c$\Users\himss\Documents\FTP\QA"/>-->
    <add key="ImportServerLocation" value="C:\TempFolder\PersonifyFileFolder\ImportServer"/>
    <!--<add key="FTPServer" value="ftp.knowledgemarketing.com:22"/>-->
    <!--<add key="FTPServer" value="216.17.41.146"/>
    <add key="FTPUserID" value="himss"/>
    <add key="FTPPassword" value="KMhimss"/>-->
    <!--<add key="MissingPubCodeEmailTo" value="MasterFileSupport@TeamKM.com" />-->
    <add key="MissingPubCodeEmailTo" value="sunil@teamkm.com,justin.wagner@teamkm.com"/>
    <add key="AuditReportEmailTo" value="sunil@teamkm.com,justin.wagner@teamkm.com"/>
    <add key="EmailTo" value="sunil@teamkm.com,justin.wagner@teamkm.com"/>
    <add key="EmailFrom" value="HimssSupport@knowledgemarketing.com"/>
    <add key="SMTPServer" value="216.17.41.200"/>
    <add key="StartStep" value=""/>
    <add key="KMCommon_Application" value="42"/>
    <add key="KMCommon_SmtpServer" value="108.160.208.101"/>
    <add key="KMCommon_LoggingDaysToKeep" value="30"/>
    <add key="isDemo" value="false"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!--Product Codes to import to ECN-->
    <add key="ProductCodes" value="CLININFO|142483,CORP_MHIMSS|180324,EXBSPONS|182559,FINEDGE|142484,HIELIGHT|180329,INDIV_MHIMSS|180325,PULSE|142485,CHPTRLDR|182557,CORPCONN|180328,WKLYINSIDER|180326"/><!--PROD-->
    <!--<add key="ProductCodes" value="CLININFO|142483" />--><!--QA-->
    <add key="ECNAccessKey" value="F0538902-0E90-4C91-8EEB-1E1E0B64D3D0"/><!--PROD-->
    <!--<add key="ECNAccessKey" value="36D3FD31-B99A-4733-8E6B-C72FB3EF750E" />--><!--QA-->
    <add key="UpdateECN" value="true"/><!--For turning on and off the ecn subscriber update-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <PersonifyMAFImport.Properties.Settings>
      <setting name="PersonifyMAFImport_ecn5_webservices_com_ListManager" serializeAs="String">
        <value>http://webservices.ecn5.com/listmanager.asmx</value>
      </setting>
    </PersonifyMAFImport.Properties.Settings>
  </applicationSettings>
</configuration>
