@model UAS.Web.Models.Circulations.FileHistory


<style>
    .FHDimensionErrorSpanLeftLarge {
        color: #2a6ebb;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.5pt;
        margin-left: 10px;
        float: left;
    }

    .FHDimensionErrorSpanLeftSmall {
        color: #2a6ebb;
        display: inline-block;
        font-size: 12px;
        font-weight: normal;
        margin-top: 1px;
        margin-bottom: 1px;
        margin-left: 10px;
        padding: 1px;
        float: left;
    }

    .FHDimensionErrorSpanRight {
        color: #2a6ebb;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.5pt;
        margin-right: 15px;
        float: right;
    }
</style>

<div>
    <span class="FHDimensionErrorSpanLeftLarge">Total Processed:</span><span class="FHDimensionErrorSpanRight"><a href='~/Dashboard/ResultsDownload?processcode=@Model.ProcessCode&type=processed&clientid=@Model.ClientID'>@Model.RecordsProcessed</a></span>
</div>