
.mainmenu
{
	/**background: #5C5D5F url(http://images.ecn5.com/images/bar.jpg) top left repeat-x; **/
	background-color: #000000;
}

.subMenu
{
	background-color: #999999;
}

.inactivelinks
{
	color: #EFD999;
	font-family: Arial,Verdana,Helvetica,sans-serif;
	font-size: 8pt;
	vertical-align: middle;
}

#pnlMenu a:link, a:visited, a:active, a:hover
{
	color: #000000;
	text-decoration: none;
	font-size: 11px;
}

.col_box_back
{
	background-image: url('http://www.ecn5.com/ecn.accounts/assets/channelID_25/images/ne_book.gif');
	background-repeat: repeat;
}

.com_box_top
{
	background-image: url('images/communicator_pl_01.gif');
	background-repeat: repeat;
	border: 1px solid #8C8C8C;
}

.col_box_top
{
	background-image: url('images/collector_pl_01.gif');
	background-repeat: repeat;
	border: 1px solid #8C8C8C;
}

.cre_box_top
{
	background-image: url('images/creator_pl_01.gif');
	background-repeat: repeat;
	border: 1px solid #8C8C8C;
}
