/* CSS Document */

*{margin:0;padding:0;}

html, body 
{
	margin: 0;
	padding: 0;
	height: 100%;
} 


body, td
{
	font: normal 12px Arial, Helvetica, sans-serif;
}

a
{
	color:#000;
	text-decoration:underline;
}
p 
{
	margin:10px 0;
}

ul,ol
{
	margin:10px 15px 10px 0;
	padding:0;
}

ul li,ol li
{
	margin-left:15px;
}

a:hover
{
	color:#000;
	text-decoration:none;
}

h1
{
	font-size:2em;
}

h2
{
	font-size:1.4em;
}

#container
{
	text-align:left;
	width:760px;
	background:#fff;
	margin:0 auto;
	border:2px #000 solid;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

#innerContainer
{
	padding:20px;
}


.highlight, .questionList a
{
	font-weight:bold;
	color:#840000;	
}

.center
{
	text-align:center;
}

.left
{
	text-align:left;
}



.clear
{
	clear:both;
}

textarea, select, input
{
	font-size:12px;
	color: #000000;
	font-family:Arial, Helvetica, sans-serif;
	padding: 1px 1px 1px 1px;
}

.gridview
{
 padding:3px 3px 3px 3px;  
}

.popupbody
{
    /*background:#fffff url(images/blank.gif) repeat-x top;*/
    z-index: 101;
    background-color: #FFFFFF;
    font-family: calibri, trebuchet ms, myriad, tahoma, verdana;
    font-size: 16px;
    border-radius:10px;
}

.modalBackground
{
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}


/*---------------New Loading Message--------------------*/
@-webkit-keyframes uil-default-anim { 0% { opacity: 1} 100% {opacity: 0} }
@keyframes uil-default-anim { 0% { opacity: 1} 100% {opacity: 0} }
.uil-default-css > div:nth-of-type(1){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.5s;animation-delay: -0.5s;}
.uil-default-css { position: relative;background:none;width:150px;height:150px;}
.uil-default-css > div:nth-of-type(2){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.4166666666666667s;animation-delay: -0.4166666666666667s;}
.uil-default-css { position: relative;background:none;width:150px;height:150px;}
.uil-default-css > div:nth-of-type(3){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.33333333333333337s;animation-delay: -0.33333333333333337s;}
.uil-default-css { position: relative;background:none;width:150px;height:150px;}
.uil-default-css > div:nth-of-type(4){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.25s;animation-delay: -0.25s;}
.uil-default-css { position: relative;background:none;width:150px;height:150px;}
.uil-default-css > div:nth-of-type(5){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.16666666666666669s;animation-delay: -0.16666666666666669s;}
.uil-default-css { position: relative;background:none;width:150px;height:150px;}
.uil-default-css > div:nth-of-type(6){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.08333333333333331s;animation-delay: -0.08333333333333331s;}
.uil-default-css { position: relative;background:none;width:150px;height:150px;}
.uil-default-css > div:nth-of-type(7){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0s;animation-delay: 0s;}
.uil-default-css { position: relative;background:none;width:150px;height:150px;}
.uil-default-css > div:nth-of-type(8){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.08333333333333337s;animation-delay: 0.08333333333333337s;}
.uil-default-css { position: relative;background:none;width:150px;height:150px;}
.uil-default-css > div:nth-of-type(9){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.16666666666666663s;animation-delay: 0.16666666666666663s;}
.uil-default-css { position: relative;background:none;width:150px;height:150px;}
.uil-default-css > div:nth-of-type(10){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.25s;animation-delay: 0.25s;}
.uil-default-css { position: relative;background:none;width:150px;height:150px;}
.uil-default-css > div:nth-of-type(11){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.33333333333333337s;animation-delay: 0.33333333333333337s;}
.uil-default-css { position: relative;background:none;width:150px;height:150px;}
.uil-default-css > div:nth-of-type(12){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.41666666666666663s;animation-delay: 0.41666666666666663s;}
.uil-default-css { position: relative;background:none;width:150px;height:150px;}