body{
	margin:0px;
	font-family: Arial, Helvetica, sans-serif;
	background:#666666;
}
.padd {
	padding:10px 0 0 70px;
}
.blue_border_box {
	border:solid 1px #0099CC;
}

div.dashed_lines1 {
	border-bottom:dashed #c0c0c0 1px;
}
.table_report_bg1 {
	background:#f1f4f8;
}

.txtsmall
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
}

.body_bg{
	background-image: url(images/bgShadow3.jpg);
	background-repeat: repeat-y; 
	width: 878px;
	vertical-align:top; 
}

a:link, a:visited, a:active {
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

a:hover	
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #D4B063;
	text-decoration: none;
}

a:hover
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FF9900;
	text-decoration: underline;
}

.tableContent
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	border-color: silver; 
}

.tableHeader1
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color:#A6A6A6;
	padding:2px,0px,2px,0px;
	height:20px;
	text-align:left;
}
.tableContentSmall
{
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	border-color: Silver;
	text-align:left;
}