<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ecn.wizard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="isDemo" value="false"/>
    <add key="connString" value="server=10.161.1.47;uid=sa;pwd=dcran9755;database=ecn5_communicator"/>
    <add key="activity" value="server=10.161.1.47;uid=sa;pwd=dcran9755;database=ecn_activity"/>
    <add key="com" value="server=10.161.1.47;uid=sa;pwd=dcran9755;database=ecn5_communicator"/>
    <add key="act" value="server=10.161.1.47;uid=sa;pwd=dcran9755;database=ecn5_accounts"/>
    <add key="accountsdb" value="ecn5_accounts"/>
    <add key="communicatordb" value="ecn5_communicator"/>
    <add key="product_name" value="wizard"/>
    <add key="SMTPServer" value="216.17.41.200"/>
    <add key="fromemail" value="Sales@knowledgemarketing.com"/>
    <add key="bccemail" value="ashok@teckman.com"/>
    <add key="LocalPath" value="e:/http/ecn5"/>
    <!-- WHEN READY TO GET DATA FROM THE COOKIE DELETE THIS -->
    <!-- START LOGIN REDIRECTS-->
    <add key="BadLogin" value="http://wizard.ecn5.com/wizard/loginpages/"/>
    <add key="GoodLogin" value="../default.aspx"/>
    <!-- END LOGIN REDIRECTS-->
    <!--From Email address for channels-->
    <add key="Channel_20_Fromaddress" value="emailcampaign@unityworksmedia.com"/>
    <!-- DO NOT CHANGE THE VALUES BELOW-->
    <add key="EncryptionKey" value="eCn5SCWS"/>
    <!-- DO NOT CHANGE THE VALUES ABOVE-->
    <!-- THIS INFO IS TESTING INFO FOR VERISIGN PAYMENT GATEWAY. REPLACE WITH ACTUAL WHEN GO LIVE -->
    <!--
    <add key="vsUser" value="knowledgeMarketing" />
    <add key="vsVendor" value="knowledgeMarketing" />
    <add key="vsPartner" value="VeriSign" />
    <add key="vsPassword" value="3#eDc1!qAz" />
    <add key="PFPRO_HOST" value="pilot-payflowpro.verisign.com"/> 
      <add key="CERT_PATH" value="cert/"/>
    -->
    <add key="vsUser" value="knowmarketing"/>
    <add key="vsVendor" value="knowmarketing"/>
    <add key="vsPartner" value="verisign"/>
    <add key="vsPassword" value="admin14505"/>
    <add key="PFPRO_HOST" value="payflowpro.verisign.com"/>
    <add key="CERT_PATH" value="cert/"/>
    <!-- THIS INFO IS TESTING INFO FOR VERISIGN PAYMENT GATEWAY. DELETE WHEN NOT REQUIRED -->
    <add key="successmessageCC" value="&lt;strong&gt;Your payment has been accepted!&lt;/strong&gt;&lt;br&gt;&lt;br&gt; You can view the results of your email by going to the Reports area from the Main Menu. Please allow atleast 24 hours to view meaningful results.&lt;br&gt;"/>
    <add key="successmessage" value="Your email has been sent.&lt;br&gt;&lt;br&gt;You can view the results of your email by going to the Reports area from the Main Menu. Please allow at least 24 hours to view meaningful results.&lt;br&gt;"/>
    <add key="failuremessage" value="&lt;strong&gt;Error!&lt;/strong&gt;&lt;br&gt;Please review your credit card information and try again.&lt;br&gt;If you continue to experience difficulties, please contact&lt;br&gt; Knowledge Marketing Customer Assistance 1-866-844-6275.&lt;br&gt;"/>
    <add key="createerrmsg" value="&lt;span style='font-size:14px'&gt; %%errmsg%% &lt;BR&gt; Or your session has expired. Please start over again, by going back to login page. &lt;BR&gt;If you continue to experience difficulties, please contact &lt;BR&gt;Knowledge Marketing Customer Assistance 1-866-844-6275&lt;/span&gt;"/>
    <add key="cserrmsg" value="There seems to be a missing component from the contents. &lt;BR&gt;Please, make sure that there exists %%EventName%% [or] %%BadgeID%% in the contents."/>
    <add key="receiptCCmessage" value="Thank you for using Knowledge Marketing’s Email Wizard to send your email &#xA;message. Your credit card has been charged and the amount will appear on your &#xA;next credit card statement under the name of “Email Wizard”. Please retain this &#xA;for your records. If you have any questions please call Knowledge Marketing &#xA;Customer Assistance at 1-866-844-6275 or email us at support@knowledgemarketing.com."/>
    <add key="receiptmessage" value="Thank you for using Knowledge Marketing’s Email Wizard to send your email &#xA;message. If you have any questions please call Knowledge Marketing &#xA;Customer Assistance at 1-866-844-6275 or email us at support@knowledgemarketing.com."/>
    <add key="ECN.Wizard.wzPushLeadsList.PushLeadsList" value="http://wizard.ecn5.com/webservice/KM/PushLeadsList.asmx"/>
    <add key="ECN.Wizard.wzAccountCreation.AccountCreation" value="http://localhost/ecn.wizard.webservice/KM/AccountCreation.asmx"/>
    <add key="ECN.Wizard.wzProcessLogin.ProcessLogin" value="http://wizard.ecn5.com/webservice/KM/ProcessLogin.asmx"/>
    <!-- VirtualPath -->
    <add key="Accounts_VirtualPath" value="/ecn.accounts"/>
    <add key="Communicator_VirtualPath" value="/ecn.communicator"/>
    <add key="Creator_VirtualPath" value="/ecn.creator"/>
    <add key="Publisher_VirtualPath" value="/ecn.publisher"/>
    <add key="Collector_VirtualPath" value="/ecn.collector"/>
    <add key="Images_VirtualPath" value="/ecn.images"/>
    <!-- Domain Path-->
    <add key="Activity_DomainPath" value="http://email.ecn5.com"/>
    <add key="Image_DomainPath" value="http://images.ecn5.com"/>
  </appSettings>
  <connectionStrings>
    <add name="Communicator" connectionString="server=10.161.1.47;uid=sa;pwd=dcran9755;database=ecn5_communicator" providerName="System.Data.SqlClient"/>
    <add name="Activity" connectionString="server=10.161.1.47;uid=sa;pwd=dcran9755;database=ecn_activity" providerName="System.Data.SqlClient"/>
    <add name="KMCommon" connectionString="server=10.161.1.47;uid=sa;pwd=dcran9755;database=KMCommon" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.5"/>
    <identity impersonate="true" userName="Administrator" password="L!4aE2"/>
    <customErrors mode="Off"/>
    <machineKey validationKey="3D4D63BC66E13EBEA502B83A42379DF01D0D96718C50BB16962D6768070EA3E7F4854F431DE685D671D4E79E0440D4D9D015F5C3C49CD4CC517591E35DDF0EFF" decryptionKey="3EDEFDBFFFAAC0D62D5B59F8990ECAFAB4709F7D6E2E1F97" validation="SHA1"/>
    <authentication mode="Forms">
      <forms name="ecn" loginUrl="LoginPages/wizChannel_26_login.aspx" protection="All" timeout="500"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="500"/>
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <location path="InvokeWSHandlers">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="LoginHandlers">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Test">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="LoginPages">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <applicationSettings>
    <ecn.wizard.Properties.Settings>
      <setting name="ecn_wizard_wzAccountCreation_AccountCreation" serializeAs="String">
        <value>http://wizard.ecn5.com/webservice/KM/AccountCreation.asmx</value>
      </setting>
      <setting name="ecn_wizard_wzProcessLogin_ProcessLogin" serializeAs="String">
        <value>http://wizard.ecn5.com/webservice/KM/ProcessLogin.asmx</value>
      </setting>
      <setting name="ecn_wizard_wzPushLeadsList_PushLeadsList" serializeAs="String">
        <value>http://wizard.ecn5.com/webservice/KM/PushLeadsList.asmx</value>
      </setting>
    </ecn.wizard.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.85.5.452" newVersion="0.85.5.452"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
