<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <br />
                <h10>Search Options</h10>
                <br />
                <br />
                <h11>
                    For every searchable resource there are specific Comparators and ValueSets.
                </h11>
            </hgroup>
            <h13>
                <p>
                    Each time you make a search request using the Email Marketing API, you will pass in specific search criteria.  Below you 
                    will find the options for each resource.
                </p>
            </h13>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @*<h11>HTTP Status Codes and Their Meanings</h11>*@
        <table class="help-page-table" cellspacing="20">
            <thead>
                <tr>
                    <th align="right" width="10%">Resource</th>
                    <th width="10%" align="center">Property Name</th>
                    <th width="10%" align="center">Comparator</th>
                    <th width="10%">ValueSet</th>
                    <th align="center">Additional Information</th>
                </tr>
            </thead>
            <tbody id="table-body-content" style="border-top: solid thick">
                <tr>
                    <th align="right">Content</th>
                    <td align="center">FolderID</td>
                    <td align ="center">=</td>
                    <td>positive integer value</td>
                    <td>
                        Used for searching for Content within a specified folder.
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td align="center">Title</td>
                    <td align="center">contains</td>
                    <td>string value</td>
                    <td>
                        Used for searching for Content with a title that contains the supplied value.
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td align ="center">Archived</tdalign>
                    <td align="center">=</td>
                    <td>boolean value</td>
                    <td>
                        Used for searching for archived Content.  The value should be "true" or "false".
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td align="center">UpdatedDateFrom</td>
                    <td align="center">>=</td>
                    <td>date value</td>
                    <td>
                        Used for searching for Content with an updated date greater than or equal to the supplied value.  The 
                        format should be "2014-10-17 07:45:00".
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td align="center">UpdatedDateTo</td>
                    <td align="center"><=</td>
                    <td>date value</td>
                    <td>
                        Used for searching for Content with an updated date less than or equal to the supplied value.  The
                        format should be "2014-10-17 07:45:00".
                    </td>
                </tr>
            </tbody>
           <tbody id="table-body-customfield" style="border-top: solid thin">
                <tr>
                    <th align="right">CustomField</th>
                    <td align="center">GroupID</td>
                    <td align="center">=</td>
                    <td>positive integer value</td>
                    <td>
                        Used for searching for Custom Fields that belongs to a group with ID that is equal to the supplied value.
                    </td>
                </tr>
            </tbody>
            <tbody id="table-body-filter" style="border-top: solid thin">
                <tr>
                    <th align="right">Filter</th>
                    <td align="center">GroupID</td>
                    <td align="center">=</td>
                    <td>positive integer value</td>
                    <td>
                        Used for searching for Filter that belongs to a group with ID that is equal to the supplied value.
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td align="center">Archived</td>
                    <td align="center">=</td>
                    <td>boolean value</td>
                    <td>
                        Used for searching for archived Filter. The value should be "true" or "false".
                    </td>
                </tr>
            </tbody>
            <tbody id="table-body-folder" style="border-top: solid thin">
                <tr>
                    <th align="right">Folder</th>
                    <td align="center">Type</td>
                    <td align="center">=</td>
                    <td>string value</td>
                    <td>
                        Used for searching for Folders that has a type specified by the supplied value.
                    </td>
                </tr>
            </tbody>
            <tbody id="table-body-group" style="border-top: solid thin">
                <tr>
                    <th align="right">Group</th>
                    <td align="center">Name</td>
                    <td align="center">contains</td>
                    <td>string value</td>
                    <td>
                        Used for searching for Group with a name that contains the supplied value.
                    </td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <td align="center">FolderID</td>
                    <td align="center">=</td>
                    <td>positive integer value</td>
                    <td>
                       Used for searching for Group within a specified folder.
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td align="center">Archived</td>
                    <td align="center">=</td>
                    <td>boolean value</td>
                    <td>
                      Used for searching for archived Groups. The value should be "true" or "false".
                    </td>
                </tr>
            </tbody>
            <tbody id="table-body-image" style="border-top: solid thin">
                <tr>
                    <th align="right">Image</th>
                    <td align="center">ImageName</td>
                    <td align="center">contains</td>
                    <td>string value</td>
                    <td>
                        Used for searching for Image with a name that contains the supplied value.
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td align="center">=</td>
                    <td>string value</td>
                    <td>
                        Used for searching for Image with a name that is equal with the supplied value.
                    </td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <td align="center">FolderName</td>
                    <td align="center">=</td>
                    <td>string value</td>
                    <td>
                        Used for searching for Image within a folder with a name that is equal with the supplied value.
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td align="center">Recursive</td>
                    <td align="center">=</td>
                    <td>boolean value</td>
                    <td>
                        Used for searching subfolders of the folders identified.
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td align="center">Archived</td>
                    <td align="center">=</td>
                    <td>boolean value</td>
                    <td>
                        Used for searching for archived Images. The value should be "true" or "false".
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td align="center">Or pass no parameters</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </tbody>
            <tbody id="table-body-imagefolder" style="border-top: solid thin">
               <tr>
                   <th align="right">ImageFolder</th>
                   <td align="center">FolderName</td>
                   <td align="center">=</td>
                    <td>string value</td>
                    <td>
                        Used for searching for ImageFolder within a folder with a name that is equal with the supplied value.
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td align="center">contains</td>
                    <td>string value</td>
                    <td>
                        Used for searching for Image with a name that contains the supplied value.
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td align="center">Recursive</td>
                    <td align="center">=</td>
                    <td>boolean value</td>
                    <td>
                        Used for searching subfolders of the folders identified.
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td align="center">Or pass no parameters</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </tbody>
            <tbody id="table-body-message" style="border-top: solid thin">
                <tr>
                    <th align="right">Message</th>
                    <td align ="center">FolderID</td>
                    <td align="center">=</td>
                    <td>positive integer value</td>
                    <td>
                        Used for searching for Message within a specified folder.
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td align="center">Title</td>
                    <td align="center">contains</td>
                    <td>string value</td>
                    <td>
                        Used for searching for Message with a title that contains the supplied value.
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td align="center">UpdatedDateFrom</td>
                    <td align="center">>=</td>
                    <td>date value</td>
                    <td>
                        Used for searching for Message with an updated date greater than or equal to the supplied value.  The
                        format should be "2014-10-17 07:45:00".
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td align="center">UpdatedDateTo</td>
                    <td align="center"><=</td>
                    <td>date value</td>
                    <td>
                        Used for searching for Message with an updated date less than or equal to the supplied value.  The
                        format should be "2014-10-17 07:45:00".
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td align="center">Archived</td>
                    <td align="center">=</td>
                    <td>boolean value</td>
                    <td>
                        Used for searching for archived Groups. The value should be "true" or "false".
                    </td>
                </tr>
            </tbody>
            <tbody id="table-body-simpleblast" style="border-top: solid thin">
                <tr>
                    <th align="right">SimpleBlast</th>
                    <td align="center">EmailSubject</td>
                    <td align="center">contains</td>
                    <td>string value</td>
                    <td>
                        Used for searching for Blast with the Email Subject that is equal with the supplied value.
                    </td>
                </tr>
                <tr>
                    <th align="right">&nbsp;</th>
                    <td align="center">GroupID</td>
                    <td align="center">=</td>
                    <td>positive integer value</td>
                    <td>
                        Used for searching for Blast that is created for the group with ID that is equal to the supplied value.
                    </td>
                </tr>
                <tr>
                    <th align="right">&nbsp;</th>
                    <td align="center">IsTest</td>
                    <td align="center">=</td>
                    <td>boolean value</td>
                    <td>
                        Used to indicate if Blast is a Test Blast depending on the supplied value.
                    </td>
                </tr>
                <tr>
                    <th align="right">&nbsp;</th>
                    <td align="center">StatusCode</td>
                    <td align="center">=</td>
                    <td>string value</td>
                    <td>
                        Used for searching for the Blast with the Status Code that is equal to the supplied value.
                    </td>
                </tr>
                <tr>
                    <th align="right">&nbsp;</th>
                    <td align="center">ModifiedTo</td>
                    <td align="center"><=</td>
                    <td>date value</td>
                    <td>
                        Used for searching for the Blast created on the Date that less or equal to the supplied value.
                    </td>
                </tr>
                <tr>
                    <th align="right">&nbsp;</th>
                    <td align="center">ModifiedFrom</td>
                    <td align="center">>=</td>
                    <td>date value</td>
                    <td>
                        Used for searching for the Blast created on the Date that greater or equal to the supplied value.
                    </td>
                </tr>
            
            </tbody>
        </table>
    </section>
</div>
