<div class="wrapper modal modalsave">
    <fieldset title="Save">
        <legend>Save</legend>
        <ul class="formlist">
            <li><span>Any changes you made will be lost. Would you like to save your changes?</span></li>
            <li>
                <div class="buttonsgroup">
                    @Html.Kendo().Button().Name("Save").Content("Save").HtmlAttributes(new { @class = "btn gridbtn gridbtn-addnewrule", type = "button", onclick = "saveAndMove()" })
                    @Html.Kendo().Button().Name("NotSave").Content("Don't Save").HtmlAttributes(new { @class = "btn gridbtn gridbtn-addnewrule", type = "button", onclick = "notSaveAndMove()" })
                    @Html.Kendo().Button().Name("Cancel").Content("Cancel").HtmlAttributes(new { @class = "btn gridbtn gridbtn-addnewrule", type = "button", onclick = "cancelMove()" })
                </div>
            </li>
        </ul>
    </fieldset>
</div>
