<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseChannelIDs" value="34,55"/>
    <add key="CustomerIDs" value=""/>
    <add key ="OutLog" value="smtplogout_"/>
    <add key ="SmtpServer" value="216.17.41.200"/>
    <add key ="ToEmail" value="bill.hipps@teamkm.com"/>
    <add key ="CCEmail" value=""/>
    <add key ="FromEmail" value="info@teamkm.com"/>
    <add key ="Timeout" value="30"/>
    <add key ="GAURL" value="http://greenarrow.teckman.com/greenarrowadmin/h/stats_sends_view_logs.php?"/>
    <add key ="GAUserID" value="admin"/>
    <add key ="GAPassword" value="9keen8repute"/>
    <add key ="GAFile" value="gafile_"/>
    <add key ="GATimeout" value="3600000"/>
    <add key ="DayToProcess" value="-7"/>
    <!--<add key ="StartDate" value="8/16/2011 00:00:01.000"/>-->
    <!--<add key ="EndDate" value="9/12/2011 23:59:59.000"/>-->
    <!--<add key ="BlastList" value="1,2,3"/>-->
    <add key ="ProcessType" value="SingleDay"/>
    <!--<add key ="ProcessType" value="BlastList"/>-->
    <!--<add key ="ProcessType" value="DateRange"/>-->
  </appSettings>
  <connectionStrings>
    <add name="ecn5_CommunicatorConnectionString" connectionString="server=10.161.1.47; database=ecn5_communicator; uid=sa; pwd=dcran9755; Connect Timeout=180"
   providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
