<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" />
    </configSections>
  <appSettings>
    <add key="connString" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_accounts" />
    <add key="accountsdb" value="ecn5_accounts" />
    <add key="communicatordb" value="ecn5_communicator" />
    <add key="com" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" />
    <add key="act" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_accounts" />
    <add key="Accounts" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_accounts" />
    <add key="col" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_collector" />
    <add key="cre" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_creator" />
    <add key="pub" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_publisher" />
    <add key="ecn_misc_connString" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn_misc" />
    <add key="activity" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn_activity" />
    <add key="product_name" value="accounts" />
    <!-- NOTIFICATIOn PARAMETERS -->
    <add key="ShowNotification" value="true" />
    <add key="NotificationTitle" value="Notification" />
    <add key="NotificationMessage" value="Knowledge Marketings Audience Management Platform will be undergoing hardware maintenance from 9:00 p.m. to 10:00 pm CDT on Wednesday, May 21, 2014. During this time, there will be a brief interruption in service. If you have any questions, please contact your KM Representative at 1-866-844-6275." />
    <add key="ShowImage" value="true" />
    <add key="NotificationImage" value="&lt;a href='http://kmconnect.knowledgemarketing.com/' target='_blank'&gt;&lt;img src='http://images.ecn5.com/images/FinalkmConnectPopup.jpg' style='max-width:240px;max-height:200px;' alt='' border='0' /&gt;&lt;/a&gt;" />
    
    <!-- MISC PARAMETERS -->
    <add key="HomePageContentID" value="1614" />
    <add key="SMTPServer" value="216.17.41.200" />
    <add key="GotUsedBaseChannelID" value="25" />
    <!-- START PRIVATE CHANNEL PARTNER LOGIN / LOGOFF PAGES <channelID>_Login_Page-->
    <!-- NEBook Custom Wizard -->
    <add key="25_Login_Redirect" value="http://localhost/ecn.gotused.wizard/default.aspx" />
    <add key="25_Home_Redirect" value="http://localhost/ecn.gotused.wizard/main/default.aspx" />
    <add key="25_Logoff_Redirect" value="http://localhost/ecn.gotused.wizard/default.aspx?Cmd=logout" />
    <!-- KM & NON-Private Labeled Channels -->
    <add key="ECN_Login_Redirect" value="/ecn.accounts/login.aspx" />
    <add key="ECN_Home_Redirect" value="/ecn.accounts/default.aspx" />
    <add key="ECN_Logoff_Redirect" value="/ecn.accounts/login.aspx" />
    <!-- KM & NON-Private Labeled Channels -->
    <add key="47_Login_Redirect" value="http://www.ecnturbo.com" />
    <add key="47_Home_Redirect" value="http://www.ecnturbo.com/main/wizard/default.aspx" />
    <add key="47_Logoff_Redirect" value="http://www.ecnturbo.com" />
    <!-- James Allyn Channel -->
    <add key="44_Login_Redirect" value="http://www.jamesallyn.com/login.php" />
    <add key="44_Logoff_Redirect" value="http://www.jamesallyn.com/login.php" />
    <!-- Great Clips Channel -->
    <add key="48_Login_Redirect" value="http://localhost/ecn.accounts/login.aspx" />
    <add key="48_Home_Redirect" value="http://localhost/ecn.communicator/main/wizard/" />
    <add key="48_Logoff_Redirect" value="http://localhost/ecn.accounts/login.aspx" />
    <!-- KComm Channel-->
    <add key="51_Login_Redirect" value="http://localhost/ecn.accounts/includes/loginKcomm.html" />
    <add key="51_Home_Redirect" value="http://localhost/ecn.accounts/main/default.aspx" />
    <add key="51_Logoff_Redirect" value="http://localhost/ecn.accounts/includes/loginKcomm.html" />
    <!-- InPosition Channel -->
    <add key="10_Login_Redirect" value="http://etools.inposition.biz/inposition_login.htm" />
    <add key="10_Home_Redirect" value="http://etools.inposition.biz/ecn.accounts/default.aspx" />
    <add key="10_Logoff_Redirect" value="http://etools.inposition.biz/inposition_logout.htm" />
    <!-- CANON COMM - Canon TS Customers -->
    <!-- FORMAT: <BaseChannelID>_<CustomerID>_Login_Redirect & <BaseChannelID>_<CustomerID>_Logoff_Redirect-->
    <add key="42_1794_Login_Redirect" value="/ecn.accounts/default.aspx" />
    <add key="42_1794_Home_Redirect" value="/ecn.accounts/default.aspx" />
    <add key="42_1794_Logoff_Redirect" value="/ecn.accounts/default.aspx" />
    <add key="42_1054_Login_Redirect" value="/ecn.accounts/default.aspx" />
    <add key="42_1054_Home_Redirect" value="/ecn.accounts/default.aspx" />
    <add key="42_1054_Logoff_Redirect" value="/ecn.accounts/default.aspx" />
    <add key="42_3460_Login_Redirect" value="/ecn.accounts/default.aspx" />
    <add key="42_3460_Home_Redirect" value="/ecn.accounts/default.aspx" />
    <add key="42_3460_Logoff_Redirect" value="/ecn.accounts/default.aspx" />
    <!-- BILLING NOTIFICATION PARAMETERS -->
    <add key="NotifyBillingDept_FROM_EMAIL" value="sales@knowledgemarketing.com" />
    <add key="NotifyBillingDept_EMAIL" value="dev@knowledgemarketing.com" />
    <add key="TASKRPT_FromEmail" value="info@knowledgemarketing.com" />
    <add key="TASKRPT_ToEmail" value="dev@knowledgemarketing.com" />
    <add key="TASKRPT_Subject" value="TASK Notification from ECN" />
    <!-- MISC PARAMETERS-->
    <add key="Server" value="10.161.1.47" />
    <add key="Database" value="ecn5_Accounts" />
    <add key="UserID" value="sa" />
    <add key="Password" value="dcran9755" />
    <add key="PDFTron_LicenseKey" value="knowledgemarketing.com:CPU:1:R:W:AMC(20090110):1EC47B0055DDAA21E3C861109C92BA1BAC24D204A05BC75E69C072F0FA" />
    <!-- QUOTES PARAMETERS -->
    <add key="ApproveQuoteEmailSubjectTemplate" value="Quote request from Knowledge Marketing" />
    <!-- {0}: Salutation;{1}: FirstName;{2}:LastName;{3}:Link to approve quote;{4}:NBD's first name. -->
    <add key="ApproveQuoteEmailBodyTemplate" value="{1}:                    Thank you for the opportunity to earn your business. Below is a link to the items we have discussed. Please click the link to review and approve the quote.          {3}                    {4}                    Best Regards,                    Knowledge Marketing Team." />
    <!-- Following are the text used to display on the First Page of Quote Approval process that a customer sees -->
    <add key="testAccountVerbiage" value="Per our conversation, I have created a test account with the features needed to accomplish your current objective.&#xA; To access your test account, please review our {0}, and click the login button. To accept this quote, please complete or update the information below." />
    <add key="approveVerbiage" value="&lt;b&gt;Accepting this service is easy! &lt;/b&gt;  Simply choose &lt;b &gt; 'accept' &lt;/b&gt; at the bottom of this quote after filling out your company's information below." />
    <add key="mainVerbiage" value="&lt;SPAN style='font-size:12pt'&gt; &lt;b&gt;Dear {0}&lt;/b&gt;&lt;/SPAN&gt;,&#xA;&lt;br&gt;&lt;br&gt;&#xA; Thanks for your interest in &lt;b&gt;Knowledge Marketing's Better, Faster and Smarter&lt;/b&gt; Internet marketing services. I'm confident you will come to value our relationship greatly, as we constantly strive to help you achieve your business goals.&#xA;&lt;br&gt;&lt;br&gt;&#xA;&lt;FIELDSET&gt;&#xA;&lt;LEGEND&gt;Notes&lt;/LEGEND&gt;&lt;font color=red&gt;{1} &lt;/font&gt;&#xA;&lt;/FIELDSET&gt;&#xA;&lt;br&gt;&lt;br&gt;&#xA; {2}&#xA;&lt;br&gt;&lt;br&gt;&#xA; Best regards,&lt;br&gt;&#xA;Knowledge Marketing Team.&lt;br&gt;&lt;br&gt;" />
    <!-- VirtualPath -->
    <add key="Accounts_VirtualPath" value="/ecn.accounts" />
    <add key="Communicator_VirtualPath" value="/ecn.communicator" />
    <add key="Creator_VirtualPath" value="/ecn.creator" />
    <add key="Publisher_VirtualPath" value="/ecn.publisher" />
    <add key="Collector_VirtualPath" value="/ecn.collector" />
    <add key="Images_VirtualPath" value="/ecn.images" />
    <!-- Domain Path-->
    <add key="Activity_DomainPath" value="http://test.emailactivitylog.ecn5.com/" />
    <add key="MVCActivity_DomainPath" value="http://test.ea.ecn5.com" />
    <add key="Accounts_DomainPath" value="http://test.ecn5.com" />
    <add key="Image_DomainPath" value="http://localhost/ecn.images" />
    <add key="ResetPassword_URL" value="http://test.ecn5.com/EmailMarketing.Site/Reset" />
    <add key="isDemo" value="true" />
    <add key="KMCommon_Application" value="34" />
    <add key="KMCommon_SmtpServer" value="216.17.41.200" />
    <!-- Socail path and files -->
    <add key="Social_DomainPath" value="http://test.social.ecn5.com" />
    <add key="SocialPreview" value="/SPreview.aspx?" />
    <add key="SocialClick" value="/SClick.aspx?" />
    <add key="CacheLimit" value="1440" />
    <!-- For testing blast engine with alternate dynamic content proc-->
    <add key="DynamicContentProc" value="sp_getBlastEmailsList_for_DynamicContent_SchedulerTest_WithoutTopCount" />
    <add key="kmlearn" value="false" />
    <add key="ReportPath" value="~/main/reports/" />
    <add key="AppFabricCacheEnabled" value="false" />    <!-- Local: false, QA: true, Prod: true-->
    <add key="AppFabricServer" value="DevAppFabric.hq.teckman.com" />    <!-- Local: DevAppFabric.hq.teckman.com, QA: appfabric, Prod: appfabric-->
    <add key="AppFabricServer-NamedCache" value="ECNDEV" />    <!-- Local: ECNDEV, QA: ECNQA, Prod: ECN-->
    <add key="IsNetworkDeployed" value="false" />
    <add key="MasterClientID" value="101" />
    <add key="MasterClientGroupID" value="101" />
    <add key="WQTUrl" value="http://wqttest.kmpsgroup.com/login.aspx" />
    <add key="HideForms" value="false" />
    <add key="FormsShow_143" value="true" />
    <add key="FormsShow_151" value="true" />
    <add key="FormsShow_93" value="true" />
    <add key="FormsShow_34" value="true" />
    <add key="MTA_ToEmail" value="justin.welter@teamkm.com,preethi.sadagopan@teamkm.com" />
  
  

    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"></add>
  
    
    <add key="MAVisible" value="false" />
  <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
  <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
  </appSettings>
  <connectionStrings>
    <add name="accounts" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_accounts" providerName="System.Data.SqlClient" />
    <add name="communicator" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" />
    <add name="Collector" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_collector" providerName="System.Data.SqlClient" />
    <add name="Activity" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn_activity" providerName="System.Data.SqlClient" />
    <add name="Comm" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" />
    <add name="KMCommon" connectionString="server=10.161.1.47;uid=webuser;pwd=webuser#23#;database=KMCommon" providerName="System.Data.SqlClient" />
    <add name="creator" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_creator" providerName="System.Data.SqlClient" />
    <add name="KMPlatform" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=KMPlatform" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime requestLengthDiskThreshold="8192" requestValidationMode="2.0" targetFramework="4.6.1" maxRequestLength="1024000" executionTimeout="3600" />
    <compilation defaultLanguage="c#" debug="true" tempDirectory="c:/TempFolder" targetFramework="4.6.1">
      <assemblies>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <customErrors mode="Off" defaultRedirect="error.aspx">
      <error statusCode="400" redirect="error.aspx?scd=400" />
      <error statusCode="401" redirect="error.aspx?scd=401" />
      <error statusCode="403" redirect="error.aspx?scd=403" />
      <error statusCode="404" redirect="error.aspx?scd=404" />
      <error statusCode="405" redirect="error.aspx?scd=405" />
    </customErrors>
    <machineKey validationKey="3D4D63BC66E13EBEA502B83A42379DF01D0D96718C50BB16962D6768070EA3E7F4854F431DE685D671D4E79E0440D4D9D015F5C3C49CD4CC517591E35DDF0EFF" decryptionKey="3EDEFDBFFFAAC0D62D5B59F8990ECAFAB4709F7D6E2E1F97" validation="SHA1" compatibilityMode="Framework20SP2" />
    <authentication mode="Forms">
      <forms name="ecn" loginUrl="/EmailMarketing.Site/Login" slidingExpiration="true" enableCrossAppRedirects="true" cookieless="UseCookies" protection="All" timeout="30" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <!--<add path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" />--> 
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" /></controls>
    </pages>
    <siteMap defaultProvider="General" enabled="true">
      <providers>
        <clear />
        <add name="General" type="System.Web.XmlSiteMapProvider" siteMapFile="web.sitemap" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
  <!-- Glimpse: This can be commented in to add additional data to the Trace tab when using WebForms
        <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false"/> --><!-- Glimpse: This can be commented in to add additional data to the Trace tab when using WebForms
        <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false"/> -->
    <httpModules>
        <!--<add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" />-->
    </httpModules></system.web>
  <location path="main">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <modules>
      <add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-ISAPI-2.0" />
      
      <remove name="ChartImage_axd" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Telerik_Web_UI_WebResource_axd" /><add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />

      <add name="JSON" path="*.json" verb="*" type="JSONHandler" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  <security>
    <requestFiltering>
      <requestLimits maxAllowedContentLength="1048576000" /></requestFiltering></security>
  </system.webServer>
<glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd">
      <!-- 
          For more information on how to configure Glimpse, please visit http://getglimpse.com/Help/Configuration
          or access {your site}/Glimpse.axd for even more details and a Configuration Tool to support you. 
      -->
    <!-- 
          For more information on how to configure Glimpse, please visit http://getglimpse.com/Help/Configuration
          or access {your site}/Glimpse.axd for even more details and a Configuration Tool to support you. 
      --></glimpse>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
