<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="connString" value="server=10.10.41.241;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_accounts" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="com" value="server=10.10.41.241;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="act" value="server=10.10.41.241;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_accounts" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Accounts" value="server=10.10.41.241;uid=sa;pwd=dcran9755;database=ecn5_accounts" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="col" value="server=10.10.41.241;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_collector" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="cre" value="server=10.10.41.241;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_creator" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="pub" value="server=10.10.41.241;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_publisher" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ecn_misc_connString" value="server=10.10.41.241;uid=ecn5;pwd=EcN5AcCeSs;database=ecn_misc" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="activity" value="server=10.10.41.241;uid=ecn5;pwd=EcN5AcCeSs;database=ecn_activity" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- MISC PARAMETERS -->
    <add key="SMTPServer" value="10.10.41.200" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- START PRIVATE CHANNEL PARTNER LOGIN / LOGOFF PAGES <channelID>_Login_Page-->
    <!-- NEBook Custom Wizard -->
    <add key="25_Login_Redirect" value="http://test.ecn5.com/neebo/default.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="25_Home_Redirect" value="http://test.ecn5.com/neebo/main/default.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="25_Logoff_Redirect" value="http://test.ecn5.com/neebo/default.aspx?Cmd=logout" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- KM & NON-Private Labeled Channels -->
    <add key="ECN_Login_Redirect" value="http://test.ecn5.com/ecn.accounts/login.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ECN_Home_Redirect" value="http://test.ecn5.com/ecn.accounts/default.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ECN_Logoff_Redirect" value="http://test.ecn5.com/ecn.accounts/login.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <!-- Great Clips Channel -->
    <add key="48_Login_Redirect"	value="http://test.ecn5.com/ecn.accounts/login.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="48_Home_Redirect"	value="http://test.ecn5.com/ecn.communicator/main/wizard/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="48_Logoff_Redirect"	value="http://test.ecn5.com/ecn.accounts/login.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!-- KComm Channel-->
    <add key="51_Login_Redirect"	value="http://test.ecn5.com/ecn.accounts/includes/loginKcomm.html" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="51_Home_Redirect"	value="http://test.ecn5.com/ecn.accounts/main/default.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="51_Logoff_Redirect"	value="http://test.ecn5.com/ecn.accounts/includes/loginKcomm.html" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <!-- BILLING NOTIFICATION PARAMETERS -->
    <add key="NotifyBillingDept_FROM_EMAIL" value="sales@knowledgemarketing.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="NotifyBillingDept_EMAIL" value="dev@knowledgemarketing.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TASKRPT_FromEmail" value="info@knowledgemarketing.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TASKRPT_ToEmail" value="dev@knowledgemarketing.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TASKRPT_Subject" value="TASK Notification from ECN" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- MISC PARAMETERS-->
    <add key="Server" value="10.10.41.241" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- Domain Path-->
    <add key="Activity_DomainPath" value="http://test.emailactivitylog.ecn5.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Image_DomainPath" value="http://images.ecn5.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="isDemo" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="KMCommon_SmtpServer" value="10.10.41.200" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
  </appSettings>
  <connectionStrings>
    <add name="accounts" connectionString="server=10.10.41.241;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_accounts" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="communicator" connectionString="server=10.10.41.241;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Activity" connectionString="server=10.10.41.241;uid=sa;pwd=dcran9755;database=ecn_activity" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="KMCommon" connectionString="server=10.10.41.241;uid=sa;pwd=dcran9755;database=KMCommon" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="creator" connectionString="server=10.10.41.241;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_creator" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <identity impersonate="true" userName="administrator" password="L!4aE2" xdt:Transform="InsertBefore(/configuration/system.web/httpRuntime)" />
  </system.web>
</configuration>