<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-ecn.activity-20150714103414;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-ecn.activity-20150714103414.mdf" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
		<add name="Comm" connectionString="server=216.17.41.198;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="activity" connectionString="server=216.17.41.198;uid=ecn5;pwd=EcN5AcCeSs;database=ecn_activity" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="Communicator" connectionString="server=216.17.41.198;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="DomainTracker" connectionString="server=216.17.41.198;uid=ecn5;pwd=EcN5AcCeSs;database=ECN5_DomainTracker" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="KMCommon" connectionString="server=216.17.41.251;uid=webuser;pwd=webuser#23#;database=KMCommon" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="Accounts" connectionString="server=216.17.41.198;uid=ecn5;pwd=EcN5AcCeSs;database=ECN5_Accounts" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="KMPlatform" connectionString="server=216.17.41.198;uid=ecn5;pwd=EcN5AcCeSs;database=KMPlatform" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
		<add key="webpages:Enabled" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
		<add key="PreserveLoginUrl" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
		<add key="ClientValidationEnabled" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
		<add key="ECNEngineAccessKey" value="651A1297-59D1-4857-93CB-0B049635762E" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
    <add key="IsNetworkDeployed" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="IsDemo" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    
	</appSettings>
	
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>