
<style>
   
    .marketing-table {
        width: 100%;
        margin:0 5%;
    }

    .marketing-col {
        width: 30%;
       
      }
    td.marketing-col{
         padding:0px;
        margin:0px;
    }
   
</style>
<div style="margin:0 auto;">

    <table class="marketing-table">
        <tbody>
            <tr>
                <td class="marketing-col"><label>Old Acct #:</label></td>
                <td class="marketing-col"><input class="k-textbox" ng-model="subscrberViewModel.PubSubscription.AccountNumber" style="background-color:#D3D3D3;width:70%;" ng-disabled="true" /></td>
            </tr>
            <tr>
                <td class="marketing-col"><label>Member Group:</label></td>
                <td class="marketing-col"><input class="k-textbox" ng-model="subscrberViewModel.PubSubscription.MemberGroup" style="width:70%;" tabindex="22"/></td>
            </tr>
            <tr>
                <td class="marketing-col"><label>OrigsSrc:</label></td>
                <td class="marketing-col"><input class="k-textbox" ng-model="subscrberViewModel.PubSubscription.OrigsSrc"  style="background-color:#D3D3D3;width:70%;"  ng-disabled="true" /></td>
            </tr>
            <tr>
                <td class="marketing-col"><label>Subsrc:</label></td>
                <td class="marketing-col"><input class="k-textbox" ng-model="subscrberViewModel.PubSubscription.SubscriberSourceCode" style="width:70%;" tabindex="23" /></td>
            </tr>
            <tr>
                <td class="marketing-col"><label>Subsrc Type:</label></td>
                <td class="marketing-col">
                    <input id="subSrcID" ng-model="subscrberViewModel.PubSubscription.SubSrcID" tabindex="24" style="width:70%;"/>

                </td>
            </tr>
            <tr>
                <td class="marketing-col"><label>Media Type:<strong style="color:red;">*</strong></label></td>
                <td class="marketing-col">
                    <input id="mediaType" name="media" ng-model="subscrberViewModel.PubSubscription.Demo7" style="width:70%;" tabindex="25" rqrd />
                    <div ng-show="loadcomplete" ng-messages="subscriberform.media.$error" style="color:red">
                        <div ng-message="rqrd">Please select Media Type.</div>
                    </div>
                    
                </td>
            </tr>
            <tr>
                <td class="marketing-col"><label>Verify:</label></td>
                <td class="marketing-col"><input class="k-textbox" ng-model="subscrberViewModel.PubSubscription.Verify" style="width:70%;" tabindex="26" /></td>
            </tr>
           
            
        </tbody>
    </table>

</div>