<style>
    .adhocs-table {
        width: 60%;
        margin-left: 10px;
    }

    .adhocs-columns {
        width: 48%;
        padding: 5px auto;
    }
</style>


<table class="adhocs-table">
    <tbody>
        <tr ng-repeat="Adhoc in subscrberViewModel.PubSubscription.AdHocFields ">
            <td class="adhocs-columns"><label>{{Adhoc.AdHocField}}</label></td>
            <td class="adhocs-columns">
                <input class="k-textbox" ng-model="Adhoc.Value" ng-change="AdHocChanged(Adhoc)" />
            </td>
        </tr>
    </tbody>
</table>
