body {
    background-color: #FFF;
}

ul {
    list-style: none;
    padding: 0;
}

#confirmationMessageDiv ul {
    list-style: disc;
}

table {
    float: none;
}

.formprewcontetnbox {
    max-width: 800px;
    width: 95%;
    min-height: 300px;
    margin: auto;
    margin-top: 20px;
    padding: 5px;
}

.langtranslbox {
    text-align: right;
    margin-right: 18px;
}

label.error, div.grid_error {
    color: #DF0000 !important;
    font-size: 11px !important;
    font-family: vardana,geneva,arial,helvetica,sans-serif !important;
    font: normal 13px arial,sans-serif;
    background-color: transparent !important;
}

label span.km_asterisk {
    color: #DF0000 !important;
    font-family: Verdana;
}

.kmIFrame {
    border: 0;
    width: 100%;
}

.kmForm {
    clear: both;
    color: #000;
    background-color: #FFF;
    border-color: rgba(0,0,0,0);
    border-width: 1px;
    border-style: solid;
    margin: 0;
    width: 95%;
    font-family: vardana,geneva,arial,helvetica,sans-serif;
    font: normal 13px arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    border: 4px dotted blue;
}

    .kmForm li > div > label {
        color: #000;
        font-size: 12px;
        font-weight: bold;
        font-family: vardana;
        display: block;
        background-color: #000;
        border: 4px dotted blue;
        font: normal 13px arial,sans-serif;
    }

    .kmForm fieldset {
        border: none;
        padding: 0;
    }

    .kmForm ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .kmForm ul > li {
            text-align: left;
            overflow: auto;
        }

.kmFormList .liElement > div {
    overflow: auto;
}

.kmForm ul li {
    padding: 0;
    margin-bottom: 20px;
}

.kmForm .km_item {
    display: block;
    float: left;
    vertical-align: top;
}

.kmForm .km_hint input {
    position: absolute;
    left: -1000px;
    top: -1000px;
}

.kmForm .kmButton {
    text-align: left;
}

.kmForm .kmGrid {
    border: 1px solid #C8C8CB;
}

.kmForm .kmListBox {
    border: 1px solid #C8C8CB;
}

.kmForm .kmButton button {
    background-color: #F6F6F6;
    border: 1px solid #C8C8CB;
    border-radius: 0;
    color: #000;
    cursor: pointer;
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font: normal 13px arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    width: auto;
    margin: 0 5px;
    margin-bottom: 20px;
}

.kmForm .kmTextbox input {
    background-color: #FFF;
    border: 1px solid #C8C8CB;
    border-radius: 0;
    color: #000;
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    width: auto;
}

.kmForm .kmTextbox label {
    color: #000;
    background-color: #FFF;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
}

.kmForm .kmTextarea textarea {
    background-color: #FFF;
    border: 1px solid #C8C8CB;
    border-radius: 0;
    color: #000;
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    width: auto;
}

.kmForm .kmTextarea label {
    color: #000;
    background-color: #FFF;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
}

.kmForm .kmRadiobutton label {
    display: block;
    color: #000;
    background-color: #FFF;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
}

.kmForm .kmCheckbox label {
    display: block;
    color: #000;
    background-color: #FFF;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
}

.kmForm .kmCheckbox div {
    background-color: #FFF;
}

.kmForm li > .kmCheckbox > div {
    float: left;
    border: 1px solid #C8C8CB;
}

.kmForm .kmCheckbox span {
    color: #000;
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
}

.kmForm .kmRadiobutton div {
    background-color: #FFF;
}

.kmForm li > .kmRadiobutton > div {
    float: left;
    border: 1px solid #C8C8CB;
}

.kmForm .kmRadiobutton span {
    color: #000;
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
}

.kmForm .kmRadiobutton .category {
    display: block;
    color: #000;
    background-color: #FFF;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    margin: 10px 0 5px 5px;
}

.kmForm .kmCheckbox input[type='checkbox'] {
    background-color: #FFF;
    border: 1px solid #C8C8CB;
    border - radius:0;
    color: #000;
    float: left;
    width: 10px;
}

.kmForm .kmRadiobutton input[type = 'radio'] {
    background-color: #FFF;
    border: 1px solid #C8C8CB;
    border-radius: 0;
    color: #000;
    float: left;
}

.kmForm .kmDropdown select {
    background-color: #FFF;
    border: 1px solid #C8C8CB;
    border-radius: 0;
    color: #000;
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font: normal 13px arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 26px;
    line-height: 26px;
    padding: 0;
}

.kmForm .kmDropdown label {
    color: #000;
    background-color: #FFF;
    font-family: Arial;
    font-weight: normal;
    font-size: 12px;
}

.kmForm .kmDropdown.category {
    color: #000;
    background-color: #FFF;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    margin: 10px 0 5px 5px;
}

.kmForm .kmDropdown select option {
    color: #000;
    font-family: Verdana;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
}

.kmForm .kmGrid table {
    background-color: #FFF;
    display: inline-block;
}

.kmForm .kmGrid > table {
    border: 1px solid #C8C8CB;
}

.kmForm .kmGrid label {
    color: #000;
    background-color: #FFF;
    font-family: Arial;
    font-weight: normal;
    font-size: 12px;
}

.kmForm .kmGrid td, .kmForm .kmGrid th {
    border-bottom: 1px solid #C8C8CB;
    color: #000;
    font-family: Verdana;
    font-size: 12px;
    font-weight: normal;
    padding: 5px;
    text-align: center;
}

.kmForm .kmGrid th {
    letter-spacing: -0.4pt;
}

    .kmForm .kmGrid td td:nth-child(0n+1), .kmForm.kmGrid th:nth-child(0n+1), .kmForm.kmGrid td td:nth-child(0n+2), .kmForm.kmGrid th:nth-child(0n+2) {
        text - align:left;
    }

.kmForm .kmListbox select {
    background-color: #FFF;
    border: 1px solid #C8C8CB;
    border-radius: 0;
    color: #000;
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font: normal 13px arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 26px;
    line-height: 26px;
    padding: 0;
    min-width: 85px;
    min-height: 50px;
    overflow: auto;
}

.kmForm .kmListbox Grid {
    background-color: #FFF;
    border: 1px solid #C8C8CB;
    border-radius: 0;
    color: #000;
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font: normal 13px arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 26px;
    line-height: 26px;
    padding: 0;
    min-width: 85px;
    min-height: 50px;
    overflow: auto;
}

.kmForm .kmListbox label {
    color: #000;
    background-color: #FFF;
    font-family: Arial;
    font-weight: normal;
    font-size: 12px;
}

.kmForm .kmListbox .category {
    color: #000;
    background-color: #FFF;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    margin: 10px 0 5px 5px;
}

.kmForm .kmListbox select option {
    color: #000;
    font-family: Verdana;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
}

.kmForm .kmNewsletter {
}

    .kmForm .kmNewsletter input[type='radio'] {
        border: 1px solid #C8C8CB;
        border - radius:0;
        color: #000;
        font - family:Verdana,Geneva,Arial,Helvetica,sans - serif;
        font - size:12px;
        font - weight:normal;
        width: auto;
        float: none;
    }

    .kmForm .kmNewsletter div {
        background-color: #FFF;
    }

.kmForm li > .kmNewsletter > div {
    float: left;
    border: 1px solid #C8C8CB;
}

.kmForm .kmNewsletter label {
    color: #000;
    background-color: #FFF;
    font-family: Arial;
    font-weight: normal;
    font-size: 12px;
}

.kmForm .kmNewsletter.category {
    color: #000;
    background-color: #FFF;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    margin: 10px 0 5px 5px;
}

.kmForm .kmNewsletter span {
    color: #000;
    font-family: Verdana;
    font-size: 12px;
    font-weight: normal;
}

.cleanLabel, .cleanLabel ul, .cleanLabel ol, .cleanLabel ul > li, .cleanLabel ol > li {
    overflow: visible;
    margin: initial;
    padding: initial;
    list-style: initial;
}

    .cleanLabel ul > li {
        list-style-type: disc;
    }

    .cleanLabel ol > li {
        list-style-type: decimal;
    }

    .cleanLabel > ul, .cleanLabel > ol {
        padding: 0 0 0 20px;
    }

.kmCaptcha > div > div > div > iframe {
    background-color: rgba(255,0,0,.7);
    padding-left: 2px;
    padding-top: 2px;
    border-radius: 6px;
}
