<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" culture="neutral" publicKeyToken="1b03e6acf1164f73"/>
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.452" newVersion="0.86.0.518"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!--<add name="UAS" providerName="System.Data.SqlClient" connectionString="server=108.160.208.110;database=UAS;uid=webuser;pwd=webuser#23#;timeout=0;" />
    <add name="UAD_Lookup" providerName="System.Data.SqlClient" connectionString="server=108.160.208.110;database=UAD_Lookup;uid=webuser;pwd=webuser#23#;timeout=0;" />
    <add name="KMPlatform" providerName="System.Data.SqlClient" connectionString="server=108.160.208.110;database=KMPlatform;uid=webuser;pwd=webuser#23#;timeout=0;" />
    <add name="SubGenData" providerName="System.Data.SqlClient" connectionString="server=108.160.208.110;database=SubGenData;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="KMCommon" providerName="System.Data.SqlClient" connectionString="server=108.160.208.110;database=KMCommon;uid=webuser;pwd=webuser#23#;timeout=0;" />

    <add name="UAS" providerName="System.Data.SqlClient" connectionString="server=216.17.41.251;database=UAS;uid=webuser;pwd=webuser#23#;timeout=0;" />
    <add name="UAD_Lookup" providerName="System.Data.SqlClient" connectionString="server=216.17.41.251;database=UAD_Lookup;uid=webuser;pwd=webuser#23#;timeout=0;" />
    <add name="KMPlatform" providerName="System.Data.SqlClient" connectionString="server=216.17.41.198;database=KMPlatform;uid=webuser;pwd=webuser#23#;timeout=0;" />
    <add name="SubGenData" providerName="System.Data.SqlClient" connectionString="server=216.17.41.198;database=SubGenData;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="KMCommon" providerName="System.Data.SqlClient" connectionString="server=216.17.41.251;database=KMCommon;uid=webuser;pwd=webuser#23#;timeout=0;" />
    
    <add name="UAS" providerName="System.Data.SqlClient" connectionString="server=216.17.41.191;database=UAS;uid=webuser;pwd=webuser#23#;timeout=0;" />
    <add name="UAD_Lookup" providerName="System.Data.SqlClient" connectionString="server=216.17.41.191;database=UAD_Lookup;uid=webuser;pwd=webuser#23#;timeout=0;" />
    <add name="KMPlatform" providerName="System.Data.SqlClient" connectionString="server=216.17.41.191;database=KMPlatform;uid=webuser;pwd=webuser#23#;timeout=0;" />
    <add name="SubGenData" providerName="System.Data.SqlClient" connectionString="server=216.17.41.191;database=SubGenData;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="KMCommon" providerName="System.Data.SqlClient" connectionString="server=216.17.41.191;database=KMCommon;uid=webuser;pwd=webuser#23#;timeout=0;" />
    
    <add name="UAS" providerName="System.Data.SqlClient" connectionString="server=JUSTINWAGNER-PC\SQL2008R2;database=UAS;uid=webuser;pwd=webuser#23#;timeout=0;" />
    <add name="UAD_Lookup" providerName="System.Data.SqlClient" connectionString="server=JUSTINWAGNER-PC\SQL2008R2;database=UAD_Lookup;uid=webuser;pwd=webuser#23#;timeout=0;" />
    <add name="KMPlatform" providerName="System.Data.SqlClient" connectionString="server=JUSTINWAGNER-PC\SQL2008R2;database=KMPlatform;uid=webuser;pwd=webuser#23#;timeout=0;" />
    <add name="SubGenData" providerName="System.Data.SqlClient" connectionString="server=JUSTINWAGNER-PC\SQL2008R2;database=SubGenData;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="KMCommon" providerName="System.Data.SqlClient" connectionString="server=216.17.41.191;database=KMCommon;uid=webuser;pwd=webuser#23#;timeout=0;" />
    
    JUSTINWAGNER-PC\SQL2008R2
    <add name="UAS" providerName="System.Data.SqlClient" connectionString="server=KM-DEV-JUSTINWA;database=UAS;uid=webuser;pwd=webuser#23#;timeout=0;" />
    <add name="UAD_Lookup" providerName="System.Data.SqlClient" connectionString="server=KM-DEV-JUSTINWA;database=UAD_Lookup;uid=webuser;pwd=webuser#23#;timeout=0;" />
    <add name="KMPlatform" providerName="System.Data.SqlClient" connectionString="server=KM-DEV-JUSTINWA;database=KMPlatform;uid=webuser;pwd=webuser#23#;timeout=0;" />
    <add name="SubGenData" providerName="System.Data.SqlClient" connectionString="server=KM-DEV-JUSTINWA;database=SubGenData;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="KMCommon" providerName="System.Data.SqlClient" connectionString="server=216.17.41.191;database=KMCommon;uid=webuser;pwd=webuser#23#;timeout=0;" />

    -->
    <add name="UAS" providerName="System.Data.SqlClient" connectionString="server=216.17.41.241;database=UAS;uid=webuser;pwd=webuser#23#;timeout=0;" />
    <add name="UAD_Lookup" providerName="System.Data.SqlClient" connectionString="server=216.17.41.241;database=UAD_Lookup;uid=webuser;pwd=webuser#23#;timeout=0;" />
    <add name="KMPlatform" providerName="System.Data.SqlClient" connectionString="server=216.17.41.241;database=KMPlatform;uid=webuser;pwd=webuser#23#;timeout=0;" />
    <add name="SubGenData" providerName="System.Data.SqlClient" connectionString="server=216.17.41.241;database=SubGenData;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="KMCommon" providerName="System.Data.SqlClient" connectionString="server=216.17.41.241;database=KMCommon;uid=webuser;pwd=webuser#23#;timeout=0;" />

  </connectionStrings>
  <appSettings>
    <add key="FTPNetworkPath" value="10.181.1.146"/>
    <add key="IsDemo" value="true"/>
    <add key="IsNetworkDeployed" value="false"/>
  
    <add key="AdminEmail" value="justin.wagneru@TeamKM.com"/>
    <!--change to 10.10.208.101 in Sandbox -->
    <add key="MailServer" value="108.160.208.101"/>
    <add key="DefaultMailServer" value="108.160.208.101"/>
    <!--joe.miller@teamkm.com,meghan.salim@TeamKM.com,gail.reboletti@TeamKM.com-->
    <add key="ServiceHost" value="adms.kmpsgroup.com"/>
    <add key="UseLocalFtpDirectory" value="true"/>
    <add key="ErrorNotification" value="justin.wagner@TeamKM.com"/>
    <add key="ErrorSubject" value="SubGen Integration Error"/>
    <add key="EngineServer" value="jwagner-local"/>
    <add key="BatchSize" value="2500"/>

    <add key="SubGenSyncInterval" value="360"/>
    <add key="SubGenOrderFileImportFolder" value="c:\ADMS\SubGen\OrderFile\"/>
    <add key="SubGenSubscriberFileImportFolder" value="c:\ADMS\SubGen\SubscriberFile\"/>
    <add key="SubGenSubscriberFileColumns" value="SystemSubscriberID,IsLead,RenewalCode_CustomerID,SubscriberAccountFirstName,SubscriberAccountLastName,SubscriberEmail,SubscriberPhone,SubscriberSource,SubscriptionGeniusMailingAddressID,MailingAddressFirstName,MailingAddressLastName,MailingAddressTitle,MailingAddressLine1,MailingAddressLine2,MailingAddressCity,MailingAddressState,MailingAddressZip,MailingAddressCompany,SystemBillingAddressID,BillingAddressFirstName,BillingAddressLastName,BillingAddressLine1,BillingAddressLine2,BillingAddressCity,BillingAddressState,BillingAddressZip,BillingAddressCompany,PublicationName,IssuesLeft,UnearnedRevenue,Copies_Seats,SubscriptionID,ParentSubscriptionID,IsSiteLicenseMaster,SubscriptionCreatedDate,SubscriptionRenewDate,SubscriptionExpireDate,SubscriptionLastQualifiedDate,SubscriptionType,AuditCategoryName,AuditCategoryCode,AuditRequestTypeName,AuditRequestTypeCode,Country,PublicationID"/>
    <add key="KMtoSubGenActive" value="true"/>
    <!-- can have a comma seperated list of clients - match the SugGen.Enums.Clients list
          Source_Media, ABC_Publishing, KM_API_Testing
    -->
    <add key="SubGenSyncClients" value="KM_API_Testing"/>

    <add key="AdmsEngineHost" value="JustinWagner-PC"/>
    <add key="SqmEngineHost" value="JustinWagner-PC"/>

    <!-- // KMAMS-2016=>KMAMS-2048: AMS_Operations hardcoded values -->
    <add key="ClientArchivePath" value="\\ftp.knowledgemarketing.com\LocalUser\ADMS\Client Archive"/>
    <add key="SourceMediaPrinterFileExportPath" value="C:\ADMS\Logs\ADMS\bbcExport.csv"/>
    <add key="SAETransferSourcePath" value="\\ftp.knowledgemarketing.com\c$\Users\Saetb\Documents\FTP\"/>
    <add key="SAETransferTargetPath" value="\\ftp.knowledgemarketing.com\LocalUser\SAETB\ADMS"/>
    <add key="HWPublishingTransferSourcePath" value="\\ftp.knowledgemarketing.com\LocalUser\HWPublishing"/>
    <add key="HWPublishingTransferTargetPath" value="\\ftp.knowledgemarketing.com\LocalUser\HWPublishing\ADMS"/>
    <add key="MoveFileSourcePath" value="C:\ADMS\Client Archive"/>
    <add key="MoveFileTargetPath" value="\\ftp.knowledgemarketing.com\LocalUser\ADMS\Client Archive"/>
    <add key="ValidationRootPath" value="\\ftp.knowledgemarketing.com\LocalUser\"/>
    <add key="ClearTempPath" value="C:\Users\Administrator\AppData\Local\Temp"/>
    <add key="StagnitoFTPPath" value="ftp://38.113.83.248/"/>
    <add key="StagnitoFTPUser" value="Stasha"/>
    <add key="StagnitoFTPPassword" value="Stasha"/>
    <add key="StagnitoDownloadTargetPath" value="\\ftp.knowledgemarketing.com\LocalUser\Stagnito\ADMS\"/>
  </appSettings>

</configuration>
