
<table id="Table1" style="width: 800px; height: 96px" cellspacing="1" cellpadding="1"
       width="800" border="1">
    <tr>
        <td style="height: 23px" class="errormsg">
            <span id="security-access-error-message-title">
                <p><em>SECURITY VIOLATION Occurred</em></p>
                <p>You are seeing this message because you are not authorized to view this information.</p>
                <p>Please contact customer service at (763) 746-2780 to resolve the problem.</p>
            </span>
        </td>
    </tr>
</table>

