/* CSS Document */


.com_box_top
{
	background-image:url(communicator_01.gif);
	background-repeat:no-repeat;
}

.cre_box_top
{
	background-image:url(creator_01.gif);
	background-repeat:no-repeat;
}

.col_box_top
{
	background-image:url(collector_01.gif);
	background-repeat:no-repeat;
}

.com_box_bot
{
	background-image:url(communicator_02.gif);
	background-repeat:no-repeat;
}

.cre_box_bot
{
	background-image:url(creator_02.gif);
	background-repeat:no-repeat;
}

.col_box_bot
{
	background-image:url(collector_02.gif);
	background-repeat:no-repeat;
}

#headTable
{
        color:#fff;
        font-size:11px;
}

#headTable h5
{
        color:#EFD999;
        font-size:11px;
        margin:0 0 5px 0;padding:0;
}

#headTable a:link, #headTable a:visited, #headTable a:active
{
        color:#EFD999;
        text-decoration:underline;
        font-weight:normal;
}

#headTable a:hover
{
        color:#EFD999;
        text-decoration:none;
        font-weight:normal;
}
