@using KMEnums
@using KMModels.Controls.Standard

<script>
    array[@((int)ControlType.Gender)] = { 
        name: '@ControlType.Gender', 
        object: @Html.Raw(Json.Encode(new KMModels.Controls.Standard.Uncommon.Gender(true))),
        control: "<select class='input'>\
                    <option ng-repeat='item in control.Items' ng-value='item.Value' ng-selected='item.Default'>{{item.Text}}</option>\
                  </select>"
    }
</script>