<div class="wrapper modal modalsave" style="margin: 0 auto; width: 300px; text-align: center;">
    <fieldset title=""  style="border :none;">
        <div class="formbox">
            <div style="display:inline;float:left;padding-left: 2em;margin: 0">
                <img alt="Information" src="/ecn.MarketingAutomation/Images/Warn_ico.png" border="0">
            </div>
            <div class="text" style="display:inline;float:left;padding-left: 2em;padding-bottom: 2em;margin: 0;">
                Are you sure you want to Cancel your changes?
            </div>
        </div>
           <div class="buttons" style="margin: 0 auto; width: 300px; text-align: center;">
               @Html.Kendo().Button().Name("Save").Content("Yes").HtmlAttributes(new { @class = "btn gridbtn gridbtn-addnewrule", type = "button", onclick = "OkToCancel()" })
               @Html.Kendo().Button().Name("NotSave").Content("No").HtmlAttributes(new { @class = "btn gridbtn gridbtn-addnewrule", type = "button", onclick = "closeCancelWindow()" })
            </div>
     
</fieldset>
</div>

