
.mainmenu
{
	padding-left: 25px;
	background-color: rgb(119, 202, 15);
}



.subMenu
{
	background-color: #EEEEEE;
	padding-left: 25px;
	color:#000000;
}

.shadeLeft
{
	background: #d3d3d3 url(http://images.ecn5.com/images/shade_left.jpg) top right repeat-y;
}

.shadeRight
{
	background: #d3d3d3 url(http://images.ecn5.com/images/shade_right.jpg) top left repeat-y;
}

.bar
{
	background: #5C5D5F url(http://images.ecn5.com/images/bar.jpg) top left repeat-x;
}



