@using KMEnums

<script type="text/ng-template" id="@(ControlType.Captcha)Properties">
    <div class="proptitle">Captcha Properties</div>
    <div class="formbox">
        <div class="formitem formitemlabeltop">
            <label>Field Label (HTML Editor):</label>
            <textarea kendo-editor ng-model="control.LabelHTML" class="editorForRefresh" k-options="$parent.$parent.editorOptionsNoImage" k-encoded="false" k-on-select="onEditorSelect(kendoEvent)"></textarea>
        </div>
    </div>
</script>