@using KMEnums

<script type="text/ng-template" id="@(ControlType.Literal)Properties">
    <div class="proptitle">Literal Properties</div>
    <div class="formbox">
        <div class="formitem formitemlabeltop">
            <label>Field Name:</label>
            <input type="text" ng-model="control.Label" />
        </div>
        <div class="formitem">
            <label>Field Label (HTML Editor):</label>
            <textarea kendo-editor="literal.Editor" class="litEditor" ng-model="control.Text" k-encoded="false" k-options="$parent.$parent.editorOptions"  k-on-keyup='updateEditor()' k-on-select='updateEditor()'></textarea>
        </div>
    </div>
</script>
@*k-tools="$parent.$parent.editorTools"*@ 