@*@using (Ajax.BeginForm("Index", "KendoStandarGridClient", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "resultDiv" }))
{
    <label class="lbl">Title:</label>
        @Html.Kendo().TextBox().Name("UserTitle")
        <input type="submit" class="k-button" value="Search" id="search" />
}*@
<label class="lbl">Title:</label>
@Html.Kendo().TextBox().Name("UserTitle")
<input type="button" class="k-button" value="Search" id="search" onclick="Search()" />    