<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="currentUser" value="sunil@knowledgemarketing.com"/>
    <add key="currentPassword" value="winwin123"/>
    <add key="connString" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_accounts"/>
    <add key="accountsdb" value="ecn5_accounts"/>
    <add key="communicatordb" value="ecn5_communicator"/>
    <add key="com" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator"/>
    <add key="act" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_accounts"/>
    <add key="Accounts" value="server=216.17.241;uid=sa;pwd=dcran9755;database=ecn5_accounts"/>
    <add key="col" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_collector"/>
    <add key="cre" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_creator"/>
    <add key="pub" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_publisher"/>
    <add key="ecn_misc_connString" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn_misc"/>
    <add key="activity" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn_activity"/>
    <add key="product_name" value="accounts"/>
    <!-- MISC PARAMETERS -->
    <add key="HomePageContentID" value="1614"/>
    <add key="SMTPServer" value="216.17.41.200"/>
    <add key="GotUsedBaseChannelID" value="25"/>
    <!-- START PRIVATE CHANNEL PARTNER LOGIN / LOGOFF PAGES <channelID>_Login_Page-->
    <!-- NEBook Custom Wizard -->
    <add key="25_Login_Redirect" value="http://localhost/ecn.gotused.wizard/default.aspx"/>
    <add key="25_Home_Redirect" value="http://localhost/ecn.gotused.wizard/main/default.aspx"/>
    <add key="25_Logoff_Redirect" value="http://localhost/ecn.gotused.wizard/default.aspx?Cmd=logout"/>
    <!-- KM & NON-Private Labeled Channels -->
    <add key="ECN_Login_Redirect" value="/ecn.accounts/default.aspx"/>
    <add key="ECN_Home_Redirect" value="/ecn.accounts/default.aspx"/>
    <add key="ECN_Logoff_Redirect" value="/ecn.accounts/default.aspx"/>
    <!-- James Allyn Channel -->
    <add key="44_Login_Redirect" value="http://www.jamesallyn.com/login.php"/>
    <add key="44_Logoff_Redirect" value="http://www.jamesallyn.com/login.php"/>
    <!-- CANON COMM - Canon TS Customers -->
    <!-- FORMAT: <BaseChannelID>_<CustomerID>_Login_Redirect & <BaseChannelID>_<CustomerID>_Logoff_Redirect-->
    <add key="42_1794_Login_Redirect" value="/ecn.accounts/default.aspx"/>
    <add key="42_1794_Home_Redirect" value="/ecn.canontradeshowwizard/"/>
    <add key="42_1794_Logoff_Redirect" value="/ecn.accounts/default.aspx"/>
    <add key="42_1054_Login_Redirect" value="/ecn.canontradeshowwizard/"/>
    <add key="42_1054_Home_Redirect" value="/ecn.canontradeshowwizard/"/>
    <add key="42_1054_Logoff_Redirect" value="/ecn.accounts/default.aspx"/>
    <!-- BILLING NOTIFICATION PARAMETERS -->
    <add key="NotifyBillingDept_FROM_EMAIL" value="sales@knowledgemarketing.com"/>
    <add key="NotifyBillingDept_EMAIL" value="dev@knowledgemarketing.com"/>
    <add key="SmtpServer" value="216.17.41.200"/>
    <add key="TASKRPT_FromEmail" value="info@knowledgemarketing.com"/>
    <add key="TASKRPT_ToEmail" value="dev@knowledgemarketing.com"/>
    <add key="TASKRPT_Subject" value="TASK Notification from ECN"/>
    <!-- MISC PARAMETERS-->
    <add key="Server" value="10.161.1.47"/>
    <add key="Database" value="ecn5_Accounts"/>
    <add key="UserID" value="sa"/>
    <add key="Password" value="dcran9755"/>
    <add key="PDFTron_LicenseKey" value="knowledgemarketing.com:CPU:1:R:W:AMC(20090110):1EC47B0055DDAA21E3C861109C92BA1BAC24D204A05BC75E69C072F0FA"/>
    <!-- QUOTES PARAMETERS -->
    <add key="ApproveQuoteEmailSubjectTemplate" value="Quote request from Knowledge Marketing"/>
    <!-- {0}: Salutation;{1}: FirstName;{2}:LastName;{3}:Link to approve quote;{4}:NBD's first name. -->
    <add key="ApproveQuoteEmailBodyTemplate" value="{1}:
    
Thank you for the opportunity to earn your business. Below is a link to the items we have discussed. Please click the link to review and approve the quote.
{3}
    
{4}

Best Regards,

Knowledge Marketing Team."/>
    <!-- Following are the text used to display on the First Page of Quote Approval process that a customer sees -->
    <add key="testAccountVerbiage" value="Per our conversation, I have created a test account with the features needed to accomplish your current objective.
 To access your test account, please review our {0}, and click the login button. To accept this quote, please complete or update the information below."/>
    <add key="approveVerbiage" value="&lt;b&gt;Accepting this service is easy! &lt;/b&gt;  Simply choose &lt;b &gt; 'accept' &lt;/b&gt; at the bottom of this quote after filling out your company's information below."/>
    <add key="mainVerbiage" value="&lt;SPAN style='font-size:12pt'&gt; &lt;b&gt;Dear {0}&lt;/b&gt;&lt;/SPAN&gt;,
&lt;br&gt;&lt;br&gt;
 Thanks for your interest in &lt;b&gt;Knowledge Marketing's Better, Faster and Smarter&lt;/b&gt; Internet marketing services. I'm confident you will come to value our relationship greatly, as we constantly strive to help you achieve your business goals.
&lt;br&gt;&lt;br&gt;
&lt;FIELDSET&gt;
&lt;LEGEND&gt;Notes&lt;/LEGEND&gt;&lt;font color=red&gt;{1} &lt;/font&gt;
&lt;/FIELDSET&gt;
&lt;br&gt;&lt;br&gt;
 {2}
&lt;br&gt;&lt;br&gt;
 Best regards,&lt;br&gt;
Knowledge Marketing Team.&lt;br&gt;&lt;br&gt;"/>
    <!-- VirtualPath -->
    <add key="Accounts_VirtualPath" value="/ecn.accounts"/>
    <add key="Communicator_VirtualPath" value="/ecn.communicator"/>
    <add key="Creator_VirtualPath" value="/ecn.creator"/>
    <add key="Publisher_VirtualPath" value="/ecn.publisher"/>
    <add key="Collector_VirtualPath" value="/ecn.collector"/>
    <add key="Images_VirtualPath" value="/ecn.images"/>
    <!-- Domain Path-->
    <add key="Activity_DomainPath" value="http://localhost/ecn.activityengines"/>
    <add key="Image_DomainPath" value="http://localhost/ecn.images"/>
    <add key="isDemo" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="accounts" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_accounts" providerName="System.Data.SqlClient"/>
    <add name="communicator" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient"/>
    <add name="Activity" connectionString="server=10.161.1.47;uid=sa;pwd=dcran9755;database=ecn_activity" providerName="System.Data.SqlClient"/>
    <add name="KMCommon" connectionString="server=10.161.1.47;uid=sa;pwd=dcran9755;database=KMCommon" providerName="System.Data.SqlClient"/>
    <add name="creator" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_creator" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.85.5.452" newVersion="0.85.5.452"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
