<div id="divhelp" class="help-div">
    <table cellpadding="0" cellspacing="0" border="0" id="Table1">
        <tr>
            <td class="toplefthelp"></td>
            <td width="28" height="29">
                <a href="javascript:void(0);" onclick=" javascript:show(); ">
                    <img src="http://images.ecn5.com/images/helptop_02.gif" style="border-width: 0" />
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="helpbottom" align="right" valign="top">
                <table width="350" cellpadding="0" cellspacing="0" border="0" id="Table2">
                    <tr>
                        <td align="left">
                            <span class="helpHeading">
                                <asp:Label ID="lblHelpHeading" runat="server" />
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <div id="helpScroll">
                                <table width="290" id="Table3">
                                    <tr>
                                        <td style="padding-left: 30px">
                                            <p>
                                                <asp:Label ID="lblHelpContent" runat="server" />
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

