<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <add key="IsDemo" value="false" />
    <add key="IsNetworkDeployed" value="false" />
    <add key="KMCommon_Application" value="84" />
    <add key="KMCommon_SmtpServer" value="216.17.41.200" />
    <add key="AppFabricCacheEnabled" value="false" />
    <!-- Local: false, QA: true, Prod: true-->
    <add key="AppFabricServer" value="DevAppFabric.hq.teckman.com" />
    <!-- Local: DevAppFabric.hq.teckman.com, QA: appfabric, Prod: appfabric-->
    <add key="AppFabricServer-NamedCache" value="ECNDEV" />
    <!-- Local: ECNDEV, QA: ECNQA, Prod: ECN-->
    
    <add key="UAS_VirtualPath" value="/KM_MVC_Template." />
    
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <globalization uiCulture="en-US" culture="en-US" />
    <authentication mode="Forms">
      <forms name="ecn" loginUrl="/EmailMarketing.Site/Login" slidingExpiration="true" enableCrossAppRedirects="true" cookieless="UseCookies" protection="All" timeout="30" />
    </authentication>
    <machineKey validationKey="3D4D63BC66E13EBEA502B83A42379DF01D0D96718C50BB16962D6768070EA3E7F4854F431DE685D671D4E79E0440D4D9D015F5C3C49CD4CC517591E35DDF0EFF" decryptionKey="3EDEFDBFFFAAC0D62D5B59F8990ECAFAB4709F7D6E2E1F97" validation="SHA1" compatibilityMode="Framework20SP2" />
    
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="accounts" connectionString="server=216.17.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_accounts" providerName="System.Data.SqlClient" />
    <add name="communicator" connectionString="server=216.17.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" />
    <add name="Collector" connectionString="server=216.17.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_collector" providerName="System.Data.SqlClient" />
    <add name="Activity" connectionString="server=216.17.41.191;uid=sa;pwd=dcran9755;database=ecn_activity" providerName="System.Data.SqlClient" />
    <add name="Comm" connectionString="server=216.17.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" />
    <add name="KMCommon" connectionString="server=216.17.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=KMCommon" providerName="System.Data.SqlClient" />
    <add name="creator" connectionString="server=216.17.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_creator" providerName="System.Data.SqlClient" />
    <add name="KMPlatform" connectionString="server=216.17.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=KMPlatform" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
