<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DoFullSync" value="false"/>
    <add key="DoJob1" value="false"/>
    <add key="DoJob2" value="true"/>
    <add key="DoFullNXTBookSync" value="true"/>
    <add key="AccessKey" value="651A1297-59D1-4857-93CB-0B049635762E"/>
    <add key="NXTBook_AccessKey" value="1ee4b1f090436e79f8badc9777eb9863"/>
    <add key="SubGroups" value="34307"/>
    <add key="GroupHolder" value="34312,34307,34399,34441,34822,34821,34820,32511"/>
    <add key="Sub_232611" value="232610" />
    <add key="Sub_34312" value="40765" />
    <add key="Sub_34307" value="40764" />
    <add key="Sub_34399" value="40759" />
    <add key="Sub_34441" value="40762" />
    <add key="Sub_34822" value="40758" />
    <add key="Sub_34821" value="40763" />
    <add key="Sub_34820" value="40761" />
    <add key="Sub_32511" value="40760" />

    <add key="232610_SubID" value="fc72f36d8e1494146e5aa5523d150c1b"/>
    <add key="40765_SubID" value="fc72f36d8e1494146e5aa5523d150c1b"/>
    <add key="40764_SubID" value="a51f190bf808f1c7621109a359248ef8" />
    <add key="40759_SubID" value="b4e3dcb3e3a8f74a8799ce02676f9beb" />
    <add key="40762_SubID" value="1ec5d817cb2bb69c0bb42c089ef90eac" />
    <add key="40758_SubID" value="0f75e759236b209e966e11be12addfcb" />
    <add key="40763_SubID" value="ede738e6aac32014dbf91168383e4b1f" />
    <add key="40761_SubID" value="0bfeecbb06481881a7eb8968a3986061" />
    <add key="40760_SubID" value="3f167dd0151cbcdef843d93ba026fdbf" />
    
    <add key="Field" value="DEMO7"/>
    <add key="FieldValue" value="B"/>

    <add key="Field2" value="nxtbooktoken"/>
    <add key="FieldValue2" value=""/>

    <add key="LogPath" value="c:\\Projects\\ECN\\Branches\\Dev\\2016_4\\WATT_NXTBook_Engine\\Log"/>
    <add key="IsDemo" value="false"/>
    <add key="IsNetworkDeployed" value="false"/>
    <add key="KMCommon_Application" value="87"/>
    <add key="KMCommon_SmtpServer" value="216.17.41.200"/>
  </appSettings>
  <connectionStrings>
    <add name="Communicator" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient"/>
    <add name="Activity" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn_activity" providerName="System.Data.SqlClient"/>
    <add name="KMCommon" connectionString="server=216.17.41.251;uid=webuser;pwd=webuser#23#;database=KMCommon" providerName="System.Data.SqlClient"/>
    <add name="Accounts" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ECN5_Accounts" providerName="System.Data.SqlClient"/>
    <add name="Collector" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ECN5_Collector" providerName="System.Data.SqlClient"/>
    <add name="KMPlatform" connectionString="server=10.161.1.47;uid=webuser;pwd=webuser#23#;database=KMPlatform" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
