@using KMEnums
<script>
    $("#DeleteWindow").kendoWindow({
        title: false
    });
    function deleteWindow()
    {
        closeWindow('DeleteWindow');
        var formid = $('#Id').val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Delete")?id=' + formid,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async:false,
            success: function (response) {
            }
        });
        location.reload(true);
    }
</script>
<div class="wrapper modalnotify" style="width:420px;height:90px" >
    @Html.Hidden("Id", null, new Dictionary<string, object> { { "data-bind", "value:Id" } })
    <fieldset title="">
        <legend></legend>
        <div class="picon" style="margin: 0 auto; width: 70px;text-align: right;padding-top:10px;">
            <img src="/ecn.communicator.mvc/Images/modal-icon-warning.png" border="0" />
        </div>
        <div class="text" style="margin: 0; auto; text-align:left; padding-left: 2em; padding-bottom:20px;padding-top:10px;">
            <span style="position:absolute;padding-bottom:20px;">Are you sure you want to delete this item?</span>
        </div>
        <div class="buttons" style="margin:0 auto; text-align:left; padding-left: 10em;">
            @Html.Kendo().Button().Name("Delete").Content("Okay").HtmlAttributes(new { @class = "btn k-button", style = "width:55px;", type = "button", onclick = "deleteWindow()" })
            @Html.Kendo().Button().Name("Cancel").Content("Cancel").HtmlAttributes(new { @class = "btn k-button", style = "width:55px;", type = "button", onclick = "closeWindow('DeleteWindow')" })
        </div>
    </fieldset>
</div>