.twemoji-wrap { position: relative;margin-left:0px;margin-right:0px;}
.twemoji-wrap img { vertical-align: -0.1em; }
.twemoji-textarea { color:black; font-size:11px;font-family:Arial; position:relative;z-index:100; overflow-y: hidden; height: 30px; border: 1px solid #999999; white-space: nowrap; border-radius: 3px; padding: 6px 20px 6px 5px; margin-left:0px !important; background-color:white; }
.twemoji-textarea > span {color:black !important; font-size:11px !important;font-family:Arial !important;background-color:white !important; }
.twemoji-textarea > p > span {color:black !important; font-size:11px !important;font-family:Arial !important;background-color:white !important; }
.disabled{background-color:#EBEBE4;}
.twemoji-icon-picker img { position: absolute; top: -15px; right: 15%; }
.twemoji-picker { z-index: 101; position: absolute; right: 0; background-color: #fff; border: 1px solid #e7e7e7; border-radius: 3px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); top:-190px; }

.twemoji-error{color:red;position:absolute;top:20px;}
.twemoji-icon-picker img, .twemoji-picker img {  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: pointer; }
.twemoji-picker-category { background-color: #e7e7e7; }
.twemoji-picker-category img { padding: 5px; }
.twemoji-picker-category .active, .twemoji-picker-category span:hover { border-bottom: 2px solid #728691; }
.twemoji-picker-category .close { float: right; margin-right: 2px; font-size: 25px; font-weight: 700; line-height: 1; opacity: .5; cursor: pointer; }
.twemoji-picker-category .close:hover { opacity: .3 }
.twemoji-list { overflow-y: scroll; }
.twemoji-list img { padding: 5px; float:left; }
.twemoji-list img:hover { background-color: #e7e7e7; }
@media screen and (-moz-images-in-menus:0) {
    .twemoji-picker{
	top:-180px;
	}

    .twemoji-picker-category .close{
        position:relative;
        top:-30px;
    }
    .twemoji-list {display:inline-block;}
    .twemoji-picker-category{overflow-x: -moz-scrollbars-none;}
}


.outer-container {  
  height: 30px;
 max-height:30px; 
}
.outer-container {  
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #999999;
  /*border-right:1px solid #999999;*/
  border-radius: 3px;
  max-width:265px;
  /*margin-top:-30px;*/
  margin-left:0px !important;
  margin-right:0px !important;
  top:-5px;
  
}
.inner-container {
  position: absolute;
  left: 0;
  bottom:-45px;
  overflow-x: scroll;
  overflow-y: hidden;  
  border:none;
  height:70px;
  max-height:70px; 
  width:284px;
  
  
}
.inner-container::-webkit-scrollbar {
  display: none;
}
