<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" culture="neutral" publicKeyToken="1b03e6acf1164f73"/>
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.452" newVersion="0.86.0.518"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <add name="UAS" providerName="System.Data.SqlClient" connectionString="server=216.17.41.241;database=UAS;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="UAD_Lookup" providerName="System.Data.SqlClient" connectionString="server=216.17.41.241;database=UAD_Lookup;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="KMPlatform" providerName="System.Data.SqlClient" connectionString="server=216.17.41.241;database=KMPlatform;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="KMCommon" providerName="System.Data.SqlClient" connectionString="server=216.17.41.241;database=KMCommon;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="ECN_Communicator" providerName="System.Data.SqlClient" connectionString="server=216.17.41.241;database=ECN5_Communicator;uid=webuser;pwd=webuser#23#;timeout=0;"/>
  </connectionStrings>
  <system.transactions>
    <defaultSettings timeout="00:30:00"/>
  </system.transactions>
  <appSettings>
    <add key="FTPNetworkPath" value="10.181.1.146"/>
    <add key="IsDemo" value="true"/>
    <add key="IsDqmEnabled" value="true"/>
    <add key="IsUpdateMode" value="true"/>
    <add key="LogTransformationDetail" value="false"/>
    <add key="UpdateRefreshMinutes" value="15"/>
    <add key="ExecuteDQMMinutes" value="2"/>
    <add key="IsNetworkDeployed" value="false"/>
    <add key="ServiceHost" value="adms.kmpsgroup.com"/>
    <add key="UseLocalFtpDirectory" value="true"/>
    <!-- platform-services@TeamKM.com,April.Riddle@TeamKM.com,Joe.Benson@TeamKM.com,Sunil.Theenathayalu@TeamKM.com,Alley.Green@TeamKM.com,Danielle.Hoffman@TeamKM.com,Derek.Wohlers@TeamKM.com,Toni.Corredato@TeamKM.com -->
    <add key="AdminEmail" value="platform-services@TeamKM.com"/>
    <add key="WebFormEmail" value="platform-services@TeamKM.com"/>
    <!--    AAMP,Advanstar,AINPublications,Anthem,Atcom,ATHB,Babcox,BelmontPublications,BNP,BriefMedia,BusinessJournalsInc,Canon,Catersource,CEG,DEMO,EHPublishing,France,HealthForum,
      HVCB,HWPublishing,ICD,Lebhar,MacFadden,Meister,MSP,MTG,NECA,NoriaCorp,NorthCoast,Northstar,OildomPublishing,OutcomesLLC,PennWell,PentaVision,SAETB,Scranton,SourceMedia,SpecialityFoods,
      Stagnito,Tabor,TargetGroup,TenMissions,TMB,TradePress,UAStest,UBMAuto,UPI,Vance,Vcast,Watt -->
    <add key="EngineClient" value="tenmissions"/>
    <add key="EngineServer" value="Developer"/>
    <add key="BatchSize" value="2500"/>
    <add key="LogFileName" value="ADMS_Console"/>
    <add key="ErrorSubject" value="Developer - ADMS Engine Error"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="DetailPath" value="C:\ADMS\Client Archive"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="3.0.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
