/* 
Title:	Knowledgemarketing.com
This is the main style sheet
@alvin woon
--------------
| Change Log |
--------------
08/17/05 - lay out page.
08/18/05 - Add in flash alignment
08/20/05 - Add in the security section and the rest of the page.
8/30/05 - Update border css hacks.
*/
body {

 background:#666667;
 color: #333333;
 text-align:center;
 padding:0;height:100%;margin:0;
 }

#container{ 
width: 778px;
margin: 0 auto 10px auto;
padding: 0;
background: transparent url(bgShadow3.gif) repeat-y fixed top center; }


#outer {
border:1px solid #c8c8c8;
width:715px;
margin-left:10px!important;margin-left:4px;
padding:5px 21px 1em 21px;
background:#fff;
height:auto; 
}
/* NON IE BROWSER FLOAT HACK */
#outer:after {
    content: "."; 
    display: block; 
    clear: both; 
    visibility: hidden;
}

#contentText
{
	font-family:Arial;
	font-size:12px;
}

.datagrid
{
	font-family:Arial Black;
}