<table width="1000" align="center">
    <tr>
        <td>
            <center>
                <hr style="border-top:1px solid gray;" width="980" />
            </center>
        </td>
    </tr>
    <tr>
        <td>
            <center>
                <p>
                    <a href="http://www.knowledgemarketing.com/privacy-policy" target="_blank" style="color: gray;text-decoration: none;font-size: 11px;font-weight:bold;font-family:Arial,Verdana, Helvetica, sans-serif;">Privacy Policy</a> <font color="#333333" style="font-family:Arial,Verdana, Helvetica, sans-serif;font-size:10px;">|</font>
                    <a href="http://www.knowledgemarketing.com/anti-spam-policy" target="_blank" style="color: gray;text-decoration: none;font-size: 11px;font-weight:bold;font-family:Arial,Verdana, Helvetica, sans-serif;">Anti-Spam Policy</a> <font color="#333333" style="font-family:Arial,Verdana, Helvetica, sans-serif;font-size:10px;">|</font>
                    <a href="http://www.knowledgemarketing.com/index.php/about-km/contact-us/" target="_blank" style="color: gray;text-decoration: none;font-size: 11px;font-weight:bold;font-family:Arial,Verdana, Helvetica, sans-serif;">Contact Us</a>
                    <font size="1.5" face="arial" color="gray" align="center">
                        <br />
                        Copyright &copy;
                        <script type="text/javascript">
                                            copyright = new Date();
                                            update = copyright.getFullYear();
                                            document.write(update);
                        </script>
                        Knowledge Marketing, Inc., All Rights Reserved.
                    </font>
                </p>
            </center>
        </td>
    </tr>
</table>
