<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReportLibrary.Properties.Settings.MTGMasterDB" connectionString="Data Source=216.17.41.191;Initial Catalog=MTGMasterDB_Test;uid=webuser;pwd=webuser#23#;timeout=0;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
