<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="OutLog" value="domainrefout_"/>
  </appSettings>
  <connectionStrings>
    <add name="ecn5_CommunicatorConnectionString" connectionString="server=10.161.1.47; database=ecn_Temp; uid=ecn5;pwd=EcN5AcCeSs; Connect Timeout=180" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.85.5.452" newVersion="0.85.5.452"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
