<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ecnAccessKey" value="651A1297-59D1-4857-93CB-0B049635762E"/>

    <add key="OutLog" value="smtplogout_"/>
    <add key="LinenumberToStart" value="0"/>
    <add key="ecn_ConnString" value="server=10.161.1.47;uid=webuser;pwd=webuser#23#;database=ecn5_communicator"/>
    <add key="connString" value="server=10.161.1.47;uid=webuser;pwd=webuser#23#;database=ecn5_communicator"/>
    <add key="com" value="server=10.161.1.47;uid=webuser;pwd=webuser#23#;database=ecn5_communicator"/>
    <add key="KMPS_ConnString" value="server=10.10.41.242;uid=kmpsadmin;pwd=1ntr1m4dmin;database=KMPS"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="Admin_ToEmail" value="pat.connell@teamkm.com"/>
    <add key="Admin_FromEmail" value="info@knowledgemarketing.com"/>
    <add key="SmtpServer" value="108.160.208.101"/>
    <add key="UpdatePubName" value="39249"/>
    <add key="Timeout" value="0"/>
    <add key="isDemo" value="false"/>
    <add key="KMCommon_Application" value="71"/>
    <add key="KMCommon_SmtpServer" value="108.160.208.101"/>
    <add key="AppFabricCacheEnabled" value="false"/>
    <!-- Local: false, QA: true, Prod: true-->
    <add key="AppFabricServer" value="DevAppFabric.hq.teckman.com" />
    <!-- Local: DevAppFabric.hq.teckman.com, QA: appfabric, Prod: appfabric-->
    <add key="AppFabricServer-NamedCache" value="ECNDEV" />
    <add key="IsNetworkDeployed" value="true"/>
    <!-- Local: ECNDEV, QA: ECNQA, Prod: ECN-->
  </appSettings>
  <connectionStrings>
    <add name="KMPSWQT" connectionString="server=10.161.1.47;uid=webuser;pwd=webuser#23#;database=KMPSWQT;application name=KMPS_Tools;" providerName="System.Data.SqlClient"/>
    <add name="ECNCommunicator" connectionString="server=10.161.1.47;uid=webuser;pwd=webuser#23#;database=ecn5_communicator;application name=KMPS_Tools;" providerName="System.Data.SqlClient"/>
    <add name="KMPSInterim" connectionString="server=10.10.41.242;uid=webuser;pwd=webuser#23#;database=KMPS;application name=KMPS_Tools;" providerName="System.Data.SqlClient"/>
    <add name="activity" connectionString="server=10.161.1.47;uid=webuser;pwd=webuser#23#;database=ecn_activity" providerName="System.Data.SqlClient"/>
    <add name="Communicator" connectionString="server=10.161.1.47;uid=webuser;pwd=webuser#23#;database=ecn5_communicator" providerName="System.Data.SqlClient"/>
    <add name="Accounts" connectionString="server=10.161.1.47;uid=webuser;pwd=webuser#23#;database=ecn5_accounts" providerName="System.Data.SqlClient"/>
    <add name="KMPlatform" connectionString="server=10.161.1.47;uid=webuser;pwd=webuser#23#;database=KMPlatform" providerName="System.Data.SqlClient"/>
    <add name="KMCommon" connectionString="server=10.10.41.251;uid=webuser;pwd=webuser#23#;database=KMCOMMON" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
