<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="MagazineJson" value="C:/sourceMediaPaidPub/SourceMediaPaidPub/magazine.json" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<connectionStrings>
		<!--TODO uncomment this whenyou are running integration test locally-->
		<add name="SqlConnection" connectionString="server=MOORTHY\SQLEXPRESS;Initial catalog=KMBS_NEW;uid=sa;pwd=gvein" />
		<add name="connString" connectionString="server=216.17.41.191;uid=webuser;pwd=webuser#23#;database=KMPSJointForms" providerName="System.Data.SqlClient" />
		<add name="ecn5_communicator" connectionString="server=216.17.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" />
		<add name="ecn5_accounts" connectionString="server=216.17.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_accounts" providerName="System.Data.SqlClient" />

		<add name="communicator" connectionString="server=216.17.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" />
		<add name="KMCommon" connectionString="server=216.17.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=KMCommon" providerName="System.Data.SqlClient" />
		<add name="KMPlatform" connectionString="server=10.10.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=KMPlatform" providerName="System.Data.SqlClient" />
		<!---->
		<!--		<add name="connString" connectionString="server=10.10.41.191;uid=webuser;pwd=webuser#23#;database=KMPSJointForms" providerName="System.Data.SqlClient" />-->
		<!--		<add name="ecn5_communicator" connectionString="server=10.10.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" />-->
		<!--		<add name="ecn5_accounts" connectionString="server=10.10.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_accounts" providerName="System.Data.SqlClient" />-->
		<!---->
		<!--		<add name="communicator" connectionString="server=10.10.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" />-->
		<!--		<add name="KMCommon" connectionString="server=10.10.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=KMCommon" providerName="System.Data.SqlClient" />-->
		<!--		<add name="KMPlatform" connectionString="server=10.10.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=KMPlatform" providerName="System.Data.SqlClient" />-->

	</connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>