<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<appSettings>
		<add key="MagazineJson" value="C:/sourceMediaPaidPub/SourceMediaPaidPub/magazine.json" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>

	<connectionStrings>
		<!--TODO uncomment this whenyou are running integration test locally-->
		<add name="SqlConnection" connectionString="server=MOORTHY\SQLEXPRESS;Initial catalog=KMBS_NEW;uid=sa;pwd=gvein" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="connString" connectionString="server=216.17.41.191;uid=webuser;pwd=webuser#23#;database=KMPSJointForms" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="ecn5_communicator" connectionString="server=216.17.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="ecn5_accounts" connectionString="server=216.17.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_accounts" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />

		<add name="communicator" connectionString="server=216.17.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="KMCommon" connectionString="server=216.17.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=KMCommon" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		<add name="KMPlatform" connectionString="server=10.10.41.191;uid=ecn5;pwd=EcN5AcCeSs;database=KMPlatform" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />

	</connectionStrings>
</configuration>