
/*.mainmenu
{
	background: #5C5D5F url(http://images.ecn5.com/images/bar.jpg) top left repeat-x;
}*/

/*.subMenu
{
	background-color: #7893A1;
	color: #000000;
	text-transform: uppercase;
}

.subMenu a:hover
{
	text-decoration: none;
	color: #EFD999;
}

.inactivelinks a
{
	color: #EFD999;
	font-family: Arial,Verdana,Helvetica,sans-serif;
	font-size: 8pt;
	vertical-align: middle;
}

.activelinks a
{
	color: #EFD999; 
	text-decoration:none;		
	text-transform:uppercase;
}*/





