<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="moveFromCustomerID" value="1209" />
    <!--2840-->
    <add key="moveToCustomerID" value="1794" />
    <add key="toCustomerIDMSListID" value="8943" />
    <add key="addDays" value="-1" />
    <add key="ECNEngineAccessKey" value="8CAB09B9-BEC9-453F-A689-E85D5C9E4898" />
    <add key="KMCommon_Application" value="32" />
    <add key="KMCommon_SmtpServer" value="216.17.41.200" />
  </appSettings>
  <connectionStrings>
    <add name="Communicator" connectionString="server=10.161.1.47;uid=sa;pwd=dcran9755;database=ecn5_communicator" providerName="System.Data.SqlClient" />
    <add name="Activity" connectionString="server=10.161.1.47;uid=sa;pwd=dcran9755;database=ecn_activity" providerName="System.Data.SqlClient" />
    <add name="KMCommon" connectionString="server=10.161.1.47;uid=sa;pwd=dcran9755;database=KMCommon" providerName="System.Data.SqlClient" />
    <add name="Accounts" connectionString="server=10.161.1.47;uid=sa;pwd=dcran9755;database=ECN5_Accounts" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.85.5.452" newVersion="0.85.5.452" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
