
<div class="wrapper modal" style="min-width:200px">
    <fieldset title="Customer Explorer">
        <legend></legend>
        <div id="Customers">
            <table role="grid" data-role="selectable" class="k-selectable">
                <colgroup><col><col></colgroup>
                <tbody role="rowgroup">
                    <tr class="customerName" role="row">
                        <td role="gridcell">Customer 01</td>
                        <td role="gridcell">
                            <i class="km-icon icon-kmplus-circled-1"></i>
                        </td>
                    </tr>
                    <tr class="k-alt customerName" role="row">
                        <td role="gridcell">Customer 02</td>
                        <td role="gridcell">
                            <i class="km-icon icon-kmplus-circled-1"></i>
                        </td>
                    </tr>
                    <tr class="customerName" role="row">
                        <td role="gridcell">Customer 03</td>
                        <td role="gridcell">
                            <i class="km-icon icon-kmplus-circled-1"></i>
                        </td>
                    </tr>
                    <tr class="k-alt customerName" role="row">
                        <td role="gridcell">Customer 04</td>
                        <td role="gridcell">
                            <i class="km-icon icon-kmplus-circled-1""></i>
                        </td>
                    </tr>
                    <tr class="customerName" role="row">
                        <td role="gridcell">Customer 05</td>
                        <td role="gridcell">
                            <i class="km-icon icon-kmplus-circled-1"></i>
                        </td>
                    </tr>
                    <tr class="k-alt customerName" role="row">
                        <td role="gridcell">Customer 06</td>
                        <td role="gridcell">
                            <i class="km-icon icon-kmplus-circled-1" "></i>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>     
    </fieldset>
</div>

<script>
    $("tr.customerName").click(function () {
        var item = $(this).children("td").text();
        $("#gro02").text(item);
        $("#customerSelected").removeAttr("style");
        $("#PopupWindow").data('kendoWindow').close();
    });
</script>