<?xml version="1.0"?>
<configuration>
  <!-- App Settings -->
  <configSections>
    <section name="encore.PayPal.Nvp" type="Encore.PayPal.Nvp.Configuration, Encore.PayPal.Nvp" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="ECNSubscribeURL" value="http://test.emailactivity.ecn5.com/engines/SO_subscribe.aspx{0}"/>
    <add key="SmtpServer" value="108.160.208.101"/>
    <add key="WattCustomerID" value="2806"/>
    <add key="PayflowUserName" value="sunil_api1.knowledgemarketing.com"/>
    <add key="PayflowPassword" value="1388814577"/>
    <add key="PayflowSignature" value="ACYVw6rv0wWNqYZG8IMXlGFD-zmeAm6h6shszo367Arwo7hyZKo1DOTI"/>
    <add key="PayEnvironment" value="sandbox"/>
    <add key="Pub_CSS" value="&lt;style type='text/css'&gt;body { background-color:%%PBGColor%%; text-align:center;padding:20px 0;font-size:%%PageFontSize%%; font-family:%%PageFont%% } #container{font-family:%%PageFont%%;text-align:left;width:760px;background-color:%%FBGColor%%;margin:0 auto;border:%%PageBorder%%px #000 solid; min-height: 100%;height: auto !important;height: 100%;} .Category{font-family:%%PageFont%%;background-color:%%CBGColor%%;font-size:%%CatFontSize%%;color:%%CFColor%%}.label{font-family:%%PageFont%%;font-size:%%QFSize%%;color:%%QFColor%%; font-weight:%%QFBold%%;}.labelAnswer{font-family:%%PageFont%%;font-size:%%AFSize%%;color:%%AFColor%%; font-weight:%%AFBold%%;}&lt;/style&gt;"/>
    <add key="Google.ReCaptcha.Secret" value="6LdH3AoUAAAAALW1owYkX0S7Zk0Qjcrz3LdaTAqs"/>
    <add key="ValidateCaptcha" value="false"/>
  </appSettings>
  <connectionStrings>
    <add name="connString" connectionString="server=216.17.41.191;uid=webuser;pwd=webuser#23#;database=KMPSJointForms" providerName="System.Data.SqlClient"/>
    <add name="ecn5_communicator" connectionString="server=216.17.41.191;uid=webuser;pwd=webuser#23#;database=ecn5_communicator" providerName="System.Data.SqlClient"/>
    <add name="ecn5_accounts" connectionString="server=216.17.41.191;uid=webuser;pwd=webuser#23#;database=ecn5_accounts" providerName="System.Data.SqlClient"/>
  </connectionStrings>
 
  <system.web>
    <authentication mode="Forms">
      <forms name="JF" loginUrl="subscribe.aspx" protection="All" timeout="30"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <httpRuntime targetFramework="4.6.1" />
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="JF" namespace="KMPS_JF_Objects.Controls" assembly="KMPS_JF_Objects"/>
        <add tagPrefix="asp" namespace="System.Data.SqlClient" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
  </system.web>

</configuration>