<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MasterDB" connectionString="server=10.161.1.47;uid=sa;pwd=dcran9755;database=MedtechMasterDB_Dev" providerName="System.Data.SqlClient"/>
    <add name="KMCommon" connectionString="server=10.161.1.47;uid=sa;pwd=dcran9755;database=KMCommon" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ByPassDownload" value="false"/>
    <add key="ImportLocation" value="C:\TempFolder\PersonifyFileFolder\Import"/>
    <add key="ArchiveLocation" value="C:\TempFolder\PersonifyFileFolder\Archive"/>
    <add key="ImportLogFilePath" value="C:\TempFolder\PersonifyFileFolder\Log"/>
    <add key="ImportFileName" value="PersonifyFullSyncExport_"/>
    <!--<add key="ImportFileName" value="PersonifyDailyExport_"/>-->
    <!--<add key="ImportServerLocation" value="\\10.10.41.146\c$\Users\himss\Documents\FTP\QA"/>-->
    <add key="ImportServerLocation" value="C:\TempFolder\PersonifyFileFolder\ImportServer"/>
    <!--<add key="FTPServer" value="ftp.knowledgemarketing.com:22"/>-->
    <!--<add key="FTPServer" value="216.17.41.146"/>
    <add key="FTPUserID" value="himss"/>
    <add key="FTPPassword" value="KMhimss"/>-->
    <add key="EmailTo" value="dev-group@knowledgemarketing.com"/>
    <add key="EmailFrom" value="HimssSupport@knowledgemarketing.com"/>
    <add key="SMTPServer" value=""/>
    <add key="StartStep" value=""/>
    <add key="KMCommon_Application" value="42"/>
    <add key="KMCommon_SmtpServer" value="216.17.41.200"/>
    <add key="KMCommon_LoggingDaysToKeep" value="30"/>
    <add key="isDemo" value="false"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
