body {
     background-color: #EBEBEB;
     margin-top: 0;
     color: #333333;
     font-size: 10px;
     text-decoration: none;
     font-family: Arial;
}
img {
    border: 0;
}
table{
    border-spacing: 0;
    border-collapse: 0;
}
td{
    padding: 0;
}
.EcnPageTitle {
    font-family: Arial;
    font-size: 17px;
    color: #045DA4;
    font-weight: bold;
}

.EcnSectionHeader, a.EcnSectionHeader:visited, a.EcnSectionHeader:link, a.EcnSectionHeader:active {
    font-family: Arial;
    font-size: 14px;
    color: #696969;
    text-decoration: none;
    font-weight: bold;
}
.EcnSectionHeader:hover	{ 
    text-decoration: underline;
}

.EcnSectionDetails {
    font-family: Arial;
    font-size: 13px;
    color: #9da2a7;
    font-weight: normal;
}

.EcnWhiteLink {
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    display:inline !important;
}
.EcnWhiteLink:hover	{ 
    text-decoration: underline;
}
.EcnBlackLink {
    color: black;
    text-decoration: none;
}
.EcnBlackLink:hover	{ 
    text-decoration: underline;
}

.ECNLabel8 {
    font-family: Arial Black;
    font-size: 8px;
    color: #9da2a7;
    font-weight: normal;
}
.ECNText8 {
    font-family: Arial;
    font-size: 8px;
    color: #9da2a7;
    font-weight: normal;
}

.ECNLabel10 {
    font-family: Arial;
    font-size: 11px;
    color: #045DA4;
    font-weight: bold;
}
.ECNText10 {
    font-family: Arial;
    font-size: 10px;
    color: #696969;
    font-weight: normal;
}
.ECNLabel11 {
    font-family: Arial;
    font-size: 11px;
    color: #696969;
    font-weight: normal;
}



/*OLD STUFF*//*OLD STUFF*//*OLD STUFF*//*OLD STUFF*//*OLD STUFF*//*OLD STUFF*//*OLD STUFF*//*OLD STUFF*/


.TopHeader{
    margin: auto;
    background-color: #FFFFFF;
    font-family: Arial;
    font-size: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
.TopMargin{
    padding-left: 10px;
    padding-right: 5px;
    height: 25px;
    /*align-right*/
}
a.logoff_link:link, a.logoff_link:visited, a.logoff_link:active,
a.help_link:link, a.help_link:visited, a.help_link:active {
	font-family: Arial;
    padding: 5px 10px; 
    background: #045DA4;
    border-radius: 20px;
	text-transform: capitalize;
}
			
a.logoff_link:hover, a.help_link:hover	{ 
    font-family: Arial;
    padding: 5px 10px; 
    background: #045DA4;
    border-radius: 20px;
	text-transform: capitalize;
    text-decoration:none;
}

a:link, a:visited, a:active {
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}

.formfield{
    border: #999999 solid 1px;
    border-width: 1px 1px 1px 1px;
    border-color: #999999 #999999 #999999 #999999;
    font-family: Arial;
    font-size: 11px;
}

/* Menu *//* Menu *//* Menu *//* Menu *//* Menu *//* Menu *//* Menu *//* Menu *//* Menu *//* Menu */

.mainmenu
{
    font-family: Arial;
    font-size: 13px;
    background: #045da4;
    height: 38px;
    font-weight: bold;
	text-transform: capitalize;
    z-index: 9;
}

.emailmarketingmainmenu{
    padding-left: 5px;
    padding-right: 20px;
    width: 100%;
}

.logoffcell
{
    padding-left: 0px; 
    padding-right: 10px;
}

.subMenu
{
    font-size: 13px;
    height: 32px;
	background-color: #559EDB;
	color: white;
	text-transform: capitalize;
    font-weight: bold;
}

.subMenu a:hover
{
	text-decoration: none;
	color: #EFD999;
}

.inactivelinks a
{
	color: #EFD999;
    font-family: Arial;
	font-size: 13px;
	vertical-align: middle;
    font-weight: normal;
}

.activelinks a
{
	color: #EFD999; 
	text-decoration:none;		
	text-transform:uppercase;
    font-weight: normal;
}

.level1 
{
    font-family: Arial;
    padding: 5px 5px 5px 5px;
    font-size: 13px;
    color: #ffffff;
	text-transform: capitalize;
    font-weight: normal;
}

.level1:hover{
    font-family: Arial;
    font-size: 13px;
    color: #8FC4F0 !important;
    font-weight: bold;
}
a.static:hover + ul
{
    display:inline;
    z-index: 1;
}
a.static:hover + ul li
{
    display:inline;
    z-index:2;
}

ul.dynamic:hover 
{
    display:block;
    z-index:3;
}

a.dynamic:hover + ul
{
    display:block;
    z-index:3;
}

a.dynamic:hover + ul li{
    display:block;
    z-index:4;
}

a.dynamic:hover{
    background-color: #559edb !important;
    color: white !important;
    font-size: 13px;
    font-weight: bold;
}

a.cdropdown:hover + ul{
    display:block;
    z-index:1000;
}
                
.level2
{
    padding: 5px 30px 5px 30px;
    font-family: Arial;
    font-size: 13px;
    color: black;
	text-transform: capitalize;
    background-color: #FFFFFF;
    border-radius: 20px;
    font-weight: normal;
    display:none;
    width:auto;
    text-decoration: none;
    border-style: none;
}
a.level2 :hover {
    /*background-color: red;  testing*/
    width: 100%;
    /*background-color: #559EDB;*/
    border-radius: 20px;
    font-weight: bold;

}

a.level2:hover + ul {
    display:block;

}
a.level2:hover + ul li {
    display:block;

}
a.level2:hover + ul li ul {
    display:block;

}

ul.level3{
    top:0;
    left:100%;
}
.level3
{
    padding: 5px 30px 5px 30px;
    font-family: Arial;
    font-size: 13px;
    color: black;
	text-transform: capitalize;
    background-color: #FFFFFF;
    border-radius: 20px;
    font-weight: normal;
}
a.level3 :hover {
    background-color: #559EDB;
}

.MenuClass ul li ul
{
    display: none;
}
        
.MenuClass ul li
{
    position: relative;
    float: left;
    list-style: none;
}
        
.MenuClass a.static
{
    font-family: Arial;
    /*font-family: Arial;*/
    padding: 5px 5px 5px 5px !important;
    font-size: 13px;
    color: #FFFFFF;
    font-weight: bold;
	text-transform: capitalize;
}
        
.MenuClass a.static.selected
{
    font-family: Arial;
    font-size: 13px;
    color: #8FC4F0 !important;
    font-weight: bold;
}
        
.MenuClass a.static.highlighted
{
    font-family: Arial;
    font-size: 13px;
    color: #8FC4F0 !important;
    font-weight: bold;
}

.MenuClass a.dynamic
{
    font-size: 13px;
    color: #045DA4 !important;
    font-weight: bold;
    white-space:nowrap;
}
        
.MenuClass a.dynamic.selected
{
    font-size: 13px;
    color: #045da4 !important;
    /*color: white !important;*/
    font-weight: bold;
}
        
.MenuClass a.dynamic.highlighted
{
    background-color: #559edb !important;
    color: white !important;
    font-size: 13px;
    font-weight: bold;
}

.MenuClass a.dynamic:hover
{
    background-color: #559edb !important;
    color: white !important;
    font-size: 13px;
    font-weight: bold;
}

.MenuClass a.dynamic:hover + ul li
{
    display:block;
}

.MenuClass ul li ul li {
    position: relative;
    float: left;
    list-style: none;
    width: 100%;
}

.MenuClass ul{
    margin:0px;
    padding:0px;
    width:auto;
}
.MenuClass ul li ul{
    margin:0px;
    padding:0px;
    width:auto;
}
a.dynamic:hover + ul
{
    display:block;
}
        
.MenuSubClass ul li ul
{
    display: none;
}
        
.MenuSubClass ul li
{
    position: relative;
    float: left;
    list-style: none;
}
        
.MenuSubClass a.static
{
    font-family: Arial, Verdana, Helvetica, sans-serif;
    padding: 5px 5px 5px 5px !important;
    font-size: 13px;
    color: white;
	text-transform: capitalize;
    font-weight: bold;
}
        
.MenuSubClass a.static.selected
{
    font-size: 13px;
    color: #F47E1F !important;
    font-weight: bold;
}
        
.MenuSubClass a.static.highlighted
{
    font-size: 13px;
    color: #F47E1F !important;
    font-weight: bold;
}
        
.MenuSubClass a.dynamic.selected
{
    color: white !important;
    font-weight: bold;
}
        
.MenuSubClass a.dynamic.highlighted
{
    color: white !important;
    font-weight: bold;
}			

.EmailMarketingDropDownLogo{
     width:35px;
     height:25px;
}

.UADDropDownLogo{
    width: 31px; 
    height: 31px;
}

.SurveysDropDownLogo{
    width: 30px;
    height: 30px;
}

.ProductReportingDropDownLogo{
    width: 30px;
    height: 30px;
}

.DigitalEditionsDropDownLogo{
    width: 30px;
    height: 30px;
}

.DomainTrackingDropDownLogo{
    width: 31px;
    height: 31px;
}

td.ECNAreasDropDownCell{
    width:40px;
    padding-left: 10px;
}

td.KMLearningCenterCell{
    padding: 0 0 10 0;
}

td.HeaderAccountInfo{
    text-align: right;
}

.HeaderAccountInfoAccountLabel{
    vertical-align: bottom;
}
.HeaderAccountInfoAccount{
    vertical-align: bottom;
}
.HeaderAccountInfoUserLabel{
    vertical-align: bottom;
}
.HeaderAcountInfoUser{
    vertical-align: bottom;
}

     
a.box_text:link, a.box_text:visited, a.box_text:Active
{
    font-family: Arial Black;
	font-size:11px;
	font-weight:bold;
	color: #ffffff;
	text-decoration: none;
}

a.box_text
{
    font-family: Arial Black;
	font-size:11px;
	font-weight:bold;
	color: gray;
	text-decoration: none;
}

a.box_text:hover
{
    font-family: Arial Black;
	font-size:11px;
	font-weight:bold;
	text-decoration: none;
	color: #CFBB77;
}

a.linkGold:link, a.linkGold:visited, a.linkGold:Active
{
    font-family: Arial Black;
	font-size: 11px;
	color: #EFD999;
	text-decoration: none;
}

a.linkGold
{
    font-family: Arial Black;
	font-size:10px;
	color: #EFD999;
	text-decoration: none;
    font-weight: normal;
}

a.linkGold:hover
{
    font-family: Arial Black;
	font-size: 11px;
	text-decoration: none;
	color: #ffffff;
    font-weight: normal;
}

.folderLevelOne
{
	text-indent:12px;
}

.folderLevelTwo
{
	text-indent:24px;
}

.folderLevelThree
{
	text-indent:36px;
}

/* ECN HELP */ /* ECN HELP */ /* ECN HELP */ /* ECN HELP */ /* ECN HELP */ /* ECN HELP */ /* ECN HELP */ 

#divhelp{
    background-color: transparent;
    display: none;
    height: 400px;
    left: 125px;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 101;
}

.helptop{
    background-image: url(http://images.ecn5.com/images/helptop_01.gif);
    background-repeat: no-repeat;
    width: 324px;
    height 29px;
}

.helpx{
    height: 29px;
    width: 28px;
}

.helpbottom{
    background-image: url(http://images.ecn5.com/images/helpbottom_03.gif);
    background-repeat: no-repeat;
    height: 351px;
    width: 352px;
    padding-top: 5px;
    vertical-align: top;
}

.helpheading{
    font-family: Arial;
    font-size: 14px;
    color: #999999;
    text-align: left;
    padding-left: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

#helpscroll{
    width:340px;
    height: 300px;
    overflow: auto;
    text-align: left;
    margin: 3px 2px 0px 0px;
    font-family: Arial;
    font-size: 10px;
}

.helpcontent{
    padding-left: 30px;
}

.note {
    color: #C9545A;
}

/* Bottom Links */

a.FooterLink{
    color: #045DA4;
    font-family: Arial; 
    font-size: 11px;
}

/* Errors */

#errorMiddle table{
    margin: 0 15px 0 0;
    font: bold 12px Arial;
    color: #a40000;
}

/* Pop Up */

.PopUpText {
    /*font-family: arial,helvetica,sans-serif;*/
    font-family: Arial;
    font-size: 14px;
    color: #000000;
    position: relative;
    /*top: 15px;*/
    left: 50%;
}

.PopUpImage
{
     position: relative; 
     left: 65%;
     /*top: 15px;*/
}

.toast-close-button
{
    color: #045DA4;
}
/*.PopUpButton
{
    
    font-family: Arial;
    position: relative;
    left: 85%;
}*/

/* Buttons 'n' stuff */

input
{
    font-family: Arial;
    /*font-family: arial, helvetica, san-serif;*/

}

/* Processing Wheel + Overlay */
.overlay 
{
    background-color: gray;
    height: 100%;
    left: 0;
    opacity: .7;
    position: fixed;
    top: 0; 
    width: 100%;
    z-index: 99;
}

.loader
{
    background-color: #f4f3e1;
    border: 2px solid Black;
    color: black;
    font-size: x-small;
    left: 50%;
    margin-left: -60px;
    position: fixed;
    top: 40%;
    width: 120px;
    z-index: 100;
}