<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="kmEntities" connectionString="metadata=res://*/kmModel.csdl|res://*/kmModel.ssdl|res://*/kmModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.161.1.47;initial catalog=FormDesigner;user id=Web_FormDesigner_Admin;password=b+hBBKSr4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
