
html,body
{
    height: 100%; width:100%;
    font-family:Arial, Verdana;
	background-color:#D3D3D3;
	padding:0;margin:0;
}
.divContainer
{     
    text-align: center;
    font-size:small;
    position: absolute;
    visibility: visible;
    width: 100%;
    /*filter: alpha(opacity=75 );
    -moz-opacity: 0.75;
    opacity = 0.75;*/
    vertical-align: middle;
    display: inline;
    height: 100%;
    /*background-color:#3f3f3f;*/
    /*border-right: white thick outset; 
    border-top: white thick outset; 
    border-left: white thick outset;
    border-bottom: white thick outset;  
    z-index:99999;*/
    }

.divLoaderBack
{
    /*background-color: #444141;*/
	background:#F4F4F4;
    color: #000;
    height: 20px;
    visibility: visible;
    width: 510px;
	border-top:1px #000 solid;
	border-left:1px #000 solid;
	border-right:2px #000 solid;
	border-bottom:2px #000 solid;
    margin: 15px auto 0 auto;
	padding:0;
    vertical-align: middle;
    text-align: left;    
	top:50%;
    position:relative;
    
}
.divLoaderProgress
{
    /*background-color: #e2e7eb;*/
	background:#999;
    color: gray;
    padding: 5px,0px,0px,5px;
    position: relative;
    visibility: visible;
    text-align: center;
    height: 100%;
    width: 0px;
}

.divLoadingStat
{
    /*background-color: Transparent;
    border-color: #ffffff;
    padding: 5px,0px,0px,5px;*/
	font-size:13px;
	font-weight:bold;
	color:#000;
    position: relative;
    visibility: visible;
    border-width: medium;
    width: 100%;
    height: 10px;
    text-align: center;
    margin-bottom: 15px;
    top:50%;

}

