
/*.mainmenu
{
	background: #5C5D5F url(http://images.ecn5.com/images/bar.jpg) top left repeat-x;
}

.subMenu
{
	background-color:#7893A1; 
}

.footer
{
	background-image:url(images/shade_bottom_07.jpg);
}

#footer
{
	background-color:#7B95A2;	
}*/


