<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="connString" value="server=216.17.41.253;uid=sa;pwd=dcran9755;database=ecn5_communicator"/>
    <add key="AdminSendTo" value="dev@knowledgemarketing.com"/>
    <add key="AdminSendFrom" value="domain_admin@teckman.com"/>
    <add key="EngineSendFrom" value="info@knowledgemarketing.com"/>
    <add key="SmtpServer" value="216.17.41.200"/>
    <add key="EngineSubject" value="Important information from ECN's Page Knowtice"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
