body {
}
.reToolbar.Default .InsertLinkManager{
    background-image: url(EditorDialogs/hyperlinkmanager.png);
}

.reToolbar.Default .CodeSnippet
{
    background-image: url(/ecn.editor/ckeditor/plugins/codesnippet/codesnippet.png);
}

.reToolbar.Default .Transnippet{
    background-image: url(/ecn.editor/ckeditor/plugins/transnippet/transnippet.png);
}

.reToolbar.Default .DynamicTag{
    background-image:url(/ecn.editor/ckeditor/plugins/dynamictag/dynamictag.jpg);
}

.reToolbar.Default .HtmlUpload{
    background-image:url(/ecn.editor/ckeditor/plugins/htmlupload/codesnippet.png);
}

.reToolbar.Default .SocialShare{
    background-image:url(/ecn.editor/ckeditor/plugins/socialshare/socialshare.png);
}

.reToolbar.Default .RSSFeed{
    background-image:url(/ecn.editor/ckeditor/plugins/rssfeed/rss_feed.png);
}

.reToolbar.Default .Templates{
    background-image:url(/ecn.editor/ckeditor/plugins/xmltemplates/xmltemplates.png);
    
    }
.reToolbar.Default .Preview{
   background-image:url(/ecn.images/images/icon-preview-HTML.gif); 
   
}