@{
    ViewBag.Title = "SignUp";
}

<hgroup class="title">
</hgroup>

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.ValidationSummary(true)

    <header>
        @Styles.Render("~/Content/css")
    </header>
    
    <fieldset>
        <legend>Sign Up Page Form</legend>
        <h3>Link to Subscriber Page</h3>
        
        <ol>
            <li>
                <div class="signup-hyperlink">
                    <a href="@ViewBag.SubscriberURL">Subscriber URL</a>
                </div>
            </li>
        </ol>
       
    </fieldset>
}
