<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="connString" value="server=216.17.41.191;uid=sa;pwd=dcran9755;database=ecn5_collector"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ecn_misc_connString" value="server=216.17.41.191;uid=sa;pwd=dcran9755;database=ecn_misc"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="com" value="server=216.17.41.191;uid=sa;pwd=dcran9755;database=ecn5_communicator"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="act" value="server=216.17.41.191;uid=sa;pwd=dcran9755;database=ecn5_accounts"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="col" value="server=216.17.41.191;uid=sa;pwd=dcran9755;database=ecn5_collector"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="cre" value="server=216.17.41.191;uid=sa;pwd=dcran9755;database=ecn5_creator" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="misc" value="server=216.17.41.191;uid=sa;pwd=dcran9755;database=ecn_misc" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Server" value="216.17.41.191" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TASKRPT_FromEmail" value="info@knowledgemarketing.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TASKRPT_ToEmail" value="ashok@teckman.com,sunil@knowledgemarketing.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TASKRPT_Subject" value="TASK Notification from ECN" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SmtpServer" value="216.17.41.200" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="surveypath" value="E:\http\ecn5\ecn.collector" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- Domain Path-->
    <add key="Activity_DomainPath" value="http://email.ecn5.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Image_DomainPath" value="http://images.ecn5.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NEBOOK_AdminEmail" value="sunil@knowledgemarketing.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NEBOOK_FromEmail" value="sunil@knowledgemarketing.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NEBOOK_ReportLink" value="&lt;a href='http://www.ecn5.com/neebo/default.aspx?redirectURL=http%3a%2f%2fwww.ecn5.com%2fecn.collector%2fmain%2freport%2fsurvey_report.aspx%3fsurveyID%3d%%surveyID%%'&gt;Click here to view Survey report.&lt;/a&gt;"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="NEBOOK_ViewResponseLink" value="&lt;a href='http://www.ecn5.com/neebo/default.aspx?redirectURL=http%3a%2f%2fwww.ecn5.com%2fecn.collector%2fmain%2freport%2fViewResponse.aspx%3fsurveyID%3d%%surveyID%%%26EmailID%3d%%emailID%%'&gt;Click here to view individual response.&lt;/a&gt;"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="isDemo" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="KMCommon_SmtpServer" value="216.17.41.200" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="Collector" connectionString="server=216.17.41.191;uid=sa;pwd=dcran9755;database=ecn5_collector" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Accounts" connectionString="server=216.17.41.191;uid=sa;pwd=dcran9755;database=ecn5_accounts" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Communicator" connectionString="server=216.17.41.191;uid=sa;pwd=dcran9755;database=ecn5_communicator" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Activity" connectionString="server=216.17.41.191;uid=sa;pwd=dcran9755;database=ecn_activity" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="KMCommon" connectionString="server=216.17.41.191;uid=sa;pwd=dcran9755;database=KMCommon" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>