<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <br />
                <h10>Welcome to the UAD API!</h10>
                <br />
                <br />
                <h11>
                    Here you will find resources to assist in connecting your own applications to the
                    UAD API.
                </h11>
            </hgroup>
            <p>
                <h13>
                    The UAD API allows you to integrate your own applications with powerful UAD
                    tools from Knowledge Marketing using REST service calls.  REST provides an industry standard
                    communications protocol for remote procedure calls using the HyperText Transfer Protocol (HTTP).
                    To learn more about REST visit, the
                    <a href="http://en.wikipedia.org/wiki/Representational_state_transfer" title="Representational state transfer">
                        REST article on Wikipedia
                    </a>.
                </h13>
            </p>
            <p>
                <h13>
                    The site features
                    <a href="~/Help">code samples</a>,
                    <a href="~/Home/StatusCodes">status and error codes information</a>, and <a href="~/Help">documentation</a>
                    to help you get the most from the UAD API. If you can't find the answers you need or you get stuck,
                    <a href="mailto:info@knowledgemarketing.com?subject=UAD+API" title="Contact Us!">send us an email</a>!
                    We're glad to help.
                </h13>
            </p>
        </div>
    </section>
    <section>
        <h11>Resources:</h11><br /><br />
        <!-- <li class="one">
            <h5>Getting Started</h5>
            To help you get off the ground quickly, we've developed several tutorial
            videos.
            <a href="/Tutorials">Learn more…</a>
        </li> -->
        <div class="content-wrapper">
            <h12><a href="~/Home/StatusCodes">HTTP Status Codes</a></h12><br />
            <h13>
                Each request made to the Knowledge Marketing API generates an HTTP Status Code.
                Although these conform to
                <a href="http://en.wikipedia.org/wiki/List_of_HTTP_status_codes" title="Wikipedia: List of HTTP Status Codes">
                    well
                    documented standards
                </a>, they can be a little terse. To help demystify them,
                we've collected the various HTTP Status Codes returned from the Knowledge Marketing API
                into a consolidated reference.
                <a href="~/Home/StatusCodes">Learn more…</a><br /><br />
            </h13>
        </div>
        <div>
            <h12><a href="~/Help">Full Documentation</a></h12><br />
            <h13>
                To ensure you always have the latest information, we maintain complete
                documentation of UAD API on this site.  Documentation is updated
                each time we release updates to the API, so you can be confident you are always
                working from the most current reference information.
                <a href="~/Help">Learn more…</a>
            </h13>
        </div>
    </section>
</div>
