<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="act" value="Server=server;Database=act;Trusted_Connection=True;" />
    <add key="col" value="Server=server;Database=col;Trusted_Connection=True;" />
    <add key="cre" value="Server=server;Database=cre;Trusted_Connection=True;" />
    <add key="com" value="Server=server;Database=com;Trusted_Connection=True;" />
    <add key="chr" value="Server=server;Database=chr;Trusted_Connection=True;" />
    <add key="pub" value="Server=server;Database=pub;Trusted_Connection=True;" />
    <add key="misc" value="Server=server;Database=misc;Trusted_Connection=True;" />
    <add key="activity" value="Server=server;Database=activity;Trusted_Connection=True;" />
    <add key="connString" value="Server=server;Database=connString;Trusted_Connection=True;" />
    <add key="PDFTron_LicenseKey" value="knowledgemarketing.com:CPU:1:R:W:AMC(20090110):1EC47B0055DDAA21E3C861109C92BA1BAC24D204A05BC75E69C072F0FA" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
