@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>KM Platform</title>
</head>
<body>
    <div style="width:80%;margin:0 auto;">
        <table align="center" style="width:100%;text-align:center;border:0;padding:0;">
            <tr>
                <td>
                    <img src='http://images.ecn5.com/KMNew/KMNewWebLogo.jpg' alt=''>
                </td>
            </tr>
            <tr>
                <td align="center" bgcolor="#ffffff">
                    <table border="0" cellspacing="0" cellpadding="0" width="95%">
                        <tr>
                            <td>
                                @RenderBody()
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            </table>
</div>
</body>
</html>
