<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--KMCommon Settings-->
    <add key="KMCommon_Application" value="77"/>
    <add key="KMCommon_SmtpServer" value="108.160.208.101"/>
    <add key="KMCommon_LoggingDaysToKeep" value="30"/>
    <!--Database Settings-->
    <add key="isDemo" value="false"/>
    <!--Engine Settings-->
    <add key="StatusCode" value="Pending"/>
    <!--System Access Key-->
    <add key="ECNEngineAccessKey" value="651A1297-59D1-4857-93CB-0B049635762E"/>
    <!--AppFabric Settings-->
    <add key="AppFabricCacheEnabled" value="false"/><!-- Local: false, QA: true, Prod: true-->
    <add key="AppFabricServer" value="DevAppFabric.hq.teckman.com" /><!-- Local: DevAppFabric.hq.teckman.com, QA: appfabric, Prod: appfabric-->
    <add key="AppFabricServer-NamedCache" value="ECNDEV" /><!-- Local: ECNDEV, QA: ECNQA, Prod: ECN-->
    <!--Social Media Settings-->
    <add key="FBAPPID" value="1656726887887007"/>
    <add key="TWAPPID" value="AuDy8ADtI48ffJeIvFKpDTMg1"/>
    <add key="LIAPPID" value="77hf9n5p2lmbjj"/>
    <add key="FBAPPSECRET" value="69c4dbd444297c0f1f2db86df4acbd85"/>
    <add key="TWAPPSECRET" value="jZnAov4QxfG5WiNuKkZBHfhZ4Nv0JoyqQbbyDRIX3vDlrRZ5qn"/>
    <add key="LIAPPSECRET" value="0BVTf0mPKdUkCQ5e"/>
    <add key="FBSCOPE" value="publish_stream,manage_pages"/>
    <add key="TW_CONSUMER_KEY" value="AuDy8ADtI48ffJeIvFKpDTMg1"/>
    <add key="TW_CONSUMER_SECRET" value="jZnAov4QxfG5WiNuKkZBHfhZ4Nv0JoyqQbbyDRIX3vDlrRZ5qn"/>
    <!-- Domain Path-->
    <add key="Activity_DomainPath" value="http://test.emailactivity.ecn5.com"/>
    <add key="Image_DomainPath" value="http://test.ecn5.com/ecn.images"/>
    <!-- Social Path and Files-->
    <add key="Social_DomainPath" value="http://test.social.ecn5.com" />
    <add key="SocialPreview" value="/SPreview.aspx?" />
    <add key="SocialClick" value="/SClick.aspx?" />
    <add key="IsNetworkDeployed" value="false"/>
  </appSettings>
  <connectionStrings>
    <add name="Communicator" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient"/>
    <add name="Activity" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn_activity" providerName="System.Data.SqlClient"/>
    <add name="KMCommon" connectionString="server=10.161.1.47;uid=webuser;pwd=webuser#23#;database=KMCommon" providerName="System.Data.SqlClient"/>
    <add name="Accounts" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ECN5_Accounts" providerName="System.Data.SqlClient"/>
    <add name="KMPlatform" connectionString="server=10.161.1.47;uid=webuser;pwd=webuser#23#;database=KMPlatform" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
