.text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	line-height: 12pt;
	font-weight: normal;
	color: #FFFFFF;
}
.usesr {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
}
.phone {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bolder;
}
.login {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
}
.bullet {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	list-style-position: outside;
	font-weight: normal;
	color: #281163;
	list-style-image: url(images/bullet.gif);
	text-indent: 4pt;
	line-height: 10pt;
}
.indent {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-indent: 15px;
}
.sidetext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	white-space: normal;
	padding: 5px;
	color: #222222;
}
.boldgold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: bold;
	color: #FF9900;
}
.popuplink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	cursor: hand;
	font-size: 10px;
}
.contactform {
	font-family: Verdana, Arial, Helvetica, sans-serif, Geneva;
	font-size: 10pt;
	line-height: normal;
	color: #333333;
	white-space: normal;
	background-color: #FFFFFF;
	border-top: 2px inset #666699;
	border-right: 1px inset #666699;
	border-bottom: 1px inset #666699;
	border-left: 2px inset #666699;
}
input2 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	background-color: #CCCCCC;
	height: 18px;
	width: 100px;
	border: thin groove #CCCCCC;
}
.bold12 {
	font-family: Verdana, Arial, Helvetica, sans-serif, Geneva;
	font-size: 12pt;
	font-style: normal;
	font-weight: bold;
	color: #333333;
	line-height: 12pt;
	font-variant: normal;
	padding-left: 10px;
}
.loginbox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: thin groove #333333;
}
.blackbullet {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	list-style-type: circle;
}
.features {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	line-height: normal;
	color: #444444;
	padding: 5px;
}
.bodyText {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
