@media handheld
{
    body
    {
        width:100%;
        padding: 15px;
            font-family: Arial, Verdana;
            margin: auto;
            background-color: #DDDDDD;
    }
     header
        {
            background-color: white;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding: 10px;
        }

        section
        {
            background-color: white;
            padding-bottom: 10px;
            padding-left: 10px;
        }

        article
        {
            padding-bottom: 30px;
            margin: auto;
        }

        footer
        {
            background-color: white;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            padding: 10px;
        }

        h2
        {
            padding-bottom: 10px;
        }

        h3
        {
            padding-bottom: 10px;
        }

        .Panel
        {
            padding-left: 20px;
            margin: auto;
        }

        .gridview
        {
        }
}
