<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="KMCommon" connectionString="server=216.17.41.191;uid=webuser;pwd=webuser#23#;database=KMCommon" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DownloadFiles" value="false" />
    <add key="IsDemo" value="false" />
    <add key="KMCommon_Application" value="50" />
    <add key="KMCommon_SmtpServer" value="108.160.208.101" />
    <add key="MainLog" value="C:\Log\KMPS.ActivityImport\MainLog\" />
    <add key="ConfigFile" value="D:\Sunil\Projects\KM ALL Projects\Branches\Dev\2016_Hulk\UAD\KMPS.OpenClickImport\" />
    <add key="BatchSize" value="500" />
    <add key="WriteXML" value="false" />
    
    <add key="EmailManager" value="Justin.Wagner@TeamKM.com" />
    <add key="EmailBCC" value="Justin.Wagner@TeamKM.com" />
    <add key="EmailFrom" value="info@TeamKM.com" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>