<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- db conn string -->
    <add key="connString" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator"/>
    <add key="commDB" value="ecn5_communicator"/>
    <add key="custDownloadPath" value="C:\Temp\assets\"/>
    <add key="com" value="server=10.161.1.47;uid=webuser;pwd=webuser#23#;database=ecn5_communicator"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="SMTP_SERVER" value="216.17.41.200"/>
    <add key="ECNUserAccessKey" value="651A1297-59D1-4857-93CB-0B049635762E"/>
    <add key="KMCommon_Application" value="72"/>
    <add key="KMCommon_SMTPServer" value="216.17.41.200"/>
    <add key="isDemo" value="false"/>
    <add key="IsNetworkDeployed" value="false"/>
  </appSettings>
  <connectionStrings>
    <add name="connString" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient"/>
    <add name="KMCommon" connectionString="server=10.161.1.47;uid=webuser;pwd=webuser#23#;database=KMCommon" providerName="System.Data.SqlClient"/>
    <add name="KMPlatform" connectionString="server=10.161.1.47;uid=webuser;pwd=webuser#23#;database=KMPlatform" providerName="System.Data.SqlClient"/>
    <add name="Communicator" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient"/>
    <add name="Accounts" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_accounts" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
