@model string
@{
    ViewBag.Title = "Error";
}
    <table id="errorTable" style="width: 800px;" cellspacing="1" cellpadding="1" width="800"
           border='0'>
        <tr>
            <td style="width:15%;">
                <asp:Image ID="errorMsgImage" ImageUrl="http://images.ecn5.com/images/errorEx.jpg" runat="Server"></asp:Image>
            </td>
            <td style="width:85%;text-align:left;font-size:large;">
                @Model
                
            </td>
        </tr>       
    </table>
