
@{
    ViewBag.Title = "SecurityAccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="Table1" style="width: 800px; height: 96px" cellspacing="1" cellpadding="1"
       width="800" border="1">
    <tr>
        <td style="height: 23px;font-weight:bold;font-size:13px;" >
            
                <br />&nbsp;	SECURITY VIOLATION Occured !!
                <br /><br />
                &nbsp;You are in this page because you are not Authorized to view this information.<br />&nbsp;Please contact your User Administrator to resolve the problem.<br /><br />
            
        </td>
    </tr>
</table>
