<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Circulation" providerName="System.Data.SqlClient" connectionString="server=216.17.41.251;database=Circulation;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="UAS" providerName="System.Data.SqlClient" connectionString="server=216.17.41.251;database=UAS;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="UAD_Master" providerName="System.Data.SqlClient" connectionString="server=216.17.41.251;database=master;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="Circulation_Local" providerName="System.Data.SqlClient" connectionString="server=JUSTINWAGNER-PC\SQL2008R2;database=Circulation;uid=SubscriptionManager;pwd=Circ$Dev_14;timeout=0;"/>
    <add name="Circulation_Dev" providerName="System.Data.SqlClient" connectionString="server=216.17.41.241;database=Circulation;uid=SubscriptionManager;pwd=Circ$Dev_14;timeout=0;"/>
    <add name="UAS_Local" providerName="System.Data.SqlClient" connectionString="server=JUSTINWAGNER-PC\SQL2008R2;database=UAS;uid=SubscriptionManager;pwd=Circ$Dev_14;timeout=0;"/>
    <add name="UAS_Dev" providerName="System.Data.SqlClient" connectionString="server=216.17.41.241;database=UAS;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="ECN_Activity" providerName="System.Data.SqlClient" connectionString="server=216.17.41.198;database=ECN5_Activity;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="ECN_Accounts" providerName="System.Data.SqlClient" connectionString="server=216.17.41.198;database=ECN5_Accounts;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="ECN_Charity" providerName="System.Data.SqlClient" connectionString="server=216.17.41.198;database=ECN5_Charity;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="ECN_Collector" providerName="System.Data.SqlClient" connectionString="server=216.17.41.198;database=ECN5_Collector;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="ECN_Communicator" providerName="System.Data.SqlClient" connectionString="server=216.17.41.198;database=ECN5_Communicator;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="ECN_Creator" providerName="System.Data.SqlClient" connectionString="server=216.17.41.198;database=ECN5_Creator;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="ECN_DomainTracker" providerName="System.Data.SqlClient" connectionString="server=216.17.41.198;database=ECN5_DomainTracker;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="ECN_Publisher" providerName="System.Data.SqlClient" connectionString="server=216.17.41.198;database=ECN5_Publisher;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="ECN_Warehouse" providerName="System.Data.SqlClient" connectionString="server=216.17.41.198;database=ECN5_Warehouse;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="KMCommon" providerName="System.Data.SqlClient" connectionString="server=216.17.41.198;database=KMCommon;uid=webuser;pwd=webuser#23#;timeout=0;"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <!--<system.serviceModel>
    <services>
      <service name="UAD_WS.BrandProductMap">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/UAD_WS/BrandProductMap/"/>
          </baseAddresses>
        </host>
        --><!-- Service Endpoints --><!--
        --><!-- Unless fully qualified, address is relative to base address supplied above --><!--
        <endpoint address="REST" binding="webHttpBinding" contract="UAD_WS.IBrandProductMap" behaviorConfiguration="HelpBehavior">
          --><!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          --><!--
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding" contract="UAD_WS.IBrandProductMap">
          --><!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          --><!--
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        
        --><!-- Metadata Endpoints --><!--
        --><!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. --><!--
        --><!-- This endpoint does not use a secure binding and should be secured or removed before deployment --><!--
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          --><!-- To avoid disclosing metadata information, 
          set the values below to false before deployment --><!--
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          --><!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information --><!--
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="HelpBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <standardEndpoints>
      <webHttpEndpoint>
        --><!-- 
            Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
            via the attributes on the <standardEndpoint> element below
        --><!--
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="false" faultExceptionEnabled="true" defaultOutgoingResponseFormat="Json"/>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
