<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="activity" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn_activity;Application Name=Port25LogEngine;" providerName="System.Data.SqlClient"/>
    <add name="Communicator" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient"/>
    <add name="KMCommon" connectionString="server=10.161.1.47;uid=webuser;pwd=webuser#23#;database=KMCommon" providerName="System.Data.SqlClient"/>
    <add name="Accounts" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ECN5_Accounts" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="isDemo" value="false"/>
    <add key="DaysToKeep" value="-1"/>
    <add key="ProcessAllFilesinFolder" value="true"/>
    <add key="DaytoProcess" value="-2"/>
    <add key="ftpusername" value="administrator"/>
    <add key="ftppassword" value="L!4aE2"/>
    <add key="ftpserver" value="ftp://108.160.208.101/"/>
    <add key="SmtpServer" value="216.17.41.200"/>
    <add key="ECNEngineAccessKey" value="8CAB09B9-BEC9-453F-A689-E85D5C9E4898"/>
    <add key="KMCommon_Application" value="30"/>
    <add key="KMCommon_SmtpServer" value="216.17.41.200"/>
    <add key="KMCommon_LoggingDaysToKeep" value="30"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
