
/*Cascading DropDown*/

/*CollapsiblePanel*/
.collapsePanel {
	
	background-color:white;
	overflow:hidden;
}

.collapsePanelHeader{
	width:100%;
	height:30px;
	background-image: url(images/bg-menu-main.png);
	background-repeat:repeat-x;
	color:#FFF;
	font-weight:bold;
}


body
{
	margin: 2px;
	text-align: center;
	font-family:Arial, Helvetica, sans-serif;
}

td 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
}

.tabText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.tabText2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px; 
	color: #1F497D; 
}

.tabContent_tbl {
	border: 1px solid #86979E;
}

legend {
	margin: 0px 0px 7px 0px;
	color: #325C78;
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 130%;
	font-weight: bold;
	vertical-align: middle;
	padding: 4px 4px

}

fieldset
{
border: 1px solid #325C78;
}


.pageborder
{
	width: 800px;
	border: 1px solid #8AB3CE;
	background-color:InfoBackground; /*#ffffcc*/
	text-align: left;
	margin: auto;
}

.hdr
{
	width: 800px;
	height:	90px;
	vertical-align: top;
	background-image:url(../../images/header.jpg)
}

.ftr
{
	height: 25px;
	background: #EFEFEF;
	color: #333333;
	margin: 0;
}

.bar
{
	background: #ffffcc url(../../images/bar.jpg) no-repeat top left;
	height: 27px;
	width: 800px;
	margin-bottom: -1px;
	padding: 0;
	border-bottom: 1px solid #8AB3CE;
	vertical-align: top;
}

textarea, select, input
{
	font-size:11px;
	color: #000000;
	font-family:Arial, Helvetica, sans-serif;
	padding: 0px 0px 0px 1px;
}

.progressbar
{
	border-left:1px solid #000000;
	border-bottom: 1px solid #000000;
	border-right:1px solid #000000;
	border-top:1px solid #000000;
}

td.menu
{
	
}

a.menu
{
	padding: 5px 4px 3px 4px;
	color:#333333;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	display: block;
	margin: 0px;
	border-right: 1px solid #cccccc
}

a.menu-selected
{
	padding: 5px 4px 3px 4px;
	color:#cc0000;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	display: block;
	margin: 0px;
	border-right: 1px solid #cccccc
}

a.menu:hover 
{
	color:Orange;
}

a.menu-selected:hover
{
	color: Orange;
}

a.logoff
{
	padding: 0px 10px 0px 0px;
	color: #990033;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	text-align:center;
	vertical-align:middle;
}

a.logoff:hover
{
	text-decoration:underline;
}

.name
{
	padding: 0px 10px 0px 0px;
	color: #990033;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	margin: 0px;
	text-align:right;
	vertical-align:middle;
}

td.submenu
{
	background: #ffeea6;
}

a.submenu
{
	background: #ffeea6;
	padding: 3px 7px 3px 7px;
	color: #4D6686;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	display: block;
	margin: 0px;
	border-bottom: 1px solid #ffcc00;
	border-right: 1px solid #ffcc00;

	
}

a.submenu-selected
{
	background: #ffe275;
	padding: 3px 7px 3px 7px;
	color: #4D6686;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	display: block;
	margin: 0px;
	border-right: 1px solid #ffcc00;
	
}

a.submenu-disabled
{
	background: #ece9d8;
	padding: 3px 7px 3px 7px;
	color:#666666;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	display: block;
	margin: 0px;
	border-right: 1px solid #ffcc00;
	border-bottom: 1px solid #ffcc00;
}

a.submenu-disabledHL
{
	background: #ece9d8;
	padding: 3px 7px 3px 7px;
	color:#4D6686;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	display: block;
	margin: 0px;
	border-right: 1px solid #ffcc00;
	
}


a.submenu-selected, a.submenu-selected-over
{
	background: #ffffcc;
	
}

a.submenu:hover 
{
	color:#4D6686;
	
}

a.submenu-selected:hover
{
	color: #4D6686;
}

.colheader
{
	background-color:#cfcfcf;
	border-bottom: #cfcfcf 1px solid;
	color: #325C78;
	font-size:11px;
	font-weight:bold;
}

.colheader a {
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: #325C78;
}

.colheader a:hover {
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
}


.AltRowColor
{
	background-color:#f1f1f1;
}

/* NEW SITE PANEL */

.panelTable {
	width: 100%;
	border: 1px;
	border-color: #325C78;
	border-style: solid;
	border-collapse: collapse;
	background-color: #ffffff;
	padding: 5px 5px 5px 5px;
}

.panelTable th {
	background-color:#325C78;
	vertical-align:middle;
	padding: 2px 5px 2px 5px;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	height:1.5em;
	color: #ffffff;
}

.panelTable td {
	padding: 5px 5px 5px 5px;
}

.panelTable th a {
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
}

.panelTable th a:hover {
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
	color: #ffffff;
}

/* Grid */
.grid
{
	border: 1px;
	border-color: #cfcfcf;
	background-color: #EBEBEB;
	border-style: solid;
	padding: 5px 5px 5px 5px;
}

.gridAltColor
{
	background-color:#ffffff;
}

.grid th {
	background-color:#C7D1DE;
	color: #325C78;
	font-size:11px;
	font-weight:bold;
	height:1.5em;
}

.grid th a {
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
	color: #325C78;
}

.grid th a:hover {
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	}

.gridpager
{
	font-size: 11px;
	height: 10px;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-weight:normal;
	background-color:#C7D1DE;
}

.gridfooter
{
	font-weight: bold;
	font-family:arial; 
	padding:5px 5px 5px 5px;
	background-color:#C7D1DE;
	color: #325C78;
	font-size:11px;
	height:2em;
}


.gridpager span
{
	font-weight: bold;
	font-family:arial; 
	font-size: 11px; 
	COLOR:red; 
	text-decoration: none;
	padding:2px 0px 0px 0px;
}


.gridpager  A:visited, .gridpager  A:active, .gridpager A:link, .gridpager  A:visited, .gridpager  A:active {
	font-weight: normal;
	font-family:arial; 
	font-size: 11px; 
	COLOR:#333; 
	text-decoration: none;
	padding:2px 0px 0px 0px;
}

.gridpager A:hover
{
	COLOR:#000; 
	text-decoration: underline;
}

/* Error Panel */

#errorTop
{
	background:url(../../images/errorRed_01.gif) top center no-repeat; 
	width:674px; 
	height:9px;
}

#errorMiddle
{
	background:url(../../images/errorRed_02.gif) top center repeat-y;
}

#errorMiddle table
{
	
	margin: 0 15px 0 0; 
	font: bold 12px Arial, Helvetica, sans-serif; 
	color: #a40000
}

#errorBottom
{
	background:url(../../images/errorRed_03.gif) top center no-repeat; 
	width:674px; 
	height:10px;
}

/* Box Panel */

.boxtopleft
{
	width: 11px;
	height: 33px;
}

.boxtopright
{
	width: 11px;
	height: 33px;
}

.boxtitle
{
	margin: 0;
	padding: 2px 2px 8px 4px;
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 95%;
	font-weight: bold;
	color: #cc0000;
	background: url(../../images/boxtopbg.gif) repeat-x top right;
}

.boxdttitle
{
	margin: 0;
	text-align: right;
	padding: 0px 0 6px 4px;
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 70%;
	color: #000000;
	background: url(../../images/boxtopbg.gif) repeat-x top right;
}

.boxleftside
{
	background: url(../../images/boxmiddleleft.gif) repeat top left;
	border-left: 1px solid #dededf;
	background-color: #ffffff;
 
}

.boxrightside
{
	background: url(../../images/boxmiddleright.gif) repeat top right;
	border-right: 1px solid #dededf;
	background-color: #ffffff;
 }


.boxbottom
{
	border-bottom : 1px solid #dededf;
	background-color: #ffffff;
}

.title
{
	margin: 0;
	padding: 2px 0 8px 4px;
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 95%;
	font-weight: bold;
	color: #141A21;
}

.style1 {font-size: 11px; }
.style2 {color: #003366;font-size: 11px;}
.style3 {margin: 0}
.style4 {color: #003366;font-size: 12px;font-weight: bold;}
.style6 {color: #003366}

/* Validation Summary Error Message Display */

.errorsummary {
 border: 1px solid #58A2F6;
 color: red;
 margin: 5px 0px;
 padding: 15px;
 background: #fff url(../../images/ic-error.gif) no-repeat 5px 50%;
 background-color:#F0F7FF;
}

.errorsummary ul 
{
 margin: 5px;
 padding: 10px;
 margin-left: 80px;
 list-style: square;
}

.validationSummary
{
width: 720px;
border-width: 1px;
border-style: solid;
border-color: red;
background-color: #EEF5FF;
padding-top: 8px;
padding-left:35px;
padding-bottom: 10px;
font: 11px Arial;
color: #8598B9;
background-image: url(../../images/ic-info.jpg);
background-position: 10px 6px;
background-repeat: no-repeat;
margin: 3px;
overflow:hidden;
}

.validationSummary ul 
{
 margin-left: 50px;
 list-style: square;
}

/*TAB*/

/*begin creating the tabs */
.tab {
	font-size: 10px;
	font-weight: bold;
}

.tabItem td {
	BACKGROUND-COLOR: #f1f1f1;  
	border: #999999 1px solid; 
	BORDER-BOTTOM: none;
	FONT-SIZE: 11px; 
	FONT-WEIGHT: bold; 
	WIDTH: 100px; 
	FONT-FAMILY: Arial; 
	height: 25px; 
	TEXT-ALIGN: center;
}

.tabItem a:link, .tabItem a:visited{
	BACKGROUND-COLOR: #f1f1f1; 
	COLOR:gray; 
	FONT-SIZE: 11px; 
	FONT-WEIGHT: bold; 
	FONT-FAMILY: Arial; 
	TEXT-ALIGN: center; 
	text-decoration:none;
}

.tabItem a:hover
{
	color:Orange;
}

.tabSelectedItem td {
	border: #CC6600  1px solid;
	BORDER-BOTTOM: none;
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px; 
	WIDTH: 100px; 
	COLOR: #ffffff; 
	FONT-FAMILY: Verdana; 
	HEIGHT: 25px; 
	BACKGROUND-COLOR:#ff9900; 
	TEXT-ALIGN: center;
}

.tabSelectedItem a:link, .tabuSelectedItem a:visited{
	BACKGROUND-COLOR: #ff9900; 
	COLOR:#ffffff; 
	FONT-SIZE: 12px; 
	FONT-WEIGHT: bold; 
	FONT-FAMILY: Arial; 
	TEXT-ALIGN: center; 
	text-decoration:none;
}

.tabSelectedItem a:hover
{
	COLOR:#ffffff; 
	text-decoration:underline;
}
.tabbody
{
	border: #CC6600 1px solid; 
	PADDING: 10px 10px 10px 10px;
	BACKGROUND-COLOR: #ffffff;
	width:100%;
}