body {
    font-family: Arial,sans-serif;
    font-size: 12px;
    margin: 0;
    background-color: #e0e0e0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background:#fff;
  border:2px #000 solid;
}

.popupbody
{
    /*background:#fffff url(images/blank.gif) repeat-x top;*/
    z-index: 101;
    background-color: #FFFFFF;
    border-radius:10px;
}

.modalBackground
{
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}


@media (min-width: 1200px) {
    .container {
        width: 1170px;
        background:#fff;
	    margin:0 auto;
	    border:2px #000 solid;
	    
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
        background:#fff;
	    margin:0 auto;
	    border:2px #000 solid;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
        background:#fff;
	    margin:0 auto;
	    border:2px #000 solid;
    }
}

.lbl {
    font-weight: bold;
    color: #840000;
}

.has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  background-color: rgba(251, 6, 6, 0.06);
}

.control-label {
  text-align: left !important; /* !important added for priority in SO snippet. */
}

.center-block {
  float:none;
}

@media only screen and (max-width: 360px) {
    .g-recaptcha {
        transform:scale(0.85);
        -webkit-transform:scale(0.85);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
}

/* Grid */
.grid
{
	border: 1px;
	border-color: #993333;
	background-color: #ffffff;
	border-style: solid;
	padding: 2px 2px 2px 2px;
	font-family:Tahoma, Arial, sans-serif;
}

.grid td
{	
	padding-left:2px;
	padding-right:2px; 
	padding-top:2px;
	padding-bottom:2px; 
}

.gridAltColor
{
	background-color:#EBEBEB;
}

.grid th {
	background-color:#993333;
	color: #ffffff;
	font-size:12px;
	font-weight:bold;
	height:1.5em;
	font-family:Tahoma, Arial, sans-serif;
}

.grid th a {
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
	color: #ffffff;
	font-family:Tahoma, Arial, sans-serif;
}

.grid th a:hover {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	}

.gridfooter
{
	font-weight: bold;
	font-family:Tahoma, Arial, sans-serif;
	padding:2px 2px 2px 2px;
	background-color:#993333;
	color:#ffffff;
	font-size:12px;
	height:1.5em;
}

