<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="connString" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator"/>
    <add key="activity" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn_activity"/>
    <add key="com" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator"/>
    <add key="act" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_accounts"/>
    <add key="col" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_collector"/>
    <add key="cre" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_creator"/>
    <add key="product_name" value="communicator"/>
    <add key="mailPickupDirectory" value="C:\Inetpub\new_mail\Pickup\"/>
    <add key="downloadConfDirectory" value="D:\projects\ecn\ecn.communicator\main\lists"/>
    <add key="accountsdb" value="ecn5_accounts"/>
    <add key="AdminSendTo" value="bill.hipps@knowledgemarketing.com"/>
    <add key="SendTo" value="bill.hipps@knowledgemarketing.com"/>
    <add key="AdminSendFrom" value="domain_admin@teckman.com"/>
    <add key="AcctManagersSendTo" value="justin.welter@teamkm.com"/>
    <add key="SmtpServer" value="108.160.208.101"/>
    <add key="EmailWriterType" value="IronPort"/>
    <add key="OverrideMTAForTesting" value="true"/>
    <add key="MTAForTesting" value="108.160.208.101"/>
    <add key="MTAResetForTesting" value="2525"/>
    <add key="DynamicContentProc" value="v_Blast_GetBlastEmailsListForDynamicContent"/>
    <add key="IsDemo" value="true"/>
    <add key="IsNetworkDeployed" value="false"/>
    <add key="ehloDomainString" value="blastengine.enterprisecommunicationnetwork.com"/>
    <add key="IronPortIP" value="108.160.208.101"/>
    <add key="BlastEngineName" value="ECN5"/>
    <add key="ehloDomainString" value="greenarrow.teckman.com"/>
    <!-- VirtualPath -->
    <add key="Accounts_VirtualPath" value="/ecn.accounts"/>
    <add key="Communicator_VirtualPath" value="/ecn.communicator"/>
    <add key="Creator_VirtualPath" value="/ecn.creator"/>
    <add key="Publisher_VirtualPath" value="/ecn.publisher"/>
    <add key="Collector_VirtualPath" value="/ecn.collector"/>
    <add key="Images_VirtualPath" value="/ecn.images"/>
    <!-- Domain Path-->
    <add key="Activity_DomainPath" value="http://test.emailactivity.ecn5.com"/>
    <add key="Image_DomainPath" value="http://test.ecn5.com/ecn.images"/>
    <add key="MVCActivity_DomainPath" value="http://test.ea.ecn5.com"/>
    <!-- Social Path and Files-->
    <add key="Social_DomainPath" value="http://test.social.ecn5.com" />
    <add key="SocialPreview" value="/SPreview.aspx?" />
    <add key="SocialClick" value="/SClick.aspx?" />
    <add key="ECNEngineAccessKey" value="651A1297-59D1-4857-93CB-0B049635762E" />
    <add key="KMCommon_Application" value="101" />
    <add key="KMCommon_SmtpServer" value="216.17.41.200" />

    <add key="ParallelThreads" value="1"/>
    <add key="OpenClick_UseOldSite" value="false"/>

    <add key="DisplayinConsole" value="false"/>

    <add key="AppFabricCacheEnabled" value="true"/>
    <!-- Local: false, QA: true, Prod: true-->
    <add key="AppFabricServer" value="DevAppFabric.hq.teckman.com" />
    <!-- Local: DevAppFabric.hq.teckman.com, QA: appfabric, Prod: appfabric-->
    <add key="AppFabricServer-NamedCache" value="ECNBLASTENGINE" />
    <!-- Local: ECNDEV, QA: ECNQA, Prod: ECN-->
  </appSettings>
  <connectionStrings>
    <add name="Communicator" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient"/>
    <add name="Activity" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn_activity" providerName="System.Data.SqlClient"/>
    <add name="KMCommon" connectionString="server=10.161.1.47;uid=webuser;pwd=webuser#23#;database=KMCommon" providerName="System.Data.SqlClient"/>
    <add name="Accounts" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ECN5_Accounts" providerName="System.Data.SqlClient"/>
    <add name="KMPlatform" connectionString="server=10.161.1.47;uid=webuser;pwd=webuser#23#;database=KMPlatform" providerName="System.Data.SqlClient" />
    <add name="UAS" connectionString="server=10.161.1.47;uid=webuser;pwd=webuser#23#;database=UAS" providerName="System.Data.SqlClient" />
    <add name="Content" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ECN5_CONTENT" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
