<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Circulation" providerName="System.Data.SqlClient" connectionString="server=216.17.41.251;database=Circulation;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="UAS" providerName="System.Data.SqlClient" connectionString="server=216.17.41.251;database=UAS;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="UAD_Master" providerName="System.Data.SqlClient" connectionString="server=216.17.41.251;database=master;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="Circulation_Local" providerName="System.Data.SqlClient" connectionString="server=JUSTINWAGNER-PC\SQL2008R2;database=Circulation;uid=SubscriptionManager;pwd=Circ$Dev_14;timeout=0;"/>
    <add name="Circulation_Dev" providerName="System.Data.SqlClient" connectionString="server=216.17.41.241;database=Circulation;uid=SubscriptionManager;pwd=Circ$Dev_14;timeout=0;"/>
    <add name="UAS_Local" providerName="System.Data.SqlClient" connectionString="server=JUSTINWAGNER-PC\SQL2008R2;database=UAS;uid=SubscriptionManager;pwd=Circ$Dev_14;timeout=0;"/>
    <add name="UAS_Dev" providerName="System.Data.SqlClient" connectionString="server=216.17.41.241;database=UAS;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="ECN_Activity" providerName="System.Data.SqlClient" connectionString="server=216.17.41.198;database=ECN5_Activity;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="ECN_Accounts" providerName="System.Data.SqlClient" connectionString="server=216.17.41.198;database=ECN5_Accounts;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="ECN_Charity" providerName="System.Data.SqlClient" connectionString="server=216.17.41.198;database=ECN5_Charity;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="ECN_Collector" providerName="System.Data.SqlClient" connectionString="server=216.17.41.198;database=ECN5_Collector;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="ECN_Communicator" providerName="System.Data.SqlClient" connectionString="server=216.17.41.198;database=ECN5_Communicator;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="ECN_Creator" providerName="System.Data.SqlClient" connectionString="server=216.17.41.198;database=ECN5_Creator;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="ECN_DomainTracker" providerName="System.Data.SqlClient" connectionString="server=216.17.41.198;database=ECN5_DomainTracker;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="ECN_Publisher" providerName="System.Data.SqlClient" connectionString="server=216.17.41.198;database=ECN5_Publisher;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="ECN_Warehouse" providerName="System.Data.SqlClient" connectionString="server=216.17.41.198;database=ECN5_Warehouse;uid=webuser;pwd=webuser#23#;timeout=0;"/>
    <add name="KMCommon" providerName="System.Data.SqlClient" connectionString="server=216.17.41.198;database=KMCommon;uid=webuser;pwd=webuser#23#;timeout=0;"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
	  <add key="DefaultMailServer" value="108.160.208.101"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
