body {
}
.EcnPageTitle {
    font-family: Arial;
    font-size: 17px;
    color: #045DA4;
    font-weight: bold;
}

.EcnSectionHeader, a.EcnSectionHeader:visited, a.EcnSectionHeader:link, a.EcnSectionHeader:active {
    font-family: Arial;
    font-size: 14px;
    color: #696969;
    text-decoration: none;
    font-weight: bold;
}
.EcnSectionHeader:hover	{ 
    text-decoration: underline;
    font-family: Arial;
    font-size: 14px;
    color: #696969;
    font-weight: bold;
}

.EcnSectionDetails {
    font-family: Arial;
    font-size: 13px;
    color: #9da2a7;
    font-weight: normal;
}

.EcnWhiteLink {
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}
.EcnWhiteLink:hover	{ 
    text-decoration: underline;
}
.EcnBlackLink {
    color: black;
    text-decoration: none;
}
.EcnBlackLink:hover	{ 
    text-decoration: underline;
}

.ECNLabel8 {
    font-family: Arial Black;
    font-size: 8px;
    color: #9da2a7;
    font-weight: normal;
}
.ECNText8 {
    font-family: Arial;
    font-size: 8px;
    color: #9da2a7;
    font-weight: normal;
}

.ECNLabel10 {
    font-family: Arial;
    font-size: 11px;
    color: #045DA4;
    font-weight: bold;
}
.ECNText10 {
    font-family: Arial;
    font-size: 10px;
    color: #696969;
    font-weight: normal;
}
.ECNLabel11 {
    font-family: Arial;
    font-size: 11px;
    color: #696969;
    font-weight: normal;
}

/*OLD STUFF*//*OLD STUFF*//*OLD STUFF*//*OLD STUFF*//*OLD STUFF*//*OLD STUFF*//*OLD STUFF*//*OLD STUFF*/

a.logoff_link:link, a.logoff_link:visited, a.logoff_link:active,
a.help_link:link, a.help_link:visited, a.help_link:active {
	font-family: Arial;
    padding: 5px 20px; 
    background: #045DA4;
    border-radius: 20px;
	text-transform: capitalize;
}
			
a.logoff_link:hover, a.help_link:hover	{ 
    font-family: Arial;
    padding: 5px 20px; 
    background: #045DA4;
    border-radius: 20px;
	text-transform: capitalize;
}

/* Menu *//* Menu *//* Menu *//* Menu *//* Menu *//* Menu *//* Menu *//* Menu *//* Menu *//* Menu */

.mainmenu
{
    font-family: Arial;
    font-size: 13px;
    background: #045da4;
    height: 38px;
    font-weight: bold;
	text-transform: capitalize;
}

.subMenu
{
    font-size: 13px;
    height: 32px;
	background-color: #559EDB;
	color: white;
	text-transform: capitalize;
    font-weight: bold;
}

.subMenu a:hover
{
	text-decoration: none;
	color: #EFD999;
}

.inactivelinks a
{
	color: #EFD999;
    font-family: Arial;
	font-size: 13px;
	vertical-align: middle;
    font-weight: normal;
}

.activelinks a
{
	color: #EFD999; 
	text-decoration:none;		
	text-transform:uppercase;
    font-weight: normal;
}

.level1
{
    font-family: Arial;
    padding: 5px 5px 5px 5px;
    font-size: 13px;
    color: #ffffff;
	text-transform: capitalize;
    font-weight: normal;
}
        
.level2
{
    padding: 5px 30px 5px 30px;
    font-family: Arial;
    font-size: 13px;
    color: black;
	text-transform: capitalize;
    background-color: #FFFFFF;
    border-radius: 20px;
    font-weight: normal;

    /*width: 100%  testing*/
}
.level2 :hover {
    /*background-color: red;  testing
    width: 100%*/
    /*background-color: #559EDB;*/
    border-radius: 20px;
    font-weight: bold;
}

        
.level3
{
    padding: 5px 30px 5px 30px;
    font-family: Arial;
    font-size: 13px;
    color: black;
	text-transform: capitalize;
    background-color: #FFFFFF;
    border-radius: 20px;
    font-weight: normal;
}
.level3 :hover {
    background-color: #559EDB;
}

.MenuClass ul li ul
{
    display: none;
}
        
.MenuClass ul li
{
    position: relative;
    float: left;
    list-style: none;
}
        
.MenuClass a.static
{
    font-family: Arial;
    /*font-family: Arial;*/
    padding: 5px 5px 5px 5px !important;
    font-size: 13px;
    color: #FFFFFF;
    font-weight: bold;
	text-transform: capitalize;
}
        
.MenuClass a.static.selected
{
    font-family: Arial;
    font-size: 13px;
    color: #8FC4F0 !important;
    font-weight: bold;
}
        
.MenuClass a.static.highlighted
{
    font-family: Arial;
    font-size: 13px;
    color: #8FC4F0 !important;
    font-weight: bold;
}

.MenuClass a.dynamic
{
    font-size: 13px;
    color: #045DA4 !important;
    font-weight: bold;
}
        
.MenuClass a.dynamic.selected
{
    font-size: 13px;
    color: #045da4 !important;
    /*color: white !important;*/
    font-weight: bold;
}
        
.MenuClass a.dynamic.highlighted
{
    background-color: #559edb !important;
    color: white !important;
    font-size: 13px;
    font-weight: bold;
}
        
.MenuSubClass ul li ul
{
    display: none;
}
        
.MenuSubClass ul li
{
    position: relative;
    float: left;
    list-style: none;
}
        
.MenuSubClass a.static
{
    font-family: Arial, Verdana, Helvetica, sans-serif;
    padding: 5px 5px 5px 5px !important;
    font-size: 13px;
    color: white;
	text-transform: capitalize;
    font-weight: bold;
}
        
.MenuSubClass a.static.selected
{
    font-size: 13px;
    color: #F47E1F !important;
    font-weight: bold;
}
        
.MenuSubClass a.static.highlighted
{
    font-size: 13px;
    color: #F47E1F !important;
    font-weight: bold;
}
        
.MenuSubClass a.dynamic.selected
{
    color: white !important;
    font-weight: bold;
}
        
.MenuSubClass a.dynamic.highlighted
{
    color: white !important;
    font-weight: bold;
}			
     
a.box_text:link, a.box_text:visited, a.box_text:Active
{
    font-family: Arial Black;
	font-size:11px;
	font-weight:bold;
	color: #ffffff;
	text-decoration: none;
}

a.box_text
{
    font-family: Arial Black;
	font-size:11px;
	font-weight:bold;
	color: gray;
	text-decoration: none;
}

a.box_text:hover
{
    font-family: Arial Black;
	font-size:11px;
	font-weight:bold;
	text-decoration: none;
	color: #CFBB77;
}

a.linkGold:link, a.linkGold:visited, a.linkGold:Active
{
    font-family: Arial Black;
	font-size: 11px;
	color: #EFD999;
	text-decoration: none;
}

a.linkGold
{
    font-family: Arial Black;
	font-size:10px;
	color: #EFD999;
	text-decoration: none;
    font-weight: normal;
}

a.linkGold:hover
{
    font-family: Arial Black;
	font-size: 11px;
	text-decoration: none;
	color: #ffffff;
    font-weight: normal;
}

.folderLevelOne
{
	text-indent:12px;
}

.folderLevelTwo
{
	text-indent:24px;
}

.folderLevelThree
{
	text-indent:36px;
}