@model ecn.communicator.mvc.Models.Email

@{
    ViewBag.Title = "Notes";
    Layout = null;
}

<style>
    .editor-field textarea {
    width : 400px;
    height : 300px;
}
</style>

<h4>@ViewBag.Title</h4>
<div class="editor-field">
    @Html.TextAreaFor(e => e.Notes)
</div>


