@{
    ViewBag.Title = "Product";
}
<style>
    a strong {
        text-decoration: none;
        color: #337ab7;
    }
</style>
<table>
    <tr>
        <td>
        </td>
    </tr>
</table>
<br /><br />