<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MAF.SourceMedia.SalesForce.Integration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="KMCommon" connectionString="server=216.17.41.241;uid=webuser;pwd=webuser#23#;database=KMCommon" providerName="System.Data.SqlClient" />
    <add name="SourceMediaMasterDB" connectionString="server=216.17.41.241;uid=webuser;pwd=webuser#23#;database=SourceMediaMasterDB;Application Name=SMSalesForceIntegration" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="IsDemo" value="false" />
    <add key="WriteXMLtoConsole" value="false" />
    <add key="quitonConsecutiveErrors" value="5" />
    
    <add key="KMCommon_Application" value="85" />
    <add key="KMCommon_SmtpServer" value="108.160.208.101" />
  
    <add key="AppFabricCacheEnabled" value="false"/>
    <add key="AppFabricServer" value="DevAppFabric.hq.teckman.com" />
    <add key="AppFabricServer-NamedCache" value="UAD" />
    
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <MAF.SourceMedia.SalesForce.Integration.Properties.Settings>
      <setting name="MAF_SourceMedia_SalesForce_Integration_SMSalesForceAPI_Service"
        serializeAs="String">
        <value>http://38.101.226.208:85/KM_WS/Service.asmx</value>
      </setting>
    </MAF.SourceMedia.SalesForce.Integration.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.85.5.452" newVersion="0.86.0.518" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>