
.icon-kmhome:before { content: '\e800'; } /* '' */
.icon-kmplus-circled:before { content: '\e801'; } /* '' */
.icon-kmleft-dir:before { content: '\e802'; } /* '' */
.icon-kmright-dir:before { content: '\e803'; } /* '' */
.icon-kmcancel-circled:before { content: '\e804'; } /* '' */
.icon-kmpencil:before { content: '\e805'; } /* '' */
.icon-kmpencil-circled:before { content: '\e806'; } /* '' */
.icon-kmcog-circled:before { content: '\e807'; } /* '' */
.icon-kmcustom-delete:before { content: '\e808'; } /* '' */
.icon-kmdown-circled:before { content: '\e809'; } /* '' */
.icon-kmcancel-circled-1:before { content: '\e80a'; } /* '' */
.icon-kmplus-circled-1:before { content: '\e80b'; } /* '' */
.icon-kmdoc-new:before { content: '\e80c'; } /* '' */
.icon-kmcustom-copy:before { content: '\e80d'; } /* '' */
.icon-kmcustom-edit:before { content: '\e80e'; } /* '' */
.icon-kmcustom-actions:before { content: '\e80f'; } /* '' */
.icon-kmcustom-add:before { content: '\e810'; } /* '' */
.icon-kmcustom-selectgroup:before { content: '\e811'; } /* '' */
.icon-kmcustom-home:before { content: '\e812'; } /* '' */
.icon-kmgetcss:before { content: '\e813'; } /* '' */
.icon-kmspin1:before { content: '\e814'; } /* '' */
.icon-kmspin6:before { content: '\e815'; } /* '' */
.icon-kmspin5:before { content: '\e816'; } /* '' */