body
{
	height:100%;
	background-color:#5d5a53;
	font-family: Arial, Helvetica, sans-serif;
}

.lg_bkgnd {
	background-image: url(new_1_05.jpg);
	background-repeat: repeat-x;
}
.sm_bkgnd {
	background-image: url(new_1_10.jpg);
	background-repeat: repeat-x;
}
.tab_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}
.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #5D5A53;
}

#olay
{
	Z-INDEX: 101; 
	POSITION: absolute;
	margin-top:2px;
	BACKGROUND: none transparent scroll repeat 0% 0%; 
	FILTER: alpha(Opacity=15, FinishOpacity=90, Style=0, StartX=0, FinishX=100, StartY=0, FinishY=100) Glow(color=red,strength=1000); 
	VISIBILITY: hidden; 
	BORDER-LEFT: black 0px ridge; 
	BORDER-BOTTOM: black 1px ridge; 
}

.topLeft 
{
	background-image:url(winmiddle.gif);
	background-repeat:repeat-x;
	height:29px;
	text-align:left;
	
}

#divpages
{
	text-align:center;
}

#divpages img
{
	display:block;
	margin:15px auto;
}

.treeView
{
	color:#fff;
}

.divTitle
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#ffffff;
	padding-left:15px;
	font-weight:bold;
}

img
{
	border:0px;
}


.bottom
{
	background-image:url(transTile.gif);
	background-position: top left;
	background-repeat:repeat;
	width:312px;
	height:525px;
	padding-left:2px;
	margin-left:15px;
}

.inScroll
{
	overflow:scroll;
	width:296px;
	height:403px;
	/*filter: alpha(opacity=90);*/ /* ie */
	/*-moz-opacity: .9;*/ /* mozilla */
	background:#ffffff;
}

.innerDivText, .innerDivText a:link, .innerDivText a:active, .innerDivText a:visited, .innerDivText a:hover
{
	FONT-SIZE:12px;
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	cursor:pointer;
}

#innerDivText3 
{
	font-style:italic;
	list-style:none;
}

#divlinkcontent, #divlinkcontent li a:link, #divlinkcontent li a:visited, #divlinkcontent li a:active
{
	FONT-SIZE:12px;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-weight:normal;
}

#divlinkcontent li a:hover
{
	FONT-SIZE:12px;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:underline;
	font-weight:normal;
}

#divlinkcontent ul li
{
	margin:0 0 0 -15px;padding:0;
}

#divsearchcontent
{
	margin-top:35px;
}

#divsearchcontent, #divsearchcontent a:link, #divsearchcontent a:visited, #divsearchcontent a:active
#divbackissues, #divbackissues a:link, #divbackissues a:visited, #divbackissues a:active
{
	FONT-SIZE:12px;
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	cursor:pointer;
}

#divsearchcontent u
{
	font-weight:bold;
}

#divbackissues a:hover, #divsearchcontent a:hover
{
	FONT-SIZE:12px;
	color:#CC3300;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	cursor:pointer;
}

#divbackissues
{
	font-weight:bold;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++
		      THUMBNAIL HOVER EFFECT
+++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.pageWithImg a img, .pageWithImg a:link img, .pageWithImg a:visited img, .pageWithImg a:active img  
{
	border:2px #5D5A53 solid;
}

.pageWithImg a:hover img 
{
	border:2px #ffff00 solid;
}

.pageWithImg a:hover /* NEEDED TO HACK IE6 */
{
	color:#ffff00;
}
/* +++++++++  END THUMBNAIL HOVER +++++++++++++++++++ */


.print_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
}

.searchHeader
{
	font:bold 16px Arial, Helvetica, sans-serif;
}

.searchList
{
	margin:0 0 0 11px;
	text-indent:-11px;
	font-size:11px;
}

#divsearch
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
}

#lblTotalPages
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

.pageNumLink a
{
	text-decoration:underline;
	color:#C63103;
}

.pageNumLink a:link, .pageNumLink a:visited, .pageNumLink a:active
{
	font-size:12px;
	text-decoration:underline;
	color:#C63103;
} 

.pageNumLink a:hover
{
	font-size:12px;
	text-decoration:underline;
	color:#C63103;
} 

.lbSearchText
{
	font-size:11px;
}

.f2f-text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	text-decoration: none;
}
.f2f-alert {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}
.f2f-big {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}

.ffAlert
{
	color:#ff0000;
}

#topLeft
{
	background:url(f2f-art_01.gif) top right no-repeat;
	width:30px;
	height:30px;
}

#topCenter
{
	background:url(f2f-art_02.gif) top left repeat-x;
	height:30px;
}

#topRight
{
	background:url(f2f-art_03.gif) top left no-repeat;
	width:30px;
	height:30px;
}

#middleLeft
{
	background:url(f2f-art_04.gif) top right repeat-y;
	width:30px;
}

#middleRight
{
	background:url(f2f-art_06.gif) top left repeat-y;
	width:30px;
}

#bottomLeft
{
	background:url(f2f-art_07.gif) top right no-repeat;
	width:30px; 
	height:31px;
}

#bottomCenter
{
	background:url(f2f-art_08.gif) top left repeat-x;
	height:31px;
}

#bottomRight
{
	background:url(f2f-art_09.gif) top left no-repeat;
	width:31px;
	height:31px;
	
}

.fwd2FrdTitle
{	
	font-size:14px;	
	font-weight:bold;
}

.pMarg
{
	margin:15px 20px;
}

.formSize
{
	width:200px;
	height:20px;
	border:1px ccc solid;
	font-size:10px;
}

.formNote
{
	width:465px;
	height:70px;
	font-size:10px;
}

.leftPad
{
	padding:0 0 0 40px;
}

.style1 {
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
}
.style3 {color: #000000; font-size:12px}

.login
{
	color:#5D5A53;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:#fff;
}

.loginTop
{
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
}

a.loginTop:link, a.loginTop:visited, a.loginTop:active 
{
	color:#FFF;
}

a.loginTop:hover
{
	color:#5D5A53;
}

/*#loginTop, #loginBottom
{
	border-right:1px #5D5A53 solid;
	border-left:1px #5D5A53 solid;
}

#loginTop
{
	border-top:1px #5D5A53 solid;
}

#loginBottom
{
	border-bottom:1px #5D5A53 solid;
}*/



/* +++++++++++++++++++++++++ NEW TOOL BAR ++++++++++++++++++++ */
#frameContent
{
	overflow-x:hidden;
}

#divTOOLS
{
	background:url(tiler_184.gif) top left repeat-y;
	width:33px;
	height:100%;
	position:absolute;
}

#divTABS
{
	background:url(tiler_184.gif) top left repeat-y; 
	width:230px;
	height:100%;
}

#Scroller-1
{
	color:#fff;
	width:197px;
	height:450px;
	position:absolute;
	top:39px; left:33px;
	overflow:scroll;
	/*border-top:2px #494845 solid;
	border-bottom:2px #494845 solid;*/
}

.Scroller-Container {
  width:175px;
  position: absolute;
  top: 0px; left:0px;
}

.Scroller-Container div p
{
	color:#fff;
	margin:12px 5px 0 15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

.topMarg
{
	margin:5px 0 0 0;
}


#Scrollbar-Container {
  position: absolute;
  top: 50px; left: 213px;
}
.Scrollbar-Up {
  cursor: pointer;
  position: absolute;
}
.Scrollbar-Track {
  width: 17px; height: 161px;
  position: absolute;
  top: 31px; left: 0px;
  border-bottom:2px #5D5B54 solid;
}
.Scrollbar-Handle {
  position: absolute;
  width: 17px; height: 46px;
}
.Scrollbar-Down {
  cursor: pointer;
  position: absolute;
  top: 16px;
}


#info, #tInfo, #divOverInfo
{
	/*position:absolute;
	top:0; left:1px;*/
}

#pages, #tPages, #divOverPages
{
	/*position:absolute;
	top:35px; left:1px;*;
}
#tableOfContents, #tTableOfContents, #divOverTableOfContents
{
	/*position:absolute;
	top:70px; left:1px;*/
}

#search, #tSearch, #divOverSearch
{
/*	position:absolute;
	top:105px; left:1px;*/
}

#links, #tLinks, #divOverLinks
{
/*	position:absolute;
	top:140px; left:1px;*/
}

#backIssues, #tBackIssues, #divOverBackIssues
{
/*	position:absolute;
	top:175px; left:1px;*/
}



#infoBox
{
	background:url(info_15.gif) top left no-repeat; 
	width:177px; height:456px;
}

#minimize
{
	position:absolute;
	width:18px; height:16px;
	top:10px; left:212px;
}

#abvInfo
{
	display:block;
}

#abvPages,#abvTOC,#abvSearch,#abvLinks,#abvBackIssues
{
	display:none;
}

/*#abvSearch
{
	top:10px;
}*/

#abvSearch input
{
	margin:15px 0 0 0;
}

#abvSearch a img 
{
	position:absolute;
	top:33px;
	left:133px;
}

.aboveScroll
{
	position:absolute;
	top:11px; left:39px;
	font-weight:bold;
}

#wholeScroll
{
	color:#fff;
	font-size:12px;
	position:relative;
	height:100%;
}

.toolButtons
{
	position:absolute;
	top:0;left:0;
	height:100%;
}

.toolButtons, toolButtons *
{
	padding:0;margin:0;
}

.unders
{
	margin-top:10px;
	display:block;
}



.overs
{
	margin-top:-33px;
	display:block;
}


#divbackissues p a:link, #divbackissues p a:visited,#divbackissues p a:active
{
	color:#fff;
	font-weight:normal;
}

#divbackissues p a:hover
{
	color:#fff;
	font-weight:normal;
	text-decoration:underline;
}