<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" culture="neutral" publicKeyToken="1b03e6acf1164f73"/>
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.452" newVersion="0.86.0.518"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <connectionStrings>
      <add name="UAS" providerName="System.Data.SqlClient" connectionString="server=216.17.41.191;database=UAS;uid=webuser;pwd=webuser#23#;timeout=0;"/>
      <add name="UAD_Lookup" providerName="System.Data.SqlClient" connectionString="server=216.17.41.191;database=UAD_Lookup;uid=webuser;pwd=webuser#23#;timeout=0;"/>
      <add name="KMPlatform" providerName="System.Data.SqlClient" connectionString="server=216.17.41.191;database=KMPlatform;uid=webuser;pwd=webuser#23#;timeout=0;"/>
      <add name="KMCommon" providerName="System.Data.SqlClient" connectionString="server=216.17.41.191;database=KMCommon;uid=webuser;pwd=webuser#23#;timeout=0;"/>
      <add name="ECN_Communicator" providerName="System.Data.SqlClient" connectionString="server=216.17.41.191;database=ECN5_Communicator;uid=pwd;pwd=webuser#23#;timeout=0;"/>  
    </connectionStrings>
    <system.transactions>
      <defaultSettings timeout="05:00:00"/>
    </system.transactions>
    <appSettings>
      <!--    Advanstar,AHACoding,Anthem,Atcom,ATHB,Babcox,BelmontPublications,BriefMedia,BusinessJournalsInc,Canon,Catersource,DEMO,DeWittPublishing,France,GLM,HappyDayMedia,Haymarket,HealthForum,HVCB,KnowledgeMarketing,
            Lebhar,Medtech,Meister,MMA,MTG,NECA,NoriaCorp,Northstar,OildomPublishing,OutcomesLLC,SAETB,Scranton,SpecialityFoods,Stamats,TeamMHC,TenMissions,TMB,TradePress,UAStest,UPI,Vance,Vcast,Watt -->
      <add key="EngineClient" value="tenmissions"/>
      <add key="IsDemo" value="true"/>
      <add key="IsNetworkDeployed" value="false"/>
      <add key="EngineServer" value="ADMS Service Que Monitor - Developer"/>
      <add key="ExecuteDQMInSeconds" value="30"/>
      <add key="IsADMS" value="true"/>
      <add key="LogFileName" value="ADMS_ServiceQueMonitor"/>
      <add key="AdminEmail" value="platform-services@TeamKM.com"/>
      <add key="ErrorSubject" value="Developer - Service Que Monitor Engine Error"/>
      <add key="DetailPath" value="C:\ADMS\Client Archive"/>
    </appSettings>
    <system.diagnostics>
      <sources>
        <source name="System.ServiceModel.MessageLogging" switchValue="All">
          <listeners>
            <add name="messagelistener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:logsmyMessages.svclog"></add>
          </listeners>
        </source>
      </sources>
    </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="3.0.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
