<table width="100%" border="0" cellpadding="5" cellspacing="5" style="border: solid 1px #5783BD;margin:0;">
    <tr style="background-color: #5783BD;">
        <td colspan="3"style="padding: 5px; font-size: 20px; color: #ffffff; font-weight: bold" align="center">
            Split Details
        </td>
    </tr>
    <tr>
        <td colspan="3">Please enter the following:</td>
    </tr>
    <tr>
        <td><span style="color:red;">*</span>Split Name</td>
        <td colspan="2"><input type="text" id="txtIssueSplitName" class="k-textbox" /></td>
    </tr>
    <tr>
        <td><span style="color:red;">*</span>Split Description</td>
        <td colspan="2"><input type="text" id="txtIssueSplitDescription" class="k-textbox" /></td>
    </tr>
    <tr>
        <td align="center" colspan="3">
            <button id="saveIssueSplitDetails" onclick="AddIssueSplit()" class="filterButton">Save</button>
            <button id="cancelIssueSplitDetailsSave" onclick="CancelAddIssueSplit()" class="filterButton">Cancel</button>
        </td>
    </tr>
</table>
