


<div id="example" style="margin: 2px;">
    <ul id="panelbar">
        <li class="k-state-active">
            <span class="k-link k-state-selected">Standard</span>
            <ul>
                <li>New Business Plan</li>
                <li>Sales Reports</li>
            </ul>
        </li>
        <li>
            Contact Fields
            <ul>
                <li>New Business Plan</li>
                <li>Sales Reports</li>
            </ul>

        </li>
        <li>
            Permission
            <ul>
                <li>Monday</li>
                <li>Tuesday</li>
            </ul>
        </li>
        <li>
            Demographic
            <ul>
                <li>Monday</li>
                <li>Tuesday</li>
            </ul>
        </li>
        <li>
            AdHoc
            <ul>
                <li>Monday</li>
                <li>Tuesday</li>
            </ul>
        </li>
    </ul>
    <style>
        #panelbar {
            max-width: 400px;
            margin: 0 auto;
        }
    </style>
    <script>
        $(document).ready(function() {
            $("#panelbar").kendoPanelBar({
                expandMode: "multiple"
            });
        });
    </script>
</div>