.ECN-AppLogo
{
    font-size: 24px;
    font-family: 'Segoe UI' ,Arial;
	color: slategray;
}

.ECN-HorizontalLine
{
    color: lightgray;
}

.ECN-AppLinks
    {
     margin-top:3px;
     margin-bottom:0px;
     margin-left:0px;
     padding:0px;
    }

        .ECN-AppLinks li
        {
            margin: 0 5px;
            padding: 0 0 0px;
            float: left;
            position: relative;
            list-style: none;
        }


        /* main level link */
        .ECN-AppLinks a
        {
            font-weight: bold;
            color: black;
            text-decoration: none;
            display: block;
            padding: 8px 20px;
            margin: 0;
            text-shadow: 0 1px 1px rgba(0,0,0, .3);
        }

            .ECN-AppLinks a:hover
            {
                z-index: 9;
            }

        /* main level link hover */
        .ECN-AppLinks .current a, .ECN-AppLinks li:hover > a
        {
        }

        /* sub levels link hover */
        .ECN-AppLinks ul li:hover a, .ECN-AppLinks li:hover li a
        {
            background: none;
            border: none;
            color: #666;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            text-decoration: none; 
        }

        .ECN-AppLinks ul a:hover
        {
            /*background: darkorange repeat-x 0 -100px !important;*/
            color: dodgerblue !important;
            /* font-weight: bold; */
        }

        /* dropdown*/
        .ECN-AppLinks li:hover > ul
        {
            display: block;

        }

        /* level 2 list */
        .ECN-AppLinks ul
        {
            display: none;
            z-index: 10;
            margin: 0;
            padding: 0;
            width: 300px;
            position: absolute;
            top: auto;
            left: 0;
            background: white url(img/gradient.png) repeat-x 0 0;
            border: solid 1px #b4b4b4;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
            -moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
            box-shadow: 0 1px 3px rgba(0,0,0, .3);
        }

            .ECN-AppLinks ul li
            {
                float: none;
                margin: 0;
                padding: 0;
            }

            .ECN-AppLinks ul a
            {
                font-weight: normal;
                text-shadow: 0 1px 0 #fff;
            }

            .ECN-AppLinks ul li a
            {
                font-size: medium;
                font-family: 'Segoe UI';
            }


            /* level 3+ list */
            .ECN-AppLinks ul ul
            {
                left: 181px;
                top: -3px;
            }

        /* clearfix */
        .ECN-AppLinks:after
        {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }

    .ECN-AppLinks
    {
        display: inline-block;
    } 

 .ECN-InfoBox
    {
    }

        .ECN-InfoBox li
        {
            margin: 0 5px;
            padding: 0 0 8px;
            float: left;
            position: relative;
            list-style: none;
        }


        /* main level link */
        .ECN-InfoBox a
        {
            font-weight: bold;
            color: black;
            text-decoration: none;
            display: block;
            padding: 8px 20px;
            margin: 0;
            -webkit-border-radius: 1.6em;
            -moz-border-radius: 1.6em;
            text-shadow: 0 1px 1px rgba(0,0,0, .3);
        }

            .ECN-InfoBox a:hover
            {
                z-index: 9;
            }

        /* main level link hover */
        .ECN-InfoBox .current a, .ECN-InfoBox li:hover > a
        {
        }

        /* sub levels link hover */
        .ECN-InfoBox ul li:hover a, .ECN-InfoBox li:hover li a
        {
            background: none;
            border: none;
            color: #666;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
        }

        .ECN-InfoBox ul a:hover
        {
            /*background: darkorange repeat-x 0 -100px !important;*/
            color: dodgerblue !important;
            font-weight: bold;
        }

        /* dropdown */
        .ECN-InfoBox li:hover > ul
        {
            display: block;
        }

        /* level 2 list */
        .ECN-InfoBox ul
        {
            display: none;
            z-index: 10;
            margin: 0;
            padding: 0;
            width: 300px;
            position: absolute;
            top: auto;
            left: 0;
            background: white url(img/gradient.png) repeat-x 0 0;
            border: solid 1px #b4b4b4;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
            -moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
            box-shadow: 0 1px 3px rgba(0,0,0, .3);
        }

            .ECN-InfoBox ul li
            {
                float: none;
                margin: 0;
                padding: 0;
            }

            .ECN-InfoBox ul a
            {
                font-weight: normal;
                text-shadow: 0 1px 0 #fff;
            }

            .ECN-InfoBox ul li a
            {
                font-size: medium;
                font-family: 'Segoe UI';
            }


            /* level 3+ list */
            .ECN-InfoBox ul ul
            {
                left: 181px;
                top: -3px;
            }

        /* clearfix */
        .ECN-InfoBox:after
        {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }

    .ECN-InfoBox
    {
        display: inline-block;
    }    

    .ECN-InfoLinks
    {
    }

        .ECN-InfoLinks li
        {
            margin: 0 5px;
            padding: 0 0 8px;
            float: left;
            position: relative;
            list-style: none;
        }


        /* main level link */
        .ECN-InfoLinks a
        {
            font-weight: bold;
            color: black;
            text-decoration: none;
            display: block;
            padding: 8px 20px;
            margin: 0;
            -webkit-border-radius: 1.6em;
            -moz-border-radius: 1.6em;
            text-shadow: 0 1px 1px rgba(0,0,0, .3);
        }

            .ECN-InfoLinks a:hover
            {
                z-index: 9;
            }

        /* main level link hover */
        .ECN-InfoLinks .current a, .ECN-InfoLinks li:hover > a
        {
        }

        /* sub levels link hover */
        .ECN-InfoLinks ul li:hover a, .ECN-InfoLinks li:hover li a
        {
            background: none;
            border: none;
            color: #666;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
        }

        .ECN-InfoLinks ul a:hover
        {
            /*background: darkorange repeat-x 0 -100px !important;*/
            color: dodgerblue !important;
            font-weight: bold;
        }

        /* dropdown */
        .ECN-InfoLinks li:hover > ul
        {
            display: block;
        }

        /* level 2 list */
        .ECN-InfoLinks ul
        {
            display: none;
            z-index: 10;
            margin: 0;
            padding: 0;
            width: 185px;
            position: absolute;
            top: auto;
            left: 0;
            background: white url(img/gradient.png) repeat-x 0 0;
            border: solid 1px #b4b4b4;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
            -moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
            box-shadow: 0 1px 3px rgba(0,0,0, .3);
        }

            .ECN-InfoLinks ul li
            {
                float: none;
                margin: 0;
                padding: 0;
            }

            .ECN-InfoLinks ul a
            {
                font-weight: normal;
                text-shadow: 0 1px 0 #fff;
            }

            .ECN-InfoLinks ul li a
            {
                font-size: medium;
                font-family: 'Segoe UI';
            }


            /* level 3+ list */
            .ECN-InfoLinks ul ul
            {
                left: 181px;
                top: -3px;
            }

        /* clearfix */
        .ECN-InfoLinks:after
        {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }

    .ECN-InfoLinks
    {
        display: inline-block;
    }    

.ECN-TabView .ajax__tab_header
        {
            display: block;
            border-bottom: solid 1px #d7d7d7;
        }

            .ECN-TabView .ajax__tab_header .ajax__tab_outer
            {
                border-color: #222;
                color: #222;
                padding-left: 10px;
                margin-right: 3px;
                border: solid 1px #d7d7d7;
                background-color: #d7d7d7;
            }

            .ECN-TabView .ajax__tab_header .ajax__tab_inner
            {
                border-color: #666;
                color: #666;
                padding: 3px 10px 2px 0px;
            }

        .ECN-TabView .ajax__tab_hover .ajax__tab_outer
        {
            background-color: orange;
        }

        .ECN-TabView .ajax__tab_hover .ajax__tab_inner
        {
            color: #fff;
        }

        .ECN-TabView .ajax__tab_active .ajax__tab_outer
        {
            border-bottom-color: #ffffff;
            background-color: orange;
        }

        .ECN-TabView .ajax__tab_active .ajax__tab_inner
        {
            color: #000;
            border-color: #333;
        }

        .ECN-TabView .ajax__tab_body
        {
            font-family: 'Segoe UI';
            font-size: medium;
            font-weight: 400;
            background-color: #fff;
            border-top-width: 0;
            border: solid 1px #d7d7d7;
            border-top-color: #ffffff;
            min-height: 500px;
        }

        .ECN-GridView
        {
            font-family: 'Segoe UI';
            font-size: small;
            font-weight: 400;
        }

        .ECN-TopBar
        {
            color: black;
            background-color: lightgray;
            height: 80px;
            font-family: 'Segoe UI';
            font-size: medium;
        }

        .ECN-PageHeading
        {
            font-family: 'Segoe UI';
            font-size: x-large;
               color: dodgerblue;
            font-weight: 100;
        }

        .ECN-Label
        {
	        font-size:13px;
	        font-family: 'Segoe UI' ,Arial;
	        color:#000000;
	        font-weight:normal;
        }

        .ECN-Label-Heading-Small
        {
	       font-size: medium; 
           font-weight: 400;
	        color: slategray;
            font-family: 'Segoe UI' ,Arial;
        }

        .ECN-Label-Heading
        {
	        font-size:16px;
	        font-family: 'Segoe UI' ,Arial;
	        color: slategray;
        }

        .ECN-DropDown-Medium
        {
            width: 240px;
            background: white;
            height: 28px;
            overflow: hidden;
            border: 1px solid #ccc;
        }

        .ECN-DropDown-Small
        {
            width: 125px;
            background: white;
            height: 22px;
            overflow: hidden;
            border: 1px solid #ccc;
        }

        .ECN-TopBar-DropDown
        {
            width: 240px;
            background: transparent;
            height: 28px;
            overflow: hidden;
            border: 1px solid #ccc;
        }

            .ECN-TopBar-DropDown select
            {
                background: transparent;
                width: 240px;
                padding: 5px;
                font-size: 16px;
                font-family: 'Segoe UI';
                line-height: 1;
                border: 0;
                border-radius: 0;
                height: 34px;
                -webkit-appearance: none;
            }

        .ECN-TextBox-Medium
        {
            width: 240px;
            height: 22px;
            overflow: hidden;
            border: 1px solid #ccc;
        }
        .ECN-TextBox-Small
        {
            width: 130px;
            height: 16px;
            overflow: hidden;
            border: 1px solid #ccc;
        }

        .ECN-Button-Small
        {
            -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
            -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
            box-shadow: inset 0px 1px 0px 0px #ffffff;
            background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
            background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
            background-color: #ededed;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            border-radius: 6px;
            border: 1px solid #dcdcdc;
            display: inline-block;
            color: black;
            font-family: arial;
            font-size: 10px;
            padding: 2px 10px;
            text-decoration: none;
            text-shadow: 1px 1px 0px #ffffff;
        }

            .ECN-Button-Small:hover
            {
                background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
                background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
                background-color: #dfdfdf;
            }

            .ECN-Button-Small:active
            {
                position: relative;
            }

        .ECN-Button-Big
        {
            -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
            -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
            box-shadow: inset 0px 1px 0px 0px #ffffff;
            background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
            background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
            background-color: #ededed;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            border-radius: 6px;
            border: 2px solid #dcdcdc;
            display: inline-block;
            color: #000000;
            font-family: arial;
            font-size: 15px;
            font-weight: bold;
            padding: 6px 24px;
            text-decoration: none;
            text-shadow: 1px 1px 0px #ffffff;
        }

            .ECN-Button-Big:hover
            {
                background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
                background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
                background-color: #dfdfdf;
            }

            .ECN-Button-Big:active
            {
                position: relative;
                top: 1px;
            }

            .ECN-Button-Medium
            {
                -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
                -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
                box-shadow: inset 0px 1px 0px 0px #ffffff;
                background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
                background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
                background-color: #ededed;
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
                border-radius: 4px;
                border: 2px solid #dcdcdc;
                display: inline-block;
                color: #000000;
                font-family: arial;
                font-size: 10px;
                font-weight: bold;
                padding: 4px 18px;
                text-decoration: none;
                text-shadow: 1px 1px 0px #ffffff;
            }

        .ECN-Button-Medium:hover
        {
            background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
            background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
            background-color: #dfdfdf;
        }

        .ECN-Button-Medium:active
        {
            position: relative;
        }

  .ECN-AjaxBackground
    {
        position: fixed;
        z-index: 99;
        top: 0px;
        left: 0px;
        background-color: white;
        width: 100%;
        height: 100%;
    }
    .ECN-AjaxProcessing
    {
        z-index: 100;
        position: fixed;
        width: 120px;
        margin-left: -60px;
        background-color: white;
        font-size: x-small;
        top: 40%;
        left: 50%;
    }

       
     .ECN-ModalBackground
    {
        background-color: white;
        filter: alpha(opacity=70);
        opacity: 0.7;
    }
     .ECN-ModalPopup
    {
        background-color: white;
        border-width: 2px;
        border-style: solid;
        border-color: Gray;
        padding: 3px;   
        overflow:auto;     
    }


		