.previous {
    background: transparent url(/ecn.images/images/previous.gif) no-repeat scroll center;
    height: 1.3em;
    width: 75px;
}

.next {
    background: transparent url(/ecn.images/images/next.gif) no-repeat scroll center;
    height: 1.3em;
    width: 75px;
}

.modalBackground {
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.modalPopup {
    background-color: #D0D0D0;
    border-color: Gray;
    border-style: solid;
    border-width: 3px;
    padding: 3px;
    width: 250px;
}

.style1 { width: 100%; }

.buttonMedium {
    background: url(buttonMedium.gif) no-repeat left top;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    height: 20px;
    padding-top: 2px;
    width: 135px;
}

.TransparentGrayBackground {
    background-color: Gray;
    filter: alpha(opacity=70);
    height: 100%;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    opacity: 0.7;
    position: fixed;
    top: 0;
    width: 100%;
}

.overlay {
    -moz-opacity: 0.70;
    background-color: gray;
    filter: Alpha(Opacity=70);
    height: 100%;
    left: 0px;
    opacity: 0.70;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99;
}

* html .overlay {
    height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
    position: absolute;
    width: expression(document.body.scrollWidth > document.body.offsetWidth ? document.body.scrollWidth : document.body.offsetWidth + 'px');
}

.loader {
    background-color: #F4F3E1;
    border: solid 2px Black;
    color: black;
    font-size: x-small;
    left: 50%;
    margin-left: -60px;
    position: fixed;
    top: 40%;
    width: 120px;
    z-index: 100;
}

* html .loader {
    margin-top: expression((document.body.scrollHeight / 4) + (0 - parseInt(this.offsetParent.clientHeight / 2) + (document.documentElement && document.documentElement.scrollTop || document.body.scrollTop)) + 'px');
    position: absolute;
}
