<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ecn.webservices.console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <ecn.webservices.console.Properties.Settings>
            <setting name="ecn_webservices_console_SaversAPI_LOCAL_SaversAPI" serializeAs="String">
                <value>http://localhost/ECN.TestWebService/CustomAPI/SaversAPI.asmx</value>
            </setting>
        </ecn.webservices.console.Properties.Settings>
    </applicationSettings>
</configuration>
