<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="accountsdb" value="ecn5_accounts"/>
    <add key="publisherdb" value="ecn5_publisher"/>
    <add key="communicatordb" value="ecn5_communicator"/>
    <add key="assetsPath" value="/ecn.accounts/assets"/>
    <add key="adminPath" value="/ecn.publisher/main"/>
    <add key="contextPath" value="/ecn.publisher"/>
    <add key="connString" value="server=10.161.1.47;uid=sa;pwd=dcran9755;database=ecn5_publisher"/>
    <add key="com" value="server=10.161.1.47;uid=sa;pwd=dcran9755;database=ecn5_communicator"/>
    <add key="act" value="server=10.161.1.47;uid=sa;pwd=dcran9755;database=ecn5_accounts"/>
    <add key="col" value="server=10.161.1.47;uid=sa;pwd=dcran9755;database=ecn5_collector"/>
    <add key="cre" value="server=10.161.1.47;uid=sa;pwd=dcran9755;database=ecn5_creator"/>
    <add key="pub" value="server=10.161.1.47;uid=sa;pwd=dcran9755;database=ecn5_publisher"/>
    <add key="ImagePath" value="http://images.ecn5.com"/>
    <add key="SMTPServer" value="216.17.41.200"/>
    <add key="DE_NOTIFICATION_FROM_EMAIL" value="sales@knowledgemarketing.com"/>
    <add key="DE_NOTIFICATION_TO_EMAIL" value="sunil.theenathayalu@knowledgemarketing.com"/>
    <add key="product_name" value="publisher"/>
    <add key="KMPSLogoChannels" value="3,16,39"/>
    <add key="TASKRPT_FromEmail" value="info@knowledgemarketing.com"/>
    <add key="TASKRPT_ToEmail" value="sunil@knowledgemarketing.com"/>
    <add key="TASKRPT_Subject" value="TASK Notification from ECN"/>
    <add key="PDFTron_LicenseKey" value="knowledgemarketing.com:CPU:1:R:W:AMC(20090110):1EC47B0055DDAA21E3C861109C92BA1BAC24D204A05BC75E69C072F0FA"/>
    <!-- VirtualPath -->
    <add key="Accounts_VirtualPath" value="/ecn.accounts"/>
    <add key="Communicator_VirtualPath" value="/ecn.communicator"/>
    <add key="Creator_VirtualPath" value="/ecn.creator"/>
    <add key="Publisher_VirtualPath" value="/ecn.publisher"/>
    <add key="Collector_VirtualPath" value="/ecn.collector"/>
    <add key="Images_VirtualPath" value="/ecn.images"/>
    <!-- Domain Path-->
    <add key="Activity_DomainPath" value="http://email.ecn5.com"/>
    <add key="Image_DomainPath" value="http://images.ecn5.com/"/>
    <add key="isDemo" value="false"/>
    <add key="KMCommon_Application" value="36"/>
    <add key="KMCommon_SmtpServer" value="216.17.41.200"/>
    <add key="kmlearning" value="false"/>
    <add key="WQTUrl" value="http://wqttest.kmpsgroup.com/login.aspx"/>
    <add key="HideForms" value="false"/>
    <add key="FormsShow_143" value="true"/>
    <add key="FormsShow_151" value="true"/>
    <add key="FormsShow_93" value="true"/>
    <add key="FormsShow_34" value="true"/>
    <add key="IsNetworkDeployed" value="false"/>
  </appSettings>
  <connectionStrings>
    <add name="accounts" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_accounts" providerName="System.Data.SqlClient" />
    <add name="Publisher" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_publisher" providerName="System.Data.SqlClient" />
    <add name="Communicator" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" />
    <add name="Activity" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn_activity" providerName="System.Data.SqlClient" />
    <add name="KMCommon" connectionString="server=10.161.1.47;uid=webuser;pwd=webuser#23#;database=KMCommon" providerName="System.Data.SqlClient" />
    <add name="KMPlatform" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=KMPlatform" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="204800" executionTimeout="3600" requestLengthDiskThreshold="204800"/>
    <httpHandlers>
      <add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax"/>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
    <machineKey validationKey="3D4D63BC66E13EBEA502B83A42379DF01D0D96718C50BB16962D6768070EA3E7F4854F431DE685D671D4E79E0440D4D9D015F5C3C49CD4CC517591E35DDF0EFF" decryptionKey="3EDEFDBFFFAAC0D62D5B59F8990ECAFAB4709F7D6E2E1F97" validation="SHA1"/>
    <authentication mode="Forms">
      <forms name="ecn" loginUrl="/ECN.accounts/login.aspx" protection="All" timeout="30"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <siteMap defaultProvider="General" enabled="true">
      <providers>
        <clear/>
        <add name="General" type="System.Web.XmlSiteMapProvider" siteMapFile="web.sitemap" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
  </system.web>
  <location path="main">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2000000000"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.7.123" newVersion="4.1.7.123" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
