@model UAS.Web.Models.Circulations.DesiredCount

<div class="wrapper km-modal modalnotify">
    <div style="display:inline;float:left;padding-left: 2em;margin: 0 auto;">
        <img alt="Information" src="/uas.web/Images/Notifications/Warning_New.png" border="0" />
    </div>
    <div style="margin-top: 15px;">
        <div class="text" style="margin: 0 auto; width: 375px; text-align: left;padding-left: 2em;">
            <span>Enter the desired count and click ok or cancel to quit action.</span>
        </div>
    </div>
    <div>
        <div class="text" style="margin: 0 auto; width: 375px; text-align: left;padding-left: 2em;">
            <input type="text" id="txtDesiredRecords" value="@Model.Count" class="k-textbox" style="width:100px;" /> 
        </div>
    </div>
    <div>
        <div class="buttons" style="margin: 0 auto; width: 300px; text-align: center;">
            <button class="btn-blue2" style="width: 60px;" onclick="DesireCountPopupOk('@Model.ID');">Okay</button>
            <button class="btn-blue2" style="width: 60px;" onclick="DesireCountPopupCancel();">Cancel</button>
        </div>
    </div>
</div>