<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="connString" value="server=10.161.1.47;uid=sa;pwd=dcran9755;database=ecn5_accounts"/>
    <add key="act" value="server=10.161.1.47;uid=sa;pwd=dcran9755;database=ecn5_accounts"/>
    <add key="com" value="server=10.161.1.47;uid=sa;pwd=dcran9755;database=ecn5_communicator"/>
    <add key="accountsdb" value="ecn5_accounts"/>
    <add key="communicatordb" value="ecn5_communicator"/>
    <add key="baseChannelID" value="29"/>
    <add key="ECNFeaturesAllowed" value="101,112,113"/>
    <add key="ECNCustomerLicenseCodes" value="ClientInquirie,emailblock10k"/>
    <add key="ECNCustomerLicenseQTY_ClientInquirie" value="35"/>
    <add key="ECNCustomerLicenseQTY_emailblock10k" value="-1"/>
    <add key="AllowedUserActions" value="12,15,16,17"/>
    <add key="MasterGroupName" value="MasterList"/>
    <add key="GroupUDFs" value="EventName,BadgeID"/>
    <!-- DO NOT CHANGE THE VALUES BELOW-->
    <add key="EncryptionKey" value="eCn5SCWS"/>
    <add key="BadLogin" value="http://www.showcare.com/"/>
    <add key="AutoLoginURL" value="http://localhost/ecn.showcare.wizard/login.aspx?accessKey="/>
    <!-- DO NOT CHANGE THE VALUES ABOVE-->
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="102400"/>
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.0"/>
    <customErrors mode="RemoteOnly"/>
    <authentication mode="Windows"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>
