@model List<ECN_Framework_Entities.Communicator.DomainSuppression>
<script type="text/javascript">
    var DO_firstGridLoad = true;
    function DO_dataBound() {
        var grid = this;
        $(".domainMenuCell").each(function () {

            var cell = $(this), item = grid.dataItem(cell.closest("tr"));
            var endScript = cell.children("script").last().html();
            eval(cell.children("script").last().html());
        });
        if (DO_firstGridLoad) {
            DO_firstGridLoad = false;
            DO_SetPagerWidget("DO_firstpage");
        }
    }
    $(document).ready(function () {
        $("#DO_ddPageSize").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            value: 10,
            dataSource: [
              { text: "5", value: "5" },
              { text: "10", value: "10" },
              { text: "15", value: "15" },
              { text: "20", value: "20" }
            ]
        });
    });

    //Events - When First , Lats Previous and Next Buttons clicked on Pager.
    function DO_GoToPage(e) {
        DO_SetPagerWidget(e.target.id);
        DO_ReBindGrid();
    }

    //Rebinds the Grid with data sends with DataSourceRequest
    function DO_ReBindGrid() {
        var grid = $("#domainSuppressionGrid").data("kendoGrid");
        var ps = parseInt($("#DO_ddPageSize").val());
        var cp = parseInt($("#DO_InputPageNumber").val());
        grid.dataSource.query({ page: cp, pageSize: ps });
    }
    //Function - Rebinds the Grid on Page Number input chnaged or Page size changed
    function DO_RebindOnPageOrSizeChange() {
        DO_SetPagerWidget("DO_firstpage");
        DO_firstGridLoad = true;
        DO_ReBindGrid();
    }

    function DO_InputPageNumber_KeyDown() {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            if (parseInt($("#DO_InputPageNumber").val()) > 0 && !isNaN(parseInt($("#DO_InputPageNumber").val())) && $("#DO_InputPageNumber").val() <= parseInt($("#DO_pagerTotalItems").text())) {
                if (typeof e != 'undefined') {
                    DO_SetPagerWidget(e.target.id);
                }
                else {
                    var spage = $("#DO_InputPageNumber").val();
                    DO_SetPagerWidget(spage);
                }
                DO_ReBindGrid();
            }
            else {
                showMessage({
                    type: 'Error',
                    text: 'Please enter valid page number.',
                    autoClose: false,
                    action: function () {
                        DO_SetPagerWidget("DO_firstpage");
                        DO_firstGridLoad = true;
                        DO_ReBindGrid();
                    }
                });
            }
        }
    }

    //This drives the server side paging by getting current page and setting all Pager messages
    function DO_SetPagerWidget(id) {
        debugger;
        var totalrecordCount = 0;
        var grid = $("#domainSuppressionGrid").data("kendoGrid");
        if (grid.dataSource.view()[0]) {
            totalrecordCount = parseInt(grid.dataSource.total());
        }
        var pagesize = parseInt($("#DO_ddPageSize").val());
        var currentpage = parseInt($("#DO_InputPageNumber").val());
        var lastpage = 0;
        if (totalrecordCount % pagesize > 0) {
            lastpage = parseInt(totalrecordCount / pagesize) + 1;
        }
        else {
            lastpage = parseInt(totalrecordCount / pagesize);
        }
        var firstpage = 1;

        if (id == "DO_firstpage") {
            if (currentpage == firstpage)
                currentpage = currentpage;
            else {
                currentpage = firstpage;

            }
        }
        else if (id == "DO_prevpage") {
            if (currentpage == firstpage)
                currentpage = currentpage;
            else
                currentpage = currentpage - 1;
        }
        else if (id == "DO_nextpage") {
            if (currentpage == lastpage)
                currentpage = currentpage;
            else
                currentpage = currentpage + 1;

        }
        else if (id == "DO_lastpage") {
            if (currentpage == lastpage)
                currentpage = currentpage;
            else
                currentpage = lastpage;

        }
        else {
            currentpage = parseInt(id);
        }
        var start = ((currentpage - 1) * pagesize + 1);
        var end = (currentpage * pagesize) < totalrecordCount ? (currentpage * pagesize) : totalrecordCount;
        var displaymessage = start + " - " + end + " of " + totalrecordCount + " items";

        $("#DO_currentpage").text(currentpage);
        $("#DO_pagerDisplay").text(displaymessage);
        $("#DO_pagerTotalItems").text(lastpage);
        $("#DO_InputPageNumber").val(currentpage);

    }

    function DO_checkChange(e) {
        //  debugger;
        DO_RebindOnPageOrSizeChange()
    }
</script>
@(Html.Kendo()
    .Grid(Model)
    .Name("domainSuppressionGrid")
    .Events(m => m.DataBound("DO_dataBound"))
    .Columns(columns =>
    {
        columns.Bound(e => e.Domain).Filterable(x => x.Cell(c => c.ShowOperators(false))).Title("Domain").HtmlAttributes(new { @style = "overflow: hidden; vertical-align:middle; text-align: center;" }).HeaderHtmlAttributes(new { @style = "text-align:center; vertical-align:middle; text-align: center;" });
        columns.Bound(e => e.BaseChannelID).Filterable(x => x.Cell(c => c.ShowOperators(false))).Title("Type").HtmlAttributes(new { @style = "overflow: hidden; vertical-align:middle; text-align: center;" }).HeaderHtmlAttributes(new { @style = "text-align:center; vertical-align:middle; text-align: center;" }).ClientTemplate("#= BaseChannelID == null ? 'Customer':'Channel' #");
        
        columns.Bound(p => p).Title("").Template(@<text></text>).ClientTemplate(GetActions().ToString()).HtmlAttributes(new { @class = "domainMenuCell", @style = "width:95px;" }).Filterable(false).Sortable(false);
    })
    .Pageable(p => p.Enabled(false))
    .Sortable(sortable => sortable.SortMode(GridSortMode.SingleColumn))
    .HtmlAttributes(new { style = "min-height:400px;min-width:600px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .Model(m =>
        {
            m.Id(y => y.DomainSuppressionID);
        })
        .PageSize(10)
        .ServerOperation(false)
    )
)
<div id="pager" class="k-pager-wrap k-grid-pager k-widget k-floatwrap">
    <a class="k-link k-pager-nav k-state-disabled k-pager-first" title="Go to the first page" tabindex="-1">
        <span onclick="DO_GoToPage(event)" id="DO_firstpage" class="k-icon k-i-seek-w">seek-w</span>
    </a>
    <a class="k-link k-pager-nav k-state-disabled" title="Go to the previous page" tabindex="-1">
        <span onclick="DO_GoToPage(event)" id="DO_prevpage" class="k-icon k-i-arrow-w">arrow-w</span>
    </a>

    <ul class="k-pager-numbers k-reset">
        <li class="k-current-page"><span class="k-link k-pager-nav">1</span></li>
        <li><span class="k-state-selected" id="DO_currentpage">1</span></li>

    </ul>
    <span class="k-pager-input k-label">Page<input class="k-textbox" id="DO_InputPageNumber" onkeydown="DO_InputPageNumber_KeyDown()">of <span id="DO_pagerTotalItems"></span></span>
    <a class="k-link k-pager-nav" title="Go to the next page" tabindex="-1">
        <span onclick="DO_GoToPage(event)" id="DO_nextpage" class="k-icon k-i-arrow-e">arrow-e</span>
    </a>
    <a class="k-link k-pager-nav k-pager-last k-state-disabled" title="Go to the last page" tabindex="-1">
        <span onclick="DO_GoToPage(event)" id="DO_lastpage" class="k-icon k-i-seek-e">seek-e</span>
    </a>

    <span class="k-pager-sizes k-label">
        <span title="" class="k-widget k-dropdown k-header">
            <input id="DO_ddPageSize" onchange="DO_checkChange()" />
        </span>items per page
    </span>
    <span class="float-right" style="margin-right:10px;">
        <lable id="DO_pagerDisplay"></lable>
    </span>
</div>

@helper  GetActions()
{
    @(Html.Kendo()
        .Menu()
        .Name("Domain#=DomainSuppressionID#")
        .Direction(MenuDirection.Right)
        .Orientation(MenuOrientation.Vertical)
        .Animation(false)
        .Items(
            items => items.Add().Text("Actions").HtmlAttributes(new { @class = "k-menu-actions" }).Items(
                innerItems =>
                {
                    innerItems.Add().Text("Edit").HtmlAttributes( new { onclick = "editDomainSuppressionModal(#=DomainSuppressionID#)"});
                    innerItems.Add().Text("Delete").HtmlAttributes(new { onclick = "DeleteDomainSuppresion('#=DomainSuppressionID#')" });

                }
            )
        ).ToClientTemplate())
}
