@model List<ECN_Framework_Entities.Communicator.ChannelMasterSuppressionList>

<script>
    var CS_targetUrl = '@Url.Action("CS_ReadToGrid", "Group")';
    var CS_firstGridLoad = true;
    function CS_DataBound() {
        var grid = this;
        
        if (CS_firstGridLoad) {
            //grid.dataSource.read();
            CS_firstGridLoad = false;
            CS_SetPagerWidget("CS_firstpage");

        }
    }

    $(document).ready(function () {
        $("#CS_ddPageSize").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            value: 10,
            dataSource: [
              { text: "5", value: "5" },
              { text: "10", value: "10" },
              { text: "15", value: "15" },
              { text: "20", value: "20" }
            ]
        });

    });

    //Events - When First , Lats Previous and Next Buttons clicked on Pager.
    function CS_GoToPage(e) {

        CS_SetPagerWidget(e.target.id);
        var data = CS_GridParams();
        CS_ReBindGrid(data);

    }
    //Events - Triggers the Search using Search Criteria
    function CS_Search() {
        CS_SetPagerWidget("CS_firstpage");
        CS_firstGridLoad = true;
        var data = CS_GridParams();
        CS_ReBindGrid(data);
    }

    //Data Sends with DataSourceRequest- Parameters that needs to be passed to the server
    function CS_GridParams() {

        return {           
            ProfileName: $('#CS_SearchChannelTxt').val(),
            PageNumber: $("#CS_pagerInputPageNumber").val(),
            PageSize: $("#CS_ddPageSize").val()
        };

    }

    //Rebinds the Grid with data sends with DataSourceRequest
    function CS_ReBindGrid(obj) {
        var grid = $("#channelSuppressionGrid").data("kendoGrid");
        var options = grid.getOptions();
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: CS_targetUrl,
                    dataType: "json",
                    data: obj
                }
            }
        });
        options.dataSource.data = dataSource.data;
        options.dataSource.pageSize = obj.PageSize;
        grid.setOptions(options);


    }
    //Function - Rebinds the Grid on Page Number input chnaged or Page size changed
    function CS_RebindOnPageOrSizeChange() {
        CS_SetPagerWidget("CS_firstpage");
        CS_firstGridLoad = true;
        var data = CS_GridParams();
        CS_ReBindGrid(data);
     }
    //This drives the server side paging by getting current page and setting all Pager messages
    function CS_SetPagerWidget(id) {
        var totalrecordCount = 0;
        var grid = $("#channelSuppressionGrid").data("kendoGrid");
        if (grid.dataSource.view()[0]) {
            totalrecordCount = parseInt(grid.dataSource.view()[0].TotalCount);
        }
        var pagesize = parseInt($("#CS_ddPageSize").val());
        var currentpage = parseInt($("#CS_pagerInputPageNumber").val());
        var lastpage = 0;
        if (totalrecordCount % pagesize > 0) {
            lastpage = parseInt(totalrecordCount / pagesize) + 1;
        }
        else {
            lastpage = parseInt(totalrecordCount / pagesize);
        }
        var firstpage = 1;

        if (id == "CS_firstpage") {
            if (currentpage == firstpage)
                currentpage = currentpage;
            else {
                currentpage = firstpage;

            }
        }
        else if (id == "CS_prevpage") {
            if (currentpage == firstpage)
                currentpage = currentpage;
            else
                currentpage = currentpage - 1;
        }
        else if (id == "CS_nextpage") {
            if (currentpage == lastpage)
                currentpage = currentpage;
            else
                currentpage = currentpage + 1;

        }
        else if (id == "CS_lastpage") {
            if (currentpage == lastpage)
                currentpage = currentpage;
            else
                currentpage = lastpage;

        }
        else {
            currentpage = parseInt(id);
        }
        var start = ((currentpage - 1) * pagesize + 1);
        var end = (currentpage * pagesize) < totalrecordCount ? (currentpage * pagesize) : totalrecordCount;
        var displaymessage = start + " - " + end + " of " + totalrecordCount + " items";

        $("#CS_currentpage").text(currentpage);
        $("#CS_pagerDisplay").text(displaymessage);
        $("#CS_pagerTotalItems").text(lastpage);
        $("#CS_pagerInputPageNumber").val(currentpage);

    }

    function CS_checkChange(e) {
        CS_RebindOnPageOrSizeChange()
    }
    function CS_InputPageNumber_KeyDown() {

        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            if (parseInt($("#CS_pagerInputPageNumber").val()) > 0 && !isNaN(parseInt($("#CS_pagerInputPageNumber").val())) && $("#CS_pagerInputPageNumber").val() <= parseInt($("#CS_pagerTotalItems").text())) {
                if (typeof e != 'undefined') {
                    CS_SetPagerWidget(e.target.id);
                }
                else {
                    var spage = $("#CS_pagerInputPageNumber").val();
                    CS_SetPagerWidget(spage);
                }
                var data = CS_GridParams();
                CS_ReBindGrid(data);
            }
            else {
                showMessage({
                    type: 'Error',
                    text: 'Please enter valid page number.',
                    autoClose: false,
                    action: function()
                    {
                        CS_SetPagerWidget("CS_firstpage");
                        CS_firstGridLoad = true;
                        var data = CS_GridParams();
                        CS_ReBindGrid(data);
                    }
                });
              
            }
        }


    }
</script>
@(Html.Kendo()
    .Grid<ECN_Framework_Entities.Communicator.ChannelMasterSuppressionList>(Model)
    .Name("channelSuppressionGrid")
    .Events(x => x.DataBound("CS_DataBound"))
    .DataSource(dataSource => dataSource
           .Ajax()
           .PageSize(10)
           .Read(read => read
                .Action("CS_ReadToGrid", "Group")
                .Data("CS_GridParams")
            )
            .Model(m =>
            {
                m.Id(y => y.CMSID);
            })

       )
    .Columns(columns =>
    {
        columns.Bound(e => e.TotalCount).Hidden(true);
        columns.Bound(e => e.EmailAddress).Filterable(x => x.Cell(c => c.ShowOperators(false))).Title("Email Address").HtmlAttributes(new { @style = "overflow: hidden; vertical-align:middle; text-align: center;" }).HeaderHtmlAttributes(new { @style = "text-align:center; vertical-align:middle; text-align: center;" });
        columns.Bound(e => e.CreatedDate).Format("{0:G}").Filterable(x => x.Cell(c => c.ShowOperators(false))).Title("Date Added").HtmlAttributes(new { @style = "overflow: hidden; vertical-align:middle; text-align: center;" }).HeaderHtmlAttributes(new { @style = "text-align:center; vertical-align:middle; text-align: center;" });
        if (KMPlatform.BusinessLogic.User.IsSystemAdministrator(ECN_Framework_BusinessLayer.Application.ECNSession.CurrentSession().CurrentUser))
        {
            columns.Bound(e => e).ClientTemplate("<button class='btn k-button' onclick=\"DeleteChannelMasterSuppression(#=CMSID#)\" type='button'>Delete<i class='km-icon icon-kmcustom-delete'></i></button>").Filterable(false).Sortable(false).HtmlAttributes(new { @style = "width:95px" });
        }
    })
    .Pageable(x => x.Enabled(false))
    .Sortable(x => x.SortMode(GridSortMode.SingleColumn))
    .HtmlAttributes(new { style = "min-height:400px;min-width:600px;" })

)
<div id="CS_pager" class="k-pager-wrap k-grid-pager k-widget k-floatwrap">
    <a class="k-link k-pager-nav k-state-disabled k-pager-first" title="Go to the first page" tabindex="-1">
        <span onclick="CS_GoToPage(event)" id="CS_firstpage" class="k-icon k-i-seek-w">seek-w</span>
    </a>
    <a class="k-link k-pager-nav k-state-disabled" title="Go to the previous page" tabindex="-1">
        <span onclick="CS_GoToPage(event)" id="CS_prevpage" class="k-icon k-i-arrow-w">arrow-w</span>
    </a>

    <ul class="k-pager-numbers k-reset">
        <li class="k-current-page"><span class="k-link k-pager-nav">1</span></li>
        <li><span class="k-state-selected" id="CS_currentpage">1</span></li>

    </ul>
    <span class="k-pager-input k-label">Page<input class="k-textbox" id="CS_pagerInputPageNumber" onkeydown="CS_InputPageNumber_KeyDown()">of <span id="CS_pagerTotalItems"></span></span>
    <a class="k-link k-pager-nav" title="Go to the next page" tabindex="-1">
        <span onclick="CS_GoToPage(event)" id="CS_nextpage" class="k-icon k-i-arrow-e">arrow-e</span>
    </a>
    <a class="k-link k-pager-nav k-pager-last k-state-disabled" title="Go to the last page" tabindex="-1">
        <span onclick="CS_GoToPage(event)" id="CS_lastpage" class="k-icon k-i-seek-e">seek-e</span>
    </a>

    <span class="k-pager-sizes k-label">
        <span title="" class="k-widget k-dropdown k-header">
            <input id="CS_ddPageSize" onchange="CS_checkChange()" />
        </span>items per page
    </span>
    <span class="float-right" style="margin-right:10px;">
        <lable id="CS_pagerDisplay"></lable>
    </span>
</div>

