
header, footer, nav, section {
    display: block;
}




.mainmenu
{
    font-family: Arial;
    font-size: 13px;
    background: #105ea6;
    height: 38px;
    font-weight: bold;
	text-transform: capitalize;
    z-index: 9;
    text-align:left;
    text-decoration:none !important;
}

.emailmarketingmainmenu{
    padding-left: 5px;
    padding-right: 20px;
    width: 100%;
}

.logoffcell
{
    padding-left: 0px; 
    padding-right: 10px;
}

.subMenu
{
    font-size: 13px;
    height: 32px;
	background-color: #559EDB;
	color: white;
	text-transform: capitalize;
    font-weight: bold;
}

.subMenu a:hover
{
	text-decoration: none;
	color: #EFD999;
}

.inactivelinks a
{
	color: #EFD999;
    font-family: Arial;
	font-size: 13px;
	vertical-align: middle;
    font-weight: normal;
}

.activelinks a
{
	color: #EFD999; 
	text-decoration:none;		
	text-transform:uppercase;
    font-weight: normal;
}

.level1 
{
    font-family: Arial;
    padding: 5px 5px 5px 5px;
    font-size: 13px;
    color: #ffffff;
	text-transform: capitalize;
    font-weight: normal;
}

.level1:hover{
    font-family: Arial;
    font-size: 13px;
    color: #8FC4F0 !important;
    font-weight: bold;
}
a.static:hover + ul
{
    display:inline;
    z-index: 1;
}
a.static:hover + ul li
{
    display:inline;
    z-index:2;
}

ul.dynamic:hover 
{
    display:block;
    z-index:3;
}

a.dynamic:hover + ul
{
    display:block;
    z-index:3;
}

a.dynamic:hover + ul li{
    display:block;
    z-index:4;
}

a.dynamic:hover{
    background-color: #559edb !important;
    color: white !important;
    font-size: 13px;
    font-weight: bold;
}

a.cdropdown:hover + ul{
    display:block;
    z-index:1000;
}
                
.level2
{
    padding: 5px 30px 5px 30px;
    font-family: Arial;
    font-size: 13px;
    color: black;
	text-transform: capitalize;
    background-color: #FFFFFF;
    border-radius: 20px;
    font-weight: normal;
    display:none;
    width:auto;
    text-decoration: none;
    border-style: none;
}
a.level2 :hover {
    
    width: 100%;
    
    border-radius: 20px;
    font-weight: bold;

}

a.level2:hover + ul {
    display:block;

}
a.level2:hover + ul li {
    display:block;

}
a.level2:hover + ul li ul {
    display:block;

}

ul.level3{
    top:0;
    left:100%;
}
.level3
{
    padding: 5px 30px 5px 30px;
    font-family: Arial;
    font-size: 13px;
    color: black;
	text-transform: capitalize;
    background-color: #FFFFFF;
    border-radius: 20px;
    font-weight: normal;
    text-decoration:none !important;
}
a.level3 :hover {
    background-color: #559EDB;
}

.MenuClass ul li ul
{
    display: none;
}
        
.MenuClass ul li
{
    position: relative;
    float: left;
    list-style: none;
    z-index:10000;
}
        
.MenuClass a.static
{
    font-family: Arial;
    
    padding: 5px 5px 5px 5px !important;
    font-size: 13px;
    color: #FFFFFF;
    font-weight: bold;
	text-transform: capitalize;
    text-decoration:none !important;
}
        
.MenuClass a.static.selected
{
    font-family: Arial;
    font-size: 13px;
    color: #8FC4F0 !important;
    font-weight: bold;
}
        
.MenuClass a.static.highlighted
{
    font-family: Arial;
    font-size: 13px;
    color: #8FC4F0 !important;
    font-weight: bold;
}

.MenuClass a.dynamic
{
    font-size: 13px;
    color: #045DA4 !important;
    font-weight: bold;
    white-space:nowrap;
}
        
.MenuClass a.dynamic.selected
{
    font-size: 13px;
    color: #045da4 !important;
    
    font-weight: bold;
}
        
.MenuClass a.dynamic.highlighted
{
    background-color: #559edb !important;
    color: white !important;
    font-size: 13px;
    font-weight: bold;
}

.MenuClass a.dynamic:hover
{
    background-color: #559edb !important;
    color: white !important;
    font-size: 13px;
    font-weight: bold;
}

.MenuClass a.dynamic:hover + ul li
{
    display:block;
}

.MenuClass ul li ul li {
    position: relative;
    float: left;
    list-style: none;
    width: 100%;
}

.MenuClass ul{
    margin:0px;
    padding:0px;
    width:auto;
}
.MenuClass ul li ul{
    margin:0px;
    padding:0px;
    width:auto;
}
a.dynamic:hover + ul
{
    display:block;
}
        
.MenuSubClass ul li ul
{
    display: none;
}
        
.MenuSubClass ul li
{
    position: relative;
    float: left;
    list-style: none;
}
        
.MenuSubClass a.static
{
    font-family: Arial, Verdana, Helvetica, sans-serif;
    padding: 5px 5px 5px 5px !important;
    font-size: 13px;
    color: white;
	text-transform: capitalize;
    font-weight: bold;
}
        
.MenuSubClass a.static.selected
{
    font-size: 13px;
    color: #F47E1F !important;
    font-weight: bold;
}
        
.MenuSubClass a.static.highlighted
{
    font-size: 13px;
    color: #F47E1F !important;
    font-weight: bold;
}
        
.MenuSubClass a.dynamic.selected
{
    color: white !important;
    font-weight: bold;
}
        
.MenuSubClass a.dynamic.highlighted
{
    color: white !important;
    font-weight: bold;
}			

.EmailMarketingDropDownLogo{
     width:35px;
     height:25px;
}

.UADDropDownLogo{
    width: 31px; 
    height: 31px;
}

.SurveysDropDownLogo{
    width: 30px;
    height: 30px;
}

.ProductReportingDropDownLogo{
    width: 30px;
    height: 30px;
}

.DigitalEditionsDropDownLogo{
    width: 30px;
    height: 30px;
}

.DomainTrackingDropDownLogo{
    width: 31px;
    height: 31px;
}

td.ECNAreasDropDownCell{
    width:40px;
    padding-left: 10px;
}

td.KMLearningCenterCell{
    padding: 0 0 10 0;
}

td.HeaderAccountInfo{
    text-align: right;
}

.HeaderAccountInfoAccountLabel{
    vertical-align: bottom;
}
.HeaderAccountInfoAccount{
    vertical-align: bottom;
}
.HeaderAccountInfoUserLabel{
    vertical-align: bottom;
}
.HeaderAcountInfoUser{
    vertical-align: bottom;
}

.selected{
    color:#8FC4F0;
}


.EcnWhiteLink {
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    display:inline !important;
}
.EcnWhiteLink:hover	{ 
    text-decoration: underline;
}