<?xml version="1.0"?>
<configuration>
  <!-- App Settings -->
  <configSections>
   
    <section name="encore.PayPal.Nvp" type="Encore.PayPal.Nvp.Configuration, Encore.PayPal.Nvp"  requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KMPS_JF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <encore.PayPal.Nvp
    environment="Sandbox"
    version="53.0"
    api3tURL="https://api-3t.paypal.com/nvp/"
    apiaaURL="https://api.paypal.com/nvp/"
    paypalURL="https://www.paypal.com/"
    delegateClass=""
    delegateMethod=""
    useCertificate="false"
    username=""
    password=""
    signature=""
    subject=""
    keyPassword=""
    certificate=""/>

  <appSettings>
    <add key="AuthorizeDotnetLogin" value="2u9TVx2e"/>
    <add key="AuthorizeDotnetKey" value="8Qa3Z3GFAbvj658c"/>
    <add key="AuthorizeDotNetDemoMode" value="true"/>

    <add key="PayflowUserName" value=""/>
    <add key="PayflowPassword" value=""/>
    <add key="PayflowSignature" value=""/>
    <add key="PayEnvironment" value="sandbox"/>

    <add key="CustomerServiceEmail" value="kmpscustomerservice@teamkm.com"/>

    <add key="PUBSubscribeURL" value="http://www.ecn5.com/ecn.communicator/engines/pubSubscriptions_SO_subscribe.aspx{0}"/>
    <add key="PUBSubscribeURL_2890" value="http://localhost/ecn.activityengines/engines/optin.aspx{0}"/>
    <add key="PUBSubscribeURL_2891" value="http://localhost/ecn.activityengines/engines/optin.aspx{0}"/>
    <add key="PUBSubscribeURL_2892" value="http://localhost/ecn.activityengines/engines/optin.aspx{0}"/>
    <add key="PUBSubscribeURL_2893" value="http://localhost/ecn.activityengines/engines/optin.aspx{0}"/>
    <add key="PUBSubscribeURL_2894" value="http://localhost/ecn.activityengines/engines/optin.aspx{0}"/>
    <add key="PUBSubscribeURL_2895" value="http://localhost/ecn.activityengines/engines/optin.aspx{0}"/>
    <add key="PUBSubscribeURL_2896" value="http://localhost/ecn.activityengines/engines/optin.aspx{0}"/>
    <add key="PUBSubscribeURL_2897" value="http://localhost/ecn.activityengines/engines/optin.aspx{0}"/>
    <add key="PUBSubscribeURL_2898" value="http://localhost/ecn.activityengines/engines/optin.aspx{0}"/>

    <add key="com" value="server=216.17.41.191;uid=sa;pwd=dcran9755;database=ecn5_communicator"/>
    <add key="act" value="server=216.17.41.191;uid=sa;pwd=dcran9755;database=ecn5_accounts"/>
    <add key="col" value="server=216.17.41.191;uid=sa;pwd=dcran9755;database=ecn5_collector"/>
    <add key="cre" value="server=216.17.41.191;uid=sa;pwd=dcran9755;database=ecn5_creator"/>
    <add key="pub" value="server=216.17.41.191;uid=sa;pwd=dcran9755;database=ecn5_publisher"/>
    <add key="ecn_misc_connString" value="server=216.17.41.191;uid=sa;pwd=dcran9755;database=ecn_misc"/>
    <add key="NewsLetterGroups" value="48310,48309,50493,50492,49449,49644,49676,49804,50511,49792,48608,48914,56168,57454"/>

    <!-- Medtech custom forms settings -->

    <add key="HITN_NEWSWEEKGROUP" value="48309"/>
    <add key="HITN_MULTINEWSLETTERGROUP" value="51281"/>
    <add key="HITN_MNPUBCODE" value="HITNMN"/>

    <add key="PBIZ_NEWSWEEKGROUP" value="90115"/>
    <add key="PBIZ_MNPUBCODE" value="PBIZ"/>

    <add key="HFNS_NEWSWEEKGROUP" value="50492"/>
    <add key="HFNS_MULTINEWSLETTERGROUP" value="52290"/>
    <add key="HFNS_MNPUBCODE" value="HFNSMN"/>

    <add key="HPNW_NEWSWEEKGROUP" value="48608"/>
    <add key="HPNW_MNPUBCODE" value="HPNW"/>

    <add key="MHIMSS_NEWSWEEKGROUP" value="100100"/>
    <add key="MHIMSS_MNPUBCODE" value="MHIMSS"/>

    <add key="GHIT_NEWSWEEKGROUP" value="57443"/>
    <add key="GHIT_MNPUBCODE" value="GHITW"/>

    <add key="HIITN_MNPUBCODE" value="HIITN"/>
    <add key="HIITN_NEWSWEEKGROUP" value="49676"/>

    <add key="HITNMN_COPY" value="&lt;p&gt;Thank you for signing up for Healthcare IT NewsWeek.&lt;/p&gt;&lt;p&gt;You may also wish to sign up for these additional daily, weekly or monthly e-newsletter(s) of your choice and receive Healthcare IT News coverage delivered directly to your inbox.&lt;/p&gt;"/>
    <add key="HFNSMN_COPY" value="&lt;p&gt;Thank you for signing up for Healthcare Finance NewsWeek.&lt;/p&gt;&lt;p&gt;You may also wish to sign up for these additional daily, weekly or monthly e-newsletter(s) of your choice and receive Healthcare Finance News coverage delivered directly to your inbox.&lt;/p&gt;"/>

    <add key="COLLAPSEIMG" value="http://eforms.kmpsgroup.com/jointforms/images/collapse_blue.png"/>
    <add key="EXPANDIMG" value="http://eforms.kmpsgroup.com/jointforms/images/expand_blue.png"/>

    <!-- End Medtech custom forms settings -->

    <!--For Digital Editions where subscription doesn't yet exist-->
    <add key="JointFormSubscribe" value="http://eforms.kmpsgroup.com/jointformstest/Forms/Subscription.aspx?pubcode="/>
    <add key="LogFilePath" value="C:\\projects\\kmps_jf\\KMPS_JF\\log\\" />

    <!--CaterSource Info-->
    <!--<add key="PublicationID" value="8247"/>-->
    <add key="Magazine_CATR" value="8247"/>
    <add key="PubCode_8247" value="CATR"/>
    <add key="LoginCheck_8247" value="http://www.onlinedigitalpubs.com/publication/logincheck.php?coupon_id=12747-2552-22105"/>
    <add key="SubscriptionID_8247" value="3057"/>
    <add key="User_8247" value="cater"/>
    <add key="Pass_8247" value="123456"/>

    <!--EventSolutions Info-->
    <!--<add key="PublicationID" value="8607"/>-->
    <add key="Magazine_EVNT" value="8607"/>
    <add key="PubCode_8607" value="EVNT"/>
    <add key="LoginCheck_8607" value="http://www.onlinedigitalpubs.com/publication/logincheck.php?coupon_id=12755-4744-79058"/>
    <add key="SubscriptionID_8607" value="3948"/>
    <add key="User_8607" value="eventsol"/>
    <add key="Pass_8607" value="123456"/>

    <!--For Digital Editions not specific to publication-->
    <add key="LoginCheck" value="http://www.onlinedigitalpubs.com/publication/logincheck.php?"/>
    <add key="SubscriptionImport" value="http://www.onlinedigitalpubs.com/xml/subscription_import/"/>
    <add key="LatestIssue" value="http://www.onlinedigitalpubs.com/publication/archive.php?id_publication="/>
    <add key="ECNSubscribeURL" value="http://localhost/ecn.activityengines/engines/optin.aspx{0}"/>
    <add key="NQLandingPage" value="NQLandingPage.aspx"/>
    <add key="DefaultUDFGroupID" value="2850"/>
    <add key="LogoPath" value="../PubLogo/"/>
    <add key="MailingLabelPath" value="../PubLogo/"/>
    <add key="Pub_CSS" value="&lt;style type='text/css'&gt;body { background-color:%%PBGColor%%; text-align:center;padding:20px 0;font-size:%%PageFontSize%%; font-family:%%PageFont%% } #container{font-family:%%PageFont%%;text-align:left;width:760px;background-color:%%FBGColor%%;margin:0 auto;border:%%PageBorder%%px #000 solid; min-height: 100%;height: auto !important;height: 100%; width:%%FormWidth%%} .Category{font-family:%%PageFont%%;background-color:%%CBGColor%%;font-size:%%CatFontSize%%;color:%%CFColor%%}.label{font-family:%%PageFont%%;font-size:%%QFSize%%;color:%%QFColor%%; font-weight:%%QFBold%%;}.labelAnswer{font-family:%%PageFont%%;font-size:%%AFSize%%;color:%%AFColor%%; font-weight:%%AFBold%%;}&lt;/style&gt;"></add>
    <add key="SmtpServer" value="216.17.41.200"/>
  </appSettings>
  <!--<connectionStrings/>-->
  <connectionStrings>
    <!--<add name="SqlConnection" connectionString="server=MOORTHY\SQLEXPRESS;Initial catalog=KMBS_NEW;uid=sa;pwd=gvein" />-->
    <add name="connString" connectionString="server=216.17.41.191;uid=sa;pwd=dcran9755;database=KMPSJointForms" providerName="System.Data.SqlClient"/>
    <add name="ecn5_communicator" connectionString="server=216.17.41.191;uid=sa;pwd=dcran9755;database=ecn5_communicator" providerName="System.Data.SqlClient"/>
    <add name="ecn5_accounts" connectionString="server=216.17.41.191;uid=sa;pwd=dcran9755;database=ecn5_accounts" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <!--<authentication mode="Forms">
      <forms name="JF" loginUrl="Login.aspx" protection="All" timeout="30"/>
    </authentication>-->
    <authentication mode="Windows"></authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages theme="Default">
      <controls>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="JF" namespace="KMPS_JF_Objects.Controls" assembly="KMPS_JF_Objects"/>
        <add tagPrefix="asp" namespace="System.Data.SqlClient" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*.xml" type="System.Web.HttpForbiddenHandler" validate="true" />
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="MyForbiddenExtensionHandler" path="*.xml" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
  </system.webServer>
  <location path="CustomForms/Medtech.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PaidForms/CatrSubscribe.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PaidForms/EvntSubscribe.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PaidForms/Subscribe.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Forms">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="EventSolutions">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CustomForms/MedtechComp.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CustomForms/NewsLetterCallOut.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="xml/MagList.xml">
    <system.web>
      <authorization>
        <deny users="*"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <KMPS_JF.Properties.Settings>
      <setting name="KMPS_JF_com_ecn5_webservices_ListManager" serializeAs="String">
        <value>http://webservices.ecn5.com/ListManager.asmx</value>
      </setting>
    </KMPS_JF.Properties.Settings>
  </applicationSettings>
</configuration>