<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ecn.showcare.wizard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="connString" value="server=10.161.1.47;uid=sa;pwd=dcran9755;database=ecn5_communicator"/>
    <add key="com" value="server=10.161.1.47;uid=sa;pwd=dcran9755;database=ecn5_communicator"/>
    <add key="act" value="server=10.161.1.47;uid=sa;pwd=dcran9755;database=ecn5_accounts"/>
    <add key="activity" value="server=10.161.1.47;uid=sa;pwd=dcran9755;database=ecn_activity" />
    <add key="accountsdb" value="ecn5_accounts"/>
    <add key="communicatordb" value="ecn5_communicator"/>
    <add key="product_name" value="wizard"/>
    <add key="ChannelID" value="29"/>
    <add key="SMTPServer" value="216.17.41.200"/>
    <add key="BadLogin" value="http://rdstaging.showreg.net/ShowLead/"/>
    <add key="GoodLogin" value="main/ChooseTemplate.aspx"/>
    <!-- DO NOT CHANGE THE VALUES BELOW-->
    <add key="GoodLogin_Campaign" value="main/ChooseTemplate.aspx"/>
    <add key="GoodLogin_Reports" value="main/Reports/ReportingMain.aspx"/>
    <add key="EncryptionKey" value="eCn5SCWS"/>
    <!-- DO NOT CHANGE THE VALUES ABOVE-->
    <!-- THIS IS JUST A TESTING ACCOUNT INFO. CHANGE WHEN YOU GET REAL ONE -->
    <add key="user" value="ARsystems"/>
    <add key="password" value="psigate1234"/>
    <add key="defaultamount" value="99.00"/>
    <add key="defaultdisplayamount" value="$99.00"/>
    <add key="couponcode" value="30EBL2010S"/>
    <add key="couponamount" value="30.00"/>
    <add key="cardaction" value="0"/>
    <add key="cardidcode" value="1"/>
    <add key="secureurl" value="https://dev.psigate.com:7989/Messenger/XMLMessenger"/>
    <!-- THIS IS JUST A TESTING ACCOUNT INFO. CHANGE WHEN YOU GET REAL ONE -->
    <!-- THIS INFO IS TESTING INFO FOR VERISIGN PAYMENT GATEWAY. REPLACE WITH ACTUAL WHEN GO LIVE -->
    <add key="vsUser" value="knowledgeMarketing"/>
    <add key="vsVendor" value="knowledgeMarketing"/>
    <add key="vsPartner" value="VeriSign"/>
    <add key="vsPassword" value="3#eDc1!qAz"/>
    <add key="PFPRO_HOST" value="payflowpro.verisign.com"/>
    <add key="CERT_PATH" value="cert/"/>
    <!-- THIS INFO IS TESTING INFO FOR VERISIGN PAYMENT GATEWAY. DELETE WHEN NOT REQUIRED -->
    <add key="successmessage" value="&lt;B&gt;Your payment/coupon has been accepted!&lt;/B&gt; &lt;BR&gt;An Email receipt has been sent to %%emailaddress%% Check back in 24 hours to view the results of this email campaign."/>
    <add key="failuremessage" value="&lt;B&gt;Error! Please review your credit card information and try again.&lt;/€u38 ?gt; &lt;P&gt; %%psiresponse%% &lt;/P&gt;If you continue to experience difficulties, please contact &lt;BR&gt;Showcare Customer Assitance 1-866-267-2107"/>
    <add key="createerrmsg" value="&lt;span style='font-size:14px'&gt; %%errmsg%% &lt;BR&gt; Or your session has expired. Please start over again, by going back to showcare login page. &lt;BR&gt;If you continue to experience difficulties, please contact &lt;BR&gt;Showcare Customer Assitance 1-866-267-2107&lt;/span&gt;"/>
    <add key="cserrmsg" value="There seems to be a missing component from the contents. &lt;BR&gt;Please, make sure that there exists %%EventName%% [or] %%BadgeID%% in the contents."/>
    <add key="fromemail" value="leads@showcare.com"/>
    <add key="bccemail" value="LBorg@showcare.com"/>
    <add key="receiptmessage" value="Thank you for using Showcare's emarketing wizard to send your email campaign. Your credit card has been charged and the amount will appear on your next credit card statement under the name of 'Knowledge Marketing'. Please retain this for your records. &lt;br&gt; &lt;br&gt;If you have any questions please call us at 1-866-267-2107 or email us at leads@showcare.com"/>
    <add key="receiptmessage1" value="Thank you for using Showcare's emarketing wizard to send your email campaign. &lt;br&gt; &lt;br&gt;If you have any questions please call us at 1-866-267-2107 or email us at leads@showcare.com"/>
    <add key="ecn.showcare.wizard.scAccountCreation.AccountCreation" value="http://showcare.ecn5.com/ecn.showcare.webservice/KM/AccountCreation.asmx"/>
    <add key="ecn.showcare.wizard.scPushLeadsList.PushLeadsList" value="http://showcare.ecn5.com/ecn.showcare.webservice/KM/PushLeadsList.asmx"/>
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="102400"/>
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.0"/>
    <customErrors mode="RemoteOnly"/>
    <machineKey validationKey="3D4D63BC66E13EBEA502B83A42379DF01D0D96718C50BB16962D6768070EA3E7F4854F431DE685D671D4E79E0440D4D9D015F5C3C49CD4CC517591E35DDF0EFF" decryptionKey="3EDEFDBFFFAAC0D62D5B59F8990ECAFAB4709F7D6E2E1F97" validation="SHA1"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <xhtmlConformance mode="Legacy"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <applicationSettings>
    <ecn.showcare.wizard.Properties.Settings>
      <setting name="ecn_showcare_wizard_scPushLeadsList_PushLeadsList" serializeAs="String">
        <value>http://showcare.ecn5.com/ecn.showcare.webservice/KM/PushLeadsList.asmx</value>
      </setting>
      <setting name="ecn_showcare_wizard_scAccountCreation_AccountCreation" serializeAs="String">
        <value>http://showcare.ecn5.com/ecn.showcare.webservice/KM/AccountCreation.asmx</value>
      </setting>
      <setting name="ecn_showcare_wizard_scProcessLogin_ProcessLogin" serializeAs="String">
        <value>http://showcare.ecn5.com/ecn.showcare.webservice/KM/ProcessLogin.asmx</value>
      </setting>
    </ecn.showcare.wizard.Properties.Settings>
  </applicationSettings>
</configuration>
