@model IList<UAS.Web.Models.Circulations.AdHocs>

<table style="width:100%">
    <tr>
       <td colspan="2" style="color:#6babe5;"><strong>AdHoc Fields</strong> </td>
    </tr>
    @for(int i = 0; i < Model.Count(); i++)
    {
        <tr>
           
            <td><label>@Model[i].AdHocField</label></td>
            <td><input type="text" id="@Model[i].AdHocField" value="@Model[i].Value" /></td>
           
        </tr>
    }
    
</table>