<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ReportLocation" value="C:\TempFolder\Report"/>
    <add key="ReportLogFilePath" value="C:\TempFolder\Log"/>
    <add key="FTPServer" value="ftp.knowledgemarketing.com/Cognos/Personify"/>
    <add key="FTPUserID" value="kmpsftp"/>
    <add key="FTPPassword" value="Upitpls!"/>
    <add key="KMEmailTo" value="bill.hipps@teamkm.com"/>
    <add key="KMEmailFrom" value="personifyengine_prod@teamkm.com"/>
    <add key="PersonifySMTPServer" value=""/>
    <add key="StartDay" value="-7"/>
  </appSettings>
  <connectionStrings>
    <add name="Personify" connectionString="server=pdsql01.himss.org;uid=HIMSS\stheenathalayu;pwd=stheenathalayu2013;database=personify_dev" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
