@model KMWeb.Models.Forms.Modals.FormStatsModel
<div id="stat" class="trackingreportheader">
    <div><span>Form Name:</span>@Model.FormName</div>
    <div><span>Total Visitors:</span>@Model.Total</div>
    <div><span>Unknown Visitors:</span>@Model.UnknownVisitors</div>
    <div><span>Known Visitors</span>@Model.KnownVisitors</div>
</div>
