<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="SharedSettings.config">
    <add key="BlastSingleFilter" value=" and (right(BlastSingleID, 1) in (0,1,2,3,4,5,6,7,8,9))" />
    <add key="DoBlast" value="MULTIPLE" />
    <add key="StatusCode" value="sunilpending" />
    <add key="EngineID" value="232323" />
    <add key="ECNEngineAccessKey" value="651A1297-59D1-4857-93CB-0B049635762E" />
    <add key="ThreadsPerConnection" value="2" />
    <add key="ConnectionsPerServer" value="5" />
    <add key="ParallelThreads" value="2" />
    <add key="OpenClick_UseOldSite" value="false" />
  </appSettings>
  <connectionStrings configSource="SharedConnections.config" />
  <system.web>
    <compilation defaultLanguage="c#" debug="true" />
    <customErrors mode="Off" />
    <authentication mode="Windows"></authentication>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
