<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="Communicator" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient"/>
  <add name="Activity" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn_activity" providerName="System.Data.SqlClient"/>
  <add name="KMCommon" connectionString="server=10.161.1.47;uid=webuser;pwd=webuser#23#;database=KMCommon" providerName="System.Data.SqlClient"/>
  <add name="Accounts" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ECN5_Accounts" providerName="System.Data.SqlClient"/>
  <add name="KMPlatform" connectionString="server=10.161.1.47;uid=webuser;pwd=webuser#23#;database=KMPlatform" providerName="System.Data.SqlClient" />
  <add name="UAS" connectionString="server=10.161.1.47;uid=webuser;pwd=webuser#23#;database=UAS" providerName="System.Data.SqlClient" />
  <add name="Content" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ECN5_CONTENT" providerName="System.Data.SqlClient" />

</connectionStrings>
