<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ECNEngineAccessKey" value="651A1297-59D1-4857-93CB-0B049635762E" />
    <add key="SmtpServer" value="10.10.208.101" />
    <add key="SmtpServerPort" value="25" />
    <add key="IsDemo" value="false" />
    <add key="KMCommon_Application" value="80" />
    <add key="KMCommon_SmtpServer" value="10.10.208.101" />
  </appSettings>
  <connectionStrings>
    <add name="Communicator" connectionString="server=10.161.1.47;uid=sa;pwd=dcran9755;database=ecn5_communicator" providerName="System.Data.SqlClient" />
    <add name="Activity" connectionString="server=10.161.1.47;uid=sa;pwd=dcran9755;database=ecn_activity" providerName="System.Data.SqlClient" />
    <add name="KMCommon" connectionString="server=10.161.1.47;uid=sa;pwd=dcran9755;database=KMCommon" providerName="System.Data.SqlClient" />
    <add name="Accounts" connectionString="server=10.161.1.47;uid=sa;pwd=dcran9755;database=ECN5_Accounts" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
