<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="UAS.ReportLibrary.Properties.Settings.MTGMasterDB"
      connectionString="Data Source=IT-LF\LOCALGT;Initial Catalog=MTGMasterDB;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="filters" value="" />
    <add key="adHocFilters" value="" />
    <add key="issueID" value="" />
    <add key="DBConnKey" value="Data Source=216.17.41.191;Initial Catalog=MTGMasterDB_Test;Persist Security Info=True;User ID=webuser;Password=webuser#23#" />
  </appSettings>
</configuration>