<div class="alert alert-success fade in" id="deleteSuccessAlert">
    <a href="#" id="btnDeleteSuccessClose" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> Your delete was successful!
</div>
