<div class="wrapper km-modal modalnotify">
    @Html.Hidden("Id", null, new Dictionary<string, object> { { "data-bind", "value:Id" } })
    <fieldset title="Delete">
        <legend></legend>
        <div class="picon" style="margin: 0 auto; width: 100px;">
            <img src="/KMWeb/Images/modal-icon-warning.png" border="0" />
        </div>
        <div class="text" style="margin: 0 auto; width: 400px; text-align: left;">
            Are you sure you want to delete this item?
        </div>
        <div class="buttons" style="margin: 0 auto; width: 300px; text-align: center;">
            @Html.Kendo().Button().Name("Delete").Content("Delete").HtmlAttributes(new { @class = "btn" })
            @Html.Kendo().Button().Name("Cancel").Content("Cancel").HtmlAttributes(new { @class = "btn", type = "button", onclick = "closeWindow('DeleteWindow')" })
        </div>
    </fieldset>
</div>
