<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" culture="neutral" publicKeyToken="1b03e6acf1164f73"/>
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.452" newVersion="0.86.0.518"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
 <connectionStrings>
   <add name="UAS" providerName="System.Data.SqlClient" connectionString="server=216.17.41.251;database=UAS;uid=webuser;pwd=webuser#23#;timeout=0;"/>
   <add name="UAD_Lookup" providerName="System.Data.SqlClient" connectionString="server=216.17.41.251;database=UAD_Lookup;uid=webuser;pwd=webuser#23#;timeout=0;"/>
   <add name="KMPlatform" providerName="System.Data.SqlClient" connectionString="server=216.17.41.198;database=KMPlatform;uid=webuser;pwd=webuser#23#;timeout=0;"/>
   <add name="KMCommon" providerName="System.Data.SqlClient" connectionString="server=216.17.41.198;database=KMCommon;uid=webuser;pwd=webuser#23#;timeout=0;"/>
   <add name="ECN_Communicator" providerName="System.Data.SqlClient" connectionString="server=216.17.41.198;database=ECN5_Communicator;uid=pwd;pwd=webuser#23#;timeout=0;"/>
  </connectionStrings>
<appSettings>
    <add key="IsDemo" value="false"/>
    <add key="UseGoogleBing" value="true"/>
    <add key="IsNetworkDeployed" value="false"/>
    <add key="BatchSize" value="10000"/>
    <!-- platform-services@TeamKM.com,April.Riddle@TeamKM.com,Joe.Benson@TeamKM.com,Sunil.Theenathayalu@TeamKM.com,Alley.Green@TeamKM.com,Danielle.Hoffman@TeamKM.com,Derek.Wohlers@TeamKM.com -->
    <add key="AdminEmail" value="Justin.Wagner@TeamKM.com"/>
  <!-- Advanstar,AHACoding,Anthem,Atcom,ATHB,Babcox,BelmontPublications,BriefMedia,BusinessJournalsInc,Canon,Catersource,DEMO,France,GLM,HappyDayMedia,
         HealthForum,HVCB,HWPublishing,KnowledgeMarketing,Lebhar,Medtech,Meister,MMA,MTG,NECA,NoriaCorp,Northstar,OildomPublishing,OutcomesLLC,PennWell,
         PentaVision,SAETB,Scranton,SpecialityFoods,Stamats,TeamMHC,TenMissions,TMB,TradePress,UAStest,UPI,Vance,Vcast,Watt -->
    <add key="EngineClients" value="AAMP,Abbott,Advanstar,AINPublications,Anthem,Atcom,ATHB,Babcox,BelmontPublications,BNP,BriefMedia,BusinessJournalsInc,Canon,Catersource,CEG,DEMO,EHPublishing,France"/>
    <add key="EngineServer" value="Live Wagner"/>

    <add key="MailServer" value="108.160.208.101"/>
	  <add key="DefaultMailServer" value="108.160.208.101"/>
    <add key="ErrorNotification" value="justin.wagner@TeamKM.com"/>
    <add key="ErrorSubject" value="AMS_Geocoding Engine Exception - Live Wagner"/>
    <add key="EmailFrom" value="platform-services@TeamKM.com"/>
    <add key="LogFileName" value="AMS_Geocoding"/>
  </appSettings>
</configuration>
