
body
{
	height:100%;
	background-color:#5d5a53;
	font-family: Arial, Helvetica, sans-serif;
	overflow:hidden;
}

a 
{
	color:#fff;
	text-decoration:none;
}

a:hover 
{
	text-decoration:underline;
}
/* DEFAULT STYLES FOR ICON IMAGES */

.printIcon
{
	width: 24px;
	height: 20px;
	display: block;
	background-image: url(printInfo.gif)
	
}
.emailIcon
{
	width: 24px;
	height: 21px;
	display: block;
	background-image: url(emailInfo.gif)
	
}
.thumbviewIcon
{
	width: 20px;
	height: 20px;
	display: block;
	background-image: url(thumbInfo.gif)
	
}
.onepageIcon
{
	width: 14px;
	height: 18px;
	display: block;
	background-image: url(onepageInfo.gif)
	
}
.twopageIcon
{
	width: 28px;
	height: 18px;
	display: block;
	background-image: url(twopageInfo.gif)
	
}
.firstinfoIcon
{
	width: 14px;
	height: 14px;
	display: block;
	background-image: url(firstInfo.gif);
	background-repeat: no-repeat
	
}
.previnfoIcon
{
	width: 10px;
	height: 14px;
	display: block;
	background-image: url(prevInfo.gif);
	background-repeat: no-repeat
	
}
.nextinfoIcon
{
	width: 10px;
	height: 14px;
	display: block;
	background-image: url(nextInfo.gif);
	background-repeat: no-repeat
	
}
.lastinfoIcon
{
	width: 14px;
	height: 14px;
	display: block;
	background-image: url(lastInfo.gif);
	background-repeat: no-repeat
	
}
#expandIcon a
{
	width: 19px;
	height: 19px;
	display: block;
	background-image: url(expand.gif);
	background-repeat: no-repeat
	
}
/* DEFAULT STYLES FOR FORWARD TO FRIEND */
#pnlf2f {
	font-size:12px;
}

#pnlf2f a:link, #pnlf2f a:visited, #pnlf2f a:active, #pnlf2f a:hover {
	color:#000;
	text-decoration:underline;
}

#pnlf2f a:hover {
	text-decoration:none;
}

.imgContainer {
	border:1px #A7A6AA solid;
}

.imgContainer img {
	padding:5px;
}



.lg_bkgnd {
	background-image: url(new_1_05.jpg);
	background-repeat: repeat-x;
}
.sm_bkgnd {
	background-image: url(new_1_10.jpg);
	background-repeat: repeat-x;
}
.tab_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}
.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #5D5A53;
}

#emailAndPrint{
	position:absolute;
	top:-20px;
}

#Table11 tr td {
	white-space:nowrap;
}

#olay
{
    z-index: 101;
    position: absolute;
    margin-top: 2px;
    background-color: silver;opacity:.50;filter: alpha(opacity=50); -moz-opacity: 0.5;border:1px solid black;
    visibility: hidden;
    font-size: 0;
}



#hLine{display:none;}/*turn off to ie6*/

html>body #hLine
{
	display:block;/* turn back on for ie7 and modern browsers */
	position:absolute;
	top:33px;
	width:100%;
	height:10px;
	z-index:1000;
	background:url(hLine.png) top left repeat-x;
}

.openClose
{
	position:absolute;
	top:18px;left:7px;
}

#treeContainer img
{
     vertical-align: middle;
     border: 0px;
}

#treeContainer img.action
{
     cursor: pointer;
}


.topLeft 
{
	background-image:url(winmiddle.gif);
	background-repeat:repeat-x;
	height:29px;
	text-align:left;
	
}

#divpages
{
	text-align:center;
}

#divpages img
{
	display:block;
	margin:15px auto 0 auto;
}

.treeView
{
	color:#fff;
}

.divTitle
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#ffffff;
	padding-left:15px;
	font-weight:bold;
}

img
{
	border:0px;
}


.bottom
{
	background-image:url(transTile.gif);
	background-position: top left;
	background-repeat:repeat;
	width:312px;
	height:525px;
	padding-left:2px;
	margin-left:15px;
}

.inScroll
{
	overflow:scroll;
	width:296px;
	height:403px;
	/*filter: alpha(opacity=90);*/ /* ie */
	/*-moz-opacity: .9;*/ /* mozilla */
	background:#ffffff;
}

.innerDivText, .innerDivText a:link, .innerDivText a:active, .innerDivText a:visited, .innerDivText a:hover
{
	FONT-SIZE:11px;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	cursor:pointer;
}

.innerDivText a:hover
{
	text-decoration:underline;
}

#innerDivText3 
{
	font-style:italic;
	list-style:none;
}

#divlinkcontent a, #divBackIssues a
{
	FONT-SIZE:11px;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-weight:normal;
}

#divlinkcontent a:hover, #divbackIssues a:hover
{
	text-decoration:underline;
}

#divlinkcontent ul li {
	margin:0 0 0 -15px;padding:0;
	white-space:nowrap;
}


/*#divsearchcontent, #divsearchcontent a:link, #divsearchcontent a:visited, #divsearchcontent a:active
#divbackIssues, #divbackissues a:link, #divbackissues a:visited, #divbackissues a:active
{
	FONT-SIZE:12px;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	cursor:pointer;
}*/

#divsearchcontent
{
	padding-left:10px;
}

#divsearchcontent u
{
	font-weight:bold;
}

/*#divbackissues a:hover, #divsearchcontent a:hover
{
	FONT-SIZE:12px;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:underline;
	cursor:pointer;
}*/

#divbackissues
{
	font-weight:bold;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++
		      THUMBNAIL HOVER EFFECT
+++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.pageWithImg a img, .pageWithImg a:link img, .pageWithImg a:visited img, .pageWithImg a:active img  
{
	border:2px #5D5A53 solid;
}

.pageWithImg a:hover img 
{
	border:2px #ffff00 solid;
}

.pageWithImg a:hover /* NEEDED TO HACK IE6 */
{
	color:#ffff00;
}
/* +++++++++  END THUMBNAIL HOVER +++++++++++++++++++ */


.print_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
}

.searchHeader
{
	font:bold 13px Arial, Helvetica, sans-serif;
	color:#fff;
	display:block;
	margin:0;padding:0 0 0 5px;
}

#divsearch
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
}

#lblTotalPages
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

.pageNumLink a
{
	/*color:#C63103;*/
	color:#fff;
	font-size:12px;
	font-weight:bold;
	display:block;
	margin:10px 0 5px 0;
}

.pageNumLink a:link, .pageNumLink a:visited, .pageNumLink a:active
{
	
	text-decoration:underline;
} 

.pageNumLink a:hover
{
	text-decoration:none;
} 

.searchList
{
	margin-left:8px;
	padding-top:5px;
	text-indent:-7px;
	white-space:nowrap;
}

.searchList a, .searchList
{
	font-size:11px;	
	text-decoration:none;
	color:#fff;
}

.searchList a:hover
{
	text-decoration:underline;
}

#progBar
{
	margin:15px 0 0 14px;
}

.f2f-text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	text-decoration: none;
}
.f2f-alert {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}
.f2f-big {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}

.ffAlert
{
	color:#ff0000;
}

#topLeft
{
	background:url(f2f-art_01.gif) top right no-repeat;
	width:30px;
	height:30px;
}

#topCenter
{
	background:url(f2f-art_02.gif) top left repeat-x;
	height:30px;
}

#topRight
{
	background:url(f2f-art_03.gif) top left no-repeat;
	width:30px;
	height:30px;
}

#middleLeft
{
	background:url(f2f-art_04.gif) top right repeat-y;
	width:30px;
}

#middleRight
{
	background:url(f2f-art_06.gif) top left repeat-y;
	width:30px;
}

#bottomLeft
{
	background:url(f2f-art_07.gif) top right no-repeat;
	width:30px; 
	height:31px;
}

#bottomCenter
{
	background:url(f2f-art_08.gif) top left repeat-x;
	height:31px;
}

#bottomRight
{
	background:url(f2f-art_09.gif) top left no-repeat;
	width:31px;
	height:31px;
	
}

.fwd2FrdTitle
{	
	font-size:14px;	
	font-weight:bold;
}

.pMarg
{
	margin:15px 20px;
}

.formSize
{
	width:200px;
	height:20px;
	border:1px #ccc solid;
	font-size:10px;
}

.formNote
{
	width:465px;
	height:70px;
	font-size:10px;
}

.formNoteII {
	width:198px;
	height:50px;
	font-size:10px;
}


.leftPad
{
	padding:0 0 0 40px;
}

.style1 {
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
}
.style3 {color: #000000; font-size:12px}

.login
{
	color:#5D5A53;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:#fff;
}

.loginTop
{
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
}

a.loginTop:link, a.loginTop:visited, a.loginTop:active 
{
	color:#FFF;
}

a.loginTop:hover
{
	color:#5D5A53;
}

/*
#mainContent
{
	background:#33312d;
}

#loginTop, #loginBottom
{
	border-right:1px #5D5A53 solid;
	border-left:1px #5D5A53 solid;
}

#loginTop
{
	border-top:1px #5D5A53 solid;
}

#loginBottom
{
	border-bottom:1px #5D5A53 solid;
}*/



/* +++++++++++++++++++++++++ NEW TOOL BAR ++++++++++++++++++++ */
#frameContent
{
	overflow-x:hidden;
}

#divTOOLS
{
	background:url(tiler_184.gif) top left repeat-y;
	width:33px;
	height:100%;
	position:absolute;
}

#divTABS
{
	background:url(tiler_184.gif) top left repeat-y; 
	width:230px;
	height:100%;
}

#Scroller-1
{
	color:#fff;
	width:196px;
	height:450px;
	position:absolute;
	top:60px; left:33px;
	overflow:scroll;
}

* html body #Scroller-1
{
	width:197px;
}

.Scroller-Container {
  width:175px;
  position: absolute;
  top: 0px; left:0px;
}

.Scroller-Container div p, #infoMenu div p
{
	color:#fff;
	margin:12px 5px 0 15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}

.alert
{
	display:none;
	color:cfbd8b;
}

.spacer
{
	background:#8C8C8C;
	height:20px;
	width:1px;
}

#infoMenu label
{
	display:block;
}

#infoMenu label span
{
	margin-left:10px;
}

#infoDivSubscribe .formField
{
	width:150px;
	height:18px;
}

#infoMenu textarea
{
	width:150px;
	height:50px;
}	

.infoHeading
{
	font-weight:bold;
}

#frameContent .divider
{
	width:1px;
	height:20px;
	background:#8C8C8C;
}

#infoDivSubscribe input, #infoDivSubscribe textarea, #infoDivSubscribe select
{
	margin-bottom:8px;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
}	

#infoDivThree p
{
	white-space:nowrap;
}

.topMarg
{
	margin:5px 0 0 0;
}


#Scrollbar-Container {
  position: absolute;
  top: 50px; left: 213px;
}
.Scrollbar-Up {
  cursor: pointer;
  position: absolute;
}
.Scrollbar-Track {
  width: 17px; height: 161px;
  position: absolute;
  top: 31px; left: 0px;
  border-bottom:2px #5D5B54 solid;
}
.Scrollbar-Handle {
  position: absolute;
  width: 17px; height: 46px;
}
.Scrollbar-Down {
  cursor: pointer;
  position: absolute;
  top: 16px;
}

#infoBox
{
	background:url(info_15.gif) top left no-repeat; 
	width:177px; height:456px;
}

#minimize
{
	position:absolute;
	width:18px; height:16px;
	top:10px; left:212px;
}

#abvInfo
{
	display:block;
}

#abvPages,#abvTOC,#abvSearch,#abvLinks,#abvBackIssues
{
	display:none;
}

#abvSearch input
{
	margin:3px 0 0 10px;
}

#abvSearch a img 
{
	position:absolute;
	top:20px;
	left:133px;
}

#aboveContainer
{
	position:absolute;
	top:0px; left:31px;
	height:58px;
	width:182px;
	border-bottom:1px #353535 solid;
}

#infoMenu
{
	position:absolute;
	top:60px;
	left:33px;
	width:195px;
	/*height:377px;*/
	z-index:1000;
	background:url(tiler_184.gif) -33px 0 repeat-y;
}

* html body #infoMenu
{
	width:197px;
}

a.infoBtn:link, a.infoBtn:visited, a.infoBtn:active, a.infoBtn:hover
{
	margin:0;
	padding:0;
	display:block;
	font-size:11px;
	/*color:#cfbd8b;*/
	color:#ccc;
	text-decoration:none;
	background:url(infoBtn.gif) 0 0 repeat-x;
	height:22px;
	line-height:22px;
	text-indent:10px;
	width:179px;
}

a.infoBtn:hover
{
	background:url(infoBtn.gif) 0 -22px repeat-x;
}

#infoMenu a.selected:link ,#infoMenu a.selected:active ,#infoMenu a.selected:visited ,#infoMenu a.selected:hover  
{
	background:url(infoBtn.gif) 0 -44px repeat-x;
	/*color:#ccc;*/
	color:#cfbd8b;
}

.infoContentArea {
	overflow-y:scroll;
	display:none;
	background:#5D5B54;
}


.aboveScroll
{
	position:absolute;
	top:20px; left:0px;
	text-indent:10px;
	font-weight:bold;
	height:38px;
	width:180px;
}

#abvSearch
{
    top:15px; left:0px;
	height:43px;
	width:180px;
}


#wholeScroll
{
	color:#fff;
	font-size:11px;
	position:relative;
	height:100%;
}

.toolButtons
{
	position:absolute;
	top:48;left:0;
}

.toolButtons, toolButtons *
{
	padding:0;margin:0;
}

.unders
{
	margin-top:10px;
	display:block;
}

.unders a:link, .unders a:visited, .unders a:active, .unders a:hover 
{
	display:block;
	width:32px;
	text-indent:-50000px;
	height:33px;
}

#tInfo a:link, #tInfo a:visited, #tInfo a:active, #tInfo a:hover 
{
	background:url(infoRoll.gif) top left no-repeat;
}

#tInfo a:hover 
{
	background:url(infoRoll.gif) top right no-repeat;
}

#tPages a:link, #tPages a:visited, #tPages a:active, #tPages a:hover 
{
	background:url(pagesRoll.gif) top left no-repeat;
}

#tPages a:hover 
{
	background:url(pagesRoll.gif) top right no-repeat;
}

#tTableOfContents a:link, #tTableOfContents a:visited, #tTableOfContents a:active, #tTableOfContents a:hover 
{
	background:url(tableofcRoll.gif) top left no-repeat;
}

#tTableOfContents a:hover 
{
	background:url(tableofcRoll.gif) top right no-repeat;
}

#tSearch a:link, #tSearch a:visited, #tSearch a:active, #tSearch a:hover 
{
	background:url(searchRoll.gif) top left no-repeat;
}

#tSearch a:hover 
{
	background:url(searchRoll.gif) top right no-repeat;
}

#tLinks a:link, #tLinks a:visited, #tLinks a:active, #tLinks a:hover 
{
	background:url(linksRoll.gif) top left no-repeat;
}

#tLinks a:hover 
{
	background:url(linksRoll.gif) top right no-repeat;
}

#tBackIssues a:link, #tBackIssues a:visited, #tBackIssues a:active, #tBackIssues a:hover 
{
	background:url(backIssuesRoll.gif) top left no-repeat;
}

#tBackIssues a:hover 
{
	background:url(backIssuesRoll.gif) top right no-repeat;
}


.overs
{
	margin-top:-33px;
	display:block;
}

.infoTable {
	padding:0 10px;
}

.infoTable div {
	/*border-top:1px #CFBD8B solid;*/
	border-bottom:1px #CFBD8B solid;
	width:100%;
}

.infoTable div div {
	border:none;
	padding:10px 10px 10px 0;
	width:100%;
}

.infoTable div div div {
	text-align:center;
	width:40px;
	padding:0;
}

#zoomBarInfo {
	text-align:center;
	padding:0;
	width:100%;
}	

#zoomBarInfo img {
	display:block;
	margin:0 auto;
}

.infoTable table {
	width:100%;
}

.infoTable tr td p {
	margin:5px;
	padding:0;
	/*color:#B0AFAB;*/
}

#printEmailCell a, #pageViewsCell a {
	margin-top:4px;
}

#arrowButtons a {
	margin-top:6px;
}

/* CSS Nav*/

#pageViews, #pageViews div {
	white-space:nowrap;
	height:33px;
	margin-right:5px;
	overflow:hidden;
}

.firstLast a, .emailPrint a, #pageViews a, .plusMinusZoom a {
	background-position:0 0;
	text-indent:-99999px;
	text-align:left;
}

.emailPrint a {
	margin:0 3px;
}
a#first {
	background-image:url(first.gif);
	background-repeat:no-repeat;
	width:28px;
	height:21px;
	overflow:hidden;
	display:block;
	float:left;	
	margin-left:3px;
}

a#previous {
	background-image:url(previous.gif);
	background-repeat:no-repeat;
	width:22px;
	height:21px;
	overflow:hidden;
	display:block;
	float:left;
}

a#next {
	background-image:url(next.gif);
	background-repeat:no-repeat;
	width:24px;
	height:21px;
	overflow:hidden;
	display:block;
	float:left;
}

a#last {
	background-image:url(last.gif);
	background-repeat:no-repeat;
	width:27px;
	height:21px;
	overflow:hidden;
	display:block;
	float:left;
}

a#print {
	background-image:url(print.gif);
	background-repeat:no-repeat;
	width:28px;
	height:25px;
	overflow:hidden;
	display:block;
	float:left;
}
a#download {
	background-image:url(icon_download.gif);
	background-repeat:no-repeat;
	width:28px;
	height:25px;
	overflow:hidden;
	display:block;
	float:left;
}
a#emailBtn {
	background-image:url(email.gif);
	background-repeat:no-repeat;
	width:29px;
	height:25px;
	overflow:hidden;
	display:block;
	float:left;
}

#thumbnails {
	background-image:url(thumbs.gif);
	background-repeat:no-repeat;
	width:27px;
	height:24px;
	overflow:hidden;
	display:block;
	float:left;
}

#singlePageView {
	background-image:url(onePageCss.gif);
	background-repeat:no-repeat;
	width:18px;
	height:24px;
	overflow:hidden;
	display:block;
	float:left;
}

#twoPageView {
	background-image:url(twoPageCss.gif);
	background-repeat:no-repeat;
	width:30px;
	height:24px;
	overflow:hidden;
	display:block;
	float:left;
}

.plusMinusZoom .minusZoom {
	background-image:url(zoomMinus.gif);
	background-repeat:no-repeat;
	width:21px;
	height:18px;
	overflow:hidden;
	display:block;
	float:left;
}

.plusMinusZoom .plusZoom {
	background-image:url(zoomPlus.gif);
	background-repeat:no-repeat;
	width:21px;
	height:18px;
	overflow:hidden;
	display:block;
	float:left;
}

.plusMinusZoomII .minusZoom {
	background:url(minusA.gif) top left no-repeat;
	width:21px;
	height:17px;
	overflow:hidden;
	display:block;
	text-indent:-9999px;
	text-align:left;
}

.plusMinusZoomII .plusZoom {
	background:url(plusA.gif) top left no-repeat;
	width:20px;
	height:17px;
	overflow:hidden;
	display:block;
	text-indent:-9999px;
}

.fitPage a:link, .fitPage a:visited, .fitPage a:active, .fitPage a:hover {
	display:block;
	background:url(fitPageCss.gif) 0 0 no-repeat;
	height:17px;
	width:62px;
	font-size:10px;
	text-transform:uppercase;
	line-height:17px;
	text-align:center;
	color:#fff;
	text-decoration:none;
	position:relative;
	top:9px;
	margin:0 3px;
}

/*.fitPage a:hover, */.fitPage a.selected {
	color:#FCF800;	
	text-decoration:none;
}


.firstLast .selected, 
.emailPrint .selected,
.pageViews .selected,
.plusMinusZoom .selected {

	background-position:bottom left;
}

.highlightOn #first, .highlightOn #previous, .highlightOn #next, .highlightOn #last {
	background-position:0 -21px;
}

/*.zoomBorderOn {
	border:2px #FCF800 solid;f
}

.zoomBorderOff {
	padding:2px;
}*/

.highlightOn {
	background:#FCF800;
	height:33px;
	line-height:33px;
	/*border:1px #ccc solid;*/
}

.highlightOff {
	background:none;
	height:33px;
	line-height:33px;
	/*padding:1px;*/
}

.zoomBorderOn, .zoomBorderOff {
	text-align:center;
}

.zoomBorderOn .container, .zoomBorderOff .container {
	padding:2px;
	margin:0 auto;
	text-align:left;
}