body
{
	margin: 15px;
    /*background: #B4B4B4 url(../../images/body_bg.gif) repeat left top;*/ 
	font-family: Tahoma, Arial, sans-serif;
	font-size:75%;
}

td 
{
	font-family: Tahoma, Arial, sans-serif;
	font-size:12px;
	color:#000000;
}

fieldset
{
	border: 1px solid #325C78;
}

.labelbold
{
	font-weight:bold;
}

.labelselected
{
	background-color:#eeeeee;
	color:#8AB3CE;
	font-weight:bold;
}

.pageborder
{
	width: 1000px;
	border: 1px solid #8AB3CE;
	background-color:#eeeeee; /*#ffffcc*/
	text-align: left;
	margin: auto;
}

.hdr
{
	width: 800px;
	height:	80px;
	vertical-align: top;
	/*background-image:url(../../images/bg_gradient-left.png);*/
	background-color:#5783BD;
	padding: 5px 0px 5px 20px
}

.ftr
{
	height: 25px;
	background: #EFEFEF;
	color: #333333;
	margin: 0;
}

.bar
{
	background-image:url(../../images/bar.gif);
	height: 27px;
	width: 1000px;
	margin-bottom: -1px;
	padding: 0;
	border-bottom: 1px solid #8AB3CE;
	vertical-align: top;
}

textarea, select, input
{
	font-size:12px;
	color: #000000;
	font-family:Tahoma, Arial, sans-serif;
	padding: 0px 0px 0px 1px;
}


.button {
	font-family:trebuchet ms, myriad, tahoma, verdana;
	font-size:12px;
	width:80px;
	background: url(../../images/button.gif) no-repeat left top;
	border:0;
	font-weight:bold;
	color:#ffffff;
	height:20px;
	cursor:pointer;
}
.buttonMedium {
	font-family:trebuchet ms, myriad, tahoma, verdana;
	font-size:12px;
	width:135px;
	background: url(../../images/buttonMedium.gif) no-repeat left top;
	border:0;
	font-weight:bold;
	color:#ffffff;
	height:20px;
	cursor:pointer;
}

.button a{color:#FFF; padding-top:4px; text-decoration:none; font-size:12px}
.buttonMedium a{color:#FFF; margin-top:5px; text-decoration:none; font-size:12px}
.button a:hover { 
	text-decoration:underline;
}

.buttonSmall {
	font-family:trebuchet ms, myriad, tahoma, verdana;
	font-size:12px;
	width:50px;
	background: url(../../images/buttonSmall.gif) no-repeat left top;
	border:0;
	font-weight:bold;
	color:#ffffff;
	height:20px;
	cursor:pointer;
}
.buttonSmall a{color:#FFF; margin-top:5px; text-decoration:none; font-size:12px}


.tabText {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 12px;
}

.tabText2 {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 12px; 
	color: #1F497D; 
}

.tabContent_tbl {
	border: 1px solid #86979E;
}

legend {
	margin: 0px 0px 7px 0px;
	color: #325C78;
	font-family: Tahoma, Arial, sans-serif;	
	font-size: 130%;
	font-weight: bold;
	vertical-align: middle;
	padding: 4px 4px
}


.progressbar
{
	border-left:1px solid #000000;
	border-bottom: 1px solid #000000;
	border-right:1px solid #000000;
	border-top:1px solid #000000;
}

td.menu
{
	
}

.leftNav a
{
	padding: 2px 5px;
	color:#32537E;
	text-decoration: none;
	display: block;
	margin: 0px;
}

.leftNav a:hover 
{
	background-color: #0F2543;
	color: #FFF;
	font-weight:bold;
}

a.menu
{
	padding: 5px 4px 3px 4px;
	color:#32537E;
	text-decoration: none;
	font-weight: bold;
	display: block;
	margin: 0px;
	border-right: 1px solid #cccccc
}

a.menu-selected
{
	padding: 5px 4px 3px 4px;
	color:#cc0000;
	text-decoration: none;
	font-weight: bold;
	display: block;
	margin: 0px;
	border-right: 1px solid #cccccc
}

a.menu:hover 
{
	color:Orange;
}

a.menu-selected:hover
{
	color: Orange;
}

a.logoff
{
	padding: 0px 10px 0px 0px;
	color: #32537E;
	text-decoration: none;
	font-weight: bold;
	text-align:center;
	vertical-align:middle;
	margin: 0px;

}

a.logoff:hover
{
	text-decoration:underline;
	color:Orange;
}

.name
{
	padding: 0px 10px 0px 0px;
	color: #32537E;
	text-decoration: none;
	font-weight: bold;
	margin: 0px;
	text-align:right;
	vertical-align:middle;
}

td.submenu
{
	background: #ffeea6;
}

a.submenu
{
	background: #ffeea6;
	padding: 3px 7px 3px 7px;
	color: #4D6686;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	display: block;
	margin: 0px;
	border-bottom: 1px solid #ffcc00;
	border-right: 1px solid #ffcc00;

	
}

a.submenu-selected
{
	background: #ffe275;
	padding: 3px 7px 3px 7px;
	color: #4D6686;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	display: block;
	margin: 0px;
	border-right: 1px solid #ffcc00;
	
}

a.submenu-disabled
{
	background: #ece9d8;
	padding: 3px 7px 3px 7px;
	color:#666666;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	display: block;
	margin: 0px;
	border-right: 1px solid #ffcc00;
	border-bottom: 1px solid #ffcc00;
}

a.submenu-disabledHL
{
	background: #ece9d8;
	padding: 3px 7px 3px 7px;
	color:#4D6686;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	display: block;
	margin: 0px;
	border-right: 1px solid #ffcc00;
	
}


a.submenu-selected, a.submenu-selected-over
{
	background: #ffffcc;
	
}

a.submenu:hover 
{
	color:#4D6686;
	
}

a.submenu-selected:hover
{
	color: #4D6686;
}

.colheader
{
	background-color:#cfcfcf;
	border-bottom: #cfcfcf 1px solid;
	color: #325C78;
	font-size:11px;
	font-weight:bold;
}

.colheader a {
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: #325C78;
}

.colheader a:hover {
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
}


.AltRowColor
{
	background-color:#f1f1f1;
}

/* NEW SITE PANEL */

.panelTable {
	width: 100%;
	border: 1px;
	border-color: #325C78;
	border-style: solid;
	border-collapse: collapse;
	background-color: #ffffff;
	padding: 5px 5px 5px 5px;
}

.panelTable th {
	background-color:#325C78;
	vertical-align:middle;
	padding: 2px 5px 2px 5px;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	height:1.5em;
	color: #ffffff;
}

.panelTable td {
	padding: 5px 5px 5px 5px;
}

.panelTable th a {
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
}

.panelTable th a:hover {
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
	color: #ffffff;
}

/* Grid */
.grid
{
	border: 1px;
	border-color:Gray;
	background-color: #ffffff;
	border-style: solid;
	padding: 5px 5px 5px 5px;
	font-family:Tahoma, Arial, sans-serif;	  
}

.gridAltColor
{
	background-color:#EBEBEB;
}

.grid th {
	background-color:#5890C1; /* Change background */
	color: #ffffff;
	font-size:12px;
	font-weight:bold;
	height:1.5em;
	font-family:Tahoma, Arial, sans-serif;
}

.grid th a {
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
	color: #ffffff;
	font-family:Tahoma, Arial, sans-serif;
}

.grid th a:hover {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	}

.gridpager
{
	font-size: 12px;
	height: 10px;
	font-family: Tahoma, Arial, sans-serif;
	font-weight:normal;
	background-color:#5783BD;
}

.gridfooter
{
	font-weight: bold;
	font-family:Tahoma, Arial, sans-serif;
	padding:5px 5px 5px 5px;
	background-color:#CCDFFD;
	color:#8AB3CE;
	font-size:12px;
	height:2em;
}


.gridpager span
{
	font-weight: bold;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 12px; 
	border: solid 1px Orange;
	COLOR:white; 
	text-decoration: none;
	padding:0px 0px 0px 0px;
}


.gridpager  A:visited, .gridpager  A:active, .gridpager A:link, .gridpager  A:visited, .gridpager  A:active {
	font-family:Tahoma, Arial, sans-serif;
	font-size: 12px; 
	font-weight: bold;
	COLOR:white; 
	text-decoration: none;
	padding:2px 0px 0px 0px;
}

.gridpager A:hover
{
	COLOR:Orange; 
	text-decoration: underline;
}

/* Box Panel */

.boxtopleft
{
	width: 11px;
	height: 33px;
}

.boxtopright
{
	width: 11px;
	height: 33px;
}

.boxtitle
{
	margin: 0px;
	padding: 0px 0px 0px 0px;
	font-family: Tahoma, Arial, sans-serif;	
	font-size: 14px;
	font-weight: bold;
	color: #32537E;
	vertical-align:middle;
	text-align:left;
	background: url(../../images/boxtopbg.gif) repeat-x top right;
}


.boxleftside
{
	border-left: 1px solid #dededf;
	background-color: #ffffff;
 
}

.boxrightside
{
	border-right: 1px solid #dededf;
	background-color: #ffffff;
 }


.boxbottom
{
	border-bottom : 1px solid #dededf;
	background-color: #ffffff;
}

.title
{
	margin: 0;
	padding: 2px 0 8px 4px;
	font-family: Tahoma, Arial, sans-serif;	
	font-size: 95%;
	font-weight: bold;
	color: #141A21;
}

.style1 {font-size: 11px; }
.style2 {color: #003366;font-size: 11px;}
.style3 {margin: 0}
.style4 {color: #003366;font-size: 12px;font-weight: bold;}
.style6 {color: #003366}

/* Validation Summary Error Message Display */

.errorsummary {
 border: 1px solid #58A2F6;
 color: red;
 margin: 5px 0px;
 padding: 15px;
 background: #fff url(../../images/ic-error.gif) no-repeat 5px 50%;
 background-color:#F0F7FF;
}


.errorsummary ul 
{
 margin: 5px;
 padding: 10px;
 margin-left: 80px;
 list-style: square;
}

.validationSummary
{
width: 720px;
border-width: 1px;
border-style: solid;
border-color: red;
background-color: #EEF5FF;
padding-top: 8px;
padding-left:35px;
padding-bottom: 10px;
font: 11px Tahoma;
color: #8598B9;
background-image: url(../../images/ic-info.jpg);
background-position: 10px 6px;
background-repeat: no-repeat;
margin: 3px;
overflow:hidden;
}

.validationSummary ul 
{
 margin-left: 50px;
 list-style: square;
}

/*TAB*/

/*begin creating the tabs */
.tab {
	font-size: 10px;
	font-weight: bold;
}

.tabItem td {
	BACKGROUND-COLOR: #f1f1f1;  
	border: #999999 1px solid; 
	BORDER-BOTTOM: none;
	FONT-SIZE: 11px; 
	FONT-WEIGHT: bold; 
	WIDTH: 100px; 
	FONT-FAMILY: Tahoma, Arial, sans-serif;
	height: 25px; 
	TEXT-ALIGN: center;
}

.tabItem a:link, .tabItem a:visited{
	BACKGROUND-COLOR: #f1f1f1; 
	COLOR:gray; 
	FONT-SIZE: 11px; 
	FONT-WEIGHT: bold; 
	FONT-FAMILY: Tahoma, Arial, sans-serif;
	TEXT-ALIGN: center; 
	text-decoration:none;
}

.tabItem a:hover
{
	color:Orange;
}

.tabSelectedItem td {
	border: #CC6600  1px solid;
	BORDER-BOTTOM: none;
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px; 
	WIDTH: 100px; 
	COLOR: #ffffff; 
	FONT-FAMILY: Verdana; 
	HEIGHT: 25px; 
	BACKGROUND-COLOR:#ff9900; 
	TEXT-ALIGN: center;
}

.tabSelectedItem a:link, .tabuSelectedItem a:visited{
	BACKGROUND-COLOR: #ff9900; 
	COLOR:#ffffff; 
	FONT-SIZE: 12px; 
	FONT-WEIGHT: bold; 
	FONT-FAMILY: Tahoma, Arial, sans-serif;
	TEXT-ALIGN: center; 
	text-decoration:none;
}

.tabSelectedItem a:hover
{
	COLOR:#ffffff; 
	text-decoration:underline;
}
.tabbody
{
	border: #CC6600 1px solid; 
	PADDING: 10px 10px 10px 10px;
	BACKGROUND-COLOR: #ffffff;
	width:100%;
}

.trackpopup
{
	margin: 0px;
	background-color: #FFFFFF;
	font-family:Tahoma, Arial, sans-serif;
}

/*Reorder List*/
.dragHandle {
	width:10px;
	height:15px;
	background-color:Blue;
	background-image:url(../../images/bg-menu-main.png);
	cursor:move;
	border:outset thin white;
}

.callbackStyle {
	border:thin blue inset;		
}

.callbackStyle table {
	background-color:#5377A9;	
	color:Black;
}


.reorderListDemo li {
	list-style:none;
	margin:2px;
	background-repeat:repeat-x;
	color:#FFF;
}

.dragVisualContainer li  {
    list-style:none;
	background-image:url(../../images/bg_nav.gif);
	background-repeat:repeat-x;
	color:#FFF;
}

.reorderListDemo li a {color:#FFF !important; font-weight:bold;}

.reorderCue {
	border:dashed thin black;
	width:100%;
	height:25px;
}

.itemArea {
	margin-left:15px;
	font-family:Tahoma, Arial, sans-serif;
	font-size:1em;
	text-align:left;
}
/*CollapsiblePanel*/
.collapsePanel {
	
	background-color:white;
	overflow:hidden;
}

.collapsePanelHeader{
	width:100%;
	height:30px;
	background-image: url(../../images/bg-menu-main.png);
	background-repeat:repeat-x;
	color:#FFF;
	font-weight:bold;
}


/* CSS Document */


*{margin:0;padding:0;}

html, body 
{
	margin: 0;
	padding: 0;
	height: 100%;
}


body
{
	background-color:#e0e0e0;
	text-align:center;
	padding:20px 0;
	font-size:12px;
}

body, td
{
	font: normal 12px Arial, Helvetica, sans-serif;
}

a
{
	color:#000;
	text-decoration:underline;
}
p 
{
	margin:10px 0;
}

ul,ol
{
	margin:10px 15px 10px 0;
	padding:0;
}

ul li,ol li
{
	margin-left:15px;
}

a:hover
{
	color:#000;
	text-decoration:none;
}

h1
{
	font-size:2em;
}

h2
{
	font-size:1.4em;
}

#container
{
	text-align:left;
	width:800px;
	background:#fff;
	margin:0 auto;
	border:2px #000 solid;
	position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

#innerContainer
{
	padding:15px;
}

#container-content 
{
	width:100%;
}

/*#footer
{
	position: absolute;
	bottom: 0 !important;
	bottom: -1px;
	height: 125px;
}*/


#banner
{
	margin:0 0 25px 0;
	width:100%;
	text-align:center;
}

.borderBottom
{
	border-bottom:1px #000 solid;
}

.label, .highlight, .questionList a
{
	font-weight:bold;
	color:#840000;
}

.highlightTwo
{
	color:#999;
}

/*#customerServiceContacts p
{
	margin:10px 0 10px 10px;
}*/

.center
{
	text-align:center;
}

.tableInfo td
{
	padding:2px;
	font-size:.8em;
}

.fieldSpace
{
	line-height:1.6em;
}

.international .fieldSpace input, .international .fieldSpace p {
	margin:0 0 0 20px;
	padding:0;
}

.otherAnswer
{
	margin-top:5px;
}

.padBottom
{
	padding-bottom:10px;
}

.cancelBtnUS

{
	margin-left:120px;
}

.cancelBtnInt

{
	margin-left:180px;
}

.2col
{
	width:300px;
	float:left;
}

.usCell, .intCell
{
	width:50%;
	height:25px;
	background:#840000;
	color:#fff;	
	text-indent:5px;
	border:1px #000 solid;
}

.usBottomCell, .intBottomCell
{
	line-height:2em;
	border:1px #000 solid;
	padding-left:5px;
}

.usCell,.usBottomCell
{
	border-right:none;
}

.intCell,.intBottomCell
{
	border-left:none;
}


.clear
{
	clear:both;
}

.blurb { font-weight:normal; display:block; text-align:center; font-size:.8em;margin-bottom:2em; }

.margTop
{
	margin-top:10px;
}

#justDomestic
{
	background-color:#5981b5;
	text-align:center;
	color:#fff;
	height:20px;
	font-size:12px;
	line-height:1.6em;
}

.buttons
{
	text-align:center;
}


#faqAnswers ol li .highlight
{
	font-weight:bold;
	display:block;
}


/*+++++++++++++++++++++++++++++
	      CLEARFIX        
+++++++++++++++++++++++++++++++ */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}


/* prototype styles */

	/* default*/
	.prototype { font-size:12px; }

	
	/* profile */
	.prototype #profile label { display:block; float:left; width:15em; text-align:right; margin-right: 1em;font-weight:bold; color:#840000; }

	.prototype #profile input { width:205px; }

	.prototype #profile .zip input, .prototype #profile .plus4 input { width:77px; }

	/* questions */
	.prototype #questions div { margin-left:13em; position:relative;}
	.prototype #questions img { display:none; position:absolute; top:1.5em; left:-12em; }
	.prototype #questions .showLogos img { display:inline; }
	.prototype #questions label { display:block; font-weight:bold; color:#840000; margin-top:1em; position:relative; left:0em;}

	/* questions */
	.prototype #current div { margin-left:1em; position:relative;}
	.prototype #current label { display:block; font-weight:bold; color:#840000; margin-top:1em; position:relative; left:0em;}
	.prototype #current img { display:none; position:absolute; top:1.5em; left:-18em; }
	
	/* logos */
	.prototype #logos { margin:25px 0; text-align:center; }
	.prototype #logos h4 { margin-bottom:2em; text-align:center; color:#840000; font-size:12px; }
	.prototype #logos img { cursor:pointer; margin:10px 10px 10px 10px;}
	/********/
	
	.prototype #submit { margin-left:14em;  }