<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="DataBase_Dev" providerName="System.Data.SqlClient" connectionString="server=10.161.1.47;database=GoodDonor_Dev;uid=webuser;pwd=webuser#23#;timeout=0;" />
    <add name="Comm" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" />
    <add name="activity" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn_activity" providerName="System.Data.SqlClient" />
    <add name="Communicator" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" />
    <add name="KMCommon" connectionString="server=216.17.41.251;uid=webuser;pwd=webuser#23#;database=KMCommon" providerName="System.Data.SqlClient" />
    <add name="Accounts" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ECN5_Accounts" providerName="System.Data.SqlClient" />
    <add name="KMPlatform" connectionString="server=10.161.1.47;uid=webuser;pwd=webuser#23#;database=KMPlatform" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DownloadFiles" value="false" />
    <add key="FTPSite" value="ftp://ftp.knowledgemarketing.com/" />
    <add key="FTPUser" value="scrantoncds" />
    <add key="FTPPassword" value="D*59scds!" />
    <add key="FilePath" value="C:\Projects\ECN\Branches\Dev\2015_PlatformUser\SCG_CDS-Import\bin\Debug\Files\" />
    <add key="FileArchive" value="C:\Projects\ECN\Branches\Dev\2015_PlatformUser\SCG_CDS-Import\bin\Debug\Archive\" />
    <add key="LogPath" value="C:\Projects\ECN\Branches\Dev\2015_PlatformUser\SCG_CDS-Import\bin\Debug\Log\" />
    <add key="MappingFilePath" value="C:\Projects\ECN\Branches\Dev\2015_PlatformUser\SCG_CDS-Import\bin\Debug\" />
    <add key="BadFiles" value="C:\Projects\ECN\Branches\Dev\2015_PlatformUser\SCG_CDS-Import\bin\Debug\BadFiles\" />
    <add key="IsDemo" value="false" />
    <add key="KMCommon_Application" value="45" />
    <add key="KMCommon_SmtpServer" value="108.160.208.101" />
    <add key="ReportFilePath" value="C:\Projects\ECN\Branches\Dev\2015_PlatformUser\SCG_CDS-Import\bin\Debug\Reports\" />
    <add key="ReportEmailList" value="sunil@teamkm.com" />
    <add key="EmailBCC" value="justin.wagner@teamkm.com" />
    <add key="EmailFrom" value="info@teamkm.com" />
    <add key="EmailManager" value="Justin.Wagner@TeamKM.com" />
    <add key="BatchCount" value="5000" />
    <add key="WriteXMLtoLog" value="false" />
    <add key="IsNetworkDeployed" value="false"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
