<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="assetsPath" value="/communicator/assets/eblaster" />
    <add key="connString" value="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" />
    <add key="virtualPath" value="/ecn.communicator" />
    <add key="hostName" value="http://www.ecn5.com" />
    <add key="mailPickupDirectory" value="C:\\Inetpub\\new_mail\\Pickup" />
    <add key="SmtpServer" value="108.160.208.101" />
    <add key="OutLog" value="bounceout_" />
    <add key="DefaultBounceThreshold" value="4" />
    <!--used to be 3-->
    <add key="NotificationValues" value="BLOCK,BLACKLIST" />
    <add key="LastestNDR_DefPath" value="ndr.def.xml" />
    <add key="ECNEngineAccessKey" value="8CAB09B9-BEC9-453F-A689-E85D5C9E4898" />
    <add key="KMCommon_Application" value="78" />
    <add key="KMCommon_SmtpServer" value="108.160.208.101" />
    <add key="KMCommon_LoggingDaysToKeep" value="30" />
    <add key="isDemo" value="false" />
    <add key="AppFabricCacheEnabled" value="false" />
    <!-- Local: false, QA: true, Prod: true-->

    <!--<add key="aspNetPOP3.LicenseKey" value="DGFNQ-QZFQY-SLA9Q-HKC3Q-5PA11-AU639-KTEH9-5JA1C-CJWRC-RU7XS-XK6UY-6JTSW-6VX2L-SFY88-Q"></add>-->
    <add key="NDR.LicenseKey" value="QUQ58-CTV97-G9598-RPPV6-5D4E1-AQYD8-RE9V2-RBQ1A-RCRU7-XDXK4-JY6JT-5HCUQ-3LFVY-DKT3L-SX"></add>
    

    <add key="AppFabricServer" value="appfabric" />
    <!-- Local: DevAppFabric.hq.teckman.com, QA: appfabric, Prod: appfabric-->
    <add key="AppFabricServer-NamedCache" value="ECN" />

    <add key="NDR.Timeout" value="5000"></add>
    <add key="TestMode" value="true" />
    <add key="DeleteCompleted" value="false" />
    <add key="msgsToProcess" value="2500" />
    <add key="ParallelThreads" value="5" />
    <add key="WriteMessageToFileIfWeCannotParseTheToAddress" value="true" />

    <add key="NDR.ConcurrentThreads" value="5" />
    <add key="MessageFiles.ToProcessFolderPath" value="ToProcess\" />
    <add key="MessageFiles.ProcessingFailedFolderPath" value="Failed\" />
    <add key="MessageFiles.ProcessingCompletedFolderPath" value="Completed\" />

    <!-- Local: ECNDEV, QA: ECNQA, Prod: ECN-->
  </appSettings>
  <connectionStrings>
    <add name="Communicator" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn5_communicator" providerName="System.Data.SqlClient" />
    <add name="Activity" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ecn_activity" providerName="System.Data.SqlClient" />
    <add name="KMCommon" connectionString="server=216.17.41.251;uid=webuser;pwd=webuser#23#;database=KMCommon" providerName="System.Data.SqlClient" />
    <add name="Accounts" connectionString="server=10.161.1.47;uid=ecn5;pwd=EcN5AcCeSs;database=ECN5_Accounts" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.transactions>
    <defaultSettings timeout="00:03:00" />
  </system.transactions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--Need to modify this for Bounce2(non-KMPS)-->
<!--<?xml version="1.0"?>
<configuration>
  <appSettings>
    -->
<!--   User application and configured property settings go here.-->
<!--
    -->
<!--   Example: <add key="settingName" value="settingValue"/> -->
<!--
    <add key="assetsPath" value="/ECNblaster/assets/eblaster"/>
    <add key="connString" value="server=10.161.1.47;uid=sa;pwd=dcran9755;database=ecn5_communicator"/>
    <add key="virtualPath" value="/ECNblaster/v1"/>
    <add key="hostName" value="http://localhost"/>
    <add key="mailPickupDirectory" value="C:\Inetpub\mailroot\Pickup"/>
    <add key="SmtpServer" value="216.17.41.200"/>
    <add key="bounceDomain" value="bounce2.com"/>
    <add key="msgsToProcess" value="500"/>
    <add key="OutLog" value="bounceout_"/>
    <add key="DefaultBounceThreshold" value="4"/>
    -->
<!--used to be 3-->
<!--
    <add key="NotificationValues" value="BLOCK,BLACKLIST"/>
    <add key="LastestNDR_DefPath" value="ndr.1.90.def.xml"/>
    <add key="ECNEngineAccessKey" value="8CAB09B9-BEC9-453F-A689-E85D5C9E4898" />
    <add key="KMCommon_Application" value="29" />
    <add key="KMCommon_SmtpServer" value="216.17.41.200" />
    <add key="KMCommon_LoggingDaysToKeep" value="30" />
  </appSettings>
  <connectionStrings>
    <add name="Communicator" connectionString="server=10.161.1.47;uid=sa;pwd=dcran9755;database=ecn5_communicator" providerName="System.Data.SqlClient"/>
    <add name="Activity" connectionString="server=10.161.1.47;uid=sa;pwd=dcran9755;database=ecn_activity" providerName="System.Data.SqlClient"/>
    <add name="KMCommon" connectionString="server=10.161.1.47;uid=sa;pwd=dcran9755;database=KMCommon" providerName="System.Data.SqlClient"/>
    <add name="Accounts" connectionString="server=10.161.1.47;uid=sa;pwd=dcran9755;database=ECN5_Accounts" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>-->
